@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/*Conteudo Central Home*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    /* IE10+ specific styles go here */
    .box-title, .box-cliente-subcategorias{
        display: -ms-flexbox!important;
    }   
    .box-cliente-subcategorias{
        display: inline-block!important;
    }
    
    .box-cliente-subcategorias .hidden{
        display: none!important;
    }    
}

#conteudoCentral section#corpoPaginaCalendario .fundo-branco {
    padding: 25px 20px;
}
/*Conteudo Central Home*/
#conteudoCentral section#corpoPaginaDetalheCalendario .fundo-branco {
    padding: 25px 20px;
    float: left;
    width: 100%;
}
#conteudoCentral section#corpoPaginaDetalheCalendario a.btn-transparente {
    float: right;
}
#conteudoCentral section#corpoPaginaDetalheCalendario hr {
    float: left;
    margin: 15px 0px;
    width: 100%;
    height: 1px;
}
#conteudoCentral section#corpoPaginaDetalheCalendario h2 {
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

#institucional, #yetz-cards, #geral {
    margin-top: -42px;
    margin-right: 32px;
    color: #ffa400;
    font-size: 30px;
    cursor: pointer;
}

.girar {
    -moz-transform: rotateX(180deg) !important;
    -webkit-transform: rotateX(180deg) !important;
    -o-transform: rotateX(180deg) !important;
    -ms-transform: rotateX(180deg) !important;
    transform: rotateX(180deg) !important;
}

.normal {
    -moz-transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    -o-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}

.seta-baixo-colapse {
    float: right;
}

.sumir {
    display: none;
}

.aparecer {
    display: block;
}

#conteudoCentral section#corpoPaginaDetalheCalendario .input-group {
    margin-bottom: 20px;
    width: 100%;
}
#conteudoCentral section#corpoPaginaDetalheCalendario .input-group textarea {
    width: 100%;
    height: 192px;
    resize: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 6px 12px;
}
#conteudoCentral section#corpoPaginaDetalheCalendario .input-group input.borda-redonda {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#conteudoCentral section#corpoPaginaDetalheCalendario .input-group select {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#conteudoCentral section#corpoPaginaDetalheCalendario input[type="range"] {
    width: 40%;
    margin: 0;
    float: left;
}
#conteudoCentral section#corpoPaginaDetalheCalendario .cropit-image-preview {
}
#conteudoCentral section#corpoPaginaDetalheCalendario .image-editor {
    float: left;
    width: 43%;
}
#conteudoCentral section#corpoPaginaDetalheCalendario .image-editor button {
    float: left;
    margin-top: 70px;
}
#conteudoCentral section#corpoPaginaDetalheCalendario .configuracoes-minimas {
    float: left;
    clear: both;
    color: #222b64;
    font-size: 11px;
    margin-top: 5px;
}
#conteudoCentral section#corpoPaginaDetalheCalendario .configuracoes-minimas i {
    font-size: 14px;
    margin-right: 5px;
}
/*Conteudo Central Home*/
#conteudoCentral section#corpoPaginaInicial .titulo-principal {
    font-size: 16px;
    color: #191919;
    text-align: center;
    margin: 40px 0px;
}
#conteudoCentral section#corpoPaginaInicial .opcoes-centrais {
    display: table;
    margin: 0 auto;
    padding: 20px 0px 30px 0px;
    background-color: white;
    color: #191919;
    font-size: 13px;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
#conteudoCentral section#corpoPaginaInicial .opcoes-centrais div.icone {
    display: table;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#conteudoCentral section#corpoPaginaInicial .opcoes-centrais div.icone i {
    font-size: 36px;
    color: #ed1c24;
    display: table;
    margin: 26px auto;
}
#conteudoCentral section#corpoPaginaInicial .opcoes-centrais h1 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0px 15px 0px;
    font-weight: 600;
}
#conteudoCentral section#corpoPaginaInicial .opcoes-centrais p {
    color: #666666;
    text-align: center;
    margin: 0px 0px 15px 0px;
    padding: 0px 15%;
}
#conteudoCentral section#corpoPaginaInicial .opcoes-centrais a {
    display: table;
    margin: 0 auto;
}
#conteudoCentral section#corpoPaginaInicial .opcoes-centrais:hover {
    -webkit-box-shadow: 0 5px 25px 4px #c9cdd8;
    -moz-box-shadow: 0 5px 25px 4px #c9cdd8;
    box-shadow: 0 5px 25px 4px #c9cdd8;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
/*Conteudo Central Home*/
#conteudoCentral section#corpoPaginaPerfil .fundo-branco {
    padding: 25px 20px;
    float: left;
    width: 100%;
}
#conteudoCentral section#corpoPaginaPerfil hr {
    float: left;
    margin: 15px 0px;
    width: 100%;
    height: 1px;
}
#conteudoCentral section#corpoPaginaPerfil label {
    float: left;
    width: 15%;
    text-align: left;
    clear: both;
    margin-top: 10px;
    font-size: 14px;
    color: #000000;
    font-weight: 600;
}
#conteudoCentral section#corpoPaginaPerfil input {
    float: left;
    margin-bottom: 15px;
    padding: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #f0f0f2;
}
#conteudoCentral section#corpoPaginaPerfil input[type="text"],
#conteudoCentral section#corpoPaginaPerfil input[type="password"] {
    width: 45%;
}
#conteudoCentral section#corpoPaginaPerfil input[type="range"] {
    width: 40%;
    margin: 0;
    float: left;
}
#conteudoCentral section#corpoPaginaPerfil button {
    float: left;
}
#conteudoCentral section#corpoPaginaPerfil .cropit-image-preview {
    float: left;
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 75px;
    margin: 7px 25px 0px 0px;
    width: 140px;
    height: 140px;
    cursor: move;
}
#conteudoCentral section#corpoPaginaPerfil .image-editor {
    float: left;
    width: 30%;
}
.cropit-image-background {
    opacity: .2;
    cursor: auto;
}
.image-size-label {
    margin-top: 10px;
}
.export,
#trocaImagemPadrao {
    display: none;
}
#nomeFotoCropit {
    font-size: 12px;
    color: #999999;
    float: left;
    margin: 2px;
}
/*PadrÃƒÆ’Ã‚Âµes*/
body {
    font-family: 'Open Sans';
    color: #333333;
}
.no-padding {
    padding: 0px !important;
}
.fundo-padrao {
    background-color: #f0f0f2;
}
.fundo-branco {
    background-color: white;
    float: left;
    width: 100%;
}
.fundo-roxo {
    background-color: #992d4c;
}
span.num-eventos {
    float: right;
    font-weight: 600;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
}
hr {
    float: left;
    margin: 15px 0px;
    width: 100%;
    height: 1px;
}
.campo-busca {
    position: relative;
    float: right;
    width: 30%;
}
.campo-busca input {
    width: 100%;
    padding: 10px 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #f0f0f2;
}
.campo-busca button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 8px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.table-responsive {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.table-responsive table {
    float: left;
    width: 100%;
}
.table-responsive table thead {
    border: 1px solid #eeeeee;
}
.table-responsive table thead th {
    background-color: #f2f2f2;
    color: #575757;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
}
.table-responsive table tbody td {
    border-bottom: 1px solid #eeeeee;
    border-top: none;
    padding: 18px 8px;
}
.table-responsive table tbody td a {
    padding: 5px 15px;
    font-size: 12px;
    color: #223c77;
}
.table-responsive table tbody td a i {
    margin: 5px;
}
.table-responsive table tbody td a:hover {
    color: white;
}
.table-responsive table tbody td i.fa-eye-slash {
    color: #666666;
    cursor: pointer;
}
.table-responsive table tbody td i.fa-eye,
.table-responsive table tbody td i.fa-trash-o {
    cursor: pointer;
    color: #ebd5a4;
}
.table-responsive table tbody td i.fa-ban {
    cursor: pointer;
    color: #ebd5a4;
}
.usuario-bloqueado{
    color: #992d4c!important;
}
.btn-exporta-dados {
    float: left;
    margin-left: 5px;
}

.btn-opcoes-gerenciamento {
    float: left;
    margin-left: 5px;
}
.btn-consultar-extrato {
    float: right;
    margin-right: 205px;
    margin-top: 155px;
}
.sombra-lateral-menu {
    -webkit-box-shadow: inset 9px 0px 10px -5px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: inset 9px 0px 10px -5px rgba(0, 0, 0, 0.51);
    box-shadow: inset 9px 0px 10px -5px rgba(0, 0, 0, 0.51);
}
.sombra-topo {
    -webkit-box-shadow: inset 0px 5px 11px -6px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: inset 0px 5px 11px -6px rgba(0, 0, 0, 0.51);
    box-shadow: inset 0px 5px 11px -6px rgba(0, 0, 0, 0.51);
}
.altura-minima {
    min-height: 100vh;
}
.btn-default {
    cursor: pointer;
    font-weight: 600;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 12px 25px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    white-space: nowrap;
}
.btn-padrao {
    color: #992D4C;
    background-color: white;
    border: 1px solid #F7A81E;
    white-space: nowrap;
}
.btn-padrao:hover {
    background-color: #F7A81E;
    border: 1px solid #F7A81E;
    color: white;
    text-decoration: none;
}
.btn-amarelo {
    color: #fff;
    background-color: #F7A81E;
    border: 1px solid #F7A81E;
}
.btn-amarelo:hover {
    background-color: transparent;
    border: 1px solid #f6ae01;
    text-decoration: none;
    color: #992d4c;
}
.btn-transparente {
    color: #992D4C;
    background-color: white;
    border: 1px solid #F7A81E;
    padding: 6px 15px;
}
.btn-transparente i {
    margin-right: 5px;
}
.btn-transparente:hover {
    background-color: #F7A81E;
    border: 1px solid #F7A81E;
    text-decoration: none;
    color: #fff;
}
h1.tituloPaginas {
    float: left;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    margin: 0px;
}
h1.tituloPaginas i {
    color: #F7A81E;
    margin-right: 5px;
}

#tabela_padrao_length,
#tabela_padrao_filter {
    display: none;
}
#tabela_padrao_paginate {
    float: right;
    border: none;
    padding: 0px;
}
#tabela_padrao_paginate a {
    border-right: 1px solid #ed1c24;
    padding: 10px;
    float: left;
    cursor: pointer;
    height: 38px;
    color: #000000;
}
#tabela_padrao_paginate a:hover {
    background-color: #F7A81E;
    color: white;
    text-decoration: none;
}
#tabela_padrao_paginate a:hover i {
    color: #ed1c24;
}
#tabela_padrao_paginate a i {
    padding-top: 3px;
    color: #000000;
}
#tabela_padrao_paginate a:last-child {
    border: none;
}
#tabela_padrao_paginate a.current {
    background-color: #000000;
    color: white;
}
#tabela_padrao_paginate a.disabled {
    cursor: no-drop !important;
    background-color: inherit !important;
    color: #ed1c24;
}
#tabela_padrao_paginate a.disabled i {
    color: #ed1c24;
}
#tabela_padrao_paginate span a {
    border-right: 1px solid #ed1c24 !important;
}
/*Menu DropDown */
.dropdown-hover .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
dropdown-hover li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-hover {
    display: block;
}
.nav-tabs .dropdown-hover,
.nav-pills .dropdown-hover,
.navbar .dropdown-hover {
    margin-top: 0;
}
.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
/*Parte do Menu Lateral*/
#menuLateral {
    display: block;
    width: 100%;
    background-color: #992d4c;
    color: white;
}
#menuLateral .logo-topo-adm {
    background-color: white;
    padding: 10px 0px 0px 0px;
}
#menuLateral .logo-topo-adm img {
    display: table;
    width: 180px;
    margin: 0 auto;
}
.foto-user-adm {
    display: table;
    width: 214px;
    margin: 0 auto;
    padding: 50px 0px;
}
#menuLateral h1 {
    font-size: 16px;
    text-align: center;
    margin: 0px 0px 30px 0px;
}
#menuLateral .panel-group .panel{
    margin: 0;
    border-bottom: none;
    border-top: none;
    border-radius: 0;
    border-right: none;
}
#menuLateral i{
    margin-right: 10px;
    color: #fba410;
}
#menuLateral a:hover, a:focus {
    text-decoration: none;
}
#menuLateral .panel-heading {
    color: #FFA400;
    background-color: #992d4c;
    border-color: #992d4c;
    padding: 16px 0px 16px 23px;
    border-left: 2px solid #FFA400;
    border-radius: 0;
}
#menuLateral td:hover,
#menuLateral .panel-heading:hover{
    background-color: #fff;
}
#menuLateral .ativo{
    background-color: #fff;
}
#menuLateral td{
    border: none;
    padding: 16px 50px;
}
#menuLateral td a{
    color: #fba410;
}
#menuLateral .panel-collapse .panel-body{
    border: none;
    padding: 0;
}
#menuLateral .panel-collapse {
    background-color: #992d4c;
}
.conteudo-colapsado-hoe li:hover a {
    border-color: #992D4C;
    background-color: #fff;
    color: #FFA400;
    text-decoration: none;
}

.conteudo-colapsado-home li a {
    padding-left: 80px !important; 
}


.conteudo-colapsado-institucional li:hover a {
    border-color: #992D4C;
    background-color: #fff;
    color: #FFA400;
    text-decoration: none;
}

.conteudo-colapsado-institucional li a {
    padding-left: 80px !important; 
}

.conteudo-colapsado-yetz-cards li:hover a {
    border-color: #992D4C;
    background-color: #fff;
    color: #FFA400;
    text-decoration: none;
}

.conteudo-colapsado-yetz-cards li a {
    padding-left: 80px !important; 
}


#menuLateral ul li a i {
    width: 30px;
    text-align: center;
    margin-right: 5px;
}
#menuLateral ul li:hover .menu-colapsado {
    border-color: #992D4C;
    background-color: #fff;
    color: #FFA400;
    text-decoration: none;
}
#menuLateral ul li a.active {
    border-color: #992D4C;
    background-color: #fff;
    color: #FFA400;
    text-decoration: none;
}
/* Header */
#conteudoCentral {
    display: block;
}
#conteudoCentral header .header-topo h1 {
    float: left;
    margin: 23px 0px;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
#conteudoCentral header .header-topo nav {
    background-color: transparent;
    border: none;
    font-size: 12px;
    float: right;
    margin: 23px 0px;
    min-height: inherit;
}
#conteudoCentral header .header-topo nav li a {
    padding: 0px;
    color: #333333;
}
#conteudoCentral header .header-topo nav li a i {
    color: #F7A81E;
    margin-right: 10px;
}
#conteudoCentral header .header-topo nav li a .caret {
    margin-left: 5px;
}
#conteudoCentral header .header-topo nav li:hover a {
    background-color: transparent;
}
#conteudoCentral header .header-topo nav li ul.dropdown-hover {
    background-color: #992D4C;
}
#conteudoCentral header .header-topo nav li.separator {
    border-left: 1px solid #f0f0f2;
    height: 18px;
    margin: 0px 25px;
}
#conteudoCentral header ol.breadcrumb {
    padding: 12px 0px;
    margin: 0px 0px 25px 0px;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    background: transparent;
    color: #999999;
    font-size: 12px;
}
#conteudoCentral header ol.breadcrumb li.active {
    color: #333333;
}
#conteudoCentral header ol.breadcrumb li + li:before {
    font-family: 'FontAwesome';
    content: "\f105";
}
/* Modal */
.modal-content {
    float: left;
    width: 100%;
}
.modal-content .modal-header {
    float: left;
    width: 100%;
}
.modal-content .modal-header h4 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}
.modal-content .modal-body {
    float: left;
    width: 100%;
}
.modal-content .modal-body .coluna-inteira {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 0px 5px;
}
.modal-content .modal-body .coluna-metade {
    float: left;
    width: 50%;
    padding: 0px 5px;
}

.modal-content .modal-body label {
    float: left;
    width: 100%;
    text-align: left;
}
.modal-content .modal-body input,
.modal-content .modal-body textarea,
.modal-content .modal-body select {
    float: left;
    width: 100%;
    padding: 8px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cccccc;
}
.modal-content .modal-footer {
    float: left;
    width: 100%;
}

.modal-dialog{
    width: 400px;
}

.modal input[type="checkbox"]{
    width: auto;
    margin-right: 5px;
}
.modal textarea{
    width: 100%;
    resize: none;
}

#modal-extrato-conteudo{
    margin-bottom: 0px;
}

#modal-extrato-conteudo p{
    font-weight: bold;
}

.filtro-pesquisa {
    float: left;
    width: 100%;
}

.btn-imprimir2 {
    float: left;
    position: relative;
    left: 50%;
    margin-left: -55px;
    margin-top: 20px;
}

#slider-range {
    margin-top: 30px;
    margin-bottom: 20px;
}

#filtro-data {
    float: left;
}

#filtra-pontos {
    float: right;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #F7A81E!important;
    border-color: #F7A81E !important;
    color: #fff !important;
}

#tabela-usuarios {
    overflow-x: hidden !important;
}

#logo-relatorios {
    border-radius: 10px
}

.modal-content .modal-body input, .modal-content .modal-body select {
    /* border: none !important; */
}

.custom-file-input {
    width: 135px !important;
    height: 39px !important;
}
.custom-file-input::before {
    content: 'Escolher arquivo';
    display: inline-block;
    background: #F7A81E;
    border: 1px solid #F7A81E;
    border-radius: 3px;
    padding: 5px 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}

.ui-widget-header {
    border: 1px solid #992D4C !important;
    background: #992D4C !important;
    color: #fff;
}

.ui-widget-content .ui-state-default {
    border: 1px solid #F7A81E !important;
    background: #F7A81E !important;
}

.ui-state-default, ui-state-highlight {
    border: 1px solid #EBD5A4 !important;
    background: #EBD5A4 !important;
    color: #FFF !important;
}
.dropdown-menu{
    padding: 0px;
    right: 0;
    left: inherit;
}
.dropdown-menu li{
    padding: 7px 10px;
    border-left: 1px solid #FFA400;
}
.dropdown-menu li:hover{
    background-color: #fff;
}
.dropdown-menu li a{
    color: #FFA400 !important;
}


#conteudoCentral  .titulo-principal {
    font-size: 16px;
    color: #191919;
    text-align: center;
    margin: 40px 0px;
}

#conteudoCentral  .opcoes-centrais {
    display: table;
    margin: 0 auto;
    padding: 20px 0px 30px 0px;
    background-color: white;
    color: #191919;
    font-size: 13px;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 100%;
}

#conteudoCentral .opcoes-centrais div.icone {
    display: table;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#conteudoCentral .opcoes-centrais div.icone i {
    font-size: 36px;
    color: #0b283d;
    display: table;
    margin: 26px auto;
}

#conteudoCentral .opcoes-centrais h1 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0px 15px 0px;
    font-weight: 600;
}

#conteudoCentral .opcoes-centrais p {
    color: #666666;
    text-align: center;
    margin: 0px 0px 15px 0px;
    padding: 0px 15%;
    height: 40px;
}

#conteudoCentral .opcoes-centrais a {
    display: table;
    margin: 0 auto;
}

#corpoPaginaCalendario .fundo-branco p{
    display: block;
    width: 100%;
    float: left;
    text-align: right;
}
#corpoPaginaCalendario .fundo-branco p.suficiente strong{
    color: #46dc3e;
}
#corpoPaginaCalendario .fundo-branco p.insuficiente strong{
    color: #da5126;
}
h1.aviso-vazio {
    font-size: 1.5em;
    padding-left: 1em;
}
.checkboxAcessos{
    margin: 5px 15px 0px 0px !important;
}
#toggleChecks{
    margin-left: 10px;
    font-size: 0.8em;
    float: right;
}
h5{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}
.col-menor{
    width: 15%;
}
.seta-controle{
    float: right;
    margin-right: 30px;
    margin-top: -7px;
    font-size: 32px;
}

.filtros {
    float: left;
    width: 65%;
}

.filtros form .form-group {
    float: left;
    margin-right: 10px;
}

.filtros form .form-group:last-child {
    float: left;
    width: 20%;
}

.filtros form .form-group input[type="submit"] {
    float: left;
    width: 100px;
    background: #992d4c;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    margin-top: 25px;
}

.form-data{
    width:100px !important;
}

#data-inicio-filtro{
    width:100px;
}

#data-fim-filtro{
    width:100px;
}

.btn-exporta-dados-resgates{
    width: 100% !important;
}

.ui-widget-header {
    border: 1px solid #992d4c !important;
    background: #992d4c !important;
    color: #fff !important;
}

.formulario-status-table .form-group label {
    float: left;
    width: 100%;
}
.formulario-status-table .form-group select {
    float: left;
    margin-right: 20px;
    width: 300px;
}

.formulario-status-table .form-group input[type="submit"]{
    float:left;
}

#tabela-extrato a{
    font-size: 16px;
    color: #555555;
    text-decoration: none;
    cursor: pointer;
}

.container-tabela-extrato{
    width: 100%;
}

#dropdown-extrato {
    width:15%;
    margin-right: 15px;
    float: left;
    margin-top: 40px;
}

#dropdown-extrato p{
    font-size: 16px;
    color: #95abb7;
}

table.dataTable thead .sorting_asc {
    background-image: url(http://172.20.156.202/yetz-novo/view/img/sort_asc.png);
    background-size: 12px 8px;
    background-repeat: no-repeat;
    background-position: right 10px top 12px;
}

table.dataTable thead .sorting_desc {
    background-image: url(http://172.20.156.202/yetz-novo/view/img/sort_desc.png);
    background-size: 12px 8px;
    background-repeat: no-repeat;
    background-position: right 10px top 12px;
}

.chart-container .col {
    float: left
}

.chart-container p{
    position: relative;
    text-align: center!important;
    margin-top: -21%;
}

.icons{
    position: relative;
    width: 200px;
}

.icons span{
    margin-right: 30px;
}
.alimentacao:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png) no-repeat 0 -2px;
    width: 21px;
    height: 20px;
    position: absolute;
}

.brinquedo:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png)  no-repeat -47px 0;
    width: 25px;
    height: 24px;
    position: absolute;   
}

.casa-decoracao:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png) no-repeat -109px -3px;
    width: 20px;
    height: 18px;
    position: absolute;
}

.combustivel:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png)  no-repeat -166px -1px;
    width: 24px;
    height: 21px;
    position: absolute;    
}

.eletronicos:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png)  no-repeat -224px -1px;
    width: 27px;
    height: 21px;
    position: absolute;
}

.esportes:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png)  no-repeat -288px -2px;
    width: 20px;
    height: 20px;
    position: absolute;
}

.lazer-cultura:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png)  no-repeat -346px -3px;
    width: 21px;
    height: 18px;
    position: absolute;
}

.moda:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png)  no-repeat -407px -1px;
    width: 18px;
    height: 21px;
    position: absolute;
}

.papelaria-livrarias:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png)  no-repeat -465px -5px;
    width: 20px;
    height: 16px;
    position: absolute;
}

.presente:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png) no-repeat -522px -4px;
    width: 20px;
    height: 18px;
    position: absolute;
}

.restaurantes:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png)  no-repeat -583px -1px;
    width: 23px;
    height: 22px;
    position: absolute;
}

.saude-beleza:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png)  no-repeat -702px -3px;
    width: 25px;
    height: 19px;
    position: absolute;
}

.viagem:before {
    content: '';
    background: url(http://172.20.156.202/yetz-novo/view/css/usuario_antigo/adm/images/menu-categoria-adm.png) no-repeat -644px -2px;
    width: 20px;
    height: 21px;
    position: absolute;
}

span[data-title]:hover:after{
    content:attr(data-title);
    position: absolute;
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
    white-space:nowrap;
    box-shadow: 3px 3px 2px #8c8e91;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 25px;
    margin-left: -10px;
}

#tabela_padrao tbody tr td a{
    font-size: 16px;
    color: #555555;
    text-decoration: none;
    cursor: pointer;
}

#conteudo-email-marketing, #conteudo-push-app, #conteudo-sms, #conteudo-popup, #conteudo-web{
    display: none;
}


#box-dados-notificacao{
    display:none;
}

#box-dados-notificacao input[type="checkbox"]{
    margin-right: 5px;
}

#extratoUsuarioResgate  .modal-dialog{
    width: 600px;
}

#extratoUsuarioResgate #total-resgate{
    font-weight: bold;
}

#file-input{
    position: absolute;
}

#file-input-name{
    width:75%;
}

.btn-file-input {
    width: 23%;
    float:left;
    margin-right: 2%;
    display: inline-block;
    background: #F7A81E;
    border: 1px solid #F7A81E;
    border-radius: 3px;
    padding: 5px 5px;
    outline: none;    
    font-size: 15px;
    color: #fff;
}

#conteudo-image-preview{
    position: absolute;
    width: 100%;
    visibility: hidden;    
    margin-top: 10px;
    margin-bottom: 20px;
}

#image-preview{
    width: 100%;
}

#conteudo-dinamico #content-data{
    width: 98%;
}

#conteudo-dinamico .col-lg-6:nth-child(2) #content-data{
    width: 98%;
    float:right;
}
.btn-exporta-resgates{
    float: left;
    width: 155px;
    background: #992d4c;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    margin-top: 25px;
    text-align: center;
    height: 32px;
}

.btn-exporta-resgates:hover{
    text-decoration: none;
}

.disabled{
    display: none;
}

.saldo-novo {
    border: 2px solid #00a651;
    background: #fff;
    padding: 4px 10px 7px 14px;
    border-radius: 5px 0px 0px 5px;
    float: left;
}

.saldo-novo h1 {
    font-size: 14px;
    text-transform: uppercase;
    color: #009966;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
    float: left;
    margin-right: 18px;
}

.saldo-novo h1 span {
    font-size: 21px;
    font-weight: bold;
    text-transform: none;
}

.btn-editar{
    color: #992D4C!important;
}

.btn-editar:hover{    
    color: white!important;
}

.btn-detalhes-departamento{
    padding: 3px 15px;
    display: block;
    width: 130px;
}

.btn-detalhes-departamento:hover{
    color: white!important;
}

#tabela-departamentos-cliente tbody tr td a{
    font-size: 14px;
    color: #992d4c;
    text-decoration: none;
    cursor: pointer;
}

.btn-novo-departamento{
    float: right;    
    padding: 10px 20px;
}

.btn-nova-area{
    float: right;    
    padding: 10px 15px;
}

.btn-detalhes-area{
    padding: 3px 15px;
    display: block;
    width: 100px;
}

.btn-detalhes-area:hover{
    color: white!important;
}

#tabela-areas-cliente tbody tr td a{
    font-size: 14px;
    color: #992d4c;
    text-decoration: none;
    cursor: pointer;
}

.btn-detalhes-pdv{
    padding: 3px 15px;
    display: block;
    width: 100px;
}

.btn-detalhes-pdv:hover{
    color: white!important;
}

#tabela-pdvs-area tbody tr td a{
    font-size: 14px;
    color: #992d4c;
    text-decoration: none;
    cursor: pointer;
}

.dataTables_wrapper{
    width: 98%;
}

.checkbox-modal{
    margin-top: 33px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../../img/chevron-arrow-down.png) no-repeat right !important;
    background-position-x: 95% !important;
    background-position-y: 10px !important;
    background-size: 15px 14px !important;
}

.dados-responsavel{
    display: none;
}

#accordion-gestor{
    margin-bottom: 5px;
    float: left;
    width: 100%;
}

#accordion-gestor .panel-body > p, #accordion-gestor .panel-title {
    margin-left: 20px;
}

#accordion-gestor .panel-title {
    margin-left: 25px;
}

.campo-invalido{
    -webkit-box-shadow: 0 0 5px 1px #ff0000;
    box-shadow: 0 0 5px 1px #ff0000;
}

#gestores-cliente > hr{
    background-color: #cbcbcb;
    margin: 10px 0px !important;    
}

.gestores-header{
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    float: left;    
}

#gestores-content{
    float: left;
    width: 100%;
}


.fundo-cliente{
    width:98%!important;
    margin-left: 15px;
    padding: 25px 0px!important;
}

#chaves-cliente-box {
    border: 1px solid #ddd;
    padding: 8px 40px;
    margin: 0px 0px 5px;
    border-radius: 4px;
    background-color: #f5f5f5;
    height: 39px;
}

#chaves-cliente-box > p {
    width: 50%;
    float: left;
}

#chaves-cliente-box #bloco-icones {
    margin-top: -3px;
}

#info-pdv {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 20px 20px;
    border-radius: 9px;
}

.botao-adiciona{
    cursor: pointer;
    float: left;
    margin-left: 20px;
}

.gestores-title{
    float: left;
}

#grafico-usuarios .ct-label,
#grafico-pontos .ct-label {
    fill: #fff !important;
    color: #fff !important;
    line-height: 1;
    font-size: 20px !important;
}

.title-grafico {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.legenda {
    display: table;
    margin: 0 auto;
    margin-top: 30px;
}

.legenda .item {
    margin-bottom: 20px;
}

.legenda .item .quadrado {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 15px;
    margin-top: -5px;
}

.legenda .item:first-child .quadrado {
    background: #f05b4f;
}

.legenda .item:last-child .quadrado {
    background: #d70206;
}

.total-usuarios span {
    display: block;
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.conteudo-grafico-usuarios,
.conteudo-grafico-pts,
.conteudo-lista-top-10 {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 30px 15px;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.1);
}

.conteudo-grafico-top {
    margin-top: 30px;
}

.conteudo-lista-top-10 .item {
    margin-bottom: 20px;
}

.title-lista {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.conteudo-lista-top-10 {
    margin-top: 50px;
}

.area-select-filtro {
    float: right;
    width: 350px;
}

.area-select-filtro span {
    float: left;
    display: block;
    margin-top: 7px;
    font-weight: bold;
}

.area-select-filtro select {
    float: right;
    width: 270px;
    box-shadow: none;
}

.chart-container {
    display: none;
}

.num-usuarios-cadastros,
.num-usuarios-concluidos,
.num-pts-recebidos {
    display: inline !important;
}

.todos-filtros {
    float: left;
    width: 100%;
}

#select-pdvs-campanha > label{
    display: block;
}

#select-pdvs-campanha > span{
    margin-left: 5px;
}

#btn-cria-usuario:disabled{
    border: 1px solid #F7A81E;
    color: #992D4C;
}

#alerta-erro-usuario{
    font-size: 16px;
    margin-top: 100px;
}

#arquivo-foto-capa{
    display: block;
    color: transparent;
}

.label-input-video{
    margin-top: -28px;
    margin-left: 160px;
    font-weight: normal;
}

#data-inicio-relatorio, #data-fim-relatorio, #data-ativacao-solicitacao{
    background-color: white;
    cursor: default;
}

#painel-filtros{    
    padding: 20px;
}

#informacoes-cliente{
    float: left;
}

#seleciona_departamento{
    width: 94%;
}

.btn-edita{
    float: right;
    font-size: 20px;
    background-color: #6b6b6b;
    color: white;
    border-radius: 8px;
    padding: 4px 3px 2px 6px;
    border: none;
    cursor: pointer;
}

.btn-adiciona{
    float: right;
    font-size: 20px;
    background-color: #2eab21;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 4px 6px 2px 7px;
}

.btn-exclui{
    float: right;
    font-size: 20px;
    background-color: #ec3939;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 3px 6px 3px 7px;
}

#chaves-cliente{
    float: left;
    width: 100%;
}

#lista-gestores-departamento{
    float: left;
    width: 100%;
}

#accordion-gestor .panel-title > a > i{
    float: right;
}

#titulo-departamento-cliente > h1{
    float: left;
}

#titulo-departamento-cliente #bloco-icones{
    float: left;
    margin-left: 54px;
}

#titulo-departamento-cliente #bloco-icones > i{
    margin-left: 6px;
}

#dados-cliente{
    width: 94%;
}

.box-title{
    border: 1px solid #ddd;
    display: flow-root;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 15px 20px;
}

.box-cliente-subcategorias-title{
    width: 94.2%;
}

.box-cliente-subcategorias{
    border: 1px solid #ddd;
    display: flow-root;
    border-radius: 5px;
    padding: 20px;
    width: 90%;
    margin-top: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.box-cliente-subcategorias .gestores-header {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

#bloco-icones{
    float: right;
}

#bloco-icones > i{    
    margin-left: 6px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 16px solid #ddd;
    margin-left: 45%;
    margin-top: 0px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 16px solid #ddd;
    float: right;
    margin-top: -25%;
    
}

.arrow-down-borda {
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 16px solid #f5f5f5;
    margin-left: 45%;
    margin-top: -17px;
}

#gestores-content > p{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 24px;
    margin-top: 10px;
}

#gestores-content #bloco-icones{
    margin-top: -5px;
    margin-right: 34px;
}

#pdvs-cliente .box-cliente-subcategorias-title, #info-pdvs-area .box-cliente-subcategorias-title{
    margin-top: -17%;
    width: 90%;
}

#nivel-usuario{
    margin-top: 20px;
    width: 100%;
}

#nivel-usuario label{
    font-weight: 600;
    width: 100%;
}

#nivel-usuario select{
    width: 50%;
}

#pdv-campanha-checkbox{
    float: left;
    margin-right: 30px;
}

#pdv-campanha-checkbox input{
    margin-right: 5px;
}

#select-campanha-notificacao{
    display:none;
}

#form-notificacao .input-group{
    float:left;
}

#box-pdvs-notificacao{
    display: none;
}

#box-pdvs-notificacao > label{
    width: 100%;
}

#pdv-notificacao{
    width: 50%;
    float: left;
}

#chekbox_pdv_notificacao{
    margin-right: 5px;
}

#label-input-imagem{
    width: 100%!important;
    float: left!important;
}

#ilhas-pdv-notificacao{
    padding-left: 20px;    
}

#ilhas-pdv-notificacao > label{
    text-decoration: underline;  
}

#box-multiplas-campanhas > label{
    width: 100%;
}

#multiplas-campanhas{
    width: 50%;
    float: left;
}

#multiplas-campanhas > input{
    margin-right: 5px;
}

#exclui-gestor-pdv{
    margin: -3px 10px 0px 6px;
}

#edita-gestor-pdv{
    margin-top: -3px;
}

#tabela-extrato .detalhes-movimentacao{
    list-style: none;
}

#tabela-extrato th{
    text-align: center;    
}

#tabela-extrato td{
    text-align: center;
}