/*
00 - Photo input
------------------------------------------------------------*/
#modalPerfil input[type="range"] {
    width: auto !important;
}
.cropit-image-preview {
    float: left;
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 75px;
    margin: 7px 45px 0px 0px;
    width: 140px;
    height: 140px;
    cursor: move;
}
.image-editor {
    float: left;
    width: 55%;
}
.cropit-image-background {
    opacity: .2;
    cursor: auto;
}
.image-size-label {
    float: left;
}
.export,
#trocaImagemPadrao {
    display: none;
}
#nomeFotoCropit {
    font-size: 12px;
    color: #999999;
    float: left;
    margin: 2px;
    min-width: 155px;
}

.prioridade-baixa {
    border-left: 5px solid #38ddbe;
}

.prioridade-media {
    border-left: 5px solid #ffa862;
}

.prioridade-alta {
    border-left: 5px solid #dd2521;
}
.nome-usuario-cadastro{
    margin-top: 100px;
    font-size: 16px;
    font-weight: bold;
}
.cpf-usuario-cadastro{
    font-size: 16px;
    font-weight: bold;
}
p span{
    font-weight: normal;
}
.align-botoes-acao{
    float: left;
    width: 100%;
    margin-top: 35px;
}
.btn-cep {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
    padding: 2px 10px;
    font-family: 'Open Sans';
    font-size: 12px;
    border: none;
    background-color: #b9b9b9;
    border-bottom: 2px solid #9d9d9d;
    border-radius: 3px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}