.adicionar-arquivos{
      margin-top: 93px;
      .container{
            width: 50%;
            margin: 0 auto;
            .arquivos-text-img{
                  display: flex;
                  align-items: center;
                  margin-bottom: 64px;
                  h1{
                        color: #343434;
                        font-size: 20px;
                        font-weight: 700;
                        text-transform: uppercase;      
                        margin-left: 21px;
                  }

                  img{

                  }
            }

            .container-arquivos-msg{
                  display: flex;
                  .container-arquivos{
                        form{
                              display: flex;
                              flex-direction: column;
                              .container-form{
                                    margin-bottom: 40px;
                                    width: 425px;
                                    position: relative;
                                    &:last-child{
                                          margin-bottom: 0;
                                    }
                                    label{
                                          color: #7e7e7e;
                                          font-size: 14px;
                                          font-weight: 400;
                                          line-height: 15px;
                                          position: absolute;
                                          top: -8px;
                                          left: 28px;
                                          background-color: #fff;
                                          padding-left: 3px;
                                          padding-right: 3px;
                                    }
      
                                    input{
                                          width: 100%;
                                          height: 53px;
                                          border: 1px solid #cecece;     
                                          border-radius: 5px;
                                          padding-left: 19px;
                                    }
      
                                    
                              }
      
                              .anexo{
                                    position: relative;
                                    label{
                                          transform: translateY(-50%);
                                          top: 50%;
                                          right: 10px;
                                          left: unset;   
                                    
                                          width: 210px;
                                          height: 43px;
                                          border-radius: 2px;
                                          background-color: #f2f2f2;
      
                                          color: #f77e0b;
                                          font-size: 14px;
                                          font-weight: 400;
                                          line-height: 15px;
                                          display: flex;
                                          align-items: center;
                                          justify-content: center;
                                          cursor: pointer;
                                    }
      
                                    #anexo{
                                          display: none;
                                    }
      
                                    p{
                                          color: #7e7e7e;
                                          font-size: 14px;
                                          font-weight: 400;
                                          line-height: 15px;
                                          position: absolute;
                                          top: -8px;
                                          left: 28px;
                                          background-color: #fff;
                                          padding-left: 3px;
                                          padding-right: 3px;
                                    }    
                                    
                                    .item-anexo{
                                          display: flex;
                                          align-items: center;
                                          position: absolute;
                                          top: 50%;
                                          transform: translateY(-50%);
                                          left: 19px;
                                          h3{
                                                color: #343434;
                                                font-weight: 400;
                                                font-size: 14px;
                                                font-style: italic;
                                                line-height: 15px       
                                          }
      
                                          img{
                                                display: block;
                                                margin-left: 20px;
                                                cursor:  pointer;
                                          }
                                    }

                                    input[type='submit']{
                                          display: none;
                                    }
                              }
                        }
                  }

                  .container-modal-msg{
                        width: 351px;
                        height: 237px;
                        box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                        border: 1px solid #e2e2e2;
                        background-color: #ffffff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: auto;
                        position: relative;
                        text-align: center;
                        &:before{
                              content: '';
                              display: block;
                              width: 46px;
                              height: 1px;
                              background-color: #f7a81d;
                              position: absolute;
                              top: -2px;
                              left: 50%;
                              transform: translateX(-50%);
                        }

                        .modal-img{
                              position: absolute;
                              top: 25%;
                              left: 50%;
                              transform: translate(-50%, -50%)
                        }

                        .text-btn{
                              width: 80%;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              flex-direction: column;
                              text-align: center;
                              margin-top: 65px;
                              p{
                                    color: #7e7e7e;
                                    font-size: 14px;
                                    font-weight: 400;
                                    letter-spacing: 0.28px;
                                    line-height: 15px;       
                              }

                              .btn-modal{
                                    width: 100%;
                                    margin-top: 19px;
                                    position: relative;
                                    button{
                                          width: 80%;       
                                          margin-left: auto;
                                          margin-right: auto;
                                          height: 47px;
                                          background-color: #1cde90;
                                          border-radius: 37px;

                                          color: #ffffff;
                                          font-size: 14px;
                                          font-weight: 700;
                                          text-transform: uppercase;   
                                          
                                          display: flex;
                                          align-items: center;
                                          justify-content: center;
                                    }

                                    img{
                                          position: absolute;
                                          top: 50%;
                                          right: 20%;
                                          transform: translateY(-50%);
                                    }
                              }
                        }

                        h5{
                              color: #7e7e7e;
                              font-size: 12px;
                              font-weight: 400;
                              letter-spacing: 0.24px;
                              line-height: 15px;   
                              position: absolute;
                              bottom: -35px;    
                        }
                  }
            }
            
      }
}