.area-geral-campanha {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	transition: all .5s;

	aside {
		border-right: 1px solid #cecece;
		width: 100%;
		position: relative;
		width: 35.2%;
		height: 100vh;
		// overflow: hidden;
		transition: all .5s;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			-webkit-appearance: none;
		}

		&::-webkit-scrollbar:vertical {
			width: 10px;
		}

		&::-webkit-scrollbar:horizontal {
			height: 12px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, .2);
			border-radius: 10px;
			border: 2px solid #ffffff;
		}

		&::-webkit-scrollbar-track {
			border-radius: 10px;
			background-color: #ffffff;
		}
		.cont {
			padding-top: 1.89vw;
			padding-left: 4.5vw;
			padding-right: 4.5vw;
			padding-bottom: 2.2vw;
		}
		.btn-voltar {
			@include grid-linha();
			align-items: center;
			margin-bottom: 68px;
			img {
				margin-right: 11px;
			}
			span {
				color: #343434;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
		.title {
			position: relative;
			@include grid-linha();
			align-items: center;
			justify-content: space-between;
			margin-bottom: 55px;
			h1 {
				color: #343434;
				font-size: 2.9vw;
				font-weight: 700;
			}
			.dropdown {
				position: absolute;
				top: 1px;
				right: 20px;
				z-index: 1;
				width: 100px;
				height: 65px;
				background-color: #4b4b4b;
				border-radius: 3px;
				transition: all .3s;
				z-index: 3;
				opacity: 0;
				pointer-events: none;
				ul {
					display: flex;
					flex-direction: column;
					height: 100%;
					align-items: center;
					justify-content: center;
					li {
						margin-bottom: 8px;
						&:last-child {
							margin-bottom: 0px;
						}
						a {
							@include grid-linha();
							align-items: center;
							i {
								font-size: 14px;
								color: #f7a81d;
								margin-right: 8px;
							}
							img {
								width: 14px;
								margin-right: 8px;
							}
							span {
								color: #ffffff;
								font-size: 12px;
								font-weight: 700;
								text-transform: uppercase;
							}
						}
					}
				}
				&:before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					width: 0;
					height: 0;
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
					border-left: 8px solid #4b4b4b;
					position: absolute;
					right: -8px;
					top: 50%;
					margin-top: -8px;
				}
				&.active {
					opacity: 1;
					pointer-events: all;
					right: 35px;
					transition: all .3s;
				}
			}
		}
		.numbers {
			@include grid-linha();
			align-items: flex-start;
			margin-bottom: 63px;
			.item {
				margin-left: 127px;
				&:first-child {
					margin-left: 0px;
				}
				span {
					display: block;
					color: #343434;
					font-size: 16px;
					font-weight: 700;
					text-transform: uppercase;
					margin-bottom: 25px;
				}
				.dados {
					@include grid-linha();
					align-items: center;
					i {
						display: flex;
					}
					.icone {
						font-size: 30px;
						color: $roxo;
					}
					.seta {
						margin: 0px 16px;
						font-size: 9px;
						color: #ffc400;
					}
					h3 {
						color: #d0456e;
						font-size: 34px;
						font-weight: 500;
						line-height: 1px;
					}
				}
			}
		}
		.info-list {
			@include grid-linha();
			align-items: flex-start;
			margin-bottom: 75px;
			li {
				padding-right: 30px;
				margin-right: 30px;
				border-right: 1px solid #cecece;
				height: 64px;
				@include grid-coluna();
				justify-content: center;
				h3 {
					color: #343434;
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					margin-bottom: 16px;
				}
				.pts {
					display: flex;
					align-items: center;
					.icone {
						font-size: 25px;
						display: flex;
						color: #d0456e;
					}
					.arrow {
						display: flex;
						margin: 0px 6px;
						font-size: 9px;
						color: #ffc400;
					}
					span {
						color: #d0456e;
						font-size: 20px;
						font-weight: 700;
					}
				}
				&:last-child {
					padding-right: 0px;
					margin-right: 0px;
					border-right: none;
				}
			}
		}
		.dados {
			h2 {
				color: #343434;
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 28px;
			}
			.menu {
				li {
					margin-bottom: 30px;
					@include grid-linha();
					span {
						color: #343434;
						font-size: 16px;
						font-weight: 400;
					}
					&:last-child {
						margin-bottom: 0px;
					}
					&:before {
						content: "";
						width: 8px;
						height: 8px;
						background-color: #f7a81d;
						display: block;
						margin-right: 13px;
						margin-top: 7px;
					}
				}
			}
			.pdvs {
				margin-left: 20px;
				margin-top: 11px;
				span {
					display: block;
					color: #d0456e;
					font-size: 12px;
					font-weight: 500;
					display: block;
					margin-bottom: 6px;
				}
			}
		}
		.btn-usuario {
			position: absolute;
			bottom: 43px;
			display: flex;
			align-items: center;
			i {
				display: flex;
				margin-right: 15px;
				color: #909090;
			}
			span {
				color: #909090;
				font-size: 12px;
				font-weight: 500;
				text-transform: uppercase;
			}
		}
		.list {
			margin-bottom: 60px;
			h3 {
				color: #343434;
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 28px;
			}
			&:last-child {
				margin-bottom: 0px;
			}
			ul {
				li {
					margin-bottom: 20px;
					span {
						color: #343434;
						font-size: 16px;
						font-weight: 400;
					}
					&:last-child {
						margin-bottom: 0px;
					}
					&:before {
						content: "";
						width: 8px;
						height: 8px;
						background-color: #f7a81d;
						display: inline-block;
						margin-right: 7px;
					}
				}
			}
		}

	}
	.cont-geral {
		background-color: #f8f8f8;
		width: 64.8%;
		overflow-y: scroll;
		height: 100vh;
		transition: all .5s;
		.topo-abas {
			height: 71px;
			display: flex;
			align-items: center;
			background: #ffffff;
			.btn-recolher-sidebar {
				display: flex;
				height: 71px;
				width: 76px;
				align-items: center;
				padding-left: 15px;
				i {
					display: flex;
					color: #909090;
					font-size: 12px;
				}
			}
			.nav-tabs {
				display: flex;
				align-items: center;
				li {
					.temporaria{
						position: relative;
						&:before{
							content: '';
							display: block;
							background-color: #8e8e8e;
							-webkit-mask: url('../../img/icons-adm/img-carga-temporaria.svg')  center;
							width: 23px;
							height: 26px;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
					}
					&.active {
						.temporaria{
							border: 1px solid #08b7c6;
							background-color: #08b7c6;

							&:before{
								content: '';
								display: block;
								background-color: #fff;
								-webkit-mask: url('../../img/icons-adm/img-carga-temporaria.svg')  center;
								width: 23px;
								height: 26px;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
						a {
							border: 1px solid #d0456e;
							background-color: #d0456e;
							i {
								color: #ffffff;
							}
						}
					}
					a {
						@include centralizar();
						width: 89px;
						height: 71px;
						border: 1px solid #e2e2e2;
						cursor: pointer;
						i {
							font-size: 22px;
							color: #909090;
						}
					}
				}
			}
			.btn-add {
				background: #1cde90;
				position: absolute;
				right: 30px;
				width: 55px;
				height: 47px;
				border-radius: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #ffffff;
				border: 1px solid #1cde90;
			}
		}
		.tab-pane {
			position: relative;
			display: none;
			height: calc(100vh - 71px);
			transition: all .5s;
			&::-webkit-scrollbar {
				-webkit-appearance: none;
			}

			&::-webkit-scrollbar:vertical {
				width: 12px;
			}

			&::-webkit-scrollbar:horizontal {
				height: 12px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: rgba(0, 0, 0, .2);
				border-radius: 10px;
				border: 2px solid #ffffff;
			}

			&::-webkit-scrollbar-track {
				border-radius: 10px;
				background-color: #f8f8f8;
			}
			&#cargas-temporarias{
				.add-file-pts{
					background-color: #08b7c6;
					.title{
						.text{
							p{
								color: #fff;
							}
						}
					}

					#campanha-enviar-planilha{
						border: 1px solid #00919d;
						button{
							background-color: #00919d;
						}
					}
				}
			}

			&#pdvs,
			&#geral-pts {
				display: block;
				.backdrop {
					width: 100%;
					height: 100%;
					position: absolute;
					background: black;
					z-index: 9;
					opacity: 0.4;
				}
				.loader{
					z-index: 1000;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					i{
						font-size: 50px;
						color: #F7A81D;
					}
				}
			}
			&#cargas-temporarias {
				display: block;
				.backdrop-temporaria {
					width: 100%;
					height: 100%;
					position: absolute;
					background: black;
					z-index: 9;
					opacity: 0.4;
				}
				.loader{
					z-index: 1000;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					i{
						font-size: 50px;
						color: #F7A81D;
					}
				}
			}
			.add-file-pts {
				height: 96px;
				background-color: #d0456e;
				padding: 0px 76px;
				display: flex;
				align-items: center;
				.title {
					@include grid-linha();
					align-items: center;
					margin-right: 58px;
					.icone {
						color: #ffffff;
						font-size: 56px;
						display: flex;
					}
					.arrow {
						margin: 0px 17px;
						color: #ffc400;
					}
					.text {
						h2 {
							color: #ffffff;
							font-size: 16px;
							font-weight: 700;
							text-transform: uppercase;
						}
						p {
							color: #ffb2c9;
							font-size: 14px;
							font-weight: 500;
							letter-spacing: 0.28px;
						}
					}
				}
				.box {
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex: 1 1 auto;
					margin-right: 5px;
					position: relative;
					input[type="file"] {
						opacity: 0;
						position: absolute;
					}
					label {
						width: 100%;
						background: transparent;
						border: none;
						span {
							padding: 0;
							color: #ffffff;
							font-size: 14px;
							line-height: 15px;
							padding: 6px 0px;
						}
						strong {
							width: 49px;
							height: 33px;
							background-color: #ffffff;
							padding: 0;
							border-radius: 7px;
							display: flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							top: -2px;
							right: 0;
							cursor: pointer;
						}
					}
				}
				form {
					flex: 1 1 auto;
					border: 1px solid #ff86aa;
					border-radius: 2px;
					height: 41px;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					padding: 0px 5px 0px 16px;
					button[type=submit] {
						width: 9.4vw;
						height: 32px;
						background: $laranja;
						border: 2px solid $laranja;
						color: #ffffff;
						font-size: 12px;
						font-weight: 700;
						text-transform: uppercase;
						transition: all .3s;
						&.disabled {
							background-color: #e3547f;
							border: 2px solid transparent;
							color: rgba(255, 255, 255, 0.32);
							pointer-events: none;
						}
						&:hover {
							background: transparent;
							color: $laranja;
							transition: all .3s;
						}
					}
				}
			}
			.todas-cargas {
				.item {
					@include grid-linha();
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid #e2e2e2;
					padding: 0px 50px;
					height: 57px;
					&.efetivadas{
						span{
							flex: 1;
						}

						.pts{
							flex: 1;
						}
						.acoes{
							flex: 1;
							display: flex;
							.btn-detalhes{
								@include estilo-btn(92px, 30px, $verde, transparent, 12px);
							}
							a{
								flex: unset;
								margin-left: auto;
							}
						}

						a{
							flex: 1;
						}
					}

					&.efetivar{
						background-color: #fff6d8;
						span{
							flex: 1;
						}

						.pts{
							flex: 1;
						}
						.acoes{
							flex: 1;
							justify-content: space-between;
							.btn-excluir-carga{
								margin-left: 0px;
								margin-right: 0px;
								width: 30px;
							}
							a{
								flex: unset;
							}
						}

						a{
							flex: 1;
						}
					}
					.cod-carga {
						width: 130px;
						color: #343434;
						font-size: 14px;
						font-weight: 700;
						text-transform: uppercase;
					}
					.pts {
						@include grid-linha();
						align-items: center;
						.icone {
							font-size: 21px;
							color: #d0456e;
						}
						.seta {
							font-size: 8px;
							color: #ffc400;
							margin: 0px 12px;
						}
						span {
							color: #d0456e;
							font-size: 16px;
							font-weight: 700;
						}
					}
					.cinza {
						color: #909090;
						font-size: 14px;
						font-weight: 500;
						letter-spacing: 0.28px;
					}
					.link {
						color: #d0456e;
						font-size: 13px;
						font-weight: 500;
						letter-spacing: 0.39px;
						text-decoration: underline;
					}
					.acoes {
						@include grid-linha();
						align-items: center;
						.btn-excluir-carga {
							@include estilo-btn(49px, 30px, #ffffff, #cecece, 16px);
							margin: 0px 12px;
							background: transparent;
							border: 2px solid #cecece;
						}
						button {
							@include estilo-btn(92px, 30px, $laranja, tranparent, 12px);
						}
					}
				}
			}
			.cards-cargas {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				grid-gap: 17px;
				padding: 33px 50px;
				.box-carga {
					position: relative;
					height: 287px;
					box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
					border: 1px solid #e2e2e2;
					background-color: #ffffff;
					padding: 32px;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 32px;
						width: 46px;
						height: 1px;
						border-top: 2px solid #f77e0b;
					}
					h3 {
						color: #343434;
						font-size: 16px;
						font-weight: 700;
						text-transform: uppercase;
						margin-bottom: 14px;
					}
					.pts {
						@include grid-linha();
						align-items: center;
						margin-bottom: 19px;
						.icone {
							font-size: 28px;
							color: #d0456e;
							display: flex;
						}
						.seta {
							display: flex;
							font-size: 10px;
							margin: 0px 10px;
							color: #ffc400;
						}
						span {
							color: #d0456e;
							font-size: 22px;
							font-weight: 500;
						}
					}
					ul {
						margin-bottom: 15px;
						li {
							@include grid-linha();
							align-items: center;
							margin-bottom: 6px;
							&:last-child {
								margin-bottom: 0px;
							}
							&:before {
								content: "";
								display: inline-block;
								width: 7px;
								height: 7px;
								background-color: #f7a81d;
								margin-right: 13px;
							}
							a {
								color: #d0456e;
								font-size: 13px;
								font-weight: 500;
								letter-spacing: 0.39px;
								text-decoration: underline;
							}
							span {
								color: #909090;
								font-size: 13px;
								font-weight: 500;
								letter-spacing: 0.26px
							}
						}
					}
					.btn-detalhes {
						@include estilo-btn(108px, 30px, $verde, tranparent, 12px);
						margin-left: 19px;
					}
				}
			}
			.todos-pdvs {
				// display: grid;
				// grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
				display: flex;
				flex-wrap: wrap;

				// grid-gap: 31px;
				padding: 54px;
				.area-box {
					width: 300px;
					height: auto;
					position: relative;
					margin-bottom: 120px;
					margin-right: 24px;
					&.active{
						margin-bottom: 30px;
					}
					.dropdown {
						position: absolute;
						top: 13px;
						left: -80px;
						z-index: 1;
						width: 100px;
						height: 65px;
						background-color: #4b4b4b;
						border-radius: 3px;
						opacity: 0;
						pointer-events: none;
						transition: all .3s;
						z-index: 3;
						ul {
							display: flex;
							flex-direction: column;
							height: 100%;
							align-items: center;
							justify-content: center;
							li {
								margin-bottom: 8px;
								&:last-child {
									margin-bottom: 0px;
								}
								a {
									@include grid-linha();
									align-items: center;
									i {
										font-size: 14px;
										color: #f7a81d;
										margin-right: 8px;
									}
									img {
										width: 14px;
										margin-right: 8px;
									}
									span {
										color: #ffffff;
										font-size: 12px;
										font-weight: 700;
										text-transform: uppercase;
									}
								}
							}
						}
						&:before {
							content: "";
							display: inline-block;
							vertical-align: middle;
							width: 0;
							height: 0;
							border-top: 8px solid transparent;
							border-bottom: 8px solid transparent;
							border-left: 8px solid #4b4b4b;
							position: absolute;
							right: -8px;
							top: 50%;
							margin-top: -8px;
						}
						&.active {
							opacity: 1;
							pointer-events: all;
							left: -84px;
							transition: all .3s;
						}
					}
					.box-pdv {
						width: 100%;
						height: 89px;
						box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
						border: 1px solid #e2e2e2;
						background-color: #ffffff;
						overflow: hidden;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;

						&.box-campanha {
							padding-bottom: 0px;
						}
						.title {
							@include grid-linha();
							align-items: center;
							justify-content: space-between;
							height: 89px;
							padding: 0px 30px;
							cursor: pointer;
							.text {
								@include grid-linha();
								align-items: center;
								button {
									margin-right: 22px;
									img {
										display: block;
									}
								}
								h3 {
									color: #343434;
									font-size: 18px;
									font-weight: 700;
								}
							}
							i {
								display: flex;
								color: #f7a81d;
								font-size: 13px;
								&.icone-arrow-down {
									transform: rotate(0deg);
									transition: all .3s;
								}
							}
						}
						ul.list-itens {
							margin-left: 62px;
							padding-right: 30px;
							li {
								display: flex;
								align-items: flex-start;
								margin-bottom: 12px;
								&.ativo {
									&:before {
										background-color: $verde;
									}
								}
								&:before {
									content: "";
									width: 7px;
									height: 7px;
									background-color: #f7a81d;
									display: inline-block;
									margin-right: 13px;
									margin-top: 6px;
								}
								span {
									color: #343434;
									font-size: 14px;
									font-weight: 400;
									line-height: 17px;
								}
								.itens-sub {
									margin-left: 5px;
									span {
										display: block;
										color: #d0456e;
										font-weight: 500;
									}
								}
							}
						}
						.campanhas {
							margin-left: 82px;
							span {
								display: block;
								color: #d0456e;
								font-size: 14px;
								font-weight: 500;
								line-height: 18px;
							}
						}
						.info-campanha {
							display: flex;
							align-items: center;
							justify-content: center;
							height: 76px;
							border-top: 1px solid #e2e2e2;
							position: relative;
							bottom: 0;
							width: 100%;
							left: 0;
							background: #ffffff;
							margin-top: 30px;
							.item-info {
								margin-left: 34px;
								@include grid-linha();
								align-items: center;
								i {
									display: flex;
								}
								.icone {
									color: $roxo;
									font-size: 23px;
								}
								.seta {
									margin: 0px 9px;
									color: #ffc400;
									font-size: 10px;
								}
								&:first-child {
									margin-left: 0px;
								}
							}
						}
						&.expand-box {
							z-index: 2;
							height: auto;
							padding-bottom: 30px;
							position: static;
							&.box-campanha {
								padding-bottom: 0px;
							}
							.title {
								i {
									&.icone-arrow-down {
										transform: rotate(180deg);
										transition: all .3s;
									}
								}
							}
						}
					}
				}
			}
			.filtros {
				border-top: 1px solid #cecece;
				border-bottom: 1px solid #cecece;
				width: 100%;
				height: 80px;
				background: #ffffff;
				padding: 24px 4vw 20px 4vw;
				@include grid-linha();
				align-items: center;
				.form-group {
					margin-bottom: 0px;
					margin-right: 17px;
					flex: 1;
					label {
						font-size: 12px;
					}
					input[type=text] {
						height: 36px;
						font-size: 13px;
					}
				}
				.select-custom {
					width: 100%;
					.item-selected {
						height: 36px;
						span {
							font-size: 13px;
						}
					}
					.dropdown {
						top: 30px;
					}
					&.open-dropdown {
						.dropdown {
							top: 37px;
						}
					}
				}
				.input-search {
					width: 20vw;
					height: 36px;
					border: 1px solid #cecece;
					border-radius: 3px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 0px 15px;
					button {
						img {
							width: 15px;
						}
					}
				}
			}

			.painel-regulamentos {
				padding: 27px 77px;
				.loader{
					z-index: 1000;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					i{
						font-size: 50px;
						color: #F7A81D;
					}
				}
				.box-geral {
					width: 100%;
					height: 76px;
					box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
					border: 1px solid #e2e2e2;
					background-color: #ffffff;
					@include grid-linha();
					align-items: center;
					justify-content: space-between;
					padding: 0px 30px;
					margin-bottom: 24px;
					.title {
						@include grid-linha();
						align-items: center;
						i {
							display: flex;
							&.icone {
								font-size: 24px;
								color: $roxo;
							}
							&.seta {
								font-size: 9px;
								color: #ffc400;
								margin: 0px 9px;
							}
						}
						h2 {
							color: #343434;
							font-size: 18px;
							font-weight: 700;
						}
					}
					a {
						color: #d0456e;
						font-size: 14px;
						font-weight: 500;
						line-height: 20px;
						transition: all .3s;
						&:hover {
							color: $laranja;
							transition: all .3s;
						}
					}
					button {
						@include estilo-btn(99px , 26px, $laranja, transparent, 12px);
					}
				}
				.todos {
					display: grid;
					// grid-template-columns: repeat(3, 1fr);
					grid-template-columns: repeat(auto-fit, minmax(310px, 315px));
					justify-content: flex-start;
					grid-column-gap: 25px;
					grid-row-gap: 25px;
					.box-regulamento {
						width: 100%;
						// height: 175px;
						height: auto;
						box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
						border: 1px solid #e2e2e2;
						background-color: #ffffff;
						padding: 29px 30px 27px 40px;
						position: relative;
						h3 {
							color: #343434;
							font-size: 18px;
							font-weight: 700;
							margin-bottom: 12px;
						}
						.nome {
							@include grid-linha();
							align-items: center;
							margin-bottom: 12px;
							i {
								display: flex;
								&.icone {
									font-size: 19px;
									color: #d0456e;
								}
								&.seta {
									margin: 0px 9px;
									font-size: 10px;
									color: $laranja;
								}
							}
							span {
								color: #909090;
								font-size: 14px;
								font-weight: 500;
							}
						}
						.arquivo-pendente {
							color: $verde;
							font-size: 14px;
							font-weight: 500;
							line-height: 20px;
							display: block;
							margin-bottom: 10px;
						}
						a {
							display: block;
							color: $roxo;
							font-size: 14px;
							margin-bottom: 13px;
							transition: all .3s;
							&:hover {
								transition: all .3s;
								color: $laranja;
							}
						}
						.btn-excluir-carga{
							position: absolute;
							top: 34px;
							right: 20px;
						}
						button {
							@include estilo-btn(99px , 26px, $laranja, transparent, 12px);
							&.btn-enviar {
								@include estilo-btn(99px , 26px, $verde, transparent, 12px);
							}
						}
					}
				}
			}

			.dados-resgates-gerais {
				.loader{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					i{
						font-size: 50px;
						color: #F7A81D;
					}
				}
				.item {
					width: 100%;
					padding: 0px 77px;
					border-bottom: 1px solid #e2e2e2;
					padding-bottom: 59px;
					height: 54px;
					overflow: hidden;
					background: #ffffff;
					.item-head {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						height: 54px;
						cursor: pointer;
						li {
							flex: 1;
							span {
								color: #909090;
								font-size: 14px;
								font-weight: 500;
							}

							&:first-child {
								width: 15%;
								span {
									color: #343434;
									font-weight: 600;
								}
							}

							&:last-child {
								width: 15%;
								position: relative;
								@include grid-linha();
								align-items: center;
								i {
									display: flex;
									&.icone {
										color: $roxo;
										font-size: 19px;
									}
									&.seta {
										margin: 0px 9px;
										font-size: 10px;
										color: $laranja;
									}
								}

								h4 {
									color: $roxo;
									font-size: 14px;
									font-weight: 500;
								}

								.icone-arrow-down {
									color: $laranja;
									font-size: 12px;
									position: absolute;
									right: 0;
								}
							}
						}
					}
					.item-body {
						@include grid-linha();
						align-items: flex-start;
						justify-content: space-between;
						margin-top: 30px;
						li {
							width: 25%;
							.title-list {
								@include grid-linha();
								align-items: center;
								margin-bottom: 27px;
								i {
									display: flex;
									color: $roxo;
									font-size: 21px;
									margin-right: 7px;
								}
								span {
									color: #343434;
									font-size: 12px;
									font-weight: 700;
									text-transform: uppercase;
								}
							}
							.info-span {
								display: flex;
								align-items: center;
								color: $roxo;
								font-size: 14px;
								font-weight: 500;
								margin-bottom: 11px;
								max-width: 175px;
								i {
									display: flex;
									color: $laranja;
									font-size: 8px;
									margin-right: 9px;
								}
							}
						}
					}
					&.item-expand {
						height: auto;
						border: 1px solid #f7a81d;
						.item-head {
							li {
								&:last-child {
									.icone-arrow-down {
										transform: rotate(180deg);
										transition: all .3s;
									}
								}
							}
						}
					}
				}
			}

			.todas-lojas {
				.loader{
					z-index: 1000;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					i{
						font-size: 50px;
						color: #F7A81D;
					}
				}
				.area-box-loja {
					position: relative;
					height: 172px;
					.box-loja {
						width: 100%;
						height: 172px;
						box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
						border: 1px solid #e2e2e2;
						background-color: #ffffff;
						position: absolute;
						top: 0;
						left: 0;
						padding-bottom: 37px;
						overflow: hidden;
						&.expand-store {
							height: auto;
							box-shadow: 10px 20px 30px rgba(26, 26, 26, 0.11);
							border: 1px solid #f7a81d;
							z-index: 2;
							.cards {
								.title {
									button {
										transform: rotate(180deg);
										transition: all .3s;
									}
								}
							}
						}
						.info {
							height: 113px;
							padding-left: 31px;
							padding-top: 26px;
							h3 {
								color: #343434;
								font-size: 18px;
								font-weight: 700;
								margin-bottom: 15px;
							}
							.qtd {
								@include grid-linha();
								align-items: center;
								i {
									display: flex;
									&.icone {
										font-size: 28px;
										color: $roxo;
									}
									&.seta {
										font-size: 11px;
										margin: 0px 9px;
										color: $laranja;
									}
								}
								h4 {
									color: #d0456e;
									font-size: 22px;
									font-weight: 500;
									span {
										color: #d0456e;
										font-size: 22px;
										font-weight: 500;
									}
								}
							}
						}
						.cards {
							border-top: 1px solid #cecece;
							padding: 15px 30px 0px 30px;
							.title {
								display: flex;
								align-items: center;
								justify-content: space-between;
								button {
									width: 30px;
									height: 30px;
									display: flex;
									align-items: center;
									justify-content: center;
									transform: rotate(0deg);
									transition: all .3s;
									i {
										font-size: 13px;
										display: flex;
									}
								}
							}
							.todos-cards {
								margin-top: 21px;
								ul {
									li {
										margin-bottom: 13px;
										&:last-child {
											margin-bottom: 0px;
										}
									}
								}
							}
						}
					}
				}
			}

			.todos-usuarios {
				.loader{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					i{
						font-size: 50px;
						color: #F7A81D;
					}
				}

				.item {
					width: 100%;
					height: 54px;
					overflow: hidden;
					padding: 0px 77px;
					background: #ffffff;
					border-bottom: 1px solid #e2e2e2;
					&.expand-item {
						height: auto;
						border: 1px solid #f7a81d;
						.item-head {
							li {
								&:last-child {
									.icone-arrow-down {
										transform: rotate(180deg);
										transition: all .3s;
									}
								}

							}
						}
					}

					.item-head {
						display: flex;
						justify-content: space-between;
						align-items: center;
						height: 54px;
						cursor: pointer;
						li{
							&.status-conclusao{
								display: flex;
								justify-content: space-between;
								padding-right: 20px;
								i {
									&.icone-arrow-down {
										margin: 0px 9px;
										font-size: 10px;
										color: $laranja;
									}
								}
							}

							&.status-ativo{
								width: 0px;
								overflow: hidden;
								flex: unset;
								opacity: 0;
								// transition: all .5s;
								&.active{
									display: flex;
									flex: 1;
									justify-content: space-around;
									opacity: 1;
									overflow: hidden;
									transition: all .5s;
								}
							}
						}

						.dropdown {
							position: absolute;
							z-index: 1;
							width: 100px;
							height: 65px;
							background-color: #4b4b4b;
							border-radius: 3px;
							transition: all .3s;
							z-index: 3;
							opacity: 0;
							left: 0px;
							pointer-events: none;
							ul {
								display: flex;
								flex-direction: column;
								height: 100%;
								align-items: center;
								justify-content: center;
								li {
									margin-bottom: 8px ;
									&:last-child {
										margin-bottom: 0px;
									}
									a {
										@include grid-linha();
										align-items: center;
										i {
											font-size: 14px;
											color: #f7a81d;
											margin-right: 8px;
										}
										img {
											width: 14px;
											margin-right: 8px;
											margin-left: 0px;
										}
										span {
											color: #ffffff;
											font-size: 12px;
											font-weight: 700;
											text-transform: uppercase;
										}
									}
								}
							}
							&:before {
								content: "";
								display: inline-block;
								vertical-align: middle;
								width: 0;
								height: 0;
								border-top: 8px solid transparent;
								border-bottom: 8px solid transparent;
								border-left: 8px solid #4b4b4b;
								position: absolute;
								right: 13px;
								bottom: -11px;
								transform: rotate(90deg);
								margin-top: -8px;
							}
							&.active {
								opacity: 1;
								pointer-events: all;
								right: 35px;
								transition: all .3s;
								margin-top: -60px;
							}
						}

						li {
							flex: 1;

							&:first-child {
								display: flex;
								align-items: center;
								img {
									margin-right: 29px;
								}
								h3 {
									color: #343434;
									font-size: 14px;
									font-weight: 600;
								}
							}
							// &:last-child {
							// 	display: flex;
							// 	align-items: center;
							// 	justify-content: space-between;
							// 	i {
							// 		font-size: 12px;
							// 		color: $laranja;
							// 		display: flex;
							// 		transform: rotate(0deg);
							// 		transition: all .3s;
							// 	}
							// }
							span {
								color: #909090;
								font-size: 14px;
								font-weight: 500;
								text-transform: uppercase;
							}
							.status {
								display: flex;
								align-items: center;
								.square {
									width: 8px;
									height: 8px;
									margin-right: 12px;
									background-color: gray;
								}
								span {
									color: #909090;
									font-size: 15px;
									font-weight: 400;
									text-transform: none;
								}
							}
						}
					}
					.item-body {
						margin-top: 30px;
						display: flex;
						justify-content: space-between;
						padding-bottom: 41px;
						li {
							width: 25%;
							label {
								display: block;
								color: #343434;
								font-size: 11px;
								font-weight: 700;
								text-transform: uppercase;
								margin-bottom: 12px;
							}
							.info {
								@include grid-linha();
								align-items: center;
								.seta {
									margin: 0px 9px;
									font-size: 9px;
									color: $laranja;
									display: flex;
								}
								span {
									color: #d0456e;
									font-size: 14px;
									font-weight: 500;
								}
							}
						}
					}
					&[status="ativo"] {
						.item-head {
							li {
								.status {
									.square {
										background-color: #00ff9d;
									}
								}
							}
						}
					}
					&[status="bloqueado"] {
						.item-head {
							li {
								.status {
									.square {
										background-color: #ff0000;
									}
								}
							}
						}
					}
				}


			}

			.todas-categorias-produtos {
				grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
				width: 100%;
				display: grid;
				grid-gap: 19px;
				padding: 54px 75px;
			}
		}
	}

	&.close-sidebar {
		transition: all .5s;
		aside {
			width: 0;
			transition: all .5s;
			.cont {
				opacity: 0;
			}
		}
		.cont-geral {
			width: 100%;
			transition: all .5s;
			.topo-abas {
				.btn-recolher-sidebar {
					i {
						transform: rotate(180deg);
						transition: all .3s;
					}
				}
			}
			.tab-pane {
				.cards-cargas {
					grid-template-columns: repeat(5, 1fr);
				}
				.todos-pdvs {
					grid-template-columns: repeat(5, 1fr);
				}
				.painel-regulamentos {
					.todos {
						grid-template-columns: repeat(auto-fit, minmax(300px, 306px));
						justify-content: start;
					}
				}
			}
		}
	}
}

@media(max-width: 1366px){
	.area-geral-campanha{
		aside{
			.title{
				h1{
					font-size: 2vw;
				}
			}
			.info-list{
				display: grid;
				grid-gap: 30px;
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
				li{
					padding-right: 0px;
					margin-right: 0px;
				}
			}
		}

		.cont-geral{
			.tab-pane{
				.add-file-pts{
					form{
						width: 40%;
					}

					.box label{
						span{
							width: 81px;
						}
					}
				}

				.painel-regulamentos {
					.todos{
						grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
					}

					.box-geral{
						.title{
							h2{
								font-size: 17px;
							}
						}

						button{
							margin-left: 15px;
						}
					}
				}
			}
		}
	}
}
