.grafico{
      display: flex;
      nav{
            position: fixed;
            width: 112px;
            z-index: 99;
            height: 100%;      
      }

      .area-conteudo-modulo{
            width: calc(100% - 112px);
            margin-left: auto;
      }
}

.todos-cards{
      padding: 30px;
      margin-left: auto;
      transition: all .3s;
      .container-card-resgatados{
            display: flex;
            overflow: hidden;
            .card-resumo{
                  width: 327px;
                  height: 463px;
                  box-shadow: 4px 4px 0 #f2f2f2;
                  border: 1px solid #e2e2e2;
                  background-color: #ffffff;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  margin-bottom: 10px;
                  position: relative;
                  margin-right: 0;
                  transition: all .5s;
                  .container-card-resumo{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        background: #fff;
                        position: relative;
                        z-index: 30;
                        .pts-distribuidos{
                              width: 100%;
                              padding-top: 50px; 
                              margin-bottom: auto;
                              position: relative;
                              .toggle{
                                    cursor: pointer;
                                    height: 25px;
                                    width: 30px;
                                    position: absolute;
                                    top: 20px;
                                    right: 20px;                                
                                    span{
                                          width: 100%;
                                          height: 3px;
                                          background-color: #cecece;    
                                          display: block;
                                          position: absolute;
                                          top: 50%;
                                          left: 50%;
                                          transform: translate(-50%, -50%);
                                          transition:  all .5s;
                                          &:before,&:after{
                                                content: '';  
                                                position: absolute;
                                                width: 100%;
                                                height: 100%;
                                                background-color: #cecece; 
                                                transition:  all .5s;
                                          }
                              
                                          &:before{
                                                top: -7px
                                          }
                              
                                          &:after{
                                                top: 7px;
                                          }
                                    }
                        
                                    &.active{
                                        span{
                                            background-color: rgba(0,0,0, 0);
                                            &:before{
                                                top: 0px;
                                                transform: rotate(45deg)
                                            }
                                            &:after{
                                                top: 0px;
                                                transform: rotate(135deg)
                                            }
                                        }
                                    }
                              }

                              .img-estrela{
                                   @include centralizar()
                              }

                              .img-seta-baixo{
                                    margin-top: 22px;
                                    margin-bottom: 15px;
                                    @include centralizar()
                              }

                              .text-pts-distribuidos{
                                    @include centralizar();
                                    flex-direction: column;    
                                    h1{
                                          color: #000000;
                                          font-size: 40px;
                                          font-weight: 700;      
                                    }  

                                    p{
                                          color: #000000;
                                          font-size: 14px;
                                          font-weight: 400;
                                          text-transform: uppercase;      
                                    }
                              }
                        } 
                        
                        .pts-resgatados{
                              height: 101px;
                              border-top: 1px solid #e2e2e2;
                              margin-top: auto;
                              @include centralizar();
                              &:last-child{
                                    margin-top: 0px;
                              }
                              .img-pts-resgatados{
                                    display: flex;
                                    align-items: center;
                                    img{
                                          &:first-child{
                                                margin-right: 13px;
                                          }
                                    }
                              }     
                              
                              .text-pts-resgatados{
                                    margin-left: 10px;
                                    h1{
                                          color: #000000;
                                          font-size: 23px;
                                          font-weight: 700;      
                                    }

                                    p{
                                          color: #000000;
                                          font-size: 12px;
                                          font-weight: 400;
                                          text-transform: uppercase;
                                    }
                              }
                        } 
                  }
                  
                  &.active{
                        margin-right: 77vw;
                        
                        .container-card-resumo{

                        }
                        .container-table{
                              width: calc(400% + 128px);
                              height: 100%;
                              z-index: 50;
                              left: 325px;
                              transition: all .5s;
                              z-index: 20;
                        }
                  }

                  .container-table{
                        position: absolute;
                        height: 463px;
                        width: 100%;
                        top: 0px;
                        left: -500px;
                        width: 0px;
                        transition: all .5s;
                        border: 1px solid #e2e2e2;
                        overflow: hidden;
                        .table-topo{
                              width: 100%;
                              height: 65px;
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                              padding-left: 29px;
                              padding-right: 120px;
                              h1{
                                    color: #e3547f;
                                    font-size: 16px;
                                    font-weight: 700;
                                    text-transform: uppercase;      
                              }

                              p{
                                    color: #e3547f;
                                    font-size: 22px;
                                    font-weight: 400;       
                              }
                        } 
                        
                        table{
                              width: 100%;
                              display: flex;
                              flex-direction: column;
                              .table-header{
                                    height: 63px;
                                    background-color: #e3547f;
                                    @include centralizar();
                                    th{
                                          color: #ffffff;
                                          font-size: 16px;
                                          font-weight: 400;
                                          text-transform: uppercase ;
                                          flex: 1;
                                          height: 100%;
                                          @include centralizar();
                                          border-right: 1px solid  #e2e2e2;
                                    }
                              }

                              .table-row{
                                    display: flex;
                                    align-items: center;
                                    width: 100%;
                                    td{
                                          height: 133px;
                                          background-color: #fafafa;
                                          @include centralizar();
                                          flex: 1;
                                          border-right: 1px solid  #e2e2e2;
                                    }
                              }

                              .table-resgatados{
                                    display: flex;
                                    align-items: center;
                                    width: 100%;
                                    td{
                                          height: 100px;
                                          background-color: #ffffff;;
                                          @include centralizar();
                                          flex: 1;
                                          border-right: 1px solid  #e2e2e2;
                                    }      
                              }

                              .table-empty{
                                    display: flex;
                                    align-items: center;
                                    height: 125px;
                                    background-color: #fafafa;
                                    width: 100%; 
                              }
                        }
                  }      
            }   

            .card-usuarios{
                  margin-left: 30px;
                  position: relative;
                  height: 463px;
                  transition: all .5s;
                  .container-card-usuarios{
                        width: 327px;
                        height: 100%;
                        box-shadow: 4px 4px 0 #f2f2f2;
                        border: 1px solid #e2e2e2;
                        background-color: #ffffff;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: relative;
                        z-index: 30;
                        .pts-distribuidos{
                              width: 100%;
                              padding-top: 50px; 
                              margin-bottom: 26px;
                              position: relative;
                              .toggle{
                                    cursor: pointer;
                                    height: 25px;
                                    width: 30px;
                                    position: absolute;
                                    top: 20px;
                                    right: 20px;
                                    span{
                                          width: 100%;
                                          height: 3px;
                                          background-color: #cecece;    
                                          display: block;
                                          position: absolute;
                                          top: 50%;
                                          left: 50%;
                                          transform: translate(-50%, -50%);
                                          transition:  all .5s;
                                          &:before,&:after{
                                                content: '';  
                                                position: absolute;
                                                width: 100%;
                                                height: 100%;
                                                background-color: #cecece; 
                                                transition:  all .5s;
                                          }
                              
                                          &:before{
                                                top: -7px
                                          }
                              
                                          &:after{
                                                top: 7px;
                                          }
                                    }
                        
                                    &.active{
                                        span{
                                            background-color: rgba(0,0,0, 0);
                                            &:before{
                                                top: 0px;
                                                transform: rotate(45deg)
                                            }
                                            &:after{
                                                top: 0px;
                                                transform: rotate(135deg)
                                            }
                                        }
                                    }
                              }
      
                              .img-estrela{
                                   @include centralizar()
                              }
      
                              .img-seta-baixo{
                                    margin-top: 22px;
                                    margin-bottom: 24px;
                                    @include centralizar()
                              }
      
                              .text-pts-distribuidos{
                                    @include centralizar();
                                    flex-direction: column;    
                                    
                                    h1{
                                          color: #000000;
                                          font-size: 40px;
                                          font-weight: 700;      
                                    }  
      
                                    p{
                                          color: #000000;
                                          font-size: 14px;
                                          font-weight: 400;
                                          text-transform: uppercase;      
                                    }
                              }
                        } 
                        
                        .pts-resgatados{
                              height: 101px;
                              border-top: 1px solid #e2e2e2;
                              margin-top: auto;
                              @include centralizar();
                              &:last-child{
                                    margin-top: 0px;
                              }
                              .img-pts-resgatados{
                                    display: flex;
                                    align-items: center;
                                    img{
                                          &:first-child{
                                                margin-right: 13px;
                                          }
                                    }
                              }     
                              
                              .text-pts-resgatados{
                                    margin-left: 10px;
                                    width: 104px;
                                    h1{
                                          color: #000000;
                                          font-size: 23px;
                                          font-weight: 700;      
                                    }
      
                                    p{
                                          color: #000000;
                                          font-size: 12px;
                                          font-weight: 400;
                                          text-transform: uppercase;
                                    }
                              }
                        }
                  }

                  &.active{
                        margin-right: 336px;
                        margin-left: 30px;
                        transition: all .5s;
                        .container-card-ilha{
                              margin-right: 30px;
                              background-color: #fff;
                              left: 326px;
                              z-index: 10;
                              pointer-events: all;
                              transition: all .5s;
                        }     
                  }

                  .container-card-ilha{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        z-index: -1;
                        overflow-y: scroll;
                        pointer-events: none;
                        padding-top: 52px;
                        padding-left: 60px;
                        padding-bottom: 20px;
                        box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                        border: 1px solid #e2e2e2;
                        transition: all .5s;
                        h1{
                              color: #030303;
                              font-size: 18px;
                              font-weight: 700;
                              text-transform: uppercase;
                              margin-bottom: 37px;
                        }

                        .loader-user{
                              margin-bottom: 31px;
                              &:last-child{
                                    margin-bottom: 0px;
                              }
                              span{
                                    color: #343434;
                                    font-size: 14px;
                                    font-weight: 400;
                                    text-transform: uppercase;      
                              }

                              p{
                                    color: #343434;
                                    font-size: 12px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                              }

                              .container-width{
                                    position: relative;
                                    width: 178px;
                                    
                                    span{
                                          &:nth-child(1){
                                                display: block;
                                                width: 100%;
                                                height: 11px;
                                                background-color: #f2f2f2;
                                          }
                                          
                                          &:nth-child(2){
                                                display: block;
                                                width: 0px;
                                                height: 11px;
                                                background-color: #e3547f;   
                                                position: absolute;
                                                top: 0px;
                                                left: 0px;   
                                                transition:  all .5s;
                                          }
                                    }

                                    p{
                                          color: #e3547f;
                                          font-size: 14px;
                                          font-weight: 700;
                                          position: absolute;
                                          top: -4px;
                                          right: -65px;
                                    }
                              }
                        }
                  }
            }    
              
            .card-permissao{
                  width: 327px;
                  height: 463px;
                  box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                  border: 1px solid #e2e2e2;
                  background-color: #ffffff;    
                  margin-left: 30px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  position: relative;
                  .card-img-text{
                        @include centralizar();
                        flex-direction: column;
                        margin-top: 59px;
                        img{
                              display: block;
                              margin-bottom: 26px;
                        }
                        p{
                              color: #000000;
                              font-size: 14px;
                              font-weight: 400;
                              text-transform: uppercase;      
                              padding-top: 18px;
                              position: relative;
                              text-align: center;
                              width: 100px;
                              &:before{
                                    content: '';
                                    display: block;
                                    background-color: #f7a81d;
                                    width: 25px;
                                    height: 3px;
                                    position: absolute;
                                    top: 0px;
                                    left: 50%;
                                    transform: translateX(-50%);
                              }
                        }            
                  }   

                  .pts-resgatados{
                        height: 101px;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                        @include centralizar();
                        &:nth-child(2){
                             margin-top: auto;
                        }
                        &:last-child{
                              margin-bottom: 27px;
                        }

                        .img-pts-resgatados{
                              display: flex;
                              align-items: center;
                              margin-left: 35px;
                              img{
                                    &:first-child{
                                          margin-right: 5px;
                                    }
                              }
                        }     
                        
                        .text-pts-resgatados{
                              margin-left: 10px;
                              width: 104px;
                              h1{
                                    color: #000000;
                                    font-size: 23px;
                                    font-weight: 700;      
                              }

                              p{
                                    color: #000000;
                                    font-size: 12px;
                                    font-weight: 400;
                                    text-transform: uppercase;
                              }
                        }
                  } 
            } 
            
            .card-resgates{
                  width: 327px;
                  height: 463px;
                  margin-left: 30px;
                  position: relative;
                  left: 0px;
                  background-color: #fff;
                  transition: all .5s;
                  .container-card-resgates{
                        box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                        border: 1px solid #e2e2e2;
                        background-color: #ffffff;
                        transition: all .5s;  
                        height: 100%;
                        .toggle{
                              cursor: pointer;
                              height: 25px;
                              width: 30px;
                              position: absolute;
                              top: 20px;
                              right: 20px;
                              span{
                                    width: 100%;
                                    height: 3px;
                                    background-color: #cecece;    
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    transition:  all .5s;
                                    &:before,&:after{
                                          content: '';  
                                          position: absolute;
                                          width: 100%;
                                          height: 100%;
                                          background-color: #cecece; 
                                          transition:  all .5s;
                                    }
                        
                                    &:before{
                                          top: -7px
                                    }
                        
                                    &:after{
                                          top: 7px;
                                    }
                              }
                  
                              &.active{
                                  span{
                                      background-color: rgba(0,0,0, 0);
                                      &:before{
                                          top: 0px;
                                          transform: rotate(45deg)
                                      }
                                      &:after{
                                          top: 0px;
                                          transform: rotate(135deg)
                                      }
                                  }
                              }
                        }
      
                        .total-resg{
                              height: 147px;
                              @include centralizar();
                              border-bottom: 1px solid #e2e2e2;
                              .container-img-resg{
                                    display: flex;
                                    align-items: flex-end;
                                    height: 40px;
                                    img{
                                    }  
                                    .container-seta-lado{
                                          height: 100%;
                                          @include centralizar();
                                          img{
                                                display: block;
                                                margin-left: 18px;
                                                margin-right: 16px;
                                          }
                                    }     
                              }     
                              
                              .container-text-resg{
      
                                     h1{
                                          color: #000000;
                                          font-size: 40px;
                                          font-weight: 700;
                                    }
                                    span{
                                          color: #000000;
                                          font-size: 14px;
                                          font-weight: 400;
                                          text-transform: uppercase;      
                                    }      
                              }      
                        }    
                        
                        h2{
                              color: #000000;
                              font-size: 14px;
                              font-weight: 400;
                              text-transform: uppercase;    
                              margin-bottom: 25px;  
                              margin-top: 36px;
                              padding-left: 39px;
                        }
      
                        .mais-resg{
                              display: none;
                              align-items: center;
                              margin-bottom: 28px;
                              padding-left: 39px;
                              .container-img-mais{
                                    position: relative;
                                    width: 71px;
                                    height: 43px;
                                    img{
                                          width: 100%;
                                          height: auto;
                                          object-fit: cover;
                                    }
                                    p{
                                          width: 32px;
                                          height: 32px;
                                          border: 3px solid #ffffff;
                                          background-color: #e3547f;
                                          border-radius: 50%;
                                          position: absolute;
                                          top: 50%;
                                          transform: translateY(-50%);
                                          right: -16px;
                                          @include centralizar();
                                    }
                                    span{
                                          color: #ffffff;
                                          font-size: 15px;
                                          font-weight: 700;
                                          line-height: 15px;
                                          display: block;
                                          margin-bottom: 3px;
                                          margin-right: 3px;
                                    }
                              }
      
                              .text-mais{
                                    margin-left: 26px;
                                    h4{
                                          color: #000000;
                                          font-size: 14px;
                                          font-weight: 700;
                                          text-transform: uppercase;
                                    }      
                              }
                        }
                  }

                  &.active{
                        left: -352px;
                        transition: all .5s;  
                        z-index: 50;
                        .container-card-resgates{
                              box-shadow: 0px 0px 0 rgba(255,255,255,0.0);
                              transition: all .5s;  
                        }  

                        .percentual-men-women{
                              width: calc(300% + 60px);
                              transition: all .5s;  
                              .container-wonem{
                                    transition: all .5s;  
                              }

                              .contianer-nem{
                                    transition: all .5s; 
                              }
                        }
                  }

                  .percentual-men-women{
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 0px;
                        height: 100%;
                        border: 1px solid #e2e2e2;
                        background-color: #ffffff;
                        z-index: -1;
                        transition: all .5s;  
                        .container-wonem{
                              position: absolute;
                              width: 327px;
                              left: 0px;
                              padding-top: 39px;
                              padding-left: 62px;
                              transition: all .5s;  
                              .text-img{
                                    margin-bottom: 28px;
                                    display: flex;
                                    align-items: flex-end;
                                    .img-wonem{
                                          display: flex;
                                          align-items: center;
                                          img{
                                                &:nth-child(2){
                                                      display: block;
                                                      margin: 0px 15px;      
                                                }
                                          }
                                    }
                                    
                                    .text-wonem{
                                          h1{
                                                color: #000000;
                                                font-size: 29px;
                                                font-weight: 700;       
                                                span{
                                                      color: #000000;
                                                      font-size: 12px;
                                                      font-weight: 400;
                                                      text-transform: uppercase;
                                                }
                                          }
                                    }
                              }

                              .loader-user{
                                    margin-bottom: 16px;
                                    &:last-child{
                                          margin-bottom: 0px;
                                    }
                                    span{
                                          color: #343434;
                                          font-size: 14px;
                                          font-weight: 400;
                                          text-transform: uppercase;      
                                    }
      
                                    p{
                                          color: #343434;
                                          font-size: 12px;
                                          font-weight: 700;
                                          text-transform: uppercase;
                                    }
      
                                    .container-width{
                                          position: relative;
                                          width: 178px;
                                          
                                          span{
                                                &:nth-child(1){
                                                      display: block;
                                                      width: 100%;
                                                      height: 11px;
                                                      background-color: #f2f2f2;
                                                }
                                                
                                                &:nth-child(2){
                                                      display: block;
                                                      width: 0px;
                                                      height: 11px;
                                                      background-color: #e3547f;   
                                                      position: absolute;
                                                      top: 0px;
                                                      left: 0px;   
                                                      transition:  all .5s;
                                                }
                                          }
      
                                          p{
                                                color: #e3547f;
                                                font-size: 14px;
                                                font-weight: 700;
                                                position: absolute;
                                                top: -4px;
                                                right: -65px;
                                          }
                                    }
                              }
                        }  
                        
                        .container-men{
                              position: absolute;
                              width: 327px;
                              left: 0px;
                              padding-top: 39px;
                              padding-left: 62px;
                              transition: all .5s; 
                              .text-img{
                                    margin-bottom: 28px;
                                    display: flex;
                                    align-items: flex-end;
                                    .img-wonem{
                                          display: flex;
                                          align-items: center;
                                          img{
                                                &:nth-child(2){
                                                      display: block;
                                                      margin: 0px 15px;      
                                                }
                                          }
                                    }
                                    
                                    .text-wonem{
                                          h1{
                                                color: #000000;
                                                font-size: 29px;
                                                font-weight: 700;       
                                                span{
                                                      color: #000000;
                                                      font-size: 12px;
                                                      font-weight: 400;
                                                      text-transform: uppercase;
                                                }
                                          }
                                    }
                              }

                              .loader-user{
                                    margin-bottom: 16px;
                                    &:last-child{
                                          margin-bottom: 0px;
                                    }
                                    span{
                                          color: #343434;
                                          font-size: 14px;
                                          font-weight: 400;
                                          text-transform: uppercase;      
                                    }
      
                                    p{
                                          color: #343434;
                                          font-size: 12px;
                                          font-weight: 700;
                                          text-transform: uppercase;
                                    }
      
                                    .container-width{
                                          position: relative;
                                          width: 178px;
                                          
                                          span{
                                                &:nth-child(1){
                                                      display: block;
                                                      width: 100%;
                                                      height: 11px;
                                                      background-color: #f2f2f2;
                                                }
                                                
                                                &:nth-child(2){
                                                      display: block;
                                                      width: 0px;
                                                      height: 11px;
                                                      background-color: #e3547f;   
                                                      position: absolute;
                                                      top: 0px;
                                                      left: 0px;   
                                                      transition:  all .5s;
                                                }
                                          }
      
                                          p{
                                                color: #e3547f;
                                                font-size: 14px;
                                                font-weight: 700;
                                                position: absolute;
                                                top: -4px;
                                                right: -65px;
                                          }
                                    }
                              }      
                        }
                  }
            } 

            .card-ativos{
                  width: 327px;
                  height: 463px;
                  box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                  border: 1px solid #e2e2e2;
                  background-color: #ffffff;    
                  margin-left: 30px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  position: relative;
                  left: 0px;
                  transition: all .5s;
                  .toggle{
                        cursor: pointer;
                        height: 25px;
                        width: 30px;
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        span{
                              width: 100%;
                              height: 3px;
                              background-color: #cecece;    
                              display: block;
                              position: absolute;
                              top: 50%;
                              left: 50%;
                              transform: translate(-50%, -50%);
                              transition:  all .5s;
                              &:before,&:after{
                                    content: '';  
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    background-color: #cecece; 
                                    transition:  all .5s;
                              }
                  
                              &:before{
                                    top: -7px
                              }
                  
                              &:after{
                                    top: 7px;
                              }
                        }
            
                        &.active{
                            span{
                                background-color: rgba(0,0,0, 0);
                                &:before{
                                    top: 0px;
                                    transform: rotate(45deg)
                                }
                                &:after{
                                    top: 0px;
                                    transform: rotate(135deg)
                                }
                            }
                        }
                  }

                  .card-img-text{
                        @include centralizar();
                        flex-direction: column;
                        margin-top: 59px;
                        margin-bottom: auto;
                        img{
                              display: block;
                              margin-bottom: 26px;
                        }
                        p{
                              color: #000000;
                              font-size: 14px;
                              font-weight: 400;
                              text-transform: uppercase;      
                              padding-top: 18px;
                              position: relative;
                              text-align: center;
                              &:before{
                                    content: '';
                                    display: block;
                                    background-color: #f7a81d;
                                    width: 25px;
                                    height: 3px;
                                    position: absolute;
                                    top: 0px;
                                    left: 50%;
                                    transform: translateX(-50%);
                              }
                        }            
                  }   

                  .pts-resgatados{
                        height: 84px;
                        width: 100%;
                        border-top: 1px solid #e2e2e2;
                        @include centralizar();
                        &:first-child{
                        }
                        .img-pts-resgatados{
                              display: flex;
                              align-items: center;
                              margin-left: 65px;
                              img{
                                    &:first-child{
                                          margin-right: 16px;
                                    }
                              }
                        }     
                        
                        .text-pts-resgatados{
                              margin-left: 10px;
                              width: 104px;
                              h1{
                                    color: #000000;
                                    font-size: 23px;
                                    font-weight: 700;      
                              }

                              p{
                                    color: #000000;
                                    font-size: 12px;
                                    font-weight: 400;
                                    text-transform: uppercase;
                              }
                        }
                  } 
            } 
      }      
} 

@media(max-width: 1366px){
      main{
            .area-conteudo-modulo{
                  .topo{
                        width: 91vw;   
                        .acoes{
                              .container-form{
                                    width: 250px;
                                    ul{
                                          &.active{
                                                z-index: 50;
                                          }
                                    }
                              }
                        }     
                  }
            }
      }

      .todos-cards{

            .container-card-resgatados{
                  display: grid;
                  grid-gap: 30px;
                  grid-template-columns: repeat(3, 327px);    
                  .card-usuarios{
                        margin-left: 0px;
                        &.active{
                              margin-left: 0px;
                              h1{
                                    width: 75%;
                                    margin-left: auto;
                                    margin-right: auto;
                              }
                              .container-card-ilha{
                                    left: 358px;
                                    overflow-y: scroll;
                                    padding-left: 0px;
                                    #usuarios-ilhas{
                                          width: 75%;
                                          margin-left: auto;
                                          margin-right: auto;
                                    }
                              }
                        }
                        .container-card-ilha{
                              width: 329px;
                        }
                  } 
                  
                  .card-permissao{
                        margin-left: 0px;
                        transition: all .5s;
                  }

                  .card-resgates{
                        margin-left: 0px;
                        &.active{
                              left: 0px;
                        }
                  }
                  
                  .card-ativos{
                        margin-left: 0px;      
                  }

                 .card-resumo{
                        &.active{
                              .container-table{
                                    width: calc(230% + 128px);     
                                    .table-topo{
                                          background-color: #fff;
                                    }
                              }
                        }
                 } 
            }
      }

      .todos-relatorios{
            .container-relatorio-acesso{
                  .relatorio-graficos-acesso{
                        display: flex !important;
                        flex-direction: column;   
                        .container-esq{
                              .container-sessoes-acesso{
                                    .sessoes-acesso{
                                          width: 60%;
                                    }
                              }
                        }
                  }
            }
      }
      
}