.s-carga-pts {
    padding: 96px 0px;
    .container {
        width: 1190px;
        margin: 0 auto;
        padding: 0px 15px;
    }
    .info-geral-carga {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 58px;
        .texto-esq {
            margin-bottom: 45px;
            h1 {
                color: #343434;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 26px;
            }
            .nome-arquivo {
                display: flex;
                align-items: flex-end;
                margin-bottom: 45px;
                .info {
                    margin-right: 30px;
                    span {
                        display: block;
                        font-size: 14px;
                        color: #7e7e7e;
                        font-weight: 500;
                    }
                    strong {
                        color: #000000;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
                a {
                    color: #d0456e;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: underline;
                }
            }
            .input-esq {
                flex-direction: column;
                align-items: flex-start;
            }
            .info-criado {
                display: flex;
                align-items: flex-start;
                .esq {
                    margin-right: 181px;
                }
                .item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    .icone {
                        display: flex;
                        font-size: 21px;
                        color: $roxo;
                    }
                    .seta {
                        margin: 0px 16px;
                        font-size: 10px;
                        color: $laranja;
                    }
                    p {
                        color: #343434;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    .pdvs {
                        margin-left: 15px;
                        span {
                            display: block;
                            color: #d0456e;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16px;
                        }
                    }
                    .info {
                        ul {
                            margin-top: 5px;
                            li {
                                color: #909090;
                                font-size: 14px;
                                font-weight: 500;
                                letter-spacing: 0.28px;
                                &:before {
                                    content: "";
                                    width: 7px;
                                    height: 7px;
                                    background-color: #f7a81d;
                                    margin-right: 10px;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .box-white {
            width: 351px;
            height: 237px;
            box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
            border: 1px solid #e2e2e2;
            background-color: #ffffff;
            @include centralizar();
            flex-direction: column;
            img {
                margin-bottom: 12px;
            }
            h2 {
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0.28px;
                line-height: 15px;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 4px;
                &.text-red {
                    color: #ff0000;
                }
                &.text-green {
                    color: $verde;
                }
                &.text-yellow {
                    color: $laranja;
                }
            }
            span {
                margin-bottom: 6px;
                color: #343434;
                font-size: 16px;
                font-weight: 400;
                display: block;
            }
            ul {
                margin-bottom: 28px;
                li {
                    display: flex;
                    align-items: center;
                    &:before {
                        content: "";
                        width: 7px;
                        height: 7px;
                        background-color: #f7a81d;
                        display: inline-block;
                        margin-right: 13px;
                    }
                    span {
                        margin: 0;
                        color: #909090;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 0.28px;
                    }
                }
            }
            p {
                color: #7e7e7e;
                font-size: 14px;
                font-weight: 500;
                line-height: 15px;
                max-width: 231px;
                text-align: center;
                margin-bottom: 24px;
            }
            .btns {
                display: flex;
                align-items: center;
                .btn-cancelar {
                    @include estilo-btn(106px, 40px, #ffffff, #909090, 12px);
                    border: 2px solid #909090;
                    color: #909090;
                    margin-right: 5px;
                }
                .btn-enviar {
                    @include estilo-btn(126px, 40px, $verde, transparent , 12px);
                    color: #ffffff;
                    margin-right: 5px;
                }
                .btn-efetivar {
                    @include estilo-btn(126px, 40px, $laranja, transparent , 12px);
                    color: #ffffff;
                    margin-right: 5px;
                }
            }
        }
    }
    .info-geral-pts {
        display: flex;
        align-items: flex-end;
        ul {
            margin-right: 140px;
            li {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.28px;
                color: #909090;
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0px;
                }
                &:before {
                    content: "";
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    background-color: #f7a81d;
                    margin-right: 13px;
                }
                span {
                    color: #d0456e;
                }
            }
        }
        .pts {
            display: flex;
            align-items: center;
            margin-right: 150px;
            i {
                display: flex;
                &.icone {
                    color: $roxo;
                    font-size: 46px;
                }
                &.seta {
                    margin: 0px 18px;
                    color: $laranja;
                }
            }
            h2 {
                color: #d0456e;
                font-size: 31px;
                font-weight: 700;
            }
        }
        .info-status {
            display: flex;
            align-items: center;
            &.erro {
                p {
                    color: #ff0000;
                }
            }
            .seta {
                margin: 0px 10px;
                color: $laranja;
                font-size: 10px;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                max-width: 201px;
            }
        }
    }
    table {
        margin-top: 58px;
        width: 100%;
        border-collapse: collapse;
        tr {
            th {
                height: 40px;
                color: #343434;
                font-size: 11px;
                font-weight: 400;
                text-transform: uppercase;
                &:first-child {
                    padding-left: 58px;
                }
            }
            td {
                height: 76px;
                color: #909090;
                font-size: 14px;
                font-weight: 500;
                &:first-child {
                    padding-left: 58px;
                    color: #343434;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
            &.erro-linha {
                td {
                    border: 1px solid #ff0000;
                    border-left: none;
                    border-right: none;
                    color: #ff0000;
                    font-weight: 500;
                    &:first-child {
                        border-left: 1px solid #ff0000;
                    }
                    &:last-child {
                        border-right: 1px solid #ff0000;
                    }
                }
            }
		&.mudanca-pdv {
			td {
				border: 1px solid #ff8300;
				border-left: none;
				border-right: none;
				color: #FF8300;
				font-weight: 500;
				&:first-child {
					border-left: 1px solid #FF8300;
				}
				&:last-child {
					border-right: 1px solid #FF8300;
				}
			}
		}
            &:last-child {
                td {
                    border-bottom: 1px solid #e2e2e2;
                }
            }
        }
        th,td {
            border: 1px solid #e2e2e2;
            text-align: left;
            border-left: none;
            border-right: none;
            border-bottom: none;
            &:first-child {
                border-left: 1px solid #e2e2e2;
            }
            &:last-child {
                border-right: 1px solid #e2e2e2;
            }
        }

    }
}
