.area-todos-clientes {
    background-color: #f8f8f8;
    
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: 169px;
    grid-gap: 29px;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    &:before{
        content: '';
        display: block;
        height: calc(100vh - 89px);
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #f8f8f8;
        z-index: -1;
    }
    .box-cliente {
        display: grid;
        grid-template-columns: 1fr 90px;
        width: 100%;
        height: 169px;
        box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
        border: 1px solid #e2e2e2;
        background-color: #ffffff;
        transition: all .3s;
        &.box-campanha {
            height: 180px;
        }
        &:hover {
            border: 1px solid #f7a81d;
            box-shadow: 7px 7px 10px 0px rgba(109,109,109,0.09);
            transition: all .3s;
        }
        .info {
            position: relative;
            border-right: 1px solid #cecece;
            padding-top: 27px;
            padding-left: 25px;
            &:before {
                content: "";
                width: 46px;
                height: 1px;
                border-top: 2px solid #f7a81d;
                position: absolute;
                top: 0;
                left: 25px;
            }
            h3 {
                color: #343434;
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            ul {
                li {
                    margin-bottom: 7px;
                    display: flex;
                    align-items: center;
                    .square {
                        display: inline-block;
                        width: 7px;
                        height: 7px;
                        background-color: $laranja;
                        margin-right: 13px;
                        &.green {
                            background-color: $verde;
                        }
                    }
                    span {
                        color: #909090;
                        font-size: 13px;
                        font-weight: 500;
                        letter-spacing: 0.39px;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .geral {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 18px;
                &:last-child {
                    margin-bottom: 0px;
                }
                .icone {
                    display: flex;
                    margin-bottom: 8px;
                    font-size: 21px;
                    color: $roxo;
                }
                .icone-arrow-down {
                    font-size: 8px;
                    color: #ffc400;
                }
                span {
                    color: #d0456e;
                    font-size: 13px;
                    font-weight: 700;
                }
            }
        }
    }
    @media(max-width: 1440px) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        .box-cliente {
            .info {
                padding: 20px;
                padding-top: 30px;
                h3 {
                    font-size: 18px;
                    margin-bottom: 15px;
                }
                ul {
                    li {
                        .square {
                            margin-right: 8px;
                        }
                        span {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 1300px) {
        .box-cliente {
            .info {
                padding: 13px;
                padding-top: 30px;
            }
        }
    }
}

.area-cadastro {
    padding-top: 93px;
    padding-bottom: 100px;
    form {
        width: 920px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        .s-esq {
            width: 425px;
            .title {
                display: flex;
                align-items: center;
                margin-bottom: 64px;
                .circle {
                    width: 33px;
                    height: 33px;
                    border-radius: 16px;
                    background-color: $laranja;
                    @include centralizar;
                    margin-right: 20px;
                    i {
                        color: #ffffff;
                        display: flex;
                        font-size: 10px;
                    }
                }
                h2 {
                    color: #343434;
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
            .form-group {
                .codigo {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span {
                        color: #343434;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 15px;
                    }
                    i {
                        color: $laranja;
                        font-size: 10px;
                    }
                    .cod-pdv {
                        width: 239px;
                        height: 53px;
                        background-color: #f2f2f2;
                        display: flex;
                        align-items: center;
                        padding-left: 33px;
                        span {
                            color: #d0456e;
                            font-size: 22px;
                            font-weight: 700;
                        }
                    }
                }
                .label-enviar-logo {
                    z-index: 4;
                }
                .box {
                    height: 53px;
                    input[type="file"] {
                        opacity: 0;
                        width: 0;
                    }
                    label {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 53px;
                        border: 1px solid #cecece;
                        background: transparent;
                        padding: 0px 19px;
                        border-radius: 3px;
                        span {
                            height: 51px;
                            padding: 19px 0px;
                            font-size: 14px;
                            color: #343434;
                            font-style: italic;
                        }
                        strong {
                            padding: 0;
                            width: 210px;
                            height: 42px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 2px;
                            background-color: #f2f2f2;
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            color: #f77e0b;
                            font-weight: 400;
                            font-size: 14px;
                            cursor: pointer;
                            transition: all .3s;
                            &:hover {
                                background: $laranja;
                                color: #ffffff;
                                font-weight: 500;
                                transition: all .3s;
                            }
                        }
                    }
                }
            }
        }
        .s-dir {
            width: 351px;
            position: fixed;
            right: 26%;
            top: 185px;
            .nome-cliente {
                display: flex;
                align-items: center;
                margin-bottom: 63px;
                i {
                    color: $laranja;
                    font-size: 21px;
                    margin-right: 12px;
                }
                p {
                    color: #343434;
                    font-size: 16px;
                    font-weight: 400;
                    strong {
                        text-transform: uppercase;
                        color: #343434;
                        font-size: 12px;
                        font-weight: 700;
                    }
                }
            }
            .box-white {
                position: relative;
                width: 100%;
                height: 237px;
                box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                border: 1px solid #e2e2e2;
                background-color: #ffffff;
                margin-bottom: 19px;
                &:before {
                    content: "";
                    width: 46px;
                    height: 1px;
                    border-top: 2px solid #f7a81d;
                    position: absolute;
                    top: -3px;
                    left: 50%;
                    margin-left: -23px;
                }
                @include centralizar();
                flex-direction: column;
                .icon {
                    margin-bottom: 12px;
                }
                p {
                    text-align: center;
                    color: #7e7e7e;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.28px;
                    line-height: 15px;
                    max-width: 284px;
                    margin-bottom: 19px;
                }
                button {
                    @include estilo-btn(238px, 47px, $verde, transparent, 14px);
                }
            }
            .alert {
                color: #7e7e7e;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.24px;
                line-height: 15px;
                text-align: center;
                display: block;
            }
        }
    }
    @media(max-width: 1440px) {
        form {
            .s-dir {
                right: 18%;
            }
        }
    }
}

@media(max-width: 1366px){
    .area-todos-clientes{
        .box-cliente{
            .info{
                h3{
                    font-size: 13px;
                }
            }
        }
    }   
}