.s-area-cupons.area-conteudo-modulo .topo {
    height: 71px;
}

.s-area-cupons .topo .nav-tabs li:first-child {
    display: none;
}

.s-area-cupons .topo .nav-tabs li strong {
    color: #F7A81D;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.s-area-cupons .tabela-cupons {
    height: 100vh;
    overflow: auto;
    .head {
        width: 100%;
        height: 39px;
        background-color: #343434;
        padding-left: 40px;
        padding-right: 40px;
        display: grid;
        grid-template-columns:  repeat(7, 1fr) ;
        align-items: center;
        grid-column-gap: 30px;
        li {
            span {
                display: flex;
                justify-content: center;
                color: #cecece;
                font-size: 11px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
    .body {
        .item-table {
            border-bottom: 1px solid #e2e2e2;
            height: 54px;
            overflow: hidden;
            &.expand-item {
                height: auto;
                border: 1px solid #f7a81d;
                .dados {
                    .icone-arrow-down {
                        transform: rotate(180deg);
                        transition: all .3s;
                    }
                }
            }
            .dados {
                align-items: center;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                padding-left: 40px;
                padding-right: 40px;
                grid-column-gap: 30px;
                height: 54px;
                text-align: center;
                position: relative;
                cursor: pointer;
                li {
                    .check-square {
                        width: 16px;
                        height: 15px;
                        border: 1px solid #cecece;
                        background-color: #ffffff;
                        display: block;
                        transition: all .3s;
                        cursor: pointer;
                        &.checked {
                            background: $laranja;
                            border: 1px solid $laranja;
                            transition: all .3s;
                        }
                    }
                    span {
                        color: #909090;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .pts {
                        display: flex;
                        align-items: center;
                        i {
                            display: flex;
                            font-size: 18px;
                            color: #d0456e;
                            &.seta {
                                color: $laranja;
                                font-size: 12px;
                                margin: 0px 9px;
                            }
                        }
                        span {
                            color: #d0456e;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                    &:nth-child(2) {
                        span {
                            font-size: 14px;
                            font-weight: 600;
                            color: #343434;
                        }
                    }
                }
                .icone-arrow-down {
                    position: absolute;
                    right: 25px;
                    font-size: 14px;
                    color: $laranja;
                    transform: rotate(0deg);
                    transition: all .3s;
                }
            }
            .dados-gerais {
                margin-top: 35px;
                padding-bottom: 74px;
                padding-left: 86px;
                padding-right: 86px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .item-dados {
                    .title {
                        display: flex;
                        align-items: center;
                        margin-bottom: 27px;
                        i {
                            display: flex;
                            font-size: 22px;
                            color: #d0456e;
                            margin-right: 7px;
                        }
                        span {
                            color: #343434;
                            font-size: 12px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                    }
                    ul {
                        li {
                            margin-bottom: 11px;
                            display: flex;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            i {
                                display: flex;
                                margin-right: 9px;
                                color: $laranja;
                                font-size: 12px;
                            }
                            span {
                                display: flex;
                                color: #d0456e;
                                font-size: 14px;
                                font-weight: 500;
                                max-width: 154px;
                            }
                        }
                    }
                    .select-custom {
                        .item-selected {
                            width: 195px;
                            height: 36px;
                            span {
                                color: #d0456e;
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }
                        .dropdown {
                            top: 30px;
                        }
                        &.open-dropdown {
                            .dropdown {
                                top: 37px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.s-area-cupons{
    &#cupons-detalhe{
        .tabela-cupons{
            .head{
                grid-template-columns: 50px repeat(6, 214px);
                .check-square {
                    width: 16px;
                    height: 15px;
                    border: 1px solid #cecece;
                    background-color: #ffffff;
                    display: block;
                    transition: all .3s;
                    cursor: pointer;
                    &.checked {
                        background: $laranja;
                        border: 1px solid $laranja;
                        transition: all .3s;
                    }
                }
                li{
                    span{
                        justify-content: unset;
                    }
                }
            }
            .body{
                .loader{
                    z-index: 1000;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    i{
                        font-size: 50px;
                        color: #F7A81D;
                    }
                }
                .item-table{
                    .dados{
                        grid-template-columns: 50px repeat(6, 214px);
                        text-align: left
                    }
                }
            }
        }

        .topo{
            .acoes{
                .form-group{
                    .select-custom{
                        width: 135px;
                        .dropdown{
                            background-color: #fff;
                            top: 40px;
                            left: 0px;
                            width: 100%;
                            padding: 19px;
                            &:before{
                                border-left: 8px solid transparent;
                                top: -8px;
                                right: 50%;
                                transform: rotate(-90deg) translateX(-50%);
                            }
                        }

                        &.open-dropdown{
                            .dropdown{
                                top: 53px;
                            }
                        }
                    }
                }
            }
        }
    }
}
