.s-detalhe-usuario{
      display: grid;
      grid-template-columns: 638px 1fr;
      .sidebar-usuario{
            background-color: #992c4c;
            padding-top: 36px;
            padding-bottom: 36px;
            padding-top: 26px;
            padding-left: 86px;
            padding-right: 106px;
            .voltar-campanha{
                  display: flex;
                  a{
                        display: block;
                        margin-left: 11px;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 700;
                  }
            }

            .container-usuario{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-top: 71px;
                  position: relative;
                  .img-usuario{
                        width: 128px;
                        height: 128px;
                        img{
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                              border-radius: 50%;
                        }
                  }

                  .text-nome-usuario{
                        p{
                              width: 215px;
                              color: #ffffff;
                              font-size: 22px;
                              font-weight: 700;
                        }

                        span{
                              color: #f7a81d;
                              font-size: 12px;
                              font-weight: 700;
                              text-transform: uppercase;
                              position: relative;
                              margin-left: 15px;
                              top: 16px;
                              cursor: pointer;
                        }
                  }

                  .toggle-usuario{
                        margin-bottom: 35px;
                  }
            }

            .saldo-atual{
                  width: 392px;
                  height: 80px;
                  border-radius: 5px;
                  background-color: #1cde90;     
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding-left: 35px;
                  padding-right: 49px;
                  margin-top: 39px;
                  .container-img-pontos{
                        display: flex;
                        align-items: center;
                        img{
                              &:last-child{
                                    margin-left: 15px;
                              }
                        }
                  }
                  p{
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;     
                        width: 89px;  
                  }

                  h3{
                        color: #ffffff;
                        font-family: Barlow;
                        font-size: 27px;
                        font-weight: 700;
                  }
            }

            .dados-usuarios{
                  margin-top: 53px;
                  h2{
                        color: #f7a81d;
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;     
                  }

                  ul{
                        margin-top: 28px;
                        li{
                              margin-bottom: 20px;
                              margin-left: 15px;
                              position: relative;
                              span{
                                    color: #ffffff;
                                    font-size: 16px;
                                    font-weight: 400;      
                                    position: relative;
                                    &:before{
                                          content: '';
                                          display: block;
                                          width: 7px;
                                          height: 8px;
                                          background-color: #f7a81d;      
                                          position: absolute;
                                          top: 60%;
                                          left: -15px;
                                          transform: translateY(-50%);
                                    }
                              }

                              ul{
                                    position: absolute;
                                    top: -24px;
                                    left: 100px;
                                    li{
                                          p{
                                                color: #f7a81d;
                                                font-size: 12px;
                                                font-weight: 400;      
                                          }
                                    }
                              }
                        }
                  }
            }

            .msg-whats{
                  margin-top: 162px;
                  p{
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 400;
                  }
            }

            .acessar-como{
                  margin-top: 88px;
                  display: flex;
                  align-items: center;
                  p{
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 400;
                  }
                  img{
                        display: block;
                        margin-right: 15px;
                  }        
            }
      }

      .table-usuario{
            .tab-pane-usuario{
                  display: flex;
                  padding-top: 25px;
                  padding-left: 77px;
                  padding-right: 75px;
                  padding-bottom: 19px;
                  .filtros{
                        display: flex;
                        width: 100%;
                        .form-group{
                              width: 195px;
                              margin-right: 17px;
                              margin-bottom: 0px;
                              .select-custom{
                                    position: relative;
                                    height: 36px;
                                    .item-selected{
                                          height: 100%;
                                    }
                                    .dropdown{
                                          top: 25px;     
                                    }

                                    &.open-dropdown{
                                          .dropdown{
                                                top: 36px;
                                          }
                                    }
                              }  
                              
                              &.focus{
                                    
                                    .item-selected{
                                          
                                    }      
                              }
                        }

                        .input-search {
                              width: 58%;
                              height: 36px;
                              border: 1px solid #cecece;
                              border-radius: 3px;
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                              padding: 0px 15px;
                              button {
                                  img {
                                      width: 15px;
                                  }
                              }
                        }
                  }
            }
            .container-line-user{
                  border-top: 1px solid #e2e2e2;
                  ul{
                        display: flex;
                        height: 54px;
                        transition: all .3s;
                        cursor: pointer;
                        li{
                              border-bottom: 1px solid #e2e2e2;
                              flex: 1;
                              display: flex;
                              flex-direction: column;
                              padding-top: 21px;
                              position: relative;
                              &:first-child{
                                    padding-left: 77px;
                              }

                              &:last-child{
                                    padding-right: 77px;
                                    .container-item{
                                          margin-top: 57px;
                                    }
                              }

                              &:nth-child(1){
                                    span{
                                          color: #343434;
                                          font-size: 14px;
                                          font-weight: bold;
                                    }
                              }

                              &:nth-child(2){
                                    span{
                                          color: #909090;
                                          font-size: 14px;
                                          font-weight: 400;
                                    }
                              }

                              &:nth-child(3){
                                    span{
                                          color: #909090;
                                          font-size: 14px;
                                          font-weight: 400;
                                    }
                              }
                              .container-item{
                                    
                                    overflow: hidden;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    margin-top: 43px;
                                    transition: all .5s;
                                    p{
                                          color: #d0456e;
                                          font-size: 14px;
                                          font-weight: 400; 
                                          display: flex;
                                          align-items: center;     
                                          margin-bottom: 20px;
                                          img{
                                                display: block;
                                                margin-right: 9px;
                                          }
                                    }
                              }

                              .pts-detalhe-usuario{
                                    display: flex;
                                    align-items: center;
                                    position: absolute;
                                    top: 21px;
                                    left: 0px;
                                    img{
                                          &:first-child{
                                                margin-right: 11px;       
                                          }
                                    }

                                    p{
                                          color: #d0456e;
                                          font-size: 14px;
                                          font-weight: 400;     
                                          margin-left: 9px; 
                                    }
                              }
                        }

                        &.active{
                              height: 55px;   
                              border-top: 1px solid #f7a81d;
                              border-bottom: 1px solid #f7a81d;
                              transition: all .3s;   
                              li{
                                    .container-item{
                                          .title{
                                                margin-bottom: 20px;
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}

.modal-alterar-senha{
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      pointer-events: none;
      transition: all .5s;
      z-index: 99;
      &.active{
            background-color: rgba(0, 0, 0, 0.5);
            transition: all .5s;
            pointer-events: all;
            .container-modal-form{
                  top: 50%;
                  opacity: 1;
                  transition: all .5s;
            }     
      }
      .container-modal-form{
            background-color: #fff;
            padding: 20px;
            position: absolute;
            top: -5000px;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .5s;
            form{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .container-form{
                        margin-bottom: 20px;
                        input{
                              width: 300px;
                              height: 53px;
                              border: 1px solid #cecece;    
                              color: #343434;
                              font-size: 16px;
                              font-weight: 400;
                              padding-left: 19px;
                              border-radius: 3px;
                        }
                  }   
                  
                  .btn-alterar-senha{
                        width: 238px;
                        height: 47px;
                        background-color: #1cde90;  
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 3px;
                        button{
                              color: #ffffff;
                              font-family: Barlow;
                              font-size: 14px;
                              font-weight: 700;
                              text-transform: uppercase;
                              border: none;
                              background-color: transparent;
                              
                        }    
                  }
            }
      }      
}