.area-conteudo-modulo{
    .todos-usuarios-sites{
        .filtros{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 0px 60px;
            padding: 25px;
            .form-group{
                  margin-bottom: 0px;
                  .select-custom{
                        .dropdown{
                              height: 485px;
                              overflow-y: scroll;
                              &::-webkit-scrollbar {
                              -webkit-appearance: none;
                              }
                              
                              &::-webkit-scrollbar:vertical {
                              width: 12px;
                              }
                              
                              &::-webkit-scrollbar:horizontal {
                              height: 12px;
                              }
                              
                              &::-webkit-scrollbar-thumb {
                              background-color: rgba(0, 0, 0, .2);
                              border-radius: 10px;
                              border: 2px solid #ffffff;
                              }
                              
                              &::-webkit-scrollbar-track {
                              border-radius: 10px;  
                              background-color: #ffffff; 
                              }
                        }
                  }
            }

            .input-search{
                  position: relative;
                  input{
                        height: 100%;
                        width: 100%;
                        padding-right: 40px;
                  }
                  button{
                        position: absolute;
                        top: 50%;
                        right: 30px;
                        transform: translateY(-50%);
                  }
            }
        }
    }
      .topo{
            .filtro-arquivo{
                  position: relative;
                  height: 35px;
                  margin-left: auto;
                  margin-right: 34px;
                  input{
                        height: 100%;
                        padding-right: 25px;
                  }
                  img{
                        position: absolute;
                        top: 50%;
                        right: 0px;
                        transform: translateY(-50%);
                  }
            }

            .btn-add-arquivo{
                  padding-right: 36px;
            }
      }
}
.list-arquivos{
      .container-arquivos{
            display: flex;
            align-items: center;
            height: 57px;
            border-top: 1px solid #e2e2e2;
            padding-left: 30px;
            padding-right: 66px;
            &:first-child{
                  border-top: none;
            }
            &:last-child{
                  border-bottom: 1px solid #e2e2e2;
            }
            h3{
                  color: #343434;
                  font-size: 14px;
                  font-weight: 400;
            }

            h2{
                  color: #08b7c6;
                  font-size: 14px;
                  font-weight: 400;
                  text-transform: uppercase;
            }

            .text-name-arquivo{
                  margin-right: auto;
            }

            .text-user{
                  margin-right: auto;
            }

            .date-time{
                  margin-right: auto;
            }

            .download{
                  display: flex;
                  align-items: center;
                  margin-right: 78px;
            }

            .excluir{

            }
      }
}
