.s-login {
	width: 100%;
	height: 100%;
	padding-top: 123px;
	position: relative;
	overflow: hidden;
	.container {
		width: 1111px;
		margin: 0 auto;
		@include grid-linha();
		justify-content: space-between;
		position: relative;
	}
	.container-form{
		width: 349px;
		.container-logo{
			margin-bottom: 66px;
		}

		form {
			width: 100%;

			.container-img-pc{
				position: absolute;
				margin-top: -87px;
				right: 0px;
			}
			.form-group {
				label {
					color: #909090;
					background: #fff;
				}
				&.focus{
					label{
						color: #909090 !important;
					}
				}
				input[type="text"],
				input[type="password"] {
					border: 1px solid #cecece;
					color: #343434;
					font-family: "Barlow";
					font-size: 16px;
					font-weight: 400;
					&:focus {
						border: 1px solid #909090;
						transition: all .3s;
					}
				}
				input[type="password"] {
					letter-spacing: 20px;
					transition: all .3s;
					&:focus {
						border: 1px solid #909090;
					}
				}
				button {
					@include estilo-btn(100%, 63px, #f77e0b, transparent,  22px);
					border-radius: 5px;
				}
				&:nth-child(3) {
					display: flex;
					justify-content: flex-end;
					align-items: center;
				}

			}
		}

		.esqueci-senha{

			a{
				display: flex;
				align-items: center;
				color: rgba(0, 0, 0, 0.61);
				font-size: 12px;
				font-weight: 400;
				letter-spacing: 0.96px;
				text-transform: uppercase;
				img{
					margin-right: 10px;
				}
			}
		}

		.infs{
			margin-top: 70px;
			p{
				color: rgba(139, 139, 139, 0.88);
				font-size: 11px;
				font-weight: 400;
				margin-bottom: 20px;
				&:last-child{
					margin-bottom: 0px;
				}
			}
		}

		.site-seguro{
			display: flex;
			align-items: center;
			margin-top: 41px;
			a{
				&:last-child{
					display: block;
					margin-left: 29px;
				}
			}
		}

		.copy {
			margin-top: 126px;
			span{
				color: #909090;
				font-size: 10px;
				font-weight: 400;
				letter-spacing: 0.2px;
				line-height: 15px;
			}
		}
	}

	.container-img-fundo{
		position: absolute;
		top: -137px;
		right: -376px;
		z-index: -1;

	}
}


@media(max-width: 1366px){
	.s-login{
		padding: 100px 0px;
		.container-img-fundo{
			top: -188px;
			right: -658px;
		}
	}
}

@media(max-width: 1280px){
	.s-login{
		.container-img-fundo{
			right: -693px;
		}
	}
}
