.area-conteudo-modulo{
      position: relative;

      .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            i {
                font-size: 50px;
                color: #F7A81D;
            }        
      }

      .topo{
            .acoes{
                  .container-form{
                        width: 298px;
                        height: 36px;
                        border: 1px solid #cecece;
                        border-radius: 5px;
                        position: relative;
                        margin-right: 15px;

                        &:last-child{
                              margin-right: 0;
                        }

                        label{
                              position: absolute;
                              top: -9px;
                              left: 15px;
                              background: #fff;
                              padding-right: 12px;
                              padding-left: 5px;

                              color: #7e7e7e;
                              font-size: 12px;
                              font-weight: 400;
                              line-height: 15px;
                        }

                        .container-text-img{
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                              padding-left: 21px;
                              padding-right: 21px;
                              height: 100%;
                              cursor: pointer;
                              p{
                                    height: 100%;
                                    color: #000000;
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 15px;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    
                              }
                        }
                        

                        ul{
                              
                              height: 0px;
                              position: absolute;
                              top: 36px;
                              width: 100%;
                              opacity: 0;
                              overflow-Y: scroll;
                              pointer-events: none;
                              transition:  all .5s;
                              background-color: #fff;
                              padding-bottom: 10px;
                              padding-top: 10px;
                              &.active{
                                    height: 140px;
                                    overflow-Y: scroll;
                                    pointer-events: all;
                                    opacity: 1;
                                    z-index: 30;
                                    transition:  all .5s;                                    
                              }
                              li{
                                    cursor: pointer;
                                    p{
                                          height: 28px;
                                          color: #000000;
                                          font-size: 16px;
                                          font-weight: 700;
                                          line-height: 15px;
                                          display: flex;
                                          align-items: center;  
                                          padding-left: 21px;
                                          padding-right: 21px;    
                                    }
                              }
                        }
                  }
            }       
      }
}