@mixin grid-linha() {
    display: flex;
    flex-direction: row();
}
@mixin grid-coluna() {
    display: flex;
    flex-direction: column;
}
@mixin centralizar() {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin estilo-btn($largura, $altura, $bg, $bg-hover, $font-size) {
    width: $largura;
    height: $altura;
    background-color: $bg;
    border: 2px solid $bg;
    @include centralizar();
    color: #ffffff;
    border-radius: 30px;
    font-weight: 700;
    font-size: $font-size;
    text-transform: uppercase;
    transition: all .3s;
    i {
        display: flex;
        color: #ffffff;
        display: flex;
        align-items: center;
        margin-left: 15px;
        transition: all .3s;
    }
    &:hover {
        background: transparent;
        background: $bg-hover;
        color: $bg;
        transition: all .3s;
        i {
            color: $bg;
            transition: all .3s;
        }
    }
}

@mixin donut-chart($name, $perc, $size, $width, $base, $center, $color, $textColor: $color, $textSize: 40px) {
  
    $color2: $color;
    $base2: $base;
      $deg: ($perc/100*360)+deg;
      $deg1: 90deg;
      $deg2: $deg;
      
      // If percentage is less than 50%
      @if $perc < 50 {
            $base: $color;
            $color: $base2;
            $color2: $base2;
            $deg1: ($perc/100*360+90)+deg;
            $deg2: 0deg;
      }
      
    .donut-chart {
      &#{$name} {
        width: $size;
        height: $size;
        background: $base;
        
        .slice {
          &.one {
            clip: rect(0 $size $size/2 0);
            -webkit-transform: rotate($deg1);
            transform: rotate($deg1);
            background: $color;
          }
          
          &.two {
            clip: rect(0 $size/2 $size 0);
            -webkit-transform: rotate($deg2);
            transform: rotate($deg2);
            background: $color2;
          }
        }
        
        .chart-center {
          top: $width;
          left: $width;
          width: $size - ($width * 2);
          height: $size - ($width * 2);
          background: $center;
          
          span {
            font-size: $textSize;
            line-height: $size - ($width * 2);
            color: $textColor;
            height: 100%;
            position: relative;
            &:after {
                content: '';
                display: block;
                background: url('../../img/icons-adm/relatorio-17.png');
                background-repeat: no-repeat;
                width: 34px;
                height: 48px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                }
            }
        }
      }
    }
  }