.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 15, 48, 0.95);
        z-index: 0;
    }
    .box-white {
        width: 351px;
        height: 252px;
        box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
        border: 1px solid #e2e2e2;
        background-color: #ffffff;
        position: absolute;
        top: 135px;
        left: 50%;
        margin-left: -175.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        img {
            margin-bottom: 16px;
        }
        h2 {
            color: #343434;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 26px;
            text-align: center;
        }
        .btn {
            @include estilo-btn(198px, 47px, $verde, transparent, 14px);
        }
    }
}