.previa-notificacao{
      display: flex;
      align-items: center;
      margin-top: 30px;
      border: 1px solid #e2e2e2;
      padding: 15px;
      .container-img{
            border: 2px solid #dcdcdc;
            height: 68px;
            width: 68px;
            border-radius: 50%; 
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                  width: 89%;
                  height: 89%;
                  border-radius: 50%;      
                  background-color: #00a651;
                  padding: 10px;
            }
      }

      .title-descricao{
            margin: 0 20px;
            width: 210px;
            h3{
                  font-size: 15px;
                  font-weight: bold;
                  text-transform: uppercase;
                  margin: 0;      
            }

            p{
                  font-size: 14px;
                  font-weight: 500;
                  color: #000000;
                  margin: 0;
                  white-space: pre-line;
            }
      }
}