.area-conteudo-modulo {
    .topo {
        padding-left: 0px;
        .filtro {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 58%;
            grid-column-gap: 24px;
            align-items: center;
            height: 100%;
            .form-group {
                position: relative;
                margin-bottom: 0px;
                .select-custom {
                    &.open-dropdown {
                        .dropdown {
                            top: 37px;
                        }
                    }
                    .dropdown {
                        top: 30px;
                    }
                    .item-selected {
                        height: 36px;
                    }
                }
                input[type="text"] {
                    height: 36px;
                }
                button {
                    position: absolute;
                    top: 10px;
                    right: 19px;
                    i {
                        color: #b9b9b9;
                        font-size: 15px;
                    }
                }
            }
        }
        .nav-tabs {
            display: flex;
            height: 71px;
            align-items: center;
            
            li {
                &.active {
                    background: $roxo;
                    .container-filtro{
                        opacity: 1;
                        pointer-events: all;
                    }
                    i {
                        color: #ffffff;
                    }
                }
                span {
                    width: 89px;
                    height: 90px;
                    cursor: pointer;
                    @include centralizar();
                    i {
                        font-size: 20px;
                        color: #909090;
                    }
                }

                .container-filtro{
                    position: absolute;
                    z-index: 30;
                    background-color: #fff;
                    margin-left: auto;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 30px;
                    opacity: 0;
                    pointer-events: none;
                    display: flex;
                    align-items: center;
                    width: auto;
                    .form-group {
                        margin-bottom: 0px;
                        margin-right: 17px;
                        width: 250px;
                        position: relative;
                        label {
                            font-size: 12px;
                        }
                        input[type=text] {
                            height: 36px;
                            font-size: 13px;
                            padding-right: 35px;
                        }
        
                        button{
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);
                            i{
                                color: #000;
                            }
                        }
                    }

                    .btn{                        
                        height: 35px;
                        display: flex;
                        align-items: center;
                        position: relative;
                        z-index: 99999;
                        top: unset;
                        left: unset;
                        right: unset;
                        bottom: unset;
                        margin-right: 30px;
                        @include estilo-btn(220px, 36px, $verde, transparent, 14px);
                        i{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .area-todas-notificacoes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: flex-start;
        flex-wrap: wrap;
        grid-gap: 26px;
        padding: 30px;
        .area-box {
            position: relative;
            height: 245px;
        }
        .box-notificacao {
            width: 100%;
            height: 245px;
            overflow: hidden;
            box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
            border: 1px solid #e2e2e2;
            background-color: #ffffff;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .3s;
            &.expand-box {
                position: relative;
                z-index: 1;
                border: 1px solid #f7a81d;
                height: auto;
                transition: all .3s;
                .area-mensagem {
                    .topo-msg {
                        i {
                            transform: rotate(180deg);
                            transition: all .3s;
                        }
                    }
                }
            }
            .info-geral {
                display: flex;
                align-items: flex-start;
                padding: 32px 24px 20px 24px;
                button {
                    margin-top: 4px;
                    margin-right: 27px;
                }
                .info {
                    width: 81%;
                    h2 {
                        color: #343434;
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 17px;
                    }
                    .dados {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .list {
                            li {
                                color: #909090;
                                font-size: 13px;
                                font-weight: 500;
                                letter-spacing: 0.39px;
                                margin-bottom: 3px;
                                &:before {
                                    content: "";
                                    display: inline-block;
                                    margin-right: 13px;
                                    width: 7px;
                                    height: 7px;
                                    background-color: #f7a81d;
                                }
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                            }
                        }
                        .list-numbers {
                            li {
                                display: flex;
                                align-items: center;
                                margin-bottom: 15px;
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                                img {
                                    width: 20px;
                                }
                                i {
                                    display: flex;
                                    &.seta {
                                        font-size: 9px;
                                        margin: 0px 9px;
                                        color: $laranja;
                                    }
                                }
                                span {
                                    color: #d0456e;
                                    font-size: 13px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
            .area-mensagem {
                border-top: 1px solid #cecece;
                .topo-msg {
                    height: 56px;
                    padding: 0px 62px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    h4 {
                        color: #d0456e;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    i {
                        display: flex;
                        font-size: 12px;
                        color: #343434;
                        transform: rotate(0deg);
                            transition: all .3s;
                    }
                }
                .desc {
                    padding-left: 63px;
                    padding-right: 57px;
                    padding-bottom: 32px;
                    p {
                        color: #343434;
                        font-size: 13px;
                        font-weight: 500;
                        font-style: italic;
                        margin-bottom: 34px;
                    }
                    .item {
                        display: flex;
                        align-items: flex-start;
                        .name {
                            display: flex;
                            align-items: center;
                            margin-right: 14px;
                            &:before {
                                content: "";
                                width: 7px;
                                height: 7px;
                                background-color: #f7a81d;
                                margin-right: 13px;
                            }
                            span {
                                color: #909090;
                                font-size: 13px;
                                font-weight: 500;
                                letter-spacing: 0.39px;
                            }
                        }
                        .todos {
                            .item-pdv {
                                margin-bottom: 11px;
                                h4 {
                                    color: #343434;
                                    font-size: 12px;
                                    font-weight: 400;
                                    margin-bottom: 5px;
                                }
                                ul {
                                    li {
                                        color: #d0456e;
                                        font-size: 12px;
                                        font-weight: 500;
                                    }
                                }
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &#rota-usuarios{
        .topo{
            padding-left: 0px ;
        }
        &.area-conteudo-modulo{
            .todos-usuarios-sites{
                .item{
                    .item-head{
                        li{
                            .status{
                                width: 118px;
                            }
                        }
                    }
                }
            }
        }
        &.area-conteudo-modulo{
            .todos-usuarios-sites{
                .item{
                    .item-head{
                        li{
                            #status-usuario-campanha{
                                      
                            } 
                            
                            .btn-switch{
                                width: 103px;
                                &:before{
                                    font-size: 10px;
                                    top: 9px;
                                }
                                &.active{
                                    .square{
                                        right: 75px;     
                                    }
                                }
                            }
                        }    
                    }    
                }
            }
        }
    }
}