.s-area-portal {
    .topo {
        width: 100%;
        height: 71px;
        border-bottom: 1px solid #cbcbcb;
        position: relative;
        .nav-tabs {
            display: flex;
            height: 71px;
            align-items: center;

            li {
                &.active {
                    background: $roxo;
                    .container-filtro{
                        opacity: 1;
                        pointer-events: all;
                    }
                    i {
                        color: #ffffff;
                    }
                }
                span {
                    width: 89px;
                    height: 71px;
                    cursor: pointer;
                    @include centralizar();
                    i {
                        font-size: 20px;
                        color: #909090;
                    }
                }

                .container-filtro{
                    position: absolute;
                    z-index: 30;
                    background-color: #fff;
                    margin-left: auto;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 30px;
                    opacity: 0;
                    pointer-events: none;
                    display: flex;
                    align-items: center;
                    width: auto;
                    .form-group {
                        margin-bottom: 0px;
                        margin-right: 17px;
                        width: 250px;
                        position: relative;
                        label {
                            font-size: 12px;
                        }
                        input[type=text] {
                            height: 36px;
                            font-size: 13px;
                            padding-right: 35px;
                        }

                        button{
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);
                            i{
                                color: #000;
                            }
                        }
                    }

                    .btn{
                        height: 35px;
                        display: flex;
                        align-items: center;
                        position: relative;
                        z-index: 99999;
                        top: unset;
                        left: unset;
                        right: unset;
                        bottom: unset;
                        margin-right: 30px;
                        @include estilo-btn(220px, 36px, $verde, transparent, 14px);
                        i{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .btn {
            position: absolute;
            top: 11px;
            right: 59px;
            width: 55px;
            height: 47px;
            background-color: #1cde90;
            border: 2px solid #1cde90;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn-limpar-popups{
            @include estilo-btn(130px, 46.5px, $verde, transparent, 12px);
            margin-top: -2px;
            margin-right: 140px;
            margin-left: auto;
        }

    }

    .tab-pane {
        width: 100%;
        height: calc(100vh - 71px);
        background-color: #f8f8f8;
        overflow: auto;
        padding: 30px;
        &#cupons,
        &#lote {
            padding: 0;
            .item {
                width: 100%;
                height: 57px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 30px;
                padding-right: 66px;
                background: #ffffff;
                border-bottom: 1px solid #e2e2e2;
                .n-lote {
                    display: flex;
                    align-items: center;
                    button {
                        width: auto;
                        height: auto;
                        margin-right: 45px;
                    }
                }
                strong {
                    color: #343434;
                    font-size: 14px;
                    font-weight: 600;
                }
                span {
                    color: #909090;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }

    .dropdown {
        position: absolute;
        top: 1px;
        left: -70px;
        z-index: 1;
        padding: 10px;
        height: auto;
        width: auto;
        background-color: #4b4b4b;
        border-radius: 3px;
        transition: all .3s;
        z-index: 3;
        opacity: 0;
        pointer-events: none;
        ul {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            li {
                margin-bottom: 8px;
                width: 100%;
                &:last-child {
                    margin-bottom: 0px;
                }
                a {
                    @include grid-linha();
                    align-items: center;
                    i {
                        font-size: 14px;
                        color: #f7a81d;
                        margin-right: 8px;
                    }
                    img {
                        width: 14px;
                        margin-right: 8px;
                    }
                    span {
                        color: #ffffff;
                        font-size: 12px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
            }
        }
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid #4b4b4b;
            position: absolute;
            right: -8px;
            top: 50%;
            margin-top: -8px;
        }
        &.active {
            opacity: 1;
            pointer-events: all;
            left: -85px;
            transition: all .3s;
        }
    }

    .todos-banners {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(334px, 334px));
        grid-gap: 15px;
        flex-wrap: wrap;
        .box-banner {
            position: relative;
            width: 100%;
            height: auto;
            box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
            border: 1px solid #e2e2e2;
            background-color: #ffffff;
            padding: 35px;
            display: flex;
            align-items: flex-start;

            &:before {
                content: "";
                width: 46px;
                height: 1px;
                border-top: 2px solid #f77e0b;
                position: absolute;
                top: 0;
                left: 35px;
            }

            button {
                background: transparent;
                margin-right: 15px;
                img {
                    display: block;
                }

                .dropdown {
                    position: absolute;
                    top: 13px;
                    left: 40px;
                    z-index: 1;
                    width: auto;
                    height: auto;
                    padding: 10px;
                    background-color: #4b4b4b;
                    border-radius: 3px;
                    transition: all .3s;
                    z-index: 3;
                    opacity: 0;
                    pointer-events: none;
                    ul {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        li {
                            margin-bottom: 8px;
                            width: 100%;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            a {
                                @include grid-linha();
                                align-items: center;
                                i {
                                    font-size: 14px;
                                    color: #f7a81d;
                                    margin-right: 8px;
                                }
                                img {
                                    width: 14px;
                                    margin-right: 8px;
                                }
                                span {
                                    color: #ffffff;
                                    font-size: 12px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }

                    &:before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 0;
                        height: 0;
                        border-top: 8px solid transparent;
                        border-bottom: 8px solid transparent;
                        border-left: 8px solid #4b4b4b;
                        position: absolute;
                        transform: rotate(180deg);
                        left: -8px;
                        top: 50%;
                        margin-top: -8px;
                    }

                    &.active {
                        opacity: 1;
                        pointer-events: all;
                        left: 60px;
                        transition: all .3s;
                    }
                }
            }

            .info {
                .thumb {
                    width: 220px;
                    height: 165px;
                    margin-bottom: 20px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border: 1px solid #eee;
                        padding: 10px;
                    }
                }
                ul {
                    li {
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 7px;
                            height: 7px;
                            background-color: #f7a81d;
                            margin-right: 13px;
                        }
                        &[status="ativo"] {
                            &:before {
                                background-color: $verde;
                            }
                        }
                        span {
                            color: #909090;
                            font-size: 13px;
                            font-weight: 500;
                            letter-spacing: 0.26px;
                        }
                    }
                }
            }
        }
    }

    .todas-categorias {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
        grid-gap: 30px;
        flex-wrap: wrap;
        .box-categoria {
            position: relative;
            width: 100%;
            height: 130px;
            box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
            border: 1px solid #e2e2e2;
            background-color: #ffffff;
            display: flex;
            align-items: flex-start;
            padding: 27px;
            button {
                margin-top: 4px;
                margin-right: 18px;
                .dropdown {
                    position: absolute;
                    top: -3px;
                    left: 40px;
                    z-index: 1;
                    width: auto;
                    height: auto;
                    padding: 10px;
                    background-color: #4b4b4b;
                    border-radius: 3px;
                    transition: all .3s;
                    z-index: 3;
                    opacity: 0;
                    pointer-events: none;
                    ul {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        li {
                            margin-bottom: 8px;
                            width: 100%;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            a {
                                @include grid-linha();
                                align-items: center;
                                i {
                                    font-size: 14px;
                                    color: #f7a81d;
                                    margin-right: 8px;
                                }
                                img {
                                    width: 14px;
                                    margin-right: 8px;
                                }
                                span {
                                    color: #ffffff;
                                    font-size: 12px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }

                    &:before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 0;
                        height: 0;
                        border-top: 8px solid transparent;
                        border-bottom: 8px solid transparent;
                        border-left: 8px solid #4b4b4b;
                        position: absolute;
                        transform: rotate(180deg);
                        left: -8px;
                        top: 50%;
                        margin-top: -8px;
                    }

                    &.active {
                        opacity: 1;
                        pointer-events: all;
                        left: 50px;
                        transition: all .3s;
                    }
                }
            }
            .info {
                h3 {
                    color: #343434;
                    font-size: 18px;
                    font-weight: 700;
                }
                ul {
                    margin-top: 18px;
                    li {
                        color: #909090;
                        font-size: 13px;
                        font-weight: 500;
                        letter-spacing: 0.26px;
                        &[status="ativo"] {
                            &:before {
                                background-color: $verde;
                            }
                        }
                        &:before {
                            content: "";
                            width: 7px;
                            height: 7px;
                            background-color: #f7a81d;
                            display: inline-block;
                            margin-right: 13px;
                        }
                    }
                }
            }
            .icone {
                position: absolute;
                right: 43px;
                bottom: 34px;
                color: $roxo;
                font-size: 33px;
                display: flex;
            }
        }
    }

    .dados-cartoes {
        position: relative;
        .item {
            border-top: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            height: 57px;
            overflow: hidden;
            transition: all .3s;

            &[status="ativo"]{
                .item-head {
                    &:nth-child(4) {
                        span {
                            &:before {
                                content: "";
                                width: 7px;
                                height: 7px;
                                background-color: #00ff9d;
                                display: inline-block;
                                margin-right: 13px;
                            }
                        }
                    }
                }
            }
            &.item-expand {
                height: auto;
                transition: all .3s;
            }
            .item-head {
                display: grid;
                grid-template-columns: repeat(5, 1fr);

                height: 57px;
                align-items: center;
                cursor: pointer;

                .seta {
                    position: absolute;
                    right: 0;
                    color: $laranja;
                    font-size: 14px;
                }

                li {
                    .list-categorias {
                        display: flex;
                        align-items: center;
                        li {
                            margin-left: 19px;
                            font-size: 20px;
                            &:first-child {
                                margin-left: 0px;
                            }
                            i {
                                color: $roxo;
                            }
                        }
                    }

                    button{
                        .dropdown{
                            left: 25px;
                            top: unset;
                            margin-top: -50px;
                            ul{
                                li{
                                    a{
                                        span{
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                            &:before{
                                transform: rotate(180deg);
                                right: unset;
                                left: -8px;
                            }
                            &.active{
                                left: 40px;
                            }
                        }
                    }

                    button {
                        margin-right: 48px;
                    }
                    &:first-child {
                        span {
                            color: #343434;
                            font-size: 14px;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                    }
                    span {
                        color: #909090;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
            .item-body {
                display: grid;
                align-items: flex-start;
               grid-template-columns: repeat(5, 1fr);
               margin-top: 44px;
               padding-bottom: 71px;
               .cartao {
                .thumb {
                    width: 202px;
                    height: 129px;
                    margin-bottom: 19px;
                    img {
                        width: 100%;
                    }
                }
                span {
                    color: #d0456e;
                    font-size: 13px;
                    font-weight: 400;
                    letter-spacing: 0.26px;
                    &:before {
                        content: "";
                        width: 7px;
                        height: 7px;
                        background-color: #f7a81d;
                        display: inline-block;
                        margin-right: 13px;
                    }
                }
               }
               .tipo-cartao {
                .selo {
                    display: block;
                    width: 142px;
                    height: 33px;
                    border-radius: 30px;
                    margin-bottom: 8px;
                    @include centralizar();
                    &.selo-laranja {
                        background: $roxo;
                    }
                    &.selo-roxo {
                        background: $laranja;
                    }
                    img {
                        margin-right: 7px;
                    }
                    span {
                        color: #ffffff;
                        font-size: 13px;
                        font-weight: 400;
                        letter-spacing: 0.22px;
                        line-height: 20px;
                        text-transform: uppercase;
                    }
                }
               }
               label {
                    color: #d0456e;
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: 0.26px;
                    display: block;
                    margin-bottom: 11px;
                }
                p {
                    color: #909090;
                    font-size: 14px;
                    font-weight: 500;
                    max-width: 246px;
                }
            }
        }
    }
}

#rota-popups{
    .todos-banners{
        .box-banner{
            button{
                .dropdown{
                    top: 0px;
                    &.active{
                        top: 0px;
                    }
                }
            }
        }
    }
}

#rota-cupons{
    .tab-pane{
        &#cupons{
            .loader{
                z-index: 1000;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                i{
                    font-size: 50px;
                    color: #F7A81D;
                }
            }
            .container-itens{
                position: relative;
                .dropdown {
                    position: absolute;
                    top: 0px;
                    left: 45px;
                    z-index: 1;
                    padding: 10px;
                    height: auto;
                    width: auto;
                    background-color: #4b4b4b;
                    border-radius: 3px;
                    transition: all .3s;
                    z-index: 3;
                    opacity: 0;
                    pointer-events: none;
                    ul {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        li {
                            margin-bottom: 8px;
                            width: 100%;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            a {
                                @include grid-linha();
                                align-items: center;
                                i {
                                    font-size: 14px;
                                    color: #f7a81d;
                                    margin-right: 8px;
                                }
                                img {
                                    width: 14px;
                                    margin-right: 8px;
                                }
                                span {
                                    color: #ffffff;
                                    font-size: 12px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                    &:before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 0;
                        height: 0;
                        border-top: 8px solid transparent;
                        border-bottom: 8px solid transparent;
                        border-left: 8px solid #4b4b4b;
                        position: absolute;
                        left: -8px;
                        top: 50%;
                        margin-top: -8px;
                        transform: rotate(180deg)
                    }
                    &.active {
                        opacity: 1;
                        pointer-events: all;
                        left: 60px;
                        transition: all .3s;
                    }
                }

                .item{
                    &.itens-cupons{
                        .n-lote, strong, span{
                            flex: 1;
                        }

                        .n-lote{
                            strong{
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
