.todos-relatorios{
      padding: 30px;
      // width: calc(100% - 112px);
      margin-left: auto;

      .container-relatorio-acesso{
            .relatorio-acesso{
                  display: flex;
                  padding-top: 48px;
                  padding-bottom: 48px;
                  position: relative;
                  &:before{
                        content: '';
                        display: block;
                        background-color: #e2e2e2;
                        position: absolute;
                        top: 0px;
                        left: -30px;
                        width: calc(100% + 60px);
                        height: 1px;
                  }
                  .text-img-relatorio{
                        display: flex;
                        align-items: center;
                        h1{
                              color: #F7A81D;
                              font-size: 22px;
                              font-weight: 700;
                              text-transform: uppercase;      
                              line-height: unset;
                        }

                        img{
                              display: block;
                              margin-top: 6px;
                              padding-right: 15px;
                        }
                  }
                  

                  form{
                        margin-left: auto;
                        display: flex;
                        align-items: center;
                        .container-form{
                              position: relative;
                              &:first-child{
                                    margin-right: 24px;
                              }
                              label{
                                    color: #7e7e7e;
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 15px;     
                                    position: absolute;
                                    top: -8px;
                                    left: 13px;
                                    padding: 0px 5px;
                                    background-color: #fff;
                              }

                              input{
                                    width: 195px;
                                    height: 35px;
                                    border: 1px solid #cecece;      
                                    border-radius: 5px;
                                    padding-left: 15px;
                              }
                        }
                  }
            }

            .relatorio-graficos-acesso{
                  display: grid;
                  grid-template-columns: 40% 60%;
                  box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                  border: 1px solid #e2e2e2;
                  background-color: #ffffff;
                  width: 100%;
                  
                  .container-esq{
                        width: 100%;
                        border-right: 1px solid #e2e2e2;
                        .container-resumo-acesso{
                              display: flex;
                              padding-top: 39px;
                              padding-bottom: 20px;
                              border-bottom: 1px solid #e2e2e2;
                              .itens-acesso{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    text-align: center;
                                    flex: 1;
                                    img{
                                          height: auto;
                                          display: block;
                                          &:nth-child(2){
                                                margin-top: 11px;
                                                margin-bottom: 8px;
                                          }
                                    }

                                    .text-acesso{
                                          h1{
                                                color: #000000;
                                                font-size: 20px;
                                                font-weight: 700;
                                                margin-bottom: 3px;
                                          }

                                          p{
                                                font-size: 12px;
                                                font-weight: 400;
                                                text-transform: uppercase;
                                                width: 82px;
                                          }
                                    }
                              }
                        }

                        .visualiacao-paginas{
                              border-bottom: 1px solid #e2e2e2;
                              padding-top: 30px;
                              padding-bottom: 40px;
                              h1{
                                    padding-left: 51px; 
                                    color: #e3547f;
                                    font-size: 14px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    position: relative;
                                    &:before{
                                          content: '';
                                          display: block;
                                          height: 5px;
                                          width: 5px;
                                          background-color: #e3547f;
                                          position: absolute;
                                          border-radius: 50%;
                                          top: 50%;
                                          left: 43px;
                                          transform: translateY(-50%);     
                                    }
                              }

                              .text-paginas{
                                    display: flex;
                                    
                                    margin-top: 25px;
                                    .visitas-text, .visitas-text{
                                          display: flex;
                                          align-items: center;
                                          p{
                                                color: #000000;
                                                font-size: 12px;
                                                font-weight: 400;
                                                text-transform: uppercase;
                                          }  
                                          h3{
                                                color: #000000;
                                                font-size: 19px;
                                                font-weight: 700;
                                                margin-left: 12px;                                          
                                          }     
                                    }

                                    .visitas-text{
                                          margin-left: 49px;       
                                    }
                              }  
                        }

                        .visualizacao-usuarios{
                              border-bottom: 1px solid #e2e2e2;
                              
                              h1{
                                    color: #000000;
                                    font-size: 14px;
                                    font-weight: 700;
                                    text-transform: uppercase;    
                                    padding-left: 51px;  
                                    margin-top: 33px;
                              }
                        }

                        .container-sessoes-acesso{
                              padding-left: 46px;
                              padding-right: 46px;
                              margin-top: 53px;
                              margin-bottom: 83px;
                              h3{
                                    color: #000000;
                                    font-size: 14px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                              }

                              .sessoes-acesso{
                                    margin-top: 42px;
                                    display: flex;
                                    .itens-sessoes{
                                          display: flex;
                                          flex: 1;
                                          
                                          &:last-child{
                                                margin-right: 0px;
                                                .itens-img-sessoes{
                                                      margin-left: auto;
                                                }
                                          }
                                          .itens-img-sessoes{
                                                display: flex;
                                                align-items: center;
                                                img{
                                                      &:last-child{
                                                            margin: 0px 13px;
                                                      }
                                                }
                                          }

                                          .itens-text-sessoes{
                                                h1{
                                                      color: #000000;
                                                      font-size: 17px;
                                                      font-weight: 400;
                                                      text-transform: uppercase;
                                                }     
                                                h2{
                                                      color: #000000;
                                                      font-size: 28px;
                                                      font-weight: 700;
                                                }  
                                          }      
                                    }
                              }
                        }
                  }

                  .container-dir{
                        width: 100%;
                        .container-paginas-acesso{
                              padding-left: 46px;
                              margin-top: 62px;
                              padding-bottom: 79px;
                              display: flex;
                              border-bottom: 1px solid #e2e2e2;
                              .paginas-mais-acessadas, .categorias-mais-acessadas, .produtos-mais-acessadas{
                                    flex: 1;
                                    h1{
                                          color: #030303;
                                          font-size: 18px;
                                          font-weight: 700;
                                          text-transform: uppercase;   
                                          margin-bottom: 42px;   
                                    }
                                    .loader-acessos{
                                          margin-bottom: 16px;
                                          &:last-child{
                                                margin-bottom: 0px;
                                          }
                                          h3{
                                                color: #343434;
                                                font-size: 14px;
                                                font-weight: 700;
                                                text-transform: uppercase;      
                                          }
            
                                          p{
                                                color: #909090;
                                                font-size: 12px;
                                                font-weight: 400;
                                                text-transform: uppercase;
                                                margin: 3px 0px;      
                                          }
            
                                          .container-width{
                                                position: relative;
                                                width: 178px;
                                                
                                                span{
                                                      &:nth-child(1){
                                                            display: block;
                                                            width: 100%;
                                                            height: 11px;
                                                            background-color: #f2f2f2;
                                                      }
                                                      
                                                      &:nth-child(2){
                                                            display: block;
                                                            width: 0px;
                                                            height: 11px;
                                                            background-color: #e3547f;   
                                                            position: absolute;
                                                            top: 0px;
                                                            left: 0px;   
                                                            transition:  all .5s;
                                                      }
                                                }
            
                                                p{
                                                      color: #e3547f;
                                                      font-size: 14px;
                                                      font-weight: 700;
                                                      position: absolute;
                                                      top: -4px;
                                                      right: -65px;
                                                }
                                          }
                                    }      
                              }      

                              .categorias-mais-acessadas{
                                    flex: 1;
                              }

                              .produtos-mais-acessadas{
                                    flex: 1;
                              }
                        }  
                        
                        .container-app-acesso{
                              padding-left: 119px;
                              padding-right: 118px;
                              padding-top: 50px;
                              padding-bottom: 24px;
                              h1{
                                    color: #000000;
                                    font-size: 14px;
                                    font-weight: 700;
                                    text-transform: uppercase;       
                              }

                              .container-porcentagem-mobile{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    .apple{
                                          display: flex;
                                          align-items: flex-end;
                                          .apple-text{
                                                h3{
                                                      color: #f77e0b;
                                                      font-size: 28px;
                                                      font-weight: 700;      
                                                }
      
                                                p{
                                                      color: #000000;
                                                      font-size: 14px;
                                                      font-weight: 400;
                                                      text-transform: uppercase;      
                                                }
                                          }
      
                                          .apple-img{
                                                display: flex;
                                                align-items: center;
                                                img{
                                                      display: block;
                                                      &:first-child{
                                                            margin-left: 16px;
                                                            margin-right: 15px;
                                                            
                                                      }
                                                }
                                          }
                                    }

                                    .donuts-apple-android{
                                          position: relative;
                                          .donutchart{
                                                position: relative;
                                                z-index: 30;
                                          }
                                          .img-mobile-acesso{
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%, -50%);
                                                z-index: 1;
                                          }      
                                    }

                                    .android{
                                          display: flex;
                                          align-items: flex-end;
                                          .android-text{
                                                h3{
                                                      color: #aac148;
                                                      font-size: 28px;
                                                      font-weight: 700;      
                                                }

                                                p{
                                                      color: #000000;
                                                      font-size: 14px;
                                                      font-weight: 400;
                                                      text-transform: uppercase;      
                                                }
                                          }
                                          .android-img{
                                                display: flex;
                                                align-items: center;
                                                img{
                                                      display: block;
                                                      &:last-child{
                                                            margin-left: 20px;
                                                            margin-right: 14px;       
                                                      }
                                                }
                                          }
                                    }

                                    .total-acesso-usuario{
                                          display: flex;
                                          margin-left: 84px;
                                          .total-acesso{
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                text-align: center;    
                                                width: 51px;  
                                                margin-right: 61px;
                                                img{
                                                      display: block;
                                                      &:nth-child(2){
                                                            margin: 7px 0px;      
                                                      }
                                                }
                                                p{
                                                      color: #000000;
                                                      font-size: 12px;
                                                      font-weight: 400;
                                                      text-transform: uppercase;    
                                                      line-height: unset;   
                                                }
                                                h3{
                                                      color: #000000;
                                                      font-size: 20px;
                                                      font-weight: 700;       
                                                }
                                          }

                                          .total-usuario{
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                text-align: center;    
                                                width: 51px;  
                                                
                                                img{
                                                      display: block;
                                                      &:nth-child(2){
                                                            margin: 7px 0px;      
                                                      }
                                                }
                                                p{
                                                      color: #000000;
                                                      font-size: 12px;
                                                      font-weight: 400;
                                                      text-transform: uppercase;    
                                                      line-height: unset;   
                                                }
                                                h3{
                                                      color: #000000;
                                                      font-size: 20px;
                                                      font-weight: 700;       
                                                }
                                          }
                                    }      
                              }
                        }       
                  }
            }       
      }
}