a {
    text-decoration: none;
}

button {
    background: transparent;
    cursor: pointer;
}

img {
    display: block;
}

*{
    list-style:none;
    text-decoration:none;
    margin:0;
    padding:0;
    border:0;
    color:#23292e;
    box-sizing:border-box;
    outline:0;
    font-family: 'Barlow', sans-serif;
}