.s-resgates {
	display: grid;
	grid-template-columns: 24.1% 1fr;
	.sidebar-resgate {
		background-color: #992c4c;
		padding-top: 36px;
		padding-bottom: 36px;
		.cont {
			width: 80%;
			margin: 0 auto;
		}
		#status-lote {
			display: none;
			h4 {
				color: #ffffff;
				font-size: 14px;
				font-weight: 700;
				letter-spacing: 0.28px;
				line-height: 15px;
				margin-bottom: 38px;
				span {
					color: #ffffff;
				}
			}
			.btn {
				width: 45px;
				height: 36px;
				border: 1px solid #ff5588;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 3px;
			}
		}
		.titulo {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 16px;
			h1 {
				display: flex;
				align-items: center;
				color: #ffffff;
				font-size: 22px;
				font-weight: 700;
				text-transform: uppercase;
				i {
					font-size: 12px;
					color: $laranja;
					margin-right: 13px;
					display: flex;
				}
			}
		}
		p {
			color: #ffffff;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.28px;
			line-height: 15px;
			margin-bottom: 30px;
		}
		.form-group {
			position: relative;
			&#todos-pdvs {
				display: none;
			}
			img {
				position: absolute;
				top: 17px;
				right: 23px;
			}
			label {
				background: #992c4c;
				color: #ffffff;
			}
			input[type="text"],
			input[type="email"] {
				border: 1px solid #ff5588;
				color: #ffffff;
				&:focus {
					border: 1px solid $laranja;
				}
			}
			.select-custom {
				.item-selected {
					background: url("../../img/icons-adm/seta-select-branca.svg") no-repeat transparent center right 22px;
					border: 1px solid #ff5588;
					span {
						color: #ffffff;
					}
				}
			}
			.todos-pdvs {
				border: 1px solid #ff5588;
				background: transparent;
				border-radius: 4px;
				grid-template-columns: 1fr;
				.check {
					span {
						color: #dedede;
					}
				}
			}
			button {
				@include estilo-btn(100%, 47px, $verde, transparent, 14px);
			}
		}
	}
	.tabela-dados-resgate {
		height: auto;
		overflow: auto;
		position: relative;
		.loader{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			i{
				font-size: 50px;
				color: #F7A81D;
			}
		}
		.head {
			width: 100%;
			height: 39px;
			background-color: #343434;
			padding-left: 40px;
			padding-right: 6vw;
			display: grid;
			grid-template-columns:  16px repeat(8, 1fr) ;
			align-items: center;
			grid-column-gap: 30px;
			li {
				.check-square {
					display: block;
					width: 16px;
					height: 15px;
					border: 1px solid #909090;
					cursor: pointer;
					&.checked {
						background: $laranja;
						border: 1px solid $laranja;
						transition: all .3s;
					}
				}
				span {
					display: flex;
					color: #cecece;
					font-size: 11px;
					font-weight: 600;
					text-transform: uppercase;
				}
			}
		}
		.body {

			.item-table {
				border-bottom: 1px solid #e2e2e2;
				height: 54px;
				overflow: hidden;
				&.expand-item {
					height: auto;
					border: 1px solid #f7a81d;
					.dados {
						.icone-arrow-down {
							transform: rotate(180deg);
							transition: all .3s;
						}
					}
				}
				.dados {
					align-items: center;
					display: flex;
					// grid-template-columns: 16px repeat(7, 1fr);
					padding-left: 40px;
					padding-right: 5vw;
					grid-column-gap: 30px;
					height: 54px;
					position: relative;
					cursor: pointer;
					li {
						flex: 1;
						&:first-child{
							margin-right: 30px;
							flex: 0;
						}
						&:nth-child(2){
							width: 90px;
						}

						&:nth-child(3){
							width: 95px;
						}
						.check-square {
							width: 16px;
							height: 15px;
							border: 1px solid #cecece;
							background-color: #ffffff;
							display: block;
							transition: all .3s;
							cursor: pointer;
							&.checked {
								background: $laranja;
								border: 1px solid $laranja;
								transition: all .3s;
							}
						}
						span {
							color: #909090;
							font-size: 12px;
							font-weight: 500;
							width: 90%;
							display: block;
						}
						.pts {
							display: flex;
							align-items: center;
							i {
								display: flex;
								font-size: 18px;
								color: #d0456e;
								&.seta {
									color: $laranja;
									font-size: 12px;
									margin: 0px 9px;
								}
							}
							span {
								color: #d0456e;
								font-size: 14px;
								font-weight: 500;
							}
						}
						&:nth-child(2) {
							span {
								font-size: 14px;
								font-weight: 600;
								color: #343434;
							}
						}
					}
					.icone-arrow-down {
						position: absolute;
						right: 25px;
						font-size: 14px;
						color: $laranja;
						transform: rotate(0deg);
						transition: all .3s;
					}
				}
				.dados-gerais {
					margin-top: 35px;
					padding-bottom: 74px;
					padding-left: 86px;
					padding-right: 86px;
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					.item-dados {
						.title {
							display: flex;
							align-items: center;
							margin-bottom: 27px;
							i {
								display: flex;
								font-size: 22px;
								color: #d0456e;
								margin-right: 7px;
							}
							span {
								color: #343434;
								font-size: 12px;
								font-weight: 700;
								text-transform: uppercase;
							}
						}
						ul {
							li {
								margin-bottom: 11px;
								display: flex;
								&:last-child {
									margin-bottom: 0px;
								}
								i {
									display: flex;
									margin-right: 9px;
									color: $laranja;
									font-size: 12px;
								}
								span {
									display: flex;
									color: #d0456e;
									font-size: 14px;
									font-weight: 500;
									max-width: 154px;
								}
							}
						}
						.select-custom {
							.item-selected {
								width: 195px;
								height: 36px;
								span {
									color: #d0456e;
									font-size: 14px;
									font-weight: 500;
								}
							}
							.dropdown {
								top: 30px;
							}
							&.open-dropdown {
								.dropdown {
									top: 37px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: 1280px){
	.s-resgates{
		.tabela-dados-resgate{
			.body{
				.item-table{
					.dados{
						li{
							&:nth-child(3){


							}
						}
					}
				}
			}
		}
	}
}
