.form-group {
    position: relative;
    margin-bottom: 32px;
    &.focus {
        label {
            color: $laranja !important;
            transition: all .3s;
        }
        .select-custom {
            .item-selected {
                border: 1px solid $laranja;
                transition: all .3s;
                border-radius: 5px 5px 0px 0px;
            }
        }
    }
    #check-tempo {
        margin-top: 15px;
    }
    .box-ilhas {
        background-color: #f8f8f8;
        width: 100%;
        padding: 34px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        .item {
            width: 50%;
            margin-bottom: 38px;
            h3 {
                color: #343434;
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 14px;
            }
            .check {
                margin-bottom: 15px;
                span {
                    color: #d0456e;
                    font-weight: 500;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
    label {
        color: #7e7e7e;
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
        position: absolute;
        left: 8px;
        top: -8px;
        background: #ffffff;
        padding: 0px 11px;
        transition: all .3s;
        z-index: 1;
    }
    textarea {
        width: 100%;
        height: 164px;
        border: 1px solid #cecece;
        padding: 19px;
        font-size: 16px;
        border-radius: 3px;       
        font-weight: 500;
        color: #343434; 
        resize: none;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        height: 53px;
        border: 1px solid #cecece;
        background: transparent;
        font-size: 16px;
        font-weight: 500;
        color: #343434;
        padding: 0px 19px;
        border-radius: 3px;
        transition: all .3s;
        &:focus {
            border: 1px solid #f77e0b;
            transition: all .3s;
        }
    }
    &:last-child {
        margin-bottom: 0px;
    }
    .todos-pdvs {
        width: 100%;
        background-color: #f8f8f8;
        padding: 33px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        flex-wrap: wrap;
        .check {
            span {
                color: #d0456e;
            }
        }
    }
}

.double-form {
    display: grid;
    grid-template-columns: 1fr 95px;
    grid-column-gap: 35px;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 34px;
    margin-bottom: 32px;
    .form-group {
        margin-bottom: 0px;
    }
}

.select-custom {
    position: relative;
    .item-selected {
        width: 100%;
        height: 53px;
        border: 1px solid #cecece;
        background: url("/img/icons/seta-select-admin.svg") no-repeat #ffffff center right 22px;
        padding: 0px 19px;
        border-radius: 3px;
        -webkit-transition: all .3s;
        transition: all .3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            color: #343434;
            font-size: 16px;
            font-weight: 500;
        }
    }
    .dropdown {
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        z-index: 10;
        background: #ffffff;
        border: 1px solid #cecece;
        border-radius: 0px 0px 5px 5px;
        padding: 19px;
        opacity: 0;
        pointer-events: none;
        transition: all .3s;
        ul {
            li {
                margin-bottom: 15px;
                a {
                    color: #343434;
                    font-size: 17px;
                    font-weight: 500;
                    transition: all .3s;
                    &:hover {
                        color: $laranja;
                        transition: all .3s;
                    }
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
    &.open-dropdown {
        .dropdown {
            top: 54px;
            opacity: 1;
            pointer-events: all;
            transition: all .3s;
        }
    }
}

main {
    display: grid;
    grid-template-columns: 112px 1fr;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    nav {
        width: 100%;
        background-color: #4b4b4b;
        .logo {
            position: relative;
            width: 100%;
            height: 71px;
            background-color: $laranja;
            @include centralizar;
            i {
                position: absolute;
                bottom: -18px;
                background: #ffffff;
                width: 74px;
                height: 74px;
                border-radius: 50%;
                color: $laranja;
                font-size: 35px;
                @include centralizar();
            }
        }
        ul {
            padding-top: 51px;
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
                position: relative;
                margin-top: 35px;
                &:first-child {
                    margin-top: 0px;
                }
                a {
                    i {
                        display: flex;
                        font-size: 21px;
                        color: #909090;
                        transition: all .3s;
                    }
                    &:hover {
                        i {
                            color: $laranja;
                            transition: all .3s;
                        }
                    }
                }
                &.active {
                    &:before {
                        content: "";
                        width: 2px;
                        height: 40px;
                        background-color: $laranja;
                        position: absolute;
                        left: -45px;
                        top: -10px;
                    }
                    a {
                        i {
                            color: $laranja;
                        }
                    }
                }
            }
        }
    }
    .area-conteudo-modulo {
        .todos-usuarios {
            padding: 30px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 28px;
            flex-wrap: wrap;
        }

        .change-users{
            display: flex;
            .title{
                cursor: pointer;
                &:last-child{
                    margin-left: 15px;
                }
            }
        }

        .topo {
            width: 100%;
            height: 89px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 30px;
            padding-right: 23px;
            border-bottom: 1px solid #cbcbcb;
            .title {
                @include grid-linha();
                align-items: center;
                color: $laranja;
                font-size: 22px;
                font-weight: 700;
                text-transform: uppercase;
                i {
                    display: flex;
                    margin-right: 13px;
                    font-size: 14px;
                    color: #cecece;
                }
            }
            .acoes {
                display: flex;
                align-items: center;
                .pesquisa {
                    margin-right: 56px;
                    button {
                        i {
                            color: #b9b9b9;
                            font-size: 23px;
                        }
                    }
                }
                .btn {
                    @include estilo-btn(225px, 47px, $verde, transparent, 14px);
                }
            }
        }
    }
}

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.check {
    cursor: pointer;
    @include grid-linha();
    align-items: center;
    &.check-disponivel {
        span {
            font-size: 14px;
            font-weight: 500;
        }
    }
    &.check-temporaria {
        span {
            font-size: 14px;
            font-weight: 500;
        }
    }
    &.checked {
        .square {
            background-color: $laranja;
            transition: all .3s;
            border: 1px solid $laranja;
        }
    }
    .square {
        width: 16px;
        height: 16px;
        border: 1px solid #cecece;
        background-color: #ffffff;
        margin-right: 13px;
        transition: all .3s;
    }
    span {
        font-size: 12px;
        font-weight: 400;
    }
}

.btn-switch {
    position: relative;
    width: 121px;
    height: 30px;
    background-color: #d32626;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s;
    &.active {
        background-color: $verde;
        transition: all .3s;
        .square {
            right: 95px;
            transition: all .4s;
        }
        &:before {
            content: "ATIVO";
            left: 36px;
        }
    }
    .square {
        width: 23px;
        height: 23px;
        background-color: #ffffff;
        border-radius: 50%;
        position: absolute;
        right: 4px;
        top: 3px;
        transition: all .4s;
    }
    &:before {
        content: "BLOQUEADO";
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        top: 7px;
        left: 16px;
    }
}