.todos-midias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(416px , 1fr));
    padding: 32px;
    grid-gap: 26px;
    margin-bottom: 200px;
    .area-box {
        position: relative;
        .box-midia {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow: hidden;
            box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
            border: 1px solid #e2e2e2;
            background-color: #ffffff;
            &.box-expand {
                position: absolute;
                height: auto;
                border: 1px solid #f7a81d;
                z-index: 1;

                .area-desc {
                    height: auto;
                    .info-desc {
                        display: block;
                    }
                }
            }
            .info-midia {
                display: flex;
                flex-direction: column;
                flex: 1 0 auto;
                padding: 30px;
                padding-bottom: 14px;
                display: flex;
                align-items: flex-start;
                button {
                    margin-right: 27px;
                }
                .dados {
                    h3 {
                        color: #343434;
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 18px;
                    }
                    .info {
                        display: flex;
                        align-items: center;
                        .thumb {
                            margin-right: 46px;
                            .img {
                                width: 97px;
                                height: 72px;
                                margin-bottom: 11px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .tipo {
                                @include grid-linha();
                                justify-content: center;
                                align-items: center;
                                i {
                                    display: flex;
                                    font-size: 10px;
                                    margin: 0px 8px;
                                    color: $laranja;
                                }
                                span {
                                    color: #d0456e;
                                    font-size: 13px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }
                            }
                        }
                        ul {
                            li {
                                color: #909090;
                                font-size: 13px;
                                font-weight: 500;
                                letter-spacing: 0.39px;
                                margin-bottom: 3px;
                                &:before {
                                    content: "";
                                    display: inline-block;
                                    width: 7px;
                                    height: 7px;
                                    background-color: #f7a81d;
                                    margin-right: 12px;
                                }
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
            .area-desc {
                width: 100%;
                height: 63px;
                border-top: 1px solid #cecece;
                .topo-desc {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 63px;
                    height: 63px;
                    cursor: pointer;
                    h3 {
                        color: #d0456e;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .seta {
                        font-size: 14px;
                    }
                }
                .info-desc {
                    display: none;
                    padding: 0px 63px;
                    padding-bottom: 45px;
                    p {
                        color: #343434;
                        font-size: 14px;
                        font-weight: 500;
                        font-style: italic;
                        margin-bottom: 15px;
                    }
                    .arquivo {
                        display: flex;
                        flex-direction: column;
                        span {
                            color: #909090;
                            font-size: 13px;
                            font-weight: 500;
                            letter-spacing: 0.39px;
                            margin-bottom: 4px;
                            &:before {
                                content: "";
                                width: 7px;
                                height: 7px;
                                background-color: #f7a81d;
                                display: inline-block;
                                margin-right: 6px;
                            }
                        }
                        a {
                            color: #d0456e;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}