.todos-usuarios {
    .box-usuario {
        position: relative;
        width: 100%;
        height: 169px;
        box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
        border: 1px solid #e2e2e2;
        background-color: #ffffff;
        padding: 28px 22px;
        &:before {
            content: "";
            width: 46px;
            height: 1px;
            border-top: 2px solid #f7a81d;
            position: absolute;
            left: 22px;
            top: 0;
        }
        &[ status="ativo"] {
            ul {
                li {
                    &:last-child {
                        &:before {
                            content: "";
                            background: $verde;
                        }
                    }
                }
            }
        }
        h3 {
            color: #343434;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        ul {
            li {
                margin-bottom: 7px;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    background-color: #f7a81d;
                    margin-right: 13px;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
                span {
                    color: #909090;
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: 0.39px;
                }
            }
        }
    }
}

.area-conteudo-modulo{
    position: relative;
    .topo{
        .nav-tabs{
            li{
                span{
                    &[data-user="adm"]{
                        position: relative;
                        &:before{
                            content: '';
                            display: block;
                            -webkit-mask: url('/img/icon-adm.svg');
                            background-repeat: no-repeat;
                            background-color: #909090;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }    
                    }
                }
                &.active{
                    span{
                        &[data-user="adm"]{
                            position: relative;
                            &:before{
                                content: '';
                                display: block;
                                -webkit-mask: url('/img/icon-adm-active.svg');
                                background-repeat: no-repeat;
                                background-color: #fff;
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }    
                        }
                    }    
                }
            }
        }
    }
    .todos-usuarios{
        position: absolute;
        z-index: -1;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        transition: all .1s;
        &.active{
            position: static;
            z-index: 0;
            opacity: 1;
            pointer-events: all;
            transition: all .5s;
        }    
    }
    .todos-usuarios-sites {
        position: absolute;
        top: 89px;
        z-index: -1;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        transition: all .5s;
        &.active{
            position: static;
            z-index: 0;
            opacity: 1;
            pointer-events: all;
            transition: all .5s;
        }
        .item {
            width: 100%;
            height: 54px;
            overflow: hidden;
            padding: 0px 77px;
            background: #ffffff;
            border-bottom: 1px solid #e2e2e2;
            &.expand-item {
                height: auto;
                border: 1px solid #f7a81d;
                .item-head {
                    li {
                        &:last-child {
                            .icone-arrow-down {
                                transform: rotate(180deg);
                                transition: all .3s;
                            }
                        }
                    }
                }
            }
    
            .item-head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 54px;
                cursor: pointer;
    
                .dropdown {
                    position: absolute;
                    z-index: 1;
                    width: 100px;
                    height: 65px;
                    background-color: #4b4b4b;
                    border-radius: 3px;
                    transition: all .3s;
                    z-index: 3;
                    opacity: 0;
                    left: 0px;
                    pointer-events: none;
                    ul {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        li {
                            margin-bottom: 8px ;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                            a {
                                @include grid-linha();
                                align-items: center;
                                i {
                                    font-size: 14px;
                                    color: #f7a81d;
                                    margin-right: 8px;
                                }
                                img {
                                    width: 14px;
                                    margin-right: 8px;
                                    margin-left: 0px;
                                }
                                span {
                                    color: #ffffff;
                                    font-size: 12px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                    &:before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 0;
                        height: 0;
                        border-top: 8px solid transparent;
                        border-bottom: 8px solid transparent;
                        border-left: 8px solid #4b4b4b;
                        position: absolute;
                        right: 13px;
                        bottom: -11px;
                        transform: rotate(90deg);
                        margin-top: -8px;
                    }
                    &.active {
                        opacity: 1;
                        pointer-events: all;
                        right: 35px;
                        transition: all .3s;
                        margin-top: -60px;
                    }
                }
    
                li {
                    flex: 1;
                    
                    &:first-child {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 29px;
                        }
                        h3 {
                            color: #343434;
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                    &:last-child {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        i {
                            font-size: 12px;
                            color: $laranja;
                            display: flex;
                            transform: rotate(0deg);
                            transition: all .3s;
                        }
                    }
                    span {
                        color: #909090;
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                    .status {
                        display: flex;
                        align-items: center;
                        .square {
                            width: 8px;
                            height: 8px;
                            margin-right: 12px;
                            background-color: gray;
                        }
                        span {
                            color: #909090;
                            font-size: 15px;
                            font-weight: 400;
                            text-transform: none;
                        }
                    }
                }
            }
            .item-body {
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                padding-bottom: 41px;
                li {
                    width: 25%;
                    label {
                        display: block;
                        color: #343434;
                        font-size: 11px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 12px;
                    }
                    .info {
                        @include grid-linha();
                        align-items: center;
                        .seta {
                            margin: 0px 9px;
                            font-size: 9px;
                            color: $laranja;
                            display: flex;
                        }
                        span {
                            color: #d0456e;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
            }
            &[status="ativo"] {
                .item-head {
                    li {
                        .status {
                            .square {
                                background-color: #00ff9d;
                            }
                        }
                    }
                }
            }
            &[status="bloqueado"] {
                .item-head {
                    li {
                        .status {
                            .square {
                                background-color: #ff0000;
                            }
                        }
                    }
                }
            }
        }
    
        
    }

}

@media(max-width: 1366px){
    .todos-usuarios{
        .box-usuario{
            h3{
                font-size: 13px;
            }
        }
    }
}