.s-resgates{
	&.vouchers{
		.tabela-dados-resgate{
			.body{
				.item-table{
					.dados-gerais{
						justify-content: flex-start;
						padding-right: 40px;
						.item-dados{
							margin-right: 75px;
							&:last-child{
								width: 50%;
								max-width: 593px;
								margin-right: 0px;
								margin-left: auto;
							}
							ul{
								li{
									span{
										max-width: unset;
									}

									.form-group{
										width: 100%;
										input[type=text]	{
											height: 35px;
										}
									}

									.btn-enviar {
										@include estilo-btn(115px, 35px, $verde, transparent , 12px);
										color: #ffffff;
										margin-left: 20px;
									}

									.btn-voucher-editar-link{
										@include estilo-btn(115px, 35px, $laranja, transparent , 12px);
										color: #ffffff;
										margin-left: 20px;
									}
								}
							}
						}
					}

					ul{
						&.dados{
							padding-right: 40px;
							.icone-arrow-down{
								position: static;
							}
						}
					}
				}
			}
		}
	}
}
