@media only screen and (max-width: 1366px) {
    #menu .box-itens {        
        width: 80%;
    }
    
    #menu .box-itens .bloco-imagem{
        width: 135px;
        height: 135px;        
    }
    
    #menu .box-itens .bloco-icones{
        margin: 30px 0;
        padding: 0px 20%;
    }   
    
    #menu .box-itens .bloco-links {
        width: 80%;
    }
    
    #menu .box-itens .bloco-links a {        
        height: 45px;
    }
    
    #menu .box-itens .bloco-icones a span {        
        width: 100%;
    }
    
    #modalCategoriasGerais .modal-body h1 {
        margin-top: 25px!important;
    }
    
    #modalCategoriasGerais .modal-body ul {        
        margin: 20px 0!important;
    }
    
    #modalCategoriasGerais .modal-body ul li {        
        margin-top: 20px!important;        
    }
    
    #modalCategoriasGerais .modal-body ul li img {
        width: 40px!important;
        height: 40px!important;
    }
    
    .menu-lateral-notificacoes .content .area-notificacoes {        
        width: 70%;                
    }
    
    .menu-lateral-notificacoes .content .area-notificacoes .topo::before {           
        width: 30%;        
    }
    
    .menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao {        
        height: 80px;
    }
    
    .menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .img-notificacao {         
        width: 80px;            
    }
    
    .menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .texto .titulo {                
        font-size: 13px;        
    }

    .menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .texto .mensagem {                    
        font-size: 12px;            
    }
}

@media only screen and (max-width: 1280px) {
    .banner-produtos-yetz {
        padding-bottom: 84px;
    }
    .espaco-titulo {
        margin-top: -16px !important;
    }
    .lista-produtos .produtos .prod h2 {
        font-size: 18px;
        margin-top: -8px !important;
    }
    .lista-produtos .produtos .prod .card {
        margin-top: 25px;
    }
    .fonte-personalizada {
        font-size: 18px;
    }
    .perso {
        margin-left: 100px !important;
        font-size: 22px !important;
    }
}

@media only screen and (max-width: 1200px) {
    .todas-categorias {
        height: 127px;
        float: left;
        width: 100%;
    }
    .produtos-destaques {
        margin: 0px;
        float: left;
        width: 100%;
    }
    .todas-notificacoes-all .box-notificacao .lado-dir {
        float: left;
        width: 162px;
        margin-top: 5px;
    }
    .todas-notificacoes-all .box-notificacao {
        padding: 25px 15px;
    }
    .header-novo .menu-novo li a {
        font-size: 11px;
        color: #663300;
    }
    .conteudo-passos-yetz-cards ul li a {
        width: 183px;
        display: table;
        margin: 0 auto;
    }
    .todos-passos .texto {
        width: 430px;
    }
    .todos-passos .passo h1 {
        font-size: 26px;
        border-left: none;
        padding-left: 0;
    }
    .todos-passos .passo p {
        font-size: 14px;
        padding-left: 0;
        text-align: center;
    }
    .todos-passos .passo img {
        display: table;
        margin: 0 auto;
        float: initial;
        padding: 15px 0px;
    }
    .menu-categorias {
        float: left;
        width: 100%;
    }
    .btn-categorias {
        outline: none !important;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #952743;
    }
    .menu-categorias .swiper-slide:last-child {
        border-right: 1px solid #952743;
    }
    .desc-prog h1 {
        font-size: 40px;
        margin-top: 70px;
    }
    .desc-prog h2 {
        font-size: 30px;
    }
    .descricao-breve-conheca .breve p {
        font-size: 17px;
    }
    .obter-produto {
        font-size: 22px !important;
    }
    .gradient-laranja {
        background-image: linear-gradient(to right, #FFAB00, #FFBA00);
    }
    .num-itens-carrinho {
        right: 35px !important;
    }
    .seta-dir-menu-novo {
        position: absolute;
        right: 2px;
        top: 13px;
    }
    .btn-resgatar-carrinho {
        padding: 15px 20px;
    }
    .resumo-carrinho .foto-produto-carrinho {
        margin-right: 15px;
    }
    .banner-produtos {
        display: table;
        width: 300px;
        margin: 0 auto;
    }
    .rodape .info-pontos {
        padding-left: 80px;
    }
    .acesso-site .marcas {
        margin-top: 0px;
        display: table;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .banner .menu {
        margin-left: 0px;
    }
    .banner .menu ul {
        display: table;
        margin: 0 auto;
        margin-left: 29px;
    }
    .cabecalho .logo {
        position: absolute;
        z-index: 1;
        width: 174px;
        background-color: #fff;
        padding: 10px 38px;
        border-radius: 6px;
        margin-top: -10px;
        margin-left: 120px;
    }
    .cabecalho .info-usuario {
        width: 100%;
        background: rgba(248, 188, 27, 1);
        padding-bottom: 50px;
        padding-left: 90px;
        padding-top: 10px;
        margin-left: 0;
    }
    .cabecalho .info-usuario:before {
        content: initial;
    }
    .cabecalho .info-usuario .saldo {
        color: #992d4c;
        font-style: italic;
        margin-right: 45px;
        margin-left: -105px;
        font-size: 14px;
        font-weight: lighter;
    }
    .banner {
        height: 346px;
    }
    .banner .setas {
        top: 280px;
    }
    .lista-produtos {
        margin-left: 0;
    }
    .menu-secundario .info-usuario .menu {
        display: table;
        margin: 0 auto;
        margin-top: 35px;
    }
    .desc-prog img {
        margin-top: 157px;
    }
    .breadcrumbs {
        margin-left: 166px;
    }
    .breadcrumbs h1 {
        margin-left: 88px;
    }
    .quadro-branco {
        width: 550px;
        position: relative;
        display: table;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .parag-branco {
        right: 70px;
    }
    .btn-cartao-yetz {
        right: 70px;
    }
    .logo-login {
        display: table;
        margin: 0 auto;
        float: initial !important;
    }
    .quadro-laranja {
        width: 550px;
        position: relative;
        display: table;
        margin: 0 auto;
    }
    .login {
        height: initial !important;
        background: #811837;
        padding-bottom: 30px;
    }
    .quadro-laranja .parg-laranja {
        left: 50px;
    }
    .btn-minha-area {
        left: 50px;
    }
    .header-novo .menu-novo {
        padding: 12px 0px 12px 14px;
        padding-left: 10px !important;
    }
    .header-novo .menu-novo li {
        margin-left: 8px;
        padding-right: 8px;
    }
    .header-novo .menu-novo li:first-child {
        margin-left: 17px;
        padding-right: 10px;
    }
    .todas-informacoes {
        padding: 10px 0px 10px 30px;
    }
    .saldo-novo {
        width: 288px;
    }
    .saldo-carrinho {
        margin-left: 175px;
    }
    .carrinho {
        width: 182px;
        margin-right: 0px;
    }
    .btn-carrinho-compras {
        width: 181px;
    }
    .btn-carrinho-compras #btn-carrinho {
        padding: 7px 55px 7px 22px;
    }
    .resumo-carrinho {
        left: 201px;
        width: 430px;
    }
    .topo-produto .etapas .etap {
        padding: 19px 25px;
    }
    .topo-produto .etapas .etap .seta-etapas {
        display: none;
    }
    #slider-range-min {
        margin-top: 20px;
    }
    .input-group-pesquisa {
        display: none;
    }
    .input-ordenacao {
        display: none;
    }
    .prod-destaques .btn-favoritar {
        padding: 4px 4px !important;
        width: 40px;
        height: 40px;
    }
    .prod-destaques .progress-amarelo, 
    .prod-destaques .progress-verde,
    .prod-destaques .progress-vermelho {
        width: 100px;
    }
    .geral-produto {
        margin-bottom: 60px;
    }
    .categorias-produtos {
        padding-bottom: 20px !important;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    footer nav .conteudo {
        width: 100%;
    }
    footer nav .conteudo .item {
        float: left;
        margin-left: 0;
        width: 33%;
        text-align: center;
        margin-bottom: 50px;
    }
    .apps {
        float: inherit;
        text-align: center;
        display: table;
        margin: 0 auto;
        margin-top: 50px;
    }
    footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    footer p {
        font-size: 11px;
    }
    #modal-video .modal-dialog {
        width: 90% !important;
    }
    .container-videos {
        width: 100%;
    }
    .container-videos {
        margin-bottom: 0px !important;
    }
    .videos {
        padding-bottom: 30px;
    }
    .card-video {
        width: 100% !important;
        max-height: auto !important;
    }
    .icon-videos + span {
        text-align: center !important;
        margin-left: 0px !important;
        position: initial !important;
    }
    .s-videos .icon-videos {
        display: table;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .description-video {
        font-size: 11px !important;
    }
    .img-video img {
        max-height: initial;
        display: table;
        margin: 0 auto;
        max-height: 158px;
    }
    .img-video {
        width: 100%;
        height: auto !important;
    }
    .todas-notificacoes-all {
        background: #f4f4f4;
        padding: 20px 0px 50px 0px;
    }   
    .todas-notificacoes-all .box-notificacao {
        padding: 25px 19px;
    }
    .conteudo-passos-yetz-cards ul li {
        margin-right: 0px;
        width: 33%;
        height: 155px;
        margin-top: 15px;
    }
    .todos-passos .passo {
        padding-right: 0;
    }
    .todos-passos .texto {
        width: 100%;
        text-align: center;
    }
    .menu-principal-novo{
        display: none;
    }
    .btn-carrinho-compras #btn-carrinho {
        display: none;
    }
    .usuario-novo {
        display: none;
    }
    .saldo-novo {
        display: none;
    }
    .swiper-categorias-produtos .swiper-pagination-bullet-active {
        opacity: 1;
        background: #faa61a;
    }
    .swiper-categorias-produtos .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
    #topo-pagina {
        margin-top: 20px;
    }
    .slide-todas-categorias {
        display: block;
        margin-top: -5px;
    }
    .swiper-categorias-produtos {
        overflow: hidden;
        position: relative;
        height: 100px;
    }
    .todos-prods-categorias {
        padding: 30px 0px;
    }
    .informacoes-pts {
        margin-top: 7px;
    }
    .menu-responsivo .area-logo {
        float: left;
    }
    .conteudo-duvidas-responsivo .panel-default .panel-heading {
        background-color: #801836;
        border-color: #801836;
        color: #ffbd00;
    }
    #titulo-duvidas-frequentes h1, #titulo-duvidas-frequentes h2  {
        font-size: 20px;
    }
    .fundo-cadastro {
        width: 100%;
        padding: 0px 35px 20px 35px;
    }
    .fundo-cadastro form h2 {
        text-align: center;
    }
    #btnTrocarSenha {
        float: initial !important;
        display: table;
        margin: 0 auto;
    }
    .fundo-cadastro form .btn-vermelho {
        display: table;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .image-editor {
        float: initial;
        width: 200px;
        display: table;
        margin: 0 auto;
    }
    .cropit-image-preview {
        display: table;
        margin: 0 auto;
        float: initial;
        margin-bottom: 20px;
    }
    .nome-usuario-cadastro {
        margin-top: 20px;
        text-align: center;
    }
    .cpf-usuario-cadastro {
        text-align: center;
    }
    .fundo-cadastro form .btn-verde {
        display: table;
        margin: 0 auto;
        float: initial !important;
        margin-bottom: 30px;
    }
    .fundo-cadastro form .checkbox {
        display: table;
        margin: 0 auto;
    }
    .conteudo-agradecimento img {
        padding-top: 40px;
    }
    .conteudo-agradecimento p {
        color: #fff;
        font-size: 20px;
        margin: 0px;
        text-align: center;
        margin-top: 30px;
    }
    .conteudo-agradecimento {
        background: url(fundo-login.jpg) no-repeat;
        height: auto;
        padding-bottom: 50px;
    }

    .topo-contato {
        padding: 20px 0px;
        background: #801836;
        margin-bottom: 0px;
    }
    .topo-contato img {
        margin-right: 0;
        display: table;
        margin: 0 auto;
        float: initial;
        margin-bottom: 20px;
    }
    .topo-contato h1 {
        margin-bottom: 0px;
        margin-top: 10px;
        text-align: center;
    }
    .formulario-contato {
        padding: 30px 0px;
        background: #f4f4f4;
    }
    .formulario-contato h2 {
        border-bottom: 3px solid #669933;
        padding-bottom: 10px;
        padding-left: 0px;
        border-left: none;
        margin-bottom: 0px;
        text-align: center;
    }
    .formulario-contato p {
        padding-right: 0;
        text-align: center;
    }
    .form-horizontal {
        padding-right: 0;
    }
    .chat-online {
        border-bottom: 3px solid #ff9933 !important;
        border-left: none !important;
    }
    .mensagem-offline {
        padding-left: 0px;
        text-align: center;
    }
    .status-chat {
        display: table;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        background: #fff;
    }
    .servicos-auxiliares {
        border-bottom: 3px solid #6699cc;
        padding-bottom: 20px;
        color: #666666;
        padding-right: 0px;
        border-left: none;
    }
    .conteudo-acompanhar {
        padding: 0px;
        margin-top: 0px;
    }
    .conteudo-contato {
        margin-top: 0px;
    }
    #titulo-duvidas-frequentes {
        margin-top: 106px;
    }
    .conteudo-acompanhe-seu-resgate {
        padding: 30px 0px;
    }
    .circulo-status {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-weight: normal;
        line-height: 100px;
        padding: 0px;
    }
    .conteudo-acompanhar .num-etapa {
        font-size: 13px;
        right: 10px;
    }
    #status-list li:after {
        top: 60px;
    }
    .conteudo-acompanhar #status-list li:first-child .circulo-status {
        line-height: 100px;
        padding: 0px;
    }
    .titulo-da-pagina img {
        margin-right: 0;
        display: table;
        margin: 0 auto;
        float: initial;
        margin-bottom: 20px;
    }
    .conteudo-mov select {
        width: 100%;
    }
    .conteudo-mov p {
        text-align: center;
    }
    .conteudo-movimentacao {
        padding: 30px 0px 0px 0px;
    }
    #slider-range-min {
        margin-top: 25px;
    }
    .titulo-da-pagina {
        padding: 20px 0px;
        background: #801836;
        margin-bottom: 0px;
    }
    .produtos-destaques {
        padding-bottom: 50px;
        margin-top: 76px !important;
    }
    .lista-produtos {
        margin-left: 0;
        padding: 40px 0px;
    }
    .titulo-da-pagina i {
        text-align: center;
        float: initial;
        display: table;
        margin: 0 auto;
    }
    .fundo-cinza {
        margin-top: 0px !important;
    }
    .titulo-da-pagina h1 {
        margin-bottom: 0px;
        margin-top: 10px;
        text-align: center;
    }
    .descricao-breve-conheca .breve {
        margin-top: 35px;
        text-align: center;
    }
    .descricao-breve-conheca .breve img {
        float: inherit;
        margin-right: 0px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .descricao-breve-conheca .breve p {
        font-size: 17px;
        padding-left: 0px;
        border: none;
        margin-bottom: 0px;
    }
    .desc-prog h1 {
        font-size: 40px;
        margin-top: 0;
        text-align: center;
    }
    .desc-prog {
        background-color: #f4f4f4;
        padding: 50px 0px;
        margin-top: 7px;
    }
    .cards-mulher {
        padding-top: 0;
    }
    .cards-mulher img {
        padding-bottom: 0px;
        display: table;
        margin: 0 auto;
    }
    .conteudo-prog p {
        text-align: center;
        font-size: 17px;
        padding: 0px;
    }
    .tela-extrato {
        display: table;
        margin: 0 auto;
        padding-bottom: 20px;
        margin-top: 20px;
    }
    .icone-lampada-circulo {
        display: table;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .cartao-simulacao {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .icone-carrinho-circulo {
        display: table;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .titulo-campanha-incentivo {
        font-size: 40px;
        margin-top: 0;
        text-align: center;
    }
    .card-favorito {
        padding-bottom: 0;
        float: initial;
        display: table;
        margin: 0 auto;
        margin-top: 50px;
    }
    .barra-colorida {
        display: table;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .parag-cartoes-yetz {
        margin-top: 30px;
    }
    .conteudo-prog {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .divisoria-conteudo {
        float: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .titulo-cartao-yetz-sobre {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
    }
    .desc-prog h2 {
        font-size: 26px;
        text-align: center;
    }
    .descricao-produto h2 {
        margin-left: 0;
    }
    .descricao-produto .valor-produto {
        margin-left: 0;
    }
    .descricao-produto p {
        margin-left: 0;
    }
    .descricao-produto .texto-insuficiente {
        margin-top: 15px;
    }
    .informacoes-produto .preco-produto {
        right: 0;
    }
    .descricao-produto .valor-produto .barra-progresso {
        display: table;
        margin: 0 auto !important;
        float: initial !important;
    }
    .descricao-produto h1 {
        margin-left: 0px;
    }
    .descricao-produto h1 span {
        font-size: 25px;
    }
    .prod-destaques .informacoes {
        margin-bottom: 50px;
    }
    .lampada-grande {
        font-size: 53px !important;
    }
    .descricao-produto {
        text-align: center;
    }
    .resumo-carrinho {
        width: 430px;
        right: 0px;
        left: initial;
        top: 150px;
        border-top: 2px solid #00a651;
    }
    .filtro {
        padding: 25px 0;
        margin-top: -5px;
        background: #801836;
        text-align: center;
    }
    .nome-categoria-novo {
        font-size: 20px;
        font-weight: bold;
        color: #fff !important;
        float: left;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        box-shadow: none;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: #ff9900 !important;
    }
    .topo-produto .etapas .etap {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .topo-produto .etapas .etap img {
        display: table;
        margin: 0 auto;
        float: initial;
    }
    .topo-produto .etapas .etap p {
        text-align: center;
        float: initial;
        margin-bottom: 0px;
    }
    .topo-produto .etapas .etap .seta-etapas {
        display: none;
    }
    .todas-categorias {
        display: none;
    }
    .banner {
        display: none;
    }
    .informacoes-usuario-responsivo .nome-usuario {
        color: #fff;
        text-align: center;
        margin-top: 40px;
    }
    .informacoes-usuario-responsivo .nome-usuario h2 {
        font-size: 40px;
        font-weight: 900;
        color: #f7b21e;
    }
    .informacoes-usuario-responsivo .nome-usuario .seta-baixo-responsivo {
        width: 30px;
        display: table;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .btn-resgatar-pts {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 10px;
        padding: 15px 30px;
        background-image: linear-gradient(to bottom, #c1f57c, #5ea304);
        border-bottom: none;
        outline: none;
        color: #fff;
    }
    .btn-resgatar-pts:focus, .btn-resgatar-pts:hover {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 10px;
        padding: 15px 30px;
        background-image: linear-gradient(to bottom, #c1f57c, #5ea304);
        border-bottom: none;
        outline: none;
        color: #fff;
    }
    .informacoes-usuario-responsivo {
        display: block !important;
        background: #8b1a3b;
        float: left;
        width: 100%;
        padding: 40px 0px;
        margin-top: 0px;
    }
    .informacoes-usuario-responsivo .foto-usuario {
        display: table;
        margin: 0 auto;
        width: 305px;
        height: 306px;
        border-radius: 50%;
        overflow: hidden;
        -webkit-box-shadow: -10px 10px 0px 0 #faa61a;
        box-shadow: -10px 10px 0px 0 #faa61a;
    }
    .informacoes-usuario-responsivo .foto-usuario img {
        border: 7px solid #fff;
        border-radius: 50%;
        width: 305px;
        height: 306px;
    }
    .menu-responsivo .btn-menu-usuario {
        background: transparent;
        border: none;
        padding: 0px;
        color: #fff;
        font-size: 30px;
        outline: none;
        margin-top: 5px;
        position: absolute;
        right: 80px;
        top: 10px;
    }
    .menu-responsivo .menu-usuario {
        position: absolute;
        background: #faa61a;
        top: 76px;
        z-index: 9999;
        right: 60px;
        padding: 15px 40px;
        border: 2px solid #801836;
        display: none;
    }
    .menu-responsivo .menu-usuario li {
        padding: 10px 0px;
    }
    .menu-responsivo .menu-usuario li a {
        color: #801836;
        font-size: 17px;
    }
    .menu-responsivo {
        display: block !important;
        float: left;
        width: 100%;
        background: #faa61a;
        padding: 15px 20px;
        position: fixed;
        z-index: 999;
        top: 0;
    }
    .menu-responsivo a img {
        width: 117px;
    }
    .espaco-laranja-menu, .espaco-laranja-informacoes {
        display: none;
    }
    .btn-menu-responsivo {
        background: transparent;
        border: none;
        padding: 0px;
        float: right;
        color: #fff;
        font-size: 40px;
        line-height: 40px;
        margin-top: 0px;
        outline: none;
    }
    .cabecalho .info-usuario .saldo {
        margin-left: 100px;
    }
    .cabecalho .logo {
        margin-left: 0;
    }
    .banner .swiper-container {
        margin-top: 50px;
    }
    .banner .menu .btn-resgatar {
        position: relative;
        top: 20px;
        left: 26%;
    }
    .acesso-site .marcas {
        margin: 75px auto;
    }
    .banner .setas {
        top: 275px;
    }
    .banner {
        height: 430px;
    }
    .lista-produtos .produtos .prod h1 {
        font-size: 25px;
    }
    .rodape ul {
        margin-bottom: 20px;
    }
    .rodape .info-pontos {
        padding-left: 19px;
    }
    .margen-ul {
        padding-left: 25px !important;
    }
    .lista-desejos .conteudo-botao .btn-proximo {
        bottom: 145px;
        left: 122px;
    }
    .lista-desejos .conteudo-botao .btn-proximo i {
        position: absolute;
        top: 33px;
        left: 7px;
    }
    .extrato-pontos .conteudo-botao .btn-proximo {
        bottom: 0px;
        left: -8px;
    }
    .acesso-site .extrato-pontos .conteudo-botao .btn-proximo i {
        top: 38px;
        left: 5px;
    }
    .rodape {
        padding: 20px 0px 20px 0px;
        border-bottom: 6px solid #ffa901;
        background: #65808b;
        float: left;
        width: 100%;
    }
    h1.aviso-vazio {
        font-size: 16px;
    }
    .rodape .logo-rodape {
        display: table;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .rodape ul {
        width: 33%;
        margin-right: 0px;
        text-align: center;
        padding-left: 0px;
    }
    .margen-ul {
        padding-left: 0px !important;
    }
    .acesso-site {
        padding-bottom: 49px;
    }
    .menu-resp {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 25px;
        display: none;
        float: left;
        width: 100%;
    }
    .menu-resp li {
        padding: 15px 0px;
    }
    .menu-resp li a {
        font-size: 18px;
        font-weight: 900;
        color: #801836;
    }

    #modalCategorias .modal-body ul li a .alimentacao:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat 0 -65px;
        width: 43px;
        height: 42px;
        float: left;
    }

    #modalCategorias .modal-body ul li a .brinquedo:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -67px -64px;
        width: 43px;
        height: 44px;
        float: left;
    }

    #modalCategorias .modal-body ul li a .casa-decoracao:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -134px -66px;
        width: 43px;
        height: 40px;
        float: left;
    }

    #modalCategorias .modal-body ul li a .combustivel:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -201px -67px;
        width: 43px;
        height: 38px;
        float: left;
    }

    #modalCategorias .modal-body ul li a .eletronicos:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -268px -69px;
        width: 43px;
        height: 35px;
        float: left;
    }

    #modalCategorias .modal-body ul li a .esportes:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -334px -64px;
        width: 45px;
        height: 44px;
        float: left;
        margin-right: 10px;
    }

    #modalCategorias .modal-body ul li a .lazer-cultura:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -402px -68px;
        width: 43px;
        height: 37px;
        float: left;
        margin-right: 10px;
    }

    #modalCategorias .modal-body ul li a .moda:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -469px -64px;
        width: 43px;
        height: 44px;
        float: left;
        margin-right: 10px;
    }

    #modalCategorias .modal-body ul li a .papelaria-livrarias:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -536px -69px;
        width: 44px;
        height: 35px;
        float: left;
        margin-right: 10px;
    }

    #modalCategorias .modal-body ul li a .presente:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -602px -67px;
        width: 44px;
        height: 39px;
        float: left;
        margin-right: 10px;
    }

    #modalCategorias .modal-body ul li a .restaurantes:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -670px -64px;
        width: 43px;
        height: 44px;
        float: left;
        margin-right: 10px;
    }

    #modalCategorias .modal-body ul li a .saude-beleza:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -804px -70px;
        width: 43px;
        height: 33px;
        float: left;
        margin-right: 10px;
    }

    #modalCategorias .modal-body ul li a .viagem:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -737px -64px;
        width: 44px;
        height: 44px;
        float: left;
        margin-right: 10px;
    }
    #modalCategorias .modal-body ul li a .ver-todos:before {
        content: '';
        background: url(/menu-categoria.png) no-repeat -871px -63px;
        width: 43px;
        height: 46px;
        float: left;
        margin-right: 10px;
    }
    #modalCategorias .modal-body {
        background: #8b1a3b;
    }
    #modalCategorias .modal-dialog {
        margin-top: 90px;
    }
    #modalCategorias .close {
        position: relative;
        z-index: 9999;
        opacity: 1;
        margin-top: -65px;
        margin-right: 15px;
        outline: none;
    }
    #modalCategorias .modal-body h1 {
        text-align: center;
        font-weight: bold;
        color: #fff;
    }
    #modalCategorias .modal-body ul {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;
    }
    #modalCategorias .modal-body ul li {
        float: left;
        width: 20%;
        margin-top: 40px;
    }
    #modalCategorias .modal-body ul li a {
        display: table;
        margin: 0 auto;
    }
    #modalCategorias .modal-body ul li a span {
        display: inline-block;
        height: 50px;
    }
    #modalCategorias .modal-content {
        border-radius: 0px;
    }
    .lista-produtos .table thead tr th {
        padding: 10px 0px;
        text-align: center !important;
    }
    .lista-produtos .table tbody tr td {
        padding: 10px 10px;
        text-align: center !important;
    }
    .close-button {
        float: initial !important;
    }
    .rodape-carrinho a img {
        display: table;
        margin: 0 auto;
    }
    .menu-lateral-notificacoes .conteudo-alertas .todas-notificacoes .item .new {
        left: -20px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 769px) {
    .produtos-visitados h1 {
        text-align: center;
    }
    .produtos-visitados {
        padding: 30px 0px;
    }

    #modal-video .modal-dialog {
        width: initial !important;
    }
    .todas-notificacoes-all .box-notificacao {
        padding: 25px 19px;
        max-height: initial;
    }
    #modalNotificacao .modal-dialog {
        width: initial;
        margin-top: 60px;
        text-align: center;
    }
    #modalNotificacao .modal-header {
        text-align: left;
    }
    .todas-notificacoes-all .box-notificacao .lado-esq {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        margin-right: 0px;
    }
    .todas-notificacoes-all .box-notificacao .lado-dir {
        float: left;
        width: 100%;
        margin-top: 5px;
        text-align: center;
    }
    .todas-notificacoes-all .box-notificacao .lado-dir .texto {
        float: initial;
    }
    .conteudo-passos-yetz-cards ul li a {
        width: 90%;
    }
    .todos-passos .passo p {
        padding: 0px 15px;
    }
    .btn-modal-cards {
        display: none !important;
    }
    .fundo-cadastro {
        width: 90%;
        padding: 0px 35px 20px 35px;
    }
    .table .item-name {
        text-align: center !important;
    }
    .cart-table .item-name-col figure {
        margin-right: 0px !important;
        display: table;
        margin: 0 auto;
    }
    .table img {
        margin-bottom: 20px;
    }
    .endereco-entrega .titulo {
        padding: 20px 0px;
        text-align: center;
    }
    .endereco-entrega .campos-endereco {
        width: 100% !important;
    }
    .endereco-entrega .body {
        text-align: center;
    }
    .header-carrinho {
        padding: 20px 0px !important;
    }
    .lista-produtos {
        margin-top: 0;
    }
    .header-carrinho a img {
        display: table;
        margin: 0 auto;
    }
    .header-carrinho .titulo-carrinho {
        float: initial !important;
        display: table;
        margin: 0 auto;
        margin-top: 20px;
    }
    .formulario-contato .formulario form {
        margin: 30px 0px;
        display: inline-block;
        width: 100%;
    }
    h1.aviso-vazio {
        font-size: 18px;
        font-weight: lighter;
        text-transform: uppercase;
        color: #95abb7;
        margin-bottom: 0;
        text-align: center;
        padding: 0px 15px;
        line-height: 42px;
    }
    .prod-destaques .valores h1 {
        padding-left: 0px;
        padding-top: 15px;
        text-align: center;
        margin-top: 35px;
        font-size: 20px;
        font-weight: bold;
    }
    .prod-lista-desejo {
        display: table;
        margin: 0 auto;
    }
    .produto-em-destque {
        display: table; 
        margin: 0 auto;
    }
    .btn-lista-desejo {
        display: table;
        margin: 0 auto;
        margin-top: 15px;
    }
    .produto-destaque-grande {
        width: 90%;
        display: table;
        margin: 0 auto;
        position: relative;
    }
    .prod-destaques .informacoes {
        width: 100%;
        margin-bottom: 20px;
    }
    .prod-destaques .informacoes .btn-destaques {
        float: left;
        width: 20%;
    }
    .prod-destaques .informacoes .valores {
        width: 90%;
        display: table;
        margin: 0 auto;
    }
    .prod-destaques .progress-amarelo, .prod-destaques .progress-verde, .prod-destaques .progress-vermelho {
        width: 100%;
        margin-left: 0px;
    }
    .descricao-produto h2 {
        margin-left: 0;
    }
    .descricao-produto h3 {
        margin-left: 0;
    }
    .descricao-produto p {
        margin-left: 0;
    }
    .produtos-similares h1{
        text-align: center;
        float: initial !important;
    }
    .geral-produto {
        display: table;
        margin: 0 auto;
    }
    .geral-produto .informacoes {
        float: left;
        width: 100%;
        padding: 10px 0px;
    }
    .geral-produto .informacoes .btn-desejo {
        float: left;
        width: 20%;
    }
    .geral-produto .informacoes .valores {
        float: left;
        width: 80%;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .geral-produto .informacoes .valores .progress-vermelho,
    .geral-produto .informacoes .valores .progress-verde,
    .geral-produto .informacoes .valores .progress-amarelo{
        width: 65%;
    }
    .geral-produto .informacoes .valores .saldo-vermelho,
    .geral-produto .informacoes .valores .saldo-verde,
    .geral-produto .informacoes .valores .saldo-amarelo {
        width: 30%;
    }
    .rodape ul {
        width: 100%;
        margin-left: 0px;
    }
    .acesso-site .extrato-pontos .conteudo-botao .btn-proximo, .acesso-site .lista-desejos .conteudo-botao .btn-proximo {
        display: none;
    }
    .acesso-site .extrato-pontos, .acesso-site .lista-desejos {
        border-radius: 3px;
        margin-top: 30px;
        width: 100%;
        padding: 25px 0px;
    }
    .btn-resp {
        background: transparent;
        border: none;
        padding: 0px;
        display: table;
        margin: 0 auto;
        display: block !important;
        margin-bottom: 25px;
    }

    .conteudo-login-novo {
        padding: 0px 50px;
    }

    #btn-acessar-visitante {
        width: 100%;
    }

    #modalArea .modal-dialog, 
    #modalCartao .modal-dialog, 
    #modalCompletarCadastro .modal-dialog, 
    #modalFinalizarCadastro .modal-dialog, 
    #modalEsqueciSenha .modal-dialog,
    #modalAndroid .modal-dialog,
    #modalApple .modal-dialog{
        width: auto;
        margin-top: 60px;
    }
    #modalArea .modal-body, 
    #modalCartao .modal-body, 
    #modalCompletarCadastro .modal-body, 
    #modalFinalizarCadastro .modal-body, 
    #modalEsqueciSenha .modal-body,
    #modalAndroid .modal-body,
    #modalApple .modal-body {
        padding: 30px 20px;
        overflow: hidden;
    }
    .acesso-site {
        padding-bottom: 30px;
    }
    .acesso-site .extrato-pontos p, .acesso-site .lista-desejos p {
        display: none;
    }
    .acesso-site .extrato-pontos img, .acesso-site .lista-desejos img {
        padding-top: 0;
    }
    .topo-produto .etapas {
        margin-bottom: 0;
        padding: 0px 20px 30px 20px;
    }
    .topo-produto h1 {
        padding: 30px 0px 30px 0;
        margin: 0px;
    }
    .nome-categoria-novo {
        text-align: center;
        float: initial;
    }
    .nome-categoria-novo i {
        margin: 0px;
    }
    #slider-range-min {
        display: table;
        margin: 0 auto;
        margin-top: 25px;
        width: 100%;
    }
    .filtro {
        padding: 25px 0px 25px 0;
        background: #761632;
        margin-top: 1px;
    }
    .nome-categoria-novo i:before {
        display: table;
        margin: 0 auto;
    }
    #modalConfirmaResgate .modal-dialog {
        margin: 0 auto;
        margin-top: 30px;
    }
    .btn-voltar-home {
        padding: 10px 0px;
        width: 100%;
        text-align: center;
    }
    .conteudo-passos-yetz-cards {
        padding: 20px 0px 30px 0px;
    }
    .todos-passos .passo .img-btn-resgatar {
        float: initial !important;
        width: initial;
    }

}




/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    footer nav .conteudo .item {
        width: 100%;
        margin-bottom: 20px;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .prod-destaques img {
        min-width: 100%;
    }
    .btn-padrao {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .btn-cancelar {
        width: 100%;
    }
    .produtos-visitados h1 {
        font-size: 19px !important;
        margin-bottom: 30px !important;
        margin-top: 0px;
    }
    .menu-lateral-notificacoes .conteudo-alertas {
        width: 95%;
    }
    .menu-lateral-notificacoes .conteudo-alertas .todas-notificacoes .item .img-notificacao {
        margin-right: 15px;
        width: 40px;
        margin-top: 5px;
    }
    .menu-lateral-notificacoes .conteudo-alertas .topo h1 {
        font-size: 20px;
        margin-top: 19px;
    }
    .menu-lateral-notificacoes .conteudo-alertas .todas-notificacoes .item .texto p {
        font-size: 10px;
    }
    .menu-lateral-notificacoes .conteudo-alertas .todas-notificacoes .item .btn-excluir-item {
        right: 0;
    }
    .menu-lateral-notificacoes .notificacao-vazio h2 {
        font-size: 18px;
    }
    .menu-lateral-notificacoes .conteudo-alertas .todas-notificacoes .item .texto {
        float: left;
        width: 140px;
    }
    .conteudo-passos-yetz-cards ul li {
        margin-right: 0px;
        width: 100%;
        height: auto;
        margin-top: 15px;
    }
    .conteudo-passos-yetz-cards ul li a {
        width: 100%;
    }
    .conteudo-passos-yetz-cards ul li a img {
        display: table;
        margin: 0 auto;
    }
    .todos-passos .passo img {
        display: table;
        margin: 0 auto;
        float: initial;
        padding: 15px 0px;
        width: 80%;
    }
    .todos-passos .passo h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .conteudo-regulamento {
        width: 90%;
        display: table;
        margin: 0 auto;
    }
    .titulo-da-pagina p {
        margin-top: 10px;
        margin-bottom: 0px;
        color: #ff9999;
        text-align: center;
    }
    #modalTrocaSenha .modal-dialog {
        width: 300px;
    }
    #modalTrocaSenha .modal-body {
        padding: 20px;
        overflow: hidden;
    }
    #modalTrocaSenha .modal-footer {
        padding: 20px;
    }
    .cadastro-email-markting .conteudo-login-novo {
        padding: 0px;
    }
    .form-primeiro-acesso,
    .form-finalizar-cadastro {
        width: 100%;
        padding: 33px 20px;
    }
    .lampada-grande i {
        font-size: 40px !important;
    }
    #titulo-duvidas-frequentes h1, #titulo-duvidas-frequentes h2 {
        font-size: 20px;
        float: initial !important;
        text-align: center;
    }
    #titulo-duvidas-frequentes {
        padding: 10px 0px;
        margin-top: 40px;
    }
    #btnTrocarSenha {
        width: 100%;
    }
    .align-botoes-acao {
        margin-top: 15px;
    }
    .fundo-cadastro form .btn-vermelho {
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
    }
    #btnAtualizarCadastro {
        width: 100%;
        margin-bottom: 0px;
    }
    .s-cadastro {
        padding: 45px 0px 40px 0px;
    }
    .fundo-cadastro {
        padding: 0px 15px 20px 15px;
    }
    .conteudo-agradecimento p {
        font-size: 16px;
    }
    #modalConfirmaResgate .modal-dialog {
        width: 95% !important;
    }
    #modalConfirmaResgate .modal-body {
        padding: 32px 10px !important;
    }
    .lista-produtos .table thead tr th {
        font-size: 12px;
    }
    .rodape-carrinho a img {
        width: 210px;
    }
    .formulario-contato .formulario form button {
        width: 100%;
    }
    .desc-prog h1 {
        font-size: 30px;
    }
    .desc-prog h2 {
        font-size: 18px;
    }
    .descricao-breve-conheca .breve p {
        font-size: 15px;
    }
    .conteudo-prog p {
        font-size: 14px;
    }
    .titulo-cartao-yetz-sobre {
        font-size: 30px;
    }
    .espaco-pontos {
        margin-bottom: 35px;
    }
    .titulo-campanha-incentivo {
        font-size: 30px;
    }
    .prod-destaques .informacoes {
        margin-bottom: 20px;
    }
    .descricao-produto .btn-desabilitado {
        padding: 10px 0px;
        margin-bottom: 0;
        width: 100%;
        font-size: 20px;
    }
    .produto-destaque-grande .conteudo-imagem .preco-produto {
        position: relative;
        display: table;
        margin: 0 auto;
        top: initial;
        right: initial;
        bottom: 25px;
        width: 80px;
        height: 80px;
        padding: 0px;
    }
    .produto-destaque-grande .conteudo-imagem .preco-produto h3 {
        line-height: 70px;
        font-size: 25px;
    }
    .lampada-grande {
        font-size: 40px !important;
        line-height: 60px;
        width: 60px;
        height: 60px;
    }
    .conteudo-detalhes-produto {
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .conteudo-imagem {
        padding-bottom: 0px;
    }
    .obs-img {
        text-align: center;
        margin-left: 0px;
        float: initial;
    }
    .descricao-produto {
        margin-top: 25px;
        margin-bottom: 40px;
    }
    .obter-produto {
        font-size: 17px !important;
        padding: 10px 0px !important;
        margin-bottom: 15px;
        width: 100%;
    }
    .descricao-produto p {
        font-size: 14px;
    }
    .descricao-produto .descricao {
        font-size: 14px;
    }
    .descricao-produto .valor-produto {
        margin-left: 0;
    }
    .resumo-carrinho .foto-produto-carrinho {
        margin-right: 0;
        display: table;
        margin: 0 auto;
        float: initial;
    }
    .prod-destaques .informacoes .btn-destaques {
        float: initial;
        width: 90px;
        display: table;
        margin: 0 auto;
        margin-top: 10px;
    }
    .prod-destaques .informacoes .valores {
        width: 100%;
    }
    .prod-destaques .progress-amarelo, .prod-destaques .progress-verde, .prod-destaques .progress-vermelho {
        width: 90%;
        margin-left: 0px;
        display: table;
        margin: 0 auto;
        float: initial;
        margin-top: 20px;
    }
    .prod-destaques .valores h1 {
        padding-left: 0;
        font-size: 20px;
        font-weight: bold;
        margin-top: 0px;
    }
    .informacoes-produto .preco-produto {
        right: 0px;
    }
    .produtos-similares {
        padding-bottom: 0px;
    }
    .resumo-carrinho .texto-carrinho {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 7px;
    }
    .btn-resgatar-carrinho {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .valor-total {
        float: initial !important;
        text-align: center;
        margin-top: 30px;
    }
    .resumo-carrinho .btns {
        display: table;
        margin: 0 auto;
    }
    .resumo-carrinho .valor {
        float: initial !important;
        display: table;
        margin: 0 auto;
        margin-top: 15px;
    }
    .resumo-carrinho {
        width: 100%;
    }
    .informacoes-pts .area-pts h1 {
        font-size: 30px;
        margin-top: 5px;
    }
    .geral-produto .informacoes .btn-desejo {
        width: 90px;
        display: table;
        margin: 0 auto;
        float: initial;
    }
    .geral-produto .informacoes .valores .progress-vermelho, .geral-produto .informacoes .valores .progress-verde, .geral-produto .informacoes .valores .progress-amarelo {
        width: 100%;
        margin-left: 0px;
    }
    .geral-produto .informacoes .valores .saldo-vermelho, .geral-produto .informacoes .valores .saldo-verde, .geral-produto .informacoes .valores .saldo-amarelo {
        width: 100%;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        padding-left: 0px;
    }
    .geral-produto .informacoes .valores {
        width: 100%;
    }
    #modalCategorias .modal-content .close img {
        width: 40px;
    }
    #modalCategorias .modal-body h1 {
        font-size: 30px;
        margin-top: 0px;
    }
    #modalCategorias .modal-body ul li {
        width: 33%;
        margin-top: 30px;
    }
    #modalCategorias .modal-body ul {
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
    }
    .informacoes-usuario-responsivo .foto-usuario img {
        border: 7px solid #fff;
        border-radius: 50%;
        width: 180px;
        height: 180px;
    }
    .informacoes-usuario-responsivo .foto-usuario {
        width: 180px;
        height: 180px;
    }
    .acesso-site .extrato-pontos {
        padding: 20px 0px;
    }
    .acesso-site .extrato-pontos img, .acesso-site .lista-desejos img {
        padding-top: 0;
        width: 30px;
    }
    .acesso-site .extrato-pontos, .acesso-site .lista-desejos {
        height: 70px;
    }
    .acesso-site .lista-desejos {
        padding: 22px 0px;
    }
    .acesso-site .lista-desejos img {
        width: 50px;
    }
    .acesso-site .movimentacao {
        padding: 21px 0px;
    }
    .acesso-site .movimentacao img {
        width: 40px;
    }
    .topo-produto h1 {
        font-size: 20px;
    }
    .rodape .logo-rodape {
        width: 210px;
    }
    .informacoes-usuario-responsivo .nome-usuario h1 {
        font-size: 25px;
    }
    .informacoes-usuario-responsivo .nome-usuario p {
        font-size: 13px;
    }
    .informacoes-usuario-responsivo .nome-usuario h2 {
        font-size: 31px;
    }
    .btn-resgatar-pts {
        width: 100%;
    }
    .logo-login {
        width: 200px;
    }
    .conteudo-login-novo {
        padding: 0px 15px;
    }
    #btn-acessar-visitante {
        padding: 15px 20px;
        margin-top: 10px;
    }
    .login {
        padding-top: 40px;
    }
    #form-apelido {
        width: 100%;
        margin-right: 0;
    }
    #form-data {
        float: left;
        width: 100%;
    }
    #form-celular {
        float: left;
        width: 100%;
        margin-right: 0;
    }
    #form-telefone {
        float: left;
        width: 100%;
    }
    #form-senha {
        float: left;
        width: 100%;
        margin-right: 0;
    }
    #form-senha-confirmar {
        float: left;
        width: 100%;
    }
    #checkboxDiv {
        width: 100%;
    }
    #checkboxDiv2 {
        width: 100%;
    }
    #checkboxDiv2 span {
        width: 215px;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {

}
