@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800';

.conteudo-agradecimento {
    background: url(../../img/fundo-login.jpg) no-repeat;
    height: 1000px;
}

.conteudo-agradecimento img {
    display: table;
    margin: 0 auto;
    padding-top: 150px;
}

.conteudo-agradecimento p {
    color: #fff;
    font-size: 25px;
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 50px;
    font-family: "Raleway";
}

.conteudo-agradecimento p a {
    color: #ff9933;
    text-decoration: none;
}

.conteudo-agradecimento p sup {
    font-size: 13px;
}

::-webkit-scrollbar {
    display: none;
}

.btn-voltar-home {
    display: table;
    margin: 0 auto;
    font-size: 25px;
    color: #fff;
    background: #ff9933;
    padding: 10px 50px;
    border-radius: 5px;
    margin-top: 60px;
    font-family: "Raleway";
    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

.btn-voltar-home:hover {
    background: #ff7b33;
    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
    color: #fff;
}