.conteudo-balao {
    background: #f7a81e;
    text-transform: uppercase;
    color: #fff;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    padding: 12px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    position: absolute;
    left: 0;
    bottom: -40px;
    opacity: 0;
}

.conteudo-balao h3 {
    font-size: 13px;
    margin: 0;
}

.conteudo-balao:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f7a81e;
    position: absolute;
    top: -10px;
    left: 25px;
}

.menu-categorias .swiper-slide:nth-child(13) .conteudo-balao{
    left: -23px;
}

.menu-categorias .swiper-slide:nth-child(13) .conteudo-balao:before {
    left: 45px;
}

.menu-categorias .swiper-slide:nth-child(14) .conteudo-balao {
    left: -89px;
}

.menu-categorias .swiper-slide:nth-child(14) .conteudo-balao:before {
    right: 10px;
    left: initial;
}

.menu-categorias .swiper-slide:nth-child(15) .conteudo-balao {
    left: -89px;
}

.menu-categorias .swiper-slide:nth-child(15) .conteudo-balao:before {
    right: 10px;
    left: initial;
}

.menu-categorias .swiper-slide:last-child .conteudo-balao {
    left: -89px;
}

.menu-categorias .swiper-slide:last-child .conteudo-balao:before {
    right: 10px;
    left: initial;
}

.swiper-slide:hover .conteudo-balao,
.seta-dir-slide-categoria:hover .conteudo-balao{
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1;
    bottom: -55px;
}

.seta-dir-slide-categoria .conteudo-balao {
    left: initial;
    right: 0;
    z-index: 1;
}

.seta-dir-slide-categoria .conteudo-balao:before {
    left: initial;
    right: 5px;
}