/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/11/2015, 16:08:28
    Author     : Desenvolvimento 3
*/

/*
00 - Jcrop
----------------------*/
.jcrop-holder {
    direction: ltr;
    text-align: left;
}

.jcrop-vline, .jcrop-hline {
    background: white url("../../fonts/crop.gif");
    font-size: 0;
    position: absolute;
}

.jcrop-vline {
    height: 100%;
    width: 1px !important;
}
.jcrop-vline.right {
    right: 0;
}

.jcrop-hline {
    height: 1px !important;
    width: 100%;
}
.jcrop-hline.bottom {
    bottom: 0;
}

.jcrop-tracker {
    height: 100%;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.jcrop-handle {
    background-color: #FFF;
    border: 1px #FFF solid;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 1px;
    height: 14px;
    opacity: 1 !important;
    width: 14px;
}
.jcrop-handle.ord-n {
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    opacity: 0 !important;
    top: 0;
}
.jcrop-handle.ord-s {
    bottom: 0;
    left: 50%;
    margin-bottom: -4px;
    margin-left: -4px;
    opacity: 0 !important;
}
.jcrop-handle.ord-e {
    margin-right: -4px;
    margin-top: -4px;
    opacity: 0 !important;
    right: 0;
    top: 50%;
}
.jcrop-handle.ord-w {
    left: 0;
    margin-left: -4px;
    margin-top: -4px;
    opacity: 0 !important;
    top: 50%;
}
.jcrop-handle.ord-nw {
    left: 0;
    margin-left: -6px;
    margin-top: -6px;
    top: 0;
}
.jcrop-handle.ord-ne {
    margin-right: -6px;
    margin-top: -6px;
    right: 0;
    top: 0;
}
.jcrop-handle.ord-se {
    bottom: 0;
    margin-bottom: -6px;
    margin-right: -6px;
    right: 0;
}
.jcrop-handle.ord-sw {
    bottom: 0;
    left: 0;
    margin-bottom: -6px;
    margin-left: -6px;
}

.jcrop-dragbar.ord-n, .jcrop-dragbar.ord-s {
    height: 7px;
    width: 100%;
}
.jcrop-dragbar.ord-e, .jcrop-dragbar.ord-w {
    height: 100%;
    width: 7px;
}
.jcrop-dragbar.ord-n {
    margin-top: -4px;
}
.jcrop-dragbar.ord-s {
    bottom: 0;
    margin-bottom: -4px;
}
.jcrop-dragbar.ord-e {
    margin-right: -4px;
    right: 0;
}
.jcrop-dragbar.ord-w {
    margin-left: -4px;
}

.jcrop-keymgr {
    visibility: hidden;
}

.jcrop-light .jcrop-vline, .jcrop-light .jcrop-hline {
    background: #ffffff;
    filter: alpha(opacity=70) !important;
    opacity: 0.7 !important;
}
.jcrop-light .jcrop-handle {
    background-color: #000000;
    border-color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.jcrop-dark .jcrop-vline, .jcrop-dark .jcrop-hline {
    background: #000000;
    filter: alpha(opacity=70) !important;
    opacity: 0.7 !important;
}
.jcrop-dark .jcrop-handle {
    background-color: #ffffff;
    border-color: #000000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.solid-line .jcrop-vline, .solid-line .jcrop-hline {
    background: #ffffff;
}

.jcrop-holder img, img.jcrop-preview {
    max-width: none;
}

div.dataTables_length {
    margin-bottom: 5px !important;
}
div.dataTables_length label {
    vertical-align: middle;
}
div.dataTables_length select {
    min-width: 75px;
}
div.dataTables_filter {
    margin-bottom: 5px !important;
}
div.dataTables_filter label {
    vertical-align: middle;
}
div.dataTables_info {
    padding: 18px 0 8px;
    font-size: 12px;
}
div.dataTables_paginate {
    margin: 10px 0;
    font-size: 12px;
}
div.dataTables_paginate ul.pagination {
    margin: 2px;
}

table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
}
table.table thead .sorting, table.table thead .sorting_asc, table.table thead .sorting_desc, table.table thead .sorting_asc_disabled, table.table thead .sorting_desc_disabled {
    cursor: pointer;
}
table.table thead .sorting {
    background: url("img/sort_both.png") no-repeat center right;
}
table.table thead .sorting_asc {
    background: url("img/sort_asc.png") no-repeat center right;
}
table.table thead .sorting_desc {
    background: url("img/sort_desc.png") no-repeat center right;
}
table.table thead .sorting_asc_disabled {
    background: url("img/sort_asc_disabled.png") no-repeat center right;
}
table.table thead .sorting_desc_disabled {
    background: url("img/sort_desc_disabled.png") no-repeat center right;
}
table.table thead .sorting, table.table thead .sorting_asc, table.table thead .sorting_desc, table.table thead .sorting_asc_disabled, table.table thead .sorting_desc_disabled {
    padding-right: 20px;
}
table.dataTable th:active {
    outline: none;
}

/*
00 - File input
------------------------------------------------------------*/
.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.btn-file > input {
    cursor: pointer;
    direction: ltr;
    filter: alpha(opacity=0);
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0) scale(4);
}

.fileinput {
    display: inline-block;
    margin-bottom: 9px;
}
.fileinput .uneditable-input {
    cursor: text;
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
}
.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.fileinput .thumbnail > img {
    max-height: 100%;
}
.fileinput .btn {
    vertical-align: middle;
}

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
    display: none;
}

.fileinput-inline .fileinput-controls {
    display: inline;
}

.fileinput .uneditable-input {
    white-space: normal;
}

.form-group.has-warning .fileinput .uneditable-input {
    border-color: #faebcc;
    color: #c09853;
}
.form-group.has-warning .fileinput .fileinput-preview {
    color: #c09853;
}
.form-group.has-warning .fileinput .thumbnail {
    border-color: #faebcc;
}
.form-group.has-error .fileinput .uneditable-input {
    border-color: #ebccd1;
    color: #b94a48;
}
.form-group.has-error .fileinput .fileinput-preview {
    color: #b94a48;
}
.form-group.has-error .fileinput .thumbnail {
    border-color: #ebccd1;
}
.form-group.has-success .fileinput .uneditable-input {
    border-color: #d6e9c6;
    color: #468847;
}
.form-group.has-success .fileinput .fileinput-preview {
    color: #468847;
}
.form-group.has-success .fileinput .thumbnail {
    border-color: #d6e9c6;
}

.btnFoto{
    color: white !important;
    border-radius: 5px;
    float: left;
    width: 50%;
}

.fileinput {
    display: inline-block;
    margin-bottom: 9px;
}

.btn-escolhe-foto {
    padding: 9px;
    background-color: rgba(255, 180, 0, 0.83);
    border-radius: 45px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid transparent;
    color: #992d4c;
    font-weight: bold;
    font-style: italic;
    padding: 10px 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-escolhe-foto:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid rgba(255, 180, 0, 0.83);
    color: #992d4c;
}


/*
00 - Pagina
------------------------------------------------------------*/

.fundo-cadastro {
    background-color: white;
    width: 50%;
    padding: 0px 35px 55px 35px;
    display: table;
    margin: 0 auto;
}

h1{
    
    font-size: 18px;
    color: #fdb813;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

hr{
    width: 10%;
    border-color: #d0d0d0;
    margin-top: 15px;
    margin-bottom: 40px;
}

h2{
    font-family: 'Open Sans';
    font-weight: 600;
    color: #fdb813;
    font-size: 22px;
    margin-bottom: 25px;
}

.tamanho-group{
    float: left;
    width: 140px;
    height: 140px;
    margin-right: 35px;
}

#uploadPreview{
    display:block;
    width: 100%;
    border-radius: 100%;
}

.txt-nome{
    float: left;
    width: 60%;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    text-transform: uppercase;
    margin-top: 18px;
}
.txt-cpf{
    float: left;
    width: 60%;
    font-family: Arial;
    font-size: 13px;
    color: #333333;
    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 12px;
}

.form-input{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    font-family: Arial;
    font-size: 14px;
}

.form-input input{
    float: left;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    padding: 9px 20px;
}

.form-input label{
    float: left;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    color: #989898;
    margin-right: 10px;
    text-transform: uppercase;
}

.form-input span{
    float: left;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    color: #989898;
    text-transform: uppercase;
}

input[type="radio"]{
    width: 20px;
    margin-left: 70px;
}

.btn-verde{
    float: right;
    background-color: rgba(255, 180, 0, 0.83);
    border-radius: 45px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid transparent;
    color: #992d4c;
    font-weight: bold;
    font-style: italic;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-verde:hover {
    background-color: transparent;
    text-decoration: none;
    border: 2px solid rgba(255, 180, 0, 0.83);
    color: #992d4c;
}

.btn-cep{
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 2px 10px;
    font-family: 'Open Sans';
    font-size: 12px;
    border: none;
    background-color: #b9b9b9;
    border-bottom: 2px solid #9d9d9d;
    border-radius: 3px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}

.btn-cep:hover {
    color: #fff;
    background-color: #9d9d9d;
    text-decoration: none;
}

footer img {
    margin-left: 10px;
    margin-top: -10px;
}

#carregando{
    position: absolute;
    top: 7px;
    right: 120px;
    display: none;
}

.form-input .error-input:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}
.form-input .error-input  {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.form-input-esquerdo{
    width: 49%;
}
.form-input-direito{
    width: 49%;
    float: right;
}

#tela-opacao{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999;
    opacity: 0.8;
    display: none;
}

#tela-opacao div{
    position: relative;
    margin: 0 auto;
    width: 75px;
    margin-top: 21%;
}

#tela-opacao div img{
    width: 100%;
}

.input-whatsapp {
    float: initial !important;
    width: auto !important;
}

.label-whatsapp {
    text-transform: initial !important;
    color: #000;
}

.btn-padrao {
    cursor: pointer;
    font-weight: 600;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 12px 25px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


@media(max-width: 480px){
    .fundo-cadastro{
        width: 90%;
        padding: 0px;    
        display: block;
    }    

    .fundo-cadastro .image-editor{
        margin-left: auto;
        float: unset;
    }

    .fundo-cadastro .image-editor .cropit-image-preview{
        margin-left: auto;
        margin-right: auto;
        float: unset;
        margin-bottom: 20px;
    }

    .fundo-cadastro .image-editor .cropit-image-preview img{
        
    }
    .cropit-image-preview{
        margin-left: auto;
    }
}