	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/10/2016 17:55
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../../fonts/Flaticon.eot");
  src: url("../../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../../fonts/Flaticon.woff") format("woff"),
       url("../../fonts/Flaticon.ttf") format("truetype"),
       url("../../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-alimentacao:before { content: "\f100"; }
.flaticon-brinquedo:before { content: "\f101"; }
.flaticon-casa-decoracao:before { content: "\f102"; }
.flaticon-combustivel:before { content: "\f103"; }
.flaticon-eletronicos:before { content: "\f104"; }
.flaticon-esportes-infantil:before { content: "\f105"; }
.flaticon-lazer-cultura:before { content: "\f106"; }
.flaticon-moda:before { content: "\f107"; }
.flaticon-papelaria-livrarias:before { content: "\f108"; }
.flaticon-presente:before { content: "\f109"; }
.flaticon-restaurantes:before { content: "\f10a"; }
.flaticon-saude-beleza:before { content: "\f10b"; }
.flaticon-viagem:before { content: "\f10c"; }