@font-face {
    font-family: 'Yetz';
    src: url('../../fonts/Yetz.eot');
    src: url('../../fonts/Yetz.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Yetz.woff') format('woff'),
         url('../../fonts/Yetz.ttf') format('truetype'),
         url('../../fonts/Yetz.svg#Yetz') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icone-']:before{
	display: inline-block;
   font-family: 'Yetz';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icone-icon_lamp:before{content:'\0041';}
