@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

.centraliza{
    position: relative;
    margin: 0 auto;
}

body{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

.btn-verde {
    color: #fff;
    background-color: #333333;
    -webkit-border-radius: 2px 2px 2px;
    border: none;
    border-radius: 2px 2px 2px;
    border-bottom: 3px solid #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;    
    line-height: 50px;
    padding: 0 30px;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-verde:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.btn-vermelho {
    color: #fff;
    background-color: red;
    -webkit-border-radius: 2px 2px 2px;
    border: none;
    border-radius: 2px 2px 2px;
    border-bottom: 3px solid #ac0505;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;    
    line-height: 50px;
    padding: 0 30px;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-vermelho:hover {
    color: #fff;
    background-color: #ac0505;
    text-decoration: none;
}

.btn-simples {
    color: #666;
    -webkit-border-radius: 10px 10px 10px;
    border-radius: 10px 10px 10px;
    border-bottom: 3px solid #319721;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;    
    line-height: 50px;
    padding: 0 30px;
    display: inline-block;
    font-size: 16px;
    border: solid 1px #bbb;
    margin-top: 14px;
}

.btn-simples:hover {
    background-color: #fdbe42;
    color: #fff;
    border: solid 1px #fdbe42;
    text-decoration: none;
}

.txt-center {
    text-align: center;
}

.degrade-verde {
    background: #5dd035;
    background: -moz-linear-gradient(left,  #5dd035 0%, #17e1e8 100%);
    background: -webkit-linear-gradient(left,  #5dd035 0%,#17e1e8 100%);
    background: linear-gradient(to right,  #5dd035 0%,#17e1e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dd035', endColorstr='#17e1e8',GradientType=1 );    
}

.degrade-laranja {
    background: #fea92f;
    background: -moz-linear-gradient(left,  #fea92f 0%, #fce163 99%);
    background: -webkit-linear-gradient(left,  #fea92f 0%,#fce163 99%);
    background: linear-gradient(to right,  #fea92f 0%,#fce163 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea92f', endColorstr='#fce163',GradientType=1 );
}

.degrade-amarelo {
    background: #fe822f;
    background: -moz-linear-gradient(left,  #fe822f 0%, #fcc063 99%);
    background: -webkit-linear-gradient(left,  #fe822f 0%,#fcc063 99%);
    background: linear-gradient(to right,  #fe822f 0%,#fcc063 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe822f', endColorstr='#fcc063',GradientType=1 );
}

.degrade-verde-azul{
    background: #5dd036;
    background: -moz-linear-gradient(-45deg,  #5dd036 0%, #17e0e7 100%);
    background: -webkit-linear-gradient(-45deg,  #5dd036 0%,#17e0e7 100%);
    background: linear-gradient(135deg,  #5dd036 0%,#17e0e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dd036', endColorstr='#17e0e7',GradientType=1 );

}

.titulo-verde {
    color: rgb(18, 111, 62);
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.spacer30 {
    width: 100%;
    height: 30px;
    display: block;
}

.btn-detalhes {
    color: #fff;
    background-color: #333333;
    font-weight: bold;
    padding: 9px 10px 9px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 0 0 #000;
    box-shadow: 0 4px 0 0 #000;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.btn-detalhes:hover {
    background-color: #000;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}


.saldo-vermelho {
    color: #ff0000;
}

.saldo-amarelo {
    color: #eab916;
}

.saldo-verde {
    color: #33cc99;
} 

.verde{
    color: #3fb62c !important;
}

.swiper-button-next {
    background-image: url("../../fonts/seta-direita.png") !important;
    width: 42px !important;
    height: 42px !important;
    background-size: 42px 42px !important;
    right: -18px !important;
    margin-top: 0px !important;
}

.swiper-button-prev {
    background-image: url("../../fonts/seta-esquerda.png") !important;
    width: 42px !important;
    height: 42px !important;
    background-size: 42px 42px !important;
    margin-top: 0px !important;
    margin-left: -30px !important;
}

/*Css Carrousel de Produtos*/

.lista-premios-home {
    background-color: #f3f3f3;
    padding: 0;
}

.lista-premios-home-carrousel{
    background-color: #f3f3f3;
    padding: 50px 0 40px 0;
    font-family: 'Open Sans', sans-serif;
}

.espaco{
    position: relative;
    margin-top: 0px;
}

.banner-troca-pontos {
    overflow: hidden;
    margin-bottom: 45px;
    border-radius: 10px;
}

.banner-troca-pontos .img-lateral {
    margin-top: -4px
}

.banner-troca-pontos h3 {
    text-transform: uppercase;
    text-align: right;
    color: #BC510B;
    font-size: 35px;
    padding: 30px 50px 0px;
    font-weight: 700;
    font-style: italic;
    line-height: 45px;
    margin-bottom: 30px;
}
.banner-troca-pontos h3 span {
    margin-right: 67px;
}

.banner-troca-pontos .img-icones {
    float: left;
    margin-right: 20px;
}

.banner-troca-pontos p {
    font-size: 16px;
    color: #3b3a35;
    padding-right: 40px;
}

.slide-produtos {
    overflow: hidden;
    width: 100%;
    height: 410px;
    padding-top: 20px;
}

.produto {
    background-color: #fff;
    border: solid 1px #eee;
    -webkit-border-radius: 6px 6px 6px;
    border-radius: 6px 6px 6px;
    overflow: hidden;
    min-height: 360px;
}

.produto:hover {
    box-shadow: 0 0 20px 0px #ededed;
    cursor: pointer;
    -webkit-transition: box-shadow 0.3s ease-in;
    -moz-transition: box-shadow 0.3s ease-in;
    -ms-transition: box-shadow 0.3s ease-in;
    -o-transition: box-shadow 0.3s ease-in;
    transition: box-shadow 0.3s ease-in;
}

.foto-produto{
    width: 100%;
    display: block;
    height: 205px;
    text-align: center;
}

.adapta-img{
    height: 205px;
}

.slide-produtos .desc-produto {
    /* padding-bottom: 40px; */
    min-height: 100px;
    padding: 0px 15px;
}

.slide-produtos .desc-produto h2{
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    height: 30px;
}

.slide-produtos .desc-produto p {
    font-size: 12px;
    text-align: center;
    height: 50px;
    margin: 0;
}

.slide-produtos .status-produto {
    width: 100%;
    border-top: 1px solid #eeeeee;
    padding-bottom: 52px !Important;
    padding-top: 0px;
    padding: 0px 15px;
}

.slide-produtos .status-produto .pull-left{
    font-size: 20px;
    /* margin-left: 9px; */
    margin-top: 11px;
}

.slide-produtos .status-produto .pull-right{
    /* margin-right: 23px; */
    margin-top: 15px;
}
/*Fim Css Carrousel de Produtos*/


/*Css RodapÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â©*/

.rodape-home {
    background-color: #f5f5f5;
    padding: 30px;
}

.rodape-home ul {
    list-style: none;
    font-size: 14px;
    padding-left:  0px; 
}

.rodape-home ul > li {
    float: left;
    margin-left: 80px;
}

.rodape-home ul > li:first-child {
    margin-left: 0px;
}

.rodape-home a {
    color: #666;
}

.rodape-home p {
    float: right;
    color: #666;
    font-size: 14px;
    margin-top: 12px;    
}

/*Fim usuario_antigo Rodape*/

/*Css Acompanhar Pedido*/
.acompanhar-pedido {
    font-family: 'Open Sans', sans-serif;
    color: #026b02;
}

.acompanhar-pedido p {
    padding-top: 96px;
    padding-left: 22px;
    color: #636363;
    font-size: 25px;
    font-style: italic;
}

.acompanhar-pedido p span {
    font-weight: 800;
}

.acompanhar-pedido a {
    margin-left: 22px;
    margin-top: 19px;
}

/*Fim Css Acompanhar Pedido*/

/* Helper Class */

.xss-margin,
.xs-margin,
.sm-margin,
.md-margin,
.lg-margin,
.xlg-margin,
.md-margin2x,
.lg-margin2x,
.xlg-margin2x,
.md-margin3x,
.lg-margin3x,
.xlg-margin3x {
    min-height:1px;
}

.xss-margin {
    margin-bottom:5px;
}

.xs-margin {
    margin-bottom:10px;
}

.sm-margin {
    margin-bottom:20px;
}

.md-margin {
    margin-bottom:30px;
}

.lg-margin {
    margin-bottom:40px;
}

.xlg-margin {
    margin-bottom:50px;
}

.md-margin2x {
    margin-bottom:60px;
}

.lg-margin2x {
    margin-bottom:80px;
}

.xlg-margin2x {
    margin-bottom:100px;
}

.md-margin3x {
    margin-bottom:90px;
}

.lg-margin3x {
    margin-bottom:120px;
}

.xlg-margin3x {
    margin-bottom:150px;
}

/* Fim Helper Class */


/*Titulos para Pagina*/
.titulo-pagina {
    font-size: 32px;
    font-weight: lighter;
}
/*Fim Titulos para Pagina*/

/*subitulos para Pagina*/
.subtitulo-pagina {
    font-weight: bold;
    font-size: 28px;
}
/*Fim Subitutlos para Pagina*/

/*TraÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â§o seperador de titulo*/

.separador-titulo {
    border-bottom: 1px solid #dbdbdb;
    width: 130px;
    margin: 16px auto;
    position: relative;
}

.separador-titulo .separador-titulo-menor {
    border-bottom: 3px solid #026b02;
    width: 52px;
    z-index: 10;
    position: absolute;
    top: -1px;
    left: 40px;
}

/*Fim TraÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â§o seperador de titulo*/

/*Banner Menores Verdes*/

.banners-menores-home {
    margin-top: 30px;
}

.banner-verde-a, .banner-verde-b {
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    padding: 30px 0;
    font-style: italic;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px 10px 10px 10px;
}

.banner-verde-a {
    background: url("../imagens/bg-acompanhe.jpg") no-repeat;
    height: 195px;
}


.banner-verde-b {
    background: url("../imagens/banner-desejos.jpg") no-repeat;
    height: 195px;
}

.banner-verde-a:hover, .banner-verde-b:hover {    
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;    
}

/*Fim Banner Menores Verdes*/

/*Banner laranja*/
.banner-sonho {
    background: url("../imagens/banner-amarelo.jpg") no-repeat;
    height: 201px;
    border-radius: 10px;
    margin: 24px 0px 24px 0px;
}
/* Fim Banner laranja*/




/*Topo Pagina com titulo a esquerda e select a direita*/

#topo-pagina .form-group {
    margin-left: 24px;
}

#topo-pagina .form-control {
}

#topo-pagina label {
    font-size: 13px;
    color: #999999;
    font-weight: normal;
}

.margem-direita {
    margin-left: -14px;
}

/*Estrelas Categorias*/

.estrela{
    background: url('../imagens/sprite-estrela.png') no-repeat -61px 0;
    width: 55px;
    height: 52px;
    position: relative;
    float: left;
}

.estrela.ativa{
    background-position: 0px center;
}

/* Fim Estrelas Categorias*/

/* Header */

.barra-topo{
    position: relative;
    width: 100%;
    height: 3px;
    background: url('../imagens/top.jpg') no-repeat center center;
    z-index: 99;
    background-size: cover;
}

.cabecalho-topo{
    display: table;
    margin: 0 auto;
    padding: 4px 0px;
    background-color: #f3f3f3;
}

.cabecalho-topo p{
    font-size: 13px;
    color: #999999;
    float: left;
    line-height: 25px;
}

.cabecalho-topo p i{
    font-size: 17px;
    float: right;
    margin: 3px 3px;
    font-weight: bold;
}

.cabecalho-saldo{
    float: left;
    margin: 0px 30px 0px 10px;
}

.cabecalho-topo .saldo-topo{
    float: left;
    line-height: 25px;
    font-weight: bold;
    font-size: 22px;
}

.mini-estrela{
    background: url("../imagens/sprite-estrela.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -21px;
    width: 18px;
    height: 18px;
    position: relative;
    float: left;
    margin: 2px 2px;
}

.mini-estrela.ativa{
    background-position: 0px;
}

.cabecalho-topo .txt-pontos{
    float: left;
    margin: 5px 0px 0px 5px;
}

.cabecalho-topo .txt-pontos span{
    float: left;
    clear: both;
    font-weight: bold;
    font-size: 11px;
    line-height: 8px;
    color: #3399cc;
}

.cabecalho-estrelas{
    float: left;
    margin: 0px 30px 0px 5px;
}

.cabecalho-topo .img-perfil{
    border-radius: 27px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.dropdown{
    float: left;
}

.fundo-cabecalho{
    background-color: #f3f3f3;
}

.fundo-menu-principal{
    background-color: #026B02;
}

.espaco-menu-principal{
    display: table;
    margin: 0px;
}
.logo-pega-premio-header{
    position: absolute;
    top: -37px;
    left: 0px;
    height: 129px;
    width: 196px;
    text-align: center;
    background-color: #fff;
    padding: 27px 0px;
}

.logo-banese-header{
    position: absolute;
    top: -37px;
    right: 0px;
    height: 129px;
    width: 196px;
    text-align: center;
    background-color: #fff;
    padding: 22px 0px;
}
/* Fim Header */

/* BotÃƒÆ’Ã‚Âµes de Favoritos */
.icon-unlike {
    color: #FFDB02;
    /*    background-color: rgb(43, 176, 185);
        background-position: 0 0;
        cursor: pointer;
        background-color: #fec229;
        -webkit-box-shadow: 0 4px 0 0 #fed359;
        box-shadow: 0 4px 0 0 #fed359;*/
}

.icon-like {
    color: #FFF;
    cursor: pointer;
}
/* BotÃƒÆ’Ã‚Âµes de Favoritos */

.conteudo-imagem-modal {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 23px;
}


.conteudo-imagem-modal img {
    display: table;
    margin: 0 auto;
    width: 55%;
}

.conteudo-imagem-modal h2 {
    text-align: center;
    color: #016838;
    font-weight: bold !Important;
    margin-top: 0;
    font-size: 22px !Important;
    text-transform: uppercase;
}

#modalObterProduto .modal-header {
    border: 0px;
}

#modalObterProduto .modal-footer {
    border: 0px;
}

#modalObterProduto .modal-body {
    padding: 0px;
}

#modalObterProduto .divisoria {
    border-bottom: 1px solid #d3d3d3;
    width: 101px;
    margin: 11px auto;
}

#modalObterProduto p {
    font-size: 18px;
}

#modalObterProduto p:last-child {
    border-top: 2px solid #d3d3d3;
    margin-top: 12px;
    padding-top: 11px;
}

#modalObterProduto p:first-child {
    padding-top: 11px;
}

#modalObterProduto p span{
    float: right;

}

.outro-endereco {
    background-color: #eeeeee;
    padding: 25px;
}

.outro-endereco button {
    margin-left: 123px;
}

.botoes {
    width: 33%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.botoes button {
    margin-left: 9px;
}
/* Conteudo Modal */

.btn-default {
    border: 0px !Important;
    background-color: transparent !Important;
}

.dropdown-menu li a i {
    margin-right: 10px;
}

.breadcrumbs a {
    text-decoration: none;
    color: #999999!Important;
}

.no-margin {
    margin-top: 0px;
}

.dropdown button {
    color: #999999;
    font-size: 13px;
    padding: 0px;
}

.dropdown button strong {
    color: #666666;
}

.caret {
    color: #3cb528;
}

.estrela-centralizada {
    float: none;
    display: table;
    margin: 0 auto;
}

.no-padding {
    padding: 0px !Important;
}

#conversao table tbody td {
    padding: 5px 21px !important;
    font-size: 15px;
}

#conversao table thead th {
    font-size: 18px;
    padding: 10px;
}

#rodape-empresa {
    background: #e7525e;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.degrade-azul-escuro {
    background-image: linear-gradient(to right, #587db7, #3c557b);
}

.degrade-amarelo-escuro {
    background-image: linear-gradient(to right, #fdcc37, #f19135);
}

.degrade-azul-claro {
    background-image: linear-gradient(to right, #00a0e0, #164391);
}

.degrade-vermelho {
    background-image: linear-gradient(to right, #e7525e, #93363b);
}

.degrade-verde-escuro {
    background-image: linear-gradient(to right, #70a22f, #0b501c);
}

.degrade-cinza-escuro {
    background-image: linear-gradient(to right, #eeeeee, #6c6b6b);
}
.active {
    border-bottom: 2px solid #636363;
}
.active-menu {
    border-bottom: 3px solid #e8cf96;
    padding-bottom: 23px;
}





.menu-secundario .info-usuario .saldo-usuario p {
    font-size: 13px;
    color: #fff;
}

.menu-secundario .info-usuario .saldo-usuario p span {
    font-size: 20px;
    text-transform: uppercase;
    color: #e8cf96;
    font-weight: bold;
}
.lista-de-desejos h1.aviso-vazio {
    font-size: 22px;
    font-weight: lighter;
}