@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

#menu-home {
    background: url(../../img/fundo-home.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

#menu-home .info-usuario {
    margin-top: 20px;
}

#menu-home .info-usuario .saldo-usuario p {
    font-size: 13px;
    color: #fff;
}

#menu-home .info-usuario .saldo-usuario p span {
    font-size: 20px;
    text-transform: uppercase;
    color: #e8cf96;
    font-weight: bold;
}

#menu-home .info-usuario .saldo-usuario p span #pt {
    font-size: 12px;
}

#menu-usuario {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0;
    margin-top: -5px;
}

#menu-usuario:focus {
    outline:none;
    box-shadow: none;
}

#foto-usuario {
    border-radius: 50%;
    width: 39px;
}

#menu-usuario > span.caret {
    color: #e8cf96;
    margin-left: 5px;
}


.menu-principal {
    font-family: 'Lato', sans-serif;
    margin-left: 30px;
    margin-top: 25px;
}
.menu-principal ul {

}

.menu-principal ul li{
    float: left;
    font-size: 13px;
    margin-left: 35px;
    list-style: none;
}

.menu-principal ul li:last-child{
    margin-right: 35px;
}

.menu-principal ul li a{
    color: #fff;
    text-decoration: none;
}

.btn-resgatar {
    font-size: 13px;
    text-transform: uppercase;
    color: #ebd5a4;
    text-decoration: none;
    border: 2px solid;
    padding: 10px 27px;
    border-radius: 5px;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -ms-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}

.btn-resgatar:hover {
    background-color: #ebd5a4;
    color: #fff;
    border-color: #ebd5a4;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;

}

#logo-home {
    margin-top: -38px;
}

#menu-home .conteudo-texto {
    font-family: 'Lato', sans-serif;
    margin-top: 110px;
    margin-bottom: 104px;
}

#menu-home .conteudo-texto h1 {
    font-size: 32px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#menu-home .conteudo-texto h2 {
    text-align: center;
    color: #ebd4a1;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 22px;
}

#menu-home .conteudo-texto a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    background-color: #ff3333;
    border-radius: 3px;
    padding: 17px 55px;
    display: table;
    margin: 0 auto;
    text-transform: uppercase;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -ms-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}

#menu-home .conteudo-texto a:hover {
    background-color:  #C73232;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -ms-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}

.passos .conteudo-passos {
    background-color: rgba(0,0,0,0.4);
    padding: 20px 35px;
    margin-left: 3px;
    position: relative;
}

.passos .conteudo-passos .miniatura {
    margin-right: 17px;
}

.passos .conteudo-passos .texto {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #fff;
}

.passos .conteudo-passos .texto .num {
    font-size: 28px;
}

.passos .conteudo-passos .texto p {
    font-size: 17px;
    text-transform: uppercase;
}

.no-padding {
    padding: 0px;
}

.seta-passos {
    position: absolute;
    top: 50%;
    margin-top: -21px;
    right: -22px;
    z-index: 1;
}


#info-insurance {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

#info-insurance .info-texto {
    padding-left: 6px;
}

#info-insurance .info-texto h2 {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
}

#info-insurance .info-texto p {
    font-size: 15px;
    color: #414141;
    font-weight: lighter;
    margin-bottom: 23px;
}

#produtos-destaques {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
    padding: 40px 0px 40px 0px;
}

#produtos-destaques h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 0px;
}

#produtos-destaques .btn-todos {
    text-decoration: none;
    display: table;
    margin: 20px auto;
    color: #575a59;
    border: 2px solid #e0e0e0;
    padding: 12px 44px;
    border-radius: 9px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;;
}

.btn-todos:hover {
    background-color: #e0e0e0;
    color: #fff !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.swiper-slide {
    position: relative;
}

.produto {
    background-color: #fff;
    border: solid 1px #eee;
    -webkit-border-radius: 6px 6px 6px;
    border-radius: 6px 6px 6px;
    overflow: hidden;
    min-height: 360px;
}

.foto-produto {
    width: 100%;
    display: block;
    height: 180px;
    text-align: center;
    margin-top: 42px;
}

.adapta-img {
    width: 187px;
}

.slide-produtos .desc-produto {
    min-height: 100px;
    padding: 0px 15px;
}

.slide-produtos .status-produto {
    width: 100%;
    border-top: 1px solid #eeeeee;
    padding-bottom: 64px !Important;
    padding-top: 0px;
    padding: 1px 15px;
}

.slide-produtos .desc-produto h2 {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.slide-produtos .desc-produto p {
    font-size: 12px;
    text-align: center;
    height: 50px;
}

.slide-produtos .status-produto .pull-left {
    font-size: 20px;
    margin-top: 11px;
}

.saldo-vermelho {
    color: #ff0000;
}

.slide-produtos .status-produto .pull-right {
    margin-top: 15px;
}

#troque-premios {
    font-family: 'Open Sans', sans-serif;
    background: url("../../fonts/fundo-troca.jpg") no-repeat;

}

#troque-premios h1 {
    font-size: 26px;
    color: #e4cd9b;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;

}

#troque-premios p {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
#troque-premios .info-pontos {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 29px;
    margin-bottom: 50px;
}

#troque-premios .info-pontos img {
    display: table;
    margin: 0 auto;
    padding-top: 40px;
}

#troque-premios .info-pontos h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #666666;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 40px;
}
#troque-premios .info-pontos a {
    text-decoration: none;
}



