.btn-imprimir {
    display: none;
}
.rodape-home {
    display: none;
}

#conteudoAdm h1 {
    margin-top: -100px !important;
}

.conteudo-imagem {
    width: 250px;
    height: 250px;
    display: table;
    margin: 0px auto;
}

.breadcrumbs {
    display: none;
}

.descricao-produto .btn-vermelho {
    display: none;
}

.descricao-produto .btn-imprimir {
    display: none;
}

.descricao-produto {
    margin-top: 20px;
}

.filtro-pesquisa {
    display: none;
}

#datatable thead tr th {
    width: 50px !Important;
}

#logo-pega {
    display: table;
    margin: 0 auto;
}

#dados-relatorio .btn-success {
    display: none;
}

#dados-relatorio img {
    float: none !important;
    display: table;
    margin: 0 auto;
}

#dados-relatorio table {
    font-size: 13px;
}

footer {
    display: none;
}

#topo-pagina .titulo-pagina {
    margin-top: 0px;
}

.menu-secundario {
    display: none;
}

.btn-amarelo {
    display: none;
}

#logo-relatorios {
    display: table;
    margin: 0 auto;
}

#logo-impressao {
    display: table;
    margin: 0 auto;
    display: initial !important;
}