.barra-topo-verde{
    position: relative;
    float: left;
    width: 100%;
    height: 2px;
    background-color: #FF9500;
    margin-bottom: 15px;
}

.espaco-texto-header{
    width: 259px;
}

.espaco-texto-header img {
    margin-top: 20px;
}

header{
    color: #666666;
    margin-bottom: 30px;
}

.texto-esquerdo{
    text-align: right;
}

.texto-direito{
    text-align: left;
}

section{
    background: url(../../img/fundo-login.jpg)no-repeat center center #fff;
    background-size: cover;
    padding: 45px 0px 70px 0px;
}

.espaco-quadrado-login{
    width: 320px;
    padding-left: 530px;
}

.quadrado-login{
    background-color: rgba(36,152,200,0.6);
    padding: 30px 15px;
    border-radius: 5px;
    font-family: Open sans;
    font-weight: 400;
    min-height: 280px;
}

.quadrado-login h1{
    font-family: Raleway;
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    letter-spacing: 1px;
}

.quadrado-login hr{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.quadrado-login form {
    margin-top: 40px;
}

.quadrado-login label{
    float: left;
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
}

.form-input{
    float: left;
    width: 100%;
}

.iconeUsuario {
    position: relative;
    float: left;
    width: 15%;
    height: 25px;
    text-align: center;
    padding-top: 11px;
    padding-left: 3px;
    font-size: 19px;
    clear: left;
    background: #f8f8f8;
    color: #dddddd;
    border: 2px solid #dddddd;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#formLogin input[type="text"]{
    display: block;
    position: relative;
    float: left;
    height: 24px;
    width: 73%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 2px;
    color: #333;
    background-color: white;
    border: 2px solid #DEDCDC;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 15px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#formLogin input[type="password"]  {
    display: block;
    position: relative;
    float: left;
    height: 24px;
    width: 73%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 2px;
    color: #333;
    background-color: white;
    border: 2px solid #DEDCDC;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 15px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

a{
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial;
    font-size: 12px;
}

#formLogin input[type="submit"]{
    float: right;
    margin-right: 3px;
    border: none;
    border-radius: 4px;
    background-color: #96bf31;
    color: white;
    padding: 18px 40px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.espaco-texto-primeiro-acesso{
    width: 400px;
}

.esqueci-senha{
    color: #fff;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-left: -204px;
    padding: 10px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.esqueci-senha a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

footer{
    font-family: 'Open Sans', sans-serif;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #666666;
    font-size: 13px;
}