::-webkit-scrollbar {
    display: none;
}

audio {
    opacity: 0;
    position: absolute;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.conteudo-login {
    float: left;
    width: 100%;
    height: 100vh;
}

.conteudo-login.conteudo-nova-senha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

.conteudo-login .bg-login {
    float: left;
    position: fixed;
    width: 56%;
    height: 100vh;
}

.conteudo-login .bg-login figure {
    background: url(../../img/bg-login.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    background-size: contain;
}

.conteudo-login .conteudo-form {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 44%;
    height: auto;
    padding: 3% 25% 3% 0;
    overflow-y: auto;
}

.conteudo-login.conteudo-nova-senha .conteudo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: auto;
    padding: 0;
    overflow-y: auto;
}

@media(max-width: 480px) {
    .conteudo-login.conteudo-nova-senha {
        margin-bottom: 85px;
    }
    .conteudo-login.conteudo-nova-senha .conteudo-form.nova-senha .logo {
        order: unset;
    }
    .conteudo-login.conteudo-nova-senha .conteudo-form.nova-senha form {
        order: unset;
    }
    .conteudo-login.conteudo-nova-senha .conteudo-form.nova-senha .sobre-yetz {
        margin-top: 20px;
    }
    .conteudo-login.conteudo-nova-senha .conteudo-form.nova-senha .sobre-yetz span {
        padding: 0px 20px;
    }
}

.conteudo-login .conteudo-form .logo {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.conteudo-login .conteudo-form .logo img {
    width: 190px;
}

.conteudo-login .conteudo-form .titulo-login {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.conteudo-login .conteudo-form .titulo-login h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    margin: 0;
}

.conteudo-login .conteudo-form .titulo-login .traco {
    width: 77px;
    border-top: 1px solid #FF8000;
    float: left;
    margin-top: 13px;
}

.conteudo-login .conteudo-form #formEsqueciSenha {
    display: none;
}

.btn-cancelar-esqueci-senha {
    background: transparent;
    color: #d4003a;
}

.conteudo-login .conteudo-form form,
.conteudo-login .conteudo-form #formEsqueciSenha {
    width: 100%;
}

.conteudo-login .conteudo-form .form-control[disabled] {
    background-color: #f8f8f8;
}

.conteudo-login .conteudo-form .form-group input[type="text"],
.conteudo-login .conteudo-form .form-group input[type="password"] {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: #363636;
    border: 1px solid #C2C2C2;
    box-shadow: none;
    border-radius: 0;
}

.conteudo-login .conteudo-form .form-group .input-group .input-group-addon {
    border-radius: 0;
    background: #ffffff;
}

.conteudo-login.conteudo-nova-senha .conteudo-form .form-group .input-group {
    width: 100%;
}

#btn-refresh-chave {
    cursor: pointer;
}

.conteudo-login .conteudo-form .form-group input[type="text"]::placeholder,
.conteudo-login .conteudo-form .form-group input[type="password"]::placeholder {
    color: #363636;
    font-weight: 500;
}

.conteudo-login .conteudo-form .form-group input[type="button"],
.conteudo-login .conteudo-form .form-group input[type="submit"] {
    width: 100%;
    height: 70px;
    border-radius: 4px;
    background: #ff6f00;
    border: none;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    outline: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.conteudo-login .conteudo-form .form-group input[type="button"]:hover,
.conteudo-login .conteudo-form .form-group input[type="submit"]:hover {
    background: #fb9200;
    color: #ffffff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.conteudo-login .conteudo-form .footer-mobile-descricao {
    display: none;
}

#esqueci-minha-senha {
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: #d4003a;
    display: block;
    text-align: center;
    margin-top: 20px;
}

#msgCaps {
    font-weight: 500;
    color: #d4003a;
    display: block;
    text-align: left;
    font-size: 12px;
    margin-top: -10px;
}

#modalFinalizarCadastro .modal-dialog {
    width: 800px;
    margin-top: 80px;
}

#modalConfirmarInformacoes {
    overflow-y: auto;
}

#modalConfirmarInformacoes .modal-dialog {
    width: 500px;
    margin: 80px auto 0 auto;
    margin-top: 80px;
}

#modalFinalizarCadastro .modal-dialog .modal-content {
    border-radius: 0px;
}

#modalConfirmarInformacoes .modal-dialog .modal-content {
    border-radius: 0px;
}

#modalFinalizarCadastro .modal-dialog .modal-content .close {
    width: 60px;
    background: #FF8000;
    opacity: 1;
    height: 55px;
    margin-top: -55px;
}

#modalConfirmarInformacoes .modal-dialog .modal-content .close {
    width: 60px;
    background: #FF8000;
    opacity: 1;
    height: 55px;
    margin-top: -55px;
}

#modalConfirmarInformacoes .modal-dialog .modal-content .modal-body {
    padding: 50px 30px;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal {
    width: 607px;
    display: table;
    margin: 0 auto;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal .titulo-modal {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

#modalConfirmarInformacoes .modal-dialog .modal-content .modal-body .conteudo-modal .titulo-modal {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal .titulo-modal h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

#modalConfirmarInformacoes .modal-dialog .modal-content .modal-body .conteudo-modal .titulo-modal h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal .titulo-modal .traco {
    border-top: 2px solid #FF8000;
    width: 200px;
    margin-top: 12px;
    float: right;
}

#modalConfirmarInformacoes .modal-dialog .modal-content .modal-body .conteudo-modal .titulo-modal .traco {
    border-top: 2px solid #FF8000;
    width: 60px;
    margin-top: 5px;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body {
    padding: 55px 0px 40px 0px;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form {
    float: left;
    width: 100%;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group .input-group-addon {
    border-radius: 0;
    border: 1px solid #C2C2C2;
    border-right: none;
    background: #ffffff;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group .input-group-addon.only-read {
    background: #F8F8F8;
}

.form-control[readonly] {
    background: #f8f8f8;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group .input-group-addon img {
    width: 12px;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group .input-group-addon .icone-envelope {
    width: 23px;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group input[type="text"],
#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group input[type="email"],
#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group input[type="password"],
#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group select {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #C2C2C2;
    border-left: none;
    font-size: 14px;
    height: 50px;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group input[type="text"]::placeholder,
#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group input[type="email"]::placeholder,
#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group input[type="password"]::placeholder {
    color: #777777;
}

#form-apelido,
#form-celular,
#form-senha {
    float: left;
    width: 49%;
    margin-right: 2%;
}

#form-data,
#form-telefone,
#form-senha-confirmar {
    float: left;
    width: 49%;
}

#checkboxDiv,
#checkboxDiv2 {
    float: left;
    width: 50%;
    margin-top: 20px;
}

#checkboxDiv .check,
#checkboxDiv2 .check {
    width: 20px;
    height: 20px;
    border: 1px solid #C1C1C1;
    float: left;
    margin-right: 20px;
    margin-top: 8px;
    cursor: pointer;
}

#checkboxDiv span,
#checkboxDiv2 span {
    float: left;
    font-weight: 400;
    font-size: 12px;
    width: 167px;
    cursor: pointer;
}

#checkboxDiv2 span {
    width: 220px;
}

#checkboxDiv2 span a {
    color: #ff8000;
    font-weight: bold;
}

#concluiPrimeiroAcesso {
    width: 100%;
    height: 70px;
    text-align: center;
    background: #FF9900;
    border: 2px solid #FF9900;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 20px;
    transition: all .3s;
}

#concluiPrimeiroAcesso:hover {
    background: transparent;
    color: #FF9900;
    transition: all .3s;
}

.check.active-check {
    background: url("../../fonts/icons/icone-check.svg") no-repeat #FF8000 center center;
    border: 1px solid #FF8000 !important;
    background-size: 10px;
}

#modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group.campo-invalido .input-group-addon {
    border: 1px solid #F44336;
    border-right: none;
}

.modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group.campo-invalido input[type="email"],
.modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group.campo-invalido input[type="text"],
.modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group.campo-invalido input[type="password"],
.modal-dialog .modal-content .modal-body .conteudo-modal form .form-group .input-group.campo-invalido input[type="select"] {
    border: 1px solid #F44336 !important;
    border-left: none !important;
}

#confirma-cadastro-msg {
    float: left;
    background: #40c546;
    color: #fff;
    font-weight: 500;
    padding: 12px;
    margin-bottom: 15px;
}

#confirmarCadastroPrimeiroAcesso {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    background: #ff8000;
    border: 2px solid #ff8000;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    transition: all .3s;
}

#confirmarCadastroPrimeiroAcesso:hover {
    transition: all .3s;
    background: transparent;
    color: #ff8000;
}

#cancelarCadastroPrimeiroAcesso {
    width: 100%;
    height: 50px;
    background: #D4003A;
    border: 2px solid #D4003A;
    font-weight: bold;
    font-size: 20px;
    background: #D4003A;
    color: #ffffff;
    transition: all .3s;
}

#cancelarCadastroPrimeiroAcesso:hover {
    background: transparent;
    color: #D4003A;
    transition: all .3s;
}

.conteudo-login .conteudo-form .form-group .input-group input[type="text"] {
    border-right: none;
}

.video-sobre {
    width: 100%;
    min-height: 250px;
    margin: 35px 0px;
    padding: 20px;
    border: solid 1px #cbcbcb;
    border-radius: 5px;
    background-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.video-sobre:hover {
    text-decoration: none;
}

.video-sobre p {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #971134;
    text-decoration: none;
}

.store {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.store span {
    display: block;
    font-size: 11px;
    font-weight: 600;
    color: #8E8E8E;
    margin-bottom: 12px;
}

.store ul {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.store ul li {
    float: left;
    margin-left: 10px;
}

.store ul li:first-child {
    margin-left: 0px;
}

.sobre-yetz {
    /* float: left; */
    width: 100%;
}

.sobre-yetz img {
    width: 108px;
    margin-bottom: 25px;
}

.sobre-yetz .texto {
    width: 100%;
    text-align: center;
}

.sobre-yetz .texto span {
    display: block;
    width: 350px;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 15px;
    color: rgba(139, 139, 139, 0.88);
}

.sobre-yetz .texto span:last-child {
    margin-bottom: 0px;
}

.site-seguro {
    width: 100%;
    margin-top: 30px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-seguro .logo-sobre {
    width: 108px;
}

#progress-login {
    float: left;
    width: 350px;
    display: none;
}

#informacoes-confirma-cadastro {
    text-align: center;
    margin-bottom: 25px;
}

@media(max-width: 1440px) {
    .video-sobre {
        width: 80%;
        margin: 20px auto!important;
    }
    .video-sobre img {
        height: 125px;
    }
    .video-sobre p {
        font-size: 11px;
    }
    .conteudo-login .conteudo-form {
        padding: 3% 18% 3% 0;
    }
    .conteudo-login .conteudo-form .logo img {
        width: 100%;
    }
    .conteudo-login .conteudo-form .titulo-login {
        margin-bottom: 20px;
    }
    .conteudo-login .conteudo-form .titulo-login h1 {
        font-size: 22px;
    }
    .conteudo-login .conteudo-form .form-group input[type="button"],
    .conteudo-login .conteudo-form .form-group input[type="submit"] {
        height: 45px;
    }
    .video-sobre {
        min-height: 190px;
        margin: 25px 0px;
        padding: 15px;
    }
}

@media(max-width: 1366px) {
    .conteudo-login .conteudo-form {
        padding: 3% 7% 3% 7%;
    }
}

@media(max-width: 991px) {
    #modalFinalizarCadastro .modal-dialog {
        width: 95%;
        margin-top: 80px;
    }
    .conteudo-login .bg-login {
        width: 100%;
        height: 385px;
        overflow: hidden;
        position: relative;
    }
    .conteudo-login .bg-login figure {
        background-size: cover;
    }
    .conteudo-login .conteudo-form .titulo-login .traco {
        margin: 15px 0;
    }
    .conteudo-login .conteudo-form {
        width: 100%;
        padding: 50px 30px;
        height: initial;
        overflow-y: auto;
    }
    .conteudo-login .conteudo-form .logo {
        display: table;
        margin: 0 auto;
        margin-bottom: 30px;
        float: initial;
        width: auto;
    }
    .conteudo-login .conteudo-form .titulo-login {
        margin-bottom: 30px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteudo-login .conteudo-form form {
        width: 50%;
        margin: 0 auto;
    }
    .conteudo-login .conteudo-form #formEsqueciSenha {
        float: initial;
        margin: 0 auto;
    }
    .video-sobre {
        margin: 0 auto;
        width: auto;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .store {
        float: initial;
        display: table;
        margin: 0 auto;
        width: auto;
        text-align: center;
        margin-bottom: 30px;
    }
    .sobre-yetz {
        float: initial;
        width: auto;
        text-align: center;
        display: table;
        margin: 0 auto;
    }
    .site-seguro {
        margin: 0 auto;
        padding: 0;
        width: 30%;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #progress-login {
        float: initial;
        width: 350px;
        display: none;
        margin: 0 auto;
    }
}

@media(max-width: 1024px) {
    .conteudo-login .bg-login figure {
        background-size: cover;
    }
    #footer-mobile {
        display: none;
    }
    #modalConfirmarInformacoes .modal-dialog {
        width: 65%;
    }
    #modalConfirmarInformacoes .modal-dialog .modal-content .modal-body .conteudo-modal .titulo-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #modalConfirmarInformacoes .modal-dialog .modal-content .modal-body .conteudo-modal .titulo-modal .traco {
        order: -1;
        margin-bottom: 15px;
        margin-top: 0;
    }
    #modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal {
        width: 90%;
    }
    #checkboxDiv,
    #checkboxDiv2 {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    #modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal .titulo-modal .traco {
        width: 100px;
    }
    .site-seguro {
        width: 35%;
    }
}

@media(max-width: 560px) {
    #modalConfirmarInformacoes .modal-dialog {
        width: 90%;
    }
    #modalConfirmarInformacoes .modal-dialog .modal-content .modal-body .conteudo-modal .titulo-modal h1 {
        font-size: 20px;
        text-align: center;
    }
}

@media(max-width: 480px) {
    .conteudo-login {
        height: auto;
        float: unset;
    }
    .conteudo-login .conteudo-form .form-group input[type="text"],
    input[type="password"] {
        font-size: 3vw;
    }
    .conteudo-login .bg-login figure {
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .conteudo-login .conteudo-form {
        padding: 30px 15px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
    }
    .conteudo-login .conteudo-form .logo {
        order: 4;
        margin-top: 80px;
        margin-bottom: 55px;
    }
    .conteudo-login .conteudo-form .titulo-login {
        display: none;
    }
    .conteudo-login .conteudo-form form {
        order: 1;
        width: 260px;
    }
    .conteudo-login .conteudo-form .video-sobre {
        width: 100%;
        order: 2;
    }
    #confirma-cadastro-msg span {
        display: block;
        text-align: center;
    }
    #modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal .titulo-modal .traco {
        width: 100px;
        float: initial;
        display: table;
        margin: 0 auto;
        margin-top: 20px;
    }
    #modalFinalizarCadastro .modal-dialog .modal-content .modal-body .conteudo-modal .titulo-modal h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        float: initial !important;
    }
    .conteudo-login .bg-login {
        height: 140px;
    }
    .conteudo-login .conteudo-form .titulo-login h1 {
        float: initial;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .conteudo-login .conteudo-form .titulo-login .traco {
        margin: 15px;
    }
    .conteudo-login .conteudo-form form,
    .conteudo-login .conteudo-form #formEsqueciSenha {
        width: 260px;
    }
    .video-sobre .thumb-video {
        width: 90%;
        height: 173.5px;
        object-fit: cover;
        margin: 0 auto;
    }
    .video-sobre p {
        text-align: center;
        margin-top: 33px;
    }
    .sobre-yetz .texto {
        width: 100%;
    }
    .sobre-yetz .texto span {
        width: 100%;
    }
    #progress-login {
        float: initial;
        width: 100%;
        display: none;
        margin: 0 auto;
    }
    .site-seguro {
        width: 45%;
    }
    .site-seguro a img {
        max-width: 80%;
    }
    .site-seguro .logo-sobre {
        width: 80px;
    }
    .conteudo-login .conteudo-form .footer-mobile-descricao {
        display: block;
        background-color: #811837;
        color: white;
        padding: 15px 20px;
        font-size: 10px;
        text-align: center;
        order: 5;
        width: calc(100% + 45px);
        position: relative;
        left: -30px;
    }
}

@media(max-width: 320px) {
    .site-seguro {
        width: 60%;
    }
    .site-seguro .logo-sobre {
        width: 70px;
    }
    #confirma-cadastro-msg span {
        font-size: 12px;
    }
    #confirmarCadastroPrimeiroAcesso {
        font-size: 15px;
    }
    #cancelarCadastroPrimeiroAcesso {
        font-size: 15px;
    }
}

#modalTermosUso .modal-dialog {
    width: 800px;
    margin-top: 80px;
}

#modalTermosUso .modal-dialog .modal-content {
    border-radius: 0px;
}

#modalTermosUso .modal-dialog .modal-content .close {
    width: 60px;
    background: #FF8000;
    opacity: 1;
    height: 55px;
    margin-top: -55px;
}

#modalTermosUso .modal-dialog .modal-content .modal-body .termo-uso {
    height: 700px;
    width: 700px;
    margin: 0 auto;
    overflow-x: scroll;
}

.alerta-caps {
    display: none;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #d4003a;
}

.alerta-caps.active {
    display: block;
}

@media(max-width: 768px) {
    #modalTermosUso .modal-dialog {
        width: 95%;
    }
}

@media(max-width: 480px) {
    #modalTermosUso .modal-dialog .modal-content .modal-body .termo-uso {
        width: 100%;
    }
    #modalTermosUso .modal-dialog .modal-content .modal-body .termo-uso h3 {
        font-size: 20px;
        font-weight: bold;
    }
    #modalTermosUso .modal-dialog .modal-content .modal-body .termo-uso p {
        font-size: 13px;
    }
}