@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';

@media only screen and (orientation:portrait){
	body {
		/* height: 100vw;
		transform: rotate(180deg); */
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	/* IE10+ specific styles go here */
	.saldo-novo {
		width: 273px!important;
	}
	.carrinho{
		margin-top: -38px!important;
	}
}

html {
	overflow-x: hidden;
	overflow-y: auto;
}

html.no-scroll {
	overflow: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}
.sem-formatacao-titulo {
	border: none !important;
	width: auto !important;
	padding-bottom: 0 !important;
}


a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

#modal-media{
	z-index: 1041;
}

#modalTrocaSenha{
	display: none;
}

.slide-todas-categorias {
	position: relative;
	padding: 30px 0px;
	display: none;
	background: #761632;
}

.fixar-conteudo-duvidas {
	position: fixed;
	top: 0px;
	width: 750px;
	z-index: -10;
}

.lampada-grande i{
	font-size: 51px !important;
}

.img-responsive{
	margin:  0 auto;
}

.icone-extrato-page {
	margin-top: 14px;
	width: 50px;
}

.validade {
	font-size: 12px;
}

.detalhes-movimentacao {
	font-size: 14px;
}

.titulo-campanha-incentivo {
	font-size: 35px;
	text-transform: uppercase;
	color: #223c77;
	font-weight: bold;
	margin-top: 100px;
}

.espaco-pontos {
	margin-bottom: 80px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	z-index: 9 !important;
}

.fundo-cinza {
	background-color: #f1f3f4;
	margin-top: 150px;
}
.espaco-prod {
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: 160px !important;
}
.topo-produto .etapas .etap:first-child .icone-conhecimento {
	margin-top: 28px;
	margin-bottom: 26px;
}
.menu-categorias .swiper-wrapper .swiper-slide a {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.flaticon-balao-conversa {
	margin-right: 7px;
}
.flaticon-balao-conversa:before {
	font-size: 13px !important;
	margin-left: 0px !important;
}
.active-categoria {
	background: #541124;
}
.menu-categorias .swiper-slide a i:before {
	font-size: 35px;
	color: #ff9999;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.nome-categoria-novo i:before {
	font-size: 35px;
	font-weight: normal;
}

.nome-categoria-novo i {
	margin-right: 15px;
}

.categorias-divido ul li a i:before {
	font-size: 40px;
	color: #ff9933;
}

.categorias-divido ul li a i {
	margin-right: 15px;
}
.titulo-pag {
	color: #ff9999;
	margin: 0;
	font-size: 20px;
}
.banner .swiper-button-disabled {
	opacity: 0.5;
}

.banner .swiper-slide{
	min-width: 100%;
}

.btn-regras {
	background: #223c77;
	color: #fff;
	padding: 10px 20px;
	border-radius: 27px;
	text-decoration: none;
	border: 2px solid transparent;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	margin-top: 33px;
	float: right;
	margin-left: 125px;
}

.btn-regras:hover {
	border: 2px solid #223c77;
	background: transparent;
	color: #fff;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.slide-produtos {
	overflow: hidden;
}

.active-menu {
	border: 2px solid #992d4c !important;
	padding: 5px 8px;
	border-radius: 50px;
}
.transicao {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.transicao-background {
	-webkit-transition: background-color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in;
	-ms-transition: background-color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in;
}
.no-padding {
	padding: 0;
}
.saldo-vermelho {
	color: #cc0000 !important;
}
.saldo-verde {
	color: #339900 !important;
}
.saldo-amarelo {
	color: #f7b41e !important;
}

.cabecalho .logo {
	margin-left: -127px;
	position: absolute;
	z-index: 1;
}

.produtos-destaques h1 {
	font-weight: normal;
	margin-bottom: 45px;
	font-size: 20px;
	color: #ff9999;
	margin: 0;
	text-transform: uppercase;
}

.produtos-destaques h1 strong {
	font-weight: 800 !important;
}

.cabecalho .info-usuario {
	z-index: 1;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	background: #f8bc1b;
	padding-bottom: 50px;
	padding-left: 90px;
	padding-top: 10px;
	margin-left: 0;
}
.cabecalho .info-usuario p {
	margin-bottom: 0px;
}
.cabecalho .info-usuario .fale-conosco {
	margin-top: 11px;
}
.cabecalho .info-usuario .fale-conosco img {
	float: left;
	margin-top: 2px;
}
.cabecalho .info-usuario .fale-conosco p {
	margin-left: 25px;
	color: #fff;
}
.cabecalho .info-usuario .usuario {
	color: #fff;
	/* margin-left: 55px; */
	float: right;
}
.usuario .dropdown{
	float: right;
	margin-top: 8px;
}
.cabecalho .info-usuario .usuario img {
	float: left;
	border-radius: 50%;
	border: 2px solid #f9b43f;
	margin-top: -5px;
	width: 50px;
}
.cabecalho .info-usuario .usuario .dropdown-toggle {
	background: transparent;
	border: none;
	box-shadow: none;
}
.cabecalho .info-usuario .usuario .dropdown-toggle .caret {
	color: #ffcc00;
}
.cabecalho .info-usuario .usuario ul li a i {
	margin-right: 10px;
}
.cabecalho .info-usuario .saldo {
	display: inline-block;
	float: left;
	color: #992d4c;
	font-style: italic;
	font-size: 14px;
	font-weight: lighter;
	margin: 0;
	margin: 5px 35px 0px -42px;
}
.cabecalho .info-usuario .saldo strong {
	font-size: 21px;
	font-weight: 800;
	font-style: normal;
	margin-left: 5px;
}
.cabecalho .info-usuario:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-left: 126px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 75px solid #f8bc1b;
	bottom: 0;
	left: -122px;
	z-index: -1;
}
.banner {
	background: url(../../img/fundo-principal.jpg) no-repeat;
	height: auto;
	overflow: hidden;
	float: left;
	width: 100%;
	position: relative;
}

.banner01 {
	margin: auto;
	width: 100%;
}

.banner02 {
	margin-top: 7px;
}

.banner03 {
	margin-top: 7px;
}

.banner .swiper-container {
	margin-top: -1px;
	z-index: 0;
}
.banner .setas {
	position: absolute;
	left: 390px;
	z-index: 10;
	bottom: 5%;
}
.banner .setas .seta-esq1 {
	margin-right: 5px;
}

.banner .setas .seta-esq1, .banner .setas .seta-dir1 {
	display: inline-block;
	background-color: transparent;
	color: #f9f6d1;
	padding: 2px 13px 6px 13px;
	cursor: pointer;
	border: 2px solid #f9f6d1;
	border-radius: 50%;
	font-size: 20px;
}

.banner .setas .seta-esq1 i,
.banner .setas .seta-dir1 i {
	display: initial !important;
}
.banner .menu {
	font-family: 'Open Sans', sans-serif;
	margin-top: 85px;
	margin-left: 270px;
}
.banner .menu ul {
	padding-left: 0px;
}
.banner .menu ul li {
	float: left;
	list-style: none;
	margin-left: 4px;
	padding: 7px 10px;
	margin-top: -5px;
}
.banner .menu ul li:hover {
	border: 2px solid #992d4c !important;
	padding: 5px 8px;
	border-radius: 50px;
}
.banner .menu ul li a {
	color: #992d4c;
	font-weight: bold;
	text-decoration: none;
}
.banner .menu ul li:first-child {
	margin-left: 0px;
	padding: 7px 10px;
}
.menu-secundario .btn-resgatar {
	float: left;
	background-color: #339933;
	border: 2px solid #339933;
	padding: 10px 20px;
	border-radius: 22px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	margin-left: 30px;
	font-weight: bold;
	-webkit-transition: background-color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in;
	-ms-transition: background-color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in;
}
.btn-resgatar:hover {
	background-color: transparent !important;
	border: 2px solid #339933;
	color: #fff;
	/* font-weight: bold; */
	/* font-style: normal; */
	-webkit-transition: background-color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in;
	-ms-transition: background-color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in;
}
.acesso-site {
	padding-bottom: 50px;
}
.acesso-site .marcas {
	margin-top: -160px;
}
.acesso-site .banner-prog {
	margin-top: 90px;
}
.acesso-site .acesso-rapido {
	background: url("../../fonts/fundo01.jpg");
	border-radius: 3px;
	text-align: center;
	margin-top: 50px;
}
.acesso-site .acesso-rapido img {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -106px;
}
.acesso-site .acesso-rapido h2 {
	font-size: 18px !important;
	color: #223c77;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 100px;
}
.acesso-site .acesso-rapido p {
	font-size: 13px;
	padding-bottom: 30px;
	color: #fff;
}
.acesso-site .extrato-pontos, .acesso-site .lista-desejos {
	background: url(../../img/fundo02.jpg);
	border-radius: 3px;
	transform: scale(1);
	margin-top: 50px;
	text-align: center;
	overflow: hidden;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.acesso-site .extrato-pontos img,
.acesso-site .lista-desejos img {
	display: table;
	margin: 0 auto;
	padding-top: 30px;
}
.acesso-site .extrato-pontos p,
.acesso-site .lista-desejos p {
	font-size: 20px;
	color: #f7b21e;
	margin-top: 28px;
}
.acesso-site .extrato-pontos p strong,
.acesso-site .lista-desejos p strong {
	font-size: 24px;
}
.acesso-site .extrato-pontos .conteudo-botao,
.acesso-site .lista-desejos .conteudo-botao {
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(55deg);
	margin-left: 321px;
}
.acesso-site .extrato-pontos .conteudo-botao .btn-proximo,
.acesso-site .lista-desejos .conteudo-botao .btn-proximo {
	background-color: #f7a81e;
	padding: 40px;
	position: relative;
}
.acesso-site .extrato-pontos .conteudo-botao .btn-proximo i,
.acesso-site .lista-desejos .conteudo-botao .btn-proximo i {
	position: absolute;
	top: 33px;
	left: 6px;
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(-55deg);
	color: #fff;
	font-size: 20px;
}
.acesso-site .extrato-pontos:hover, .acesso-site .lista-desejos:hover {
	transform: scale(1.05);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.lista-produtos {
	background-color: #f1f3f4;
	overflow: hidden;
	padding: 10px;
	margin-top: 30px;
}
.lista-produtos .btn-veja-mais {
	border: 2px solid #b8c3c9;
	padding: 10px 20px;
	border-radius: 50px;
	color: #72838d;
	text-decoration: none;
	margin-top: 40px;
	margin-right: 23px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.lista-produtos .btn-veja-mais:hover {
	background-color: #72838d;
	border-color: #72838d;
	color: #fff;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.lista-produtos .produtos {
	margin-top: 110px;
	padding-left: 25px;
	padding-right: 25px;
}
.lista-produtos .produtos a {
	background: #fff;
	cursor: pointer;
	text-decoration: none;
	float: right;
	font-size: 24px;
	color: #cad5db;
	margin-right: 5px;
	margin-top: -15px;
	border-radius: 50%;
	padding: 3px 8px;
	position: absolute;
	box-shadow: 0 0 10px 2px #e7e8e9;
	right: 15px;
	top: 32px;
}

.favoritar {
	padding: 8px 8px !important;
}

.padding-desejo {
	padding: 5px 5px !important;
}


.imagem-prod {
	background: #f5f5f5;
	padding: 30px;
}

.desc-produto {
	padding: 23px 21px;
}

.categorias-produtos .categoria .saldo-verde, .categorias-produtos .categoria .saldo-vermelho, .categorias-produtos .categoria .saldo-amarelo {
	font-size: 15px;
}

.lista-produtos .produtos .prod {
	background-color: #fff;
	margin-bottom: 25px;
	position: relative;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	cursor: pointer;
}
.lista-produtos .produtos .prod .estrela {
	position: absolute;
	right: 30px;
}

.tipos .loja img, .tipos .ecommerce img {
	margin: 0;
	float: left;
	margin-right: 25px;
}

.tipos .loja {
	float: left;
	padding-right: 59px;
	border-right: 1px solid #cccccc;
}

.tipos {
	margin-top: 35px;
}

.tipos .ecommerce {
	overflow: hidden;
	padding-left: 59px;
}

.conteudo-prog p {
	color: #6d7f89;
	font-size: 18px;
}

.tipos .loja p, .tipos .ecommerce p {
	font-size: 33px;
	color: #993333;
	overflow: hidden;
	font-weight: 800;
}


.filtro {
	padding: 30px 0;
	background-color: #f4f4f4;
	position: relative;
}

.filtro .container {
	display: flex;
	align-items: center;
}

.filtro p {
	font-size: 24px;
	color: #a7b9c2;
	float: left;
}

.filtro #slider {
	width: 412px;
	float: left;
	margin-left: 65px;
	margin-top: 13px;
	background: #fdb813;
	border: 3px solid #eaeef1;
	border-radius: 10px;
}

.texto-enfase .enfase {
	font-size: 25px;
}

.filtro #slider .ui-state-default, .ui-widget-content .ui-state-default {
	border-radius: 50%;
	padding: 15px;
	background: #fff !important;
	top: -12px !important;
	-webkit-box-shadow: 0 0 10px 1px #eaeef1;
	box-shadow: 0 0 10px 1px #eaeef1;
	border: none !important;
	outline: none !important;
	cursor: pointer !important;
}

.texto-nao-possui-produto {
	margin: 0;
	text-align: center;
	margin: 50px 0px;
	font-weight: bold;
	text-transform: uppercase;
	color: #801836;
}

#slider-range-min {
	float: right;
	width: 205px;
	margin-left: 50px;
	margin-top: -22px;
	background: #eaeef1 !important;
	border: 2px solid #eaeef1;
	border-radius: 10px;
}

.ui-slider-horizontal .ui-slider-range {
	background: rgb(253, 184, 19) !important;
}

.lista-produtos .produtos .prod .card {
	display: table;
	margin: 0px auto;
	max-width: 100%;
	margin-top: 15px;
}
.lista-produtos .produtos .prod h2 {
	text-align: center;
	font-size: 18px;
	color: #849eac;
	height: 50px;
	margin: 0;
}
.lista-produtos .produtos .prod hr {
	border-top: 1px solid #eaeef1 !important;
}
.lista-produtos .produtos .prod h1 {
	margin: 0;
	text-align: center;
	font-size: 23px;
	font-weight: normal;
	border: none;
	padding-bottom: 0;
}

.progress {
	height: 10px;
	border-radius: 5px;
	margin-bottom: 0px;
}

.progress-verde {
	background: #eceff0;
}

.progress-vermelho {
	background: #eceff0;
}

.progress-amarelo {
	background: #eceff0;
}

.progress-verde .progress-bar {
	width: 70%;
	background-color: #339933;
	border-radius: 5px;
}

.progress-vermelho .progress-bar {
	width: 70%;
	background-color: #f61a39;
	border-radius: 5px;
}

.progress-amarelo .progress-bar {
	width: 70%;
	background-color: #fdb813;
	border-radius: 5px;
}

.lista-produtos .produtos .prod:hover {
	-webkit-box-shadow: 0 1px 10px 10px #e8eaeb;
	box-shadow: 0 1px 10px 10px #e8eaeb;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.banner-yetz {
	padding: 75px 0;
}
.banner-yetz img {
	display: table;
	margin: 0 auto;
}
.rodape {
	background: url(../../img/fundo-rodape.jpg) no-repeat;
	padding: 100px 0px 39px 0px;
}

.rodape ul {
	float: left;
	margin-top: 7px;
	margin-left: 37px;
}
.rodape ul li {
	list-style: none;
	margin-bottom: 14px;
	font-size: 13px;
}
.rodape ul li a {
	text-decoration: none;
	color: #fff;
}
.rodape .info-pontos {
	padding-left: 25px;
	padding-top: 38px;
	overflow: hidden;
}
.rodape .info-pontos .btn-resgatar {
	background-color: #339933;
	border: 2px solid #339933;
	color: #fff;
	text-decoration: none;
	padding: 7px 20px;
	border-radius: 25px;
	text-transform: uppercase;
	font-size: 13px;
	font-style: italic;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.rodape .info-pontos .btn-resgatar:hover {
	background-color: transparent;
	border: 2px solid #339933;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
header .btn-resgatar {
	float: left;
	background-color: #339933;
	border: 2px solid #339933;
	color: #fff;
	text-decoration: none;
	padding: 7px 20px;
	border-radius: 25px;
	text-transform: uppercase;
	font-size: 13px;
	font-style: italic;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
header .btn-resgatar:hover {
	background-color: transparent;
	border: 2px solid #339933;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.rodape .info-pontos p {
	color: #485359;
	font-size: 12px;
	margin-top: 20px;
}
.menu-secundario {
	background-color: #f7a81e;
	height: 150px;
	position: fixed;
	width: 100%;
	z-index: 11;
}
.menu-secundario .info-usuario {
	z-index: 1;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	/* width: 152%; */
	background: #f8bc1b;
	padding-bottom: 50px;
	padding-left: 0px;
	/* padding-top: 10px; */
	margin-left: 0;
}
.menu-secundario .info-usuario:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-left: 126px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 75px solid #f8bc1b;
	bottom: 0;
	left: -120px;
	z-index: -1;
}
.info-usuario:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: #f8bc1b;
	bottom: 0;
	right: -100%;
	z-index: -1;
}

.menu-secundario .info-usuario .menu {
	font-family: 'Open Sans', sans-serif;
	margin-top: 35px;
	margin-left: -120px;
	float: left;
}
.menu-secundario .info-usuario .menu ul {
	padding-left: 0px;
	display: inline-block;
	float: left;
}
.menu-secundario .info-usuario .menu ul li {
	float: left;
	list-style: none;
	margin-left: 4px;
	padding: 5px 8px;
	margin-top: -5px;
	border: 2px solid transparent;
	border-radius: 36px;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.menu-secundario .info-usuario .menu ul li:hover {
	border: 2px solid #992d4c !important;
	padding: 5px 8px;
	border-radius: 50px;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.menu-secundario .info-usuario .menu ul li a {
	color: #992d4c;
	font-weight: bold;
	text-decoration: none;
}
.menu-secundario .info-usuario .menu ul li:first-child {
	margin-left: 0px;
}
.menu-secundario .info-usuario .menu .btn-resgatar {
	background-color: #339933;
	border: 2px solid #339933;
	padding: 10px 20px;
	border-radius: 22px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	margin-left: 11px;
	font-weight: bold;
	-webkit-transition: background-color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in;
	-ms-transition: background-color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in;
}
.menu-secundario .info-usuario .menu .btn-resgatar:hover {
	background-color: transparent !important;
	border: 2px solid #339933;
	color: #fff;
	font-weight: bold;
	font-style: normal;
	-webkit-transition: background-color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in;
	-ms-transition: background-color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in;
}
.breadcrumbs {
	background: url(../../img/bread.png) no-repeat;
	height: 102px;
	margin-left: 300px;
	z-index: 0;
	position: relative;
	top: 0;
}
.breadcrumbs h1 {
	color: #fff;
	margin-left: 230px;
	margin-top: 40px;
	font-weight: lighter;
	font-style: italic;
	font-size: 25px;
	text-transform: uppercase;
}
.desc-prog {
	background-color: #f4f4f4;
}
.desc-prog img {
	margin-top: 30px;
}
.desc-prog h2 {
	font-size: 27px;
	font-weight: normal;
	color: #333333;
	margin-top: 0;
}
.desc-prog h1 {
	font-size: 40px;
	text-transform: uppercase;
	color: #801836;
	font-weight: bold;
	margin-top: 100px;
}
.desc-prog p {
	font-size: 13px;
	color: #6d7f89;
}
.desc-prog span {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #6d7f89;
}
.desc-prog .veja-abaixo {
	position: relative;
}
.desc-prog .veja-abaixo img {
	position: absolute;
	top: 0px;
	margin: 0;
}
.conteudo-prog {
	padding-top: 66px;
	padding-bottom: 66px;
}

.paragrafos {
	margin-top: 120px;
}

.importante {
	font-size: 18px;
	margin-top: 28px;
	margin-bottom: 28px;
}

.favoritos {
	padding-top: 69px;
	padding-left: 140px;
}

.card-favorito {
	padding-bottom: 69px;
	margin-top: -50px;
	float: right;
}

.texto-favorito {
	margin-top: 40px;
}

.explicacao-extrato {
	padding-top: 69px;
	position: relative;
}

.cards-mulher {
	padding-top: 69px;
}

.cards-mulher p {
	width: 340px;
	position: absolute;
	top: 300px;
	right: 200px;
}

.cards-mulher img {
	padding-bottom: 69px;
}

.tela-extrato {
	padding-bottom: 69px;
	margin-top: 69px;
}

.explicacao-extrato p {
	float: left;
	width: 254px;
	margin-top: 160px;
	margin-left: 100px;
}

.explicacao-extrato img {
	float: right;
}

.favoritos img {
	float: left;
	margin-right: 40px;
}

.favoritos .paragrafo-fav {
	margin-top: 135px;
}

.todos-cards01 {
	margin-bottom: 130px;
}

.divisoria-conteudo {
	border-top: 1px solid #f4f4f4;
	width: 100%;
}

.barra-colorida {
	margin-top: 180px;
	margin-bottom: 50px;
}

.texto-barra-colorida {
	padding-right: 100px;
}

.cartao-simulacao {
	margin-top: 120px;
	padding-right: 116px;
}

.icone-lampada-circulo {
	margin-top: 85px;
}


.icone-carrinho-circulo {
	margin-top: 33px;
	margin-bottom: 33px;
}

.titulo-cartao-yetz-sobre {
	font-size: 45px;
	color: #223c77;
	font-weight: bold;
	margin-top: 65px;
	margin-bottom: 30px;
}

.conteudo-prog .nav-tabs > li {
	width: 50%;
	text-align: center;
}
.conteudo-prog .nav-tabs > li.active > a,
.conteudo-prog .nav-tabs > li.active > a:hover,
.conteudo-prog .nav-tabs > li.active > a:focus {
	color: #6d7f89;
	cursor: default;
	background-color: #fff;
	border: none !important;
	border-bottom: 3px solid #9eaab0 !important;
	font-weight: 600;
	font-size: 25px;
	padding: 20px 15px !important;
}
.conteudo-prog .nav-tabs > li > a {
	padding: 20px 15px;
	font-size: 25px;
	font-weight: 600;
	color: #bdc4c8;
}
.conteudo-prog .tab-content {
	padding-top: 35px;
	padding-bottom: 35px;
	border-bottom: 1px solid #eeeeee;
}
.conteudo-prog .tab-content .tab-pane .table thead tr {
	background-color: #6d7f89;
}
.conteudo-prog .tab-content .tab-pane .table thead tr th {
	text-align: center;
	font-size: 18px;
	color: #fff;
	border: none;
	border-right: 1px solid #8ea5ad;
	padding: 19px 0;
}
.conteudo-prog .tab-content .tab-pane .table thead tr th:first-child {
	padding: 29px 0px;
}
.conteudo-prog .tab-content .tab-pane .table tbody tr td {
	text-align: right;
	padding: 28px 100px 28px 20px;
	font-size: 16px;
	font-weight: bold;
	color: #6d7f89;
}
.conteudo-prog .tab-content .tab-pane .table tbody tr td span {
	margin-right: 23px;
	font-size: 16px;
	color: #6d7f89;
	font-weight: bold;
}
.conteudo-prog .tab-content .tab-pane p {
	font-size: 14px;
	color: #6d7f89;
	line-height: 30px;
}
.conteudo-prog .tab-content .tab-pane p a {
	text-decoration: none;
	color: #148fd4;
	font-weight: bold;
}
.conteudo-mov {
	background-color: #f4f4f4;
	padding: 0px 0px 60px 0px;
}

.titulo-da-pagina h1 {
	font-weight: normal;
	margin-bottom: 45px;
	font-size: 20px;
	color: #ff9999;
	margin: 0;
	text-transform: uppercase;
	margin-top: 20px;
}

.titulo-da-pagina img {
	float: left;
	margin-right: 30px;
}

.conteudo-mov p {
	font-size: 16px;
	color: #95abb7;
}
.conteudo-mov select {
	width: 220px;
	border-radius: 0;
	border: 1px solid #eae8e8;
	box-shadow: none;
	font-size: 15px;
}
.conteudo-mov table thead {
	background-color: #6d7f89;
	color: #fff;
	font-size: 14px;
}
.conteudo-mov table thead tr th {
	border: none;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #952743;
	padding: 20px 45px;
	background: #801836;
	color: #f7a81e;
}
.conteudo-mov table tbody tr td {
	border: 1px solid #eeeeee;
	font-size: 15px;
	text-align: center;
	color: #6d7f89;
	padding: 27px 0;
	background-color: #fff;
}

.conteudo-acompanhar h1 {
	font-size: 20px;
	color: #ff9a9a;
	margin: 0;
	text-transform: uppercase;
	margin-top: 20px;
}
.conteudo-acompanhar select {
	width: 220px;
	border-radius: 0;
	border: 1px solid #eae8e8;
	box-shadow: none;

}

.conteudo-acompanhar p {
	margin-top: 40px;
}

.topo-produto {
	background-color: #801836;
	width: 100%;
	float: left;
}

.topo-produto h1 {
	color: #fff;
	text-align: center;
	padding: 40px 0;
	font-style: italic;
	font-weight: lighter !important;
	font-size: 25px;
	text-transform: uppercase;
}

.conteudo-imagem-modal img {
	max-width: 50%;
	display: table;
	margin: 0 auto;
}

.conteudo-imagem-modal h2 {
	text-align: center;
	font-weight: 800;
	margin-top: 10px;
	color: #f7a81e;
}

.banner-produtos-yetz {
	background-image: linear-gradient(to right, #fdb713, #fca914);
	overflow: hidden;
	padding-right: 87px;
	padding-bottom: 146px;
}

.banner-produtos-yetz img {
	float: right;
	margin-top: 106px;
}

.produtos-destaques {
	background: #f1f3f4;
	padding: 0px 0px 60px 0px;
}

.titulo-da-pagina {
	background: #fff;
	padding: 30px 0px;
	margin-bottom: 20px;
}

.titulo-da-pagina p {
	margin-top: 10px;
	margin-bottom: 0px;
}

.titulo-da-pagina i {
	font-size: 50px;
	float: left;
	margin-right: 10px;
	color: #ff9999;
	margin-top: 5px;
}

.setas-destaques .setas {
	position: absolute;
	right: 0px;
	top: 165px;
}

.setas-destaques .setas span {
	padding: 10px 15px;
	background-color: #992d4c;
	color: #fff;
	cursor: pointer;
}

.setas-destaques .setas span i {
	display: initial !important;
}
.prod-destaques .btn-favoritar {
	background-color: #fff;
	width: 52px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 6px;
	position: absolute;
	top: -15px;
	right: -15px;
	font-size: 30px !important;
	color: #cad5db;
	cursor: pointer;
	z-index: 9;
	text-decoration: none;
	border-radius: 50%;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.31);
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.btn-detalhes.icon-unlike {
	background-color: #ecb730;
	color: #fff;
}

.btn-detalhes:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.padding-5 {
	padding: 5px !important;
}

.sem-overflow {
	overflow: initial;
}

.prod-destaques .valores h1 {
	overflow: hidden;
	margin-top: 0;
	font-size: 15px;
}

.prod-destaques .valores h1 span {
	text-transform: none;
}

.titulo-destaque {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 26px;
	color: #95abb7;
	margin-top: 30px;
}

.controle-prod-destaques {
	margin-top: 130px;
}
h1.aviso-vazio {
	font-size: 22px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #95abb7;
	margin-bottom: 45px;
}

/*CSS do carrinho */
.dropdown-cart .btn-custom{
	margin-top: -5px;
	background-color: #a6143a;
	border: 2px solid #a6143a;
	color: white;
	font-weight: bold;
	-webkit-transition: background-color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in;
	-ms-transition: background-color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in;
}
.dropdown-cart .btn-custom:hover{
	background-color: #f7a81e;
	color: #9d1237!important;
}
/* rewrite with helper div wrapper hover for bootstrap dropdown */
.dropdown-cart-menu-container:hover .dropdown-menu {
	display:block;
}

.dropdown-cart-menu-container {
	padding-bottom: 8px;
	position: relative;
}

.dropdown-cart {
	margin-left:6px;
}

.dropdown-cart,
.dropdown-cart,
.dropdown-cart {
	margin-left:10px;
}

.dropdown-cart .dropdown-cart-menu  {
	min-width:300px;
	margin-top:8px;
	border-top:3px solid #6dbcdb;
	background: #fff;
	padding:20px;
}

.dropdown-cart .dropdown-cart-menu {
	box-shadow: 0 2px 2px rgba(0,0,0, 0.2);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0, 0.2);
	min-width: 300px;
	margin-top: 5px;
	border-top: 3px solid #a11238;
	background: #fff;
	padding: 20px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.dropdown-cart,
.quick-search-form {
	float:right
}

.dropdown-cart .dropdown-cart-description {
	margin-bottom:10px;
	color:#7b7b7b;
}

.dropdown-cart .item {
	border:none;
}

.dropdown-cart .empty {
	margin:0;
}

.dropdown-cart .dropdown-cart-product-list {
	margin: 5px 0px;
	list-style-type:none;
}

.dropdown-cart .dropdown-cart-product-list li.item {
	position:relative;
	margin-bottom:20px;
	padding:0;
}

.dropdown-cart .dropdown-cart-product-list  figure{
	width:85px;
	float:left;
	margin-right:10px;
}

.dropdown-cart .dropdown-cart-product-list  figure a {
	display:inline-block;
	width:100%;
}

.dropdown-cart .dropdown-cart-product-list  figure img {
	max-width:100%;
	display:block;
	height:auto;
}

.dropdown-cart .dropdown-cart-product-list .edit-item,
.dropdown-cart .dropdown-cart-product-list .delete-item {
	font-size:14px;
	display:inline-block;
	position:absolute;
	top:0;
	color: #951033;
	font-weight:300;
}

.dropdown-cart .dropdown-cart-product-list .edit-item {
	font-size:13px;
}

.dropdown-cart .dropdown-cart-product-list .delete-item  {
	right:0;
}

.dropdown-cart .dropdown-cart-product-list .edit-item {
	right:18px;
}

.dropdown-cart .dropdown-cart-product-list .edit-item:hover,
.dropdown-cart .dropdown-cart-product-list .delete-item:hover {
	color:#6dbcdb;
}

.dropdown-cart .dropdown-cart-product-list .item-name {
	font-size: 14px;
	line-height: 15px;
	font-weight: 600;
	display:inline-block;
	margin-bottom: 5px;
}

.dropdown-cart  .dropdown-cart-product-list  .dropdown-cart-details {
	float:left;
	width:160px;
	padding-right:20px;
}

.dropdown-cart  .dropdown-cart-product-list  .dropdown-cart-details .item-price {
	font-size:16px;
	color: #941033;
	font-weight:bold;
	padding-left:1px;
}

.dropdown-cart-action {
	float:right;

}

.dropdown-cart-action > p {
	margin-bottom:3px;
	width:100px;
}

.dropdown-cart-action .btn {
	border-radius:3px !important;
	text-transform:uppercase;
	font-size:13px;
	line-height:16px;
	padding:6px 12px;
	margin-top: 10px;
}

.dropdown-cart-total {
	float:left;
	margin-top:10.5px;
	width:150px;
}

.dropdown-cart-total li  {
	font:700 15px/18px 'PT Sans', sans-serif;
	color:#6dbcdb;
	margin-bottom:6px;
}

.dropdown-cart-total li .dropdown-cart-total-title {
	text-transform:uppercase;
	color:#575a59;
	margin-right:4px;
}

.dropdown-cart-total li  .sub-price {
	color:#6dbcdb;
}


#conteudoCentral  .titulo-principal {
	font-size: 16px;
	color: #191919;
	text-align: center;
	margin: 40px 0px;
}

.informacoes-produto {
	position: relative;
}

.informacoes-produto .preco-produto {
	background: #fff;
	width: 83px;
	text-align: center;
	height: 83px;
	border-radius: 50%;
	border: 5px solid #f7a81e;
	position: absolute;
	right: -25px;
	bottom: 55px;
	-webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
	display: flex;
	justify-content: center;
	align-items: center
}

.informacoes-produto .preco-produto h3 {
	font-size: 20px;
	margin: 0px;
	font-weight: 900;
	font-family: "Roboto";
	color: #666666;
	letter-spacing: -2px;
}

.informacoes-produto .preco-produto h3 span {
	font-size: 10px;
	margin-right: 4px;
}

.contedo-imagem {
	position: relative;
}

.conteudo-imagem .preco-produto {
	background: #fff;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid #f7a81e;
	position: absolute;
	right: -40px;
	top: 60%;
	margin-top: -50px;
	-webkit-box-shadow: 2px 5px 2px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 2px 5px 2px 0 rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.conteudo-imagem .preco-produto h3 {
	font-size: 29px;
	margin: 0px;
	margin-top: 4px;
	font-weight: bold;
	font-family: "Roboto";
	color: #666666;
	letter-spacing: -2px;
}

.conteudo-imagem .preco-produto h3 span {
	font-size: 12px;
	margin-right: 6px;
}

.area-logo {
	height: 100%;
}

.logo-menu-novo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	background: #fff;
}

.logo-menu-novo img {
	height: auto;
}

.logo-menu-novo a img {
	height: 40px;
}

.filet-diagonal {
	position: absolute;
	right: 0;
	top: 0px;
	z-index: 9;
}

.header-novo {
	font-family: 'Roboto', sans-serif;
	box-shadow: 0px 1px 20px 0px #d0d0d0;
}

.header-novo .topo-menu {
	height: 90px;
	padding: 0px;
}

.header-novo .topo-menu .row{
	height: 100%;
	width: 100%;
	margin: 0px;
}

.header-novo .menu-novo {
	background: #ff9c00;
	overflow: hidden;
	margin-left: -43px;
	padding-left: 39px !important;
}

.espaco-laranja-menu {
	height: 44px;
	position: absolute;
	right: 0;
	background: #ff9c00;
	width: 450px;
	top: 0;
	z-index: -1;
}

.header-novo .menu-novo li {
	float: left;
	border-right: 1px solid #cc8100;
	margin: 12px 0px;
	padding: 0px 18px;
	position: relative;
}

.header-novo .menu-novo li .btn-alerta {
	padding: 0;
	border: none;
	background: transparent;
	color: #cc6600;
	outline: none;
}

.header-novo .menu-novo li:first-child {
	margin-left: 0px;
	padding-left: 0px;
}

.header-novo .menu-novo li:last-child {
	border-right: 0px;
	padding: 0px;
}

.header-novo .menu-novo li a {
	font-size: 12px;
	color: #663300;
}

.area-informacoes {
	height: 100%;
}

.todas-informacoes {
	background: #f7a81e;
	height: 100%;
	padding-left: 35px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.todas-informacoes::before {
	content: '';
	line-height: 0;
	font-size: 0;
	width: 0;
	height: 0;
	border-top: 90px solid #fff;
	border-bottom: 0px solid transparent;
	border-left: 0px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	top: 0;
	left: 0;
}

.todas-informacoes::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 100%;
	background: #f7a81e;
}

.todas-informacoes .icone-menu {
	width: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.todas-informacoes .icone-menu img {
	width: 100%;
}

.todas-informacoes .usuario-novo {
	display: flex;
	align-items: center;
	flex: 1 1 30%;
}

.todas-informacoes .usuario-novo .nome-usuario {
	color: #292929;
	font-size: 14px;
	font-weight: bold;
}


.todas-informacoes .usuario-novo .bloco-icones-menu{
	display: flex;
	align-items: center;
	margin-left: 35px;
}

.todas-informacoes .usuario-novo .bloco-icones-menu a {
	position: relative;
	cursor: pointer;
}

.todas-informacoes .usuario-novo .bloco-icones-menu a:nth-child(2) {
	margin: 0px 20px;
}

.todas-informacoes .usuario-novo .bloco-icones-menu a .num {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #00a651;
	color: white;
	font-size: 10px;
	font-weight: 900;
	display: flex;
	align-items: center;
	position: absolute;
	top: -9px;
	right: -9px;
}

.todas-informacoes .usuario-novo .bloco-icones-menu a span {
	text-align: center;
	width: 90%;
}

.todas-informacoes .usuario-novo .bloco-icones-menu img {
	height: 24px;
}


.saldo-carrinho {
	display: flex;
	flex: 0 1 auto;
	justify-content: flex-end;
	height: 47px;
	position: relative;
}

.usuario-novo .foto-usuario {
	width: 35px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin: 0px 14px;
}

.btn-voucher {
	width: 63px;
	height: 45px;
	background-color: #971134;
	border: 2px solid #971134;
	border-radius: 7px;
	margin-right: 7px;
	transition: all .3s;
}

.btn-voucher:hover {
	transition: all .3s;
	background: transparent;
}

/*.todas-informacoes .dropdown-usuario {
	background: transparent;
	border: none;
	color: #292929;
	font-size: 14px;
	padding: 0px;
}

.todas-informacoes .dropdown-menu{
	left: 0px;
	margin-top: 15px;
}*/

.seta-baixo-menu {
	margin-left: 14px;
}

.separador {
	font-size: 48px;
	position: absolute;
	font-weight: lighter;
	color: #fff;
	top: -8px;
	left: 190px;
	display: none;
}

.espaco-laranja-informacoes {
	height: 69px;
	position: absolute;
	right: 0;
	background: #f7a81e;
	width: 450px;
	top: 44px;
	z-index: -1;
}

.saldo-novo {
	border: 2px solid #00a651;
	background: #fff;
	border-radius: 5px 0px 0px 5px;
	display: flex;
	align-items: center;
	padding: 0 25px;
}

.saldo-novo h1 {
	font-size: 12px;
	text-transform: uppercase;
	color: #afafaf;
	margin: 0;
	float: left;
}

.saldo-novo img {
	margin-top: 3px;
	float: right;
}

.saldo-novo h1 .valor,
.saldo-novo h1 .unidade {
	font-size: 15px;
	font-weight: bold;
	color: #00a651;
	text-transform: none;
	margin-left: 10px;
}

.btn-carrinho-compras {
	height: 100%;
}

.btn-carrinho-compras button {
	height: 100%;
	outline: none;
	position: relative;
	background: #00a651;
	border: none;
	color: #fff;
	border-radius: 0px 5px 5px 0px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	padding: 0 25px;
}

.btn-carrinho-compras button img:first-child {
	margin-right: 15px;
}

.btn-carrinho-compras button img:last-child {
	margin-left: 15px;
	height: 14px;
}

.btn-excluir {
	cursor: pointer;
}

.resumo-carrinho {
	position: absolute;
	background: #fff;
	z-index: 99;
	left: 0;
	right: 0;
	padding: 25px 33px 0px 33px;
	border-radius: 0px 0px 5px 5px;
	border: 2px solid #00a651;
	border-top: 0;
}

.borda-verde {
	border-radius: 5px 0px 0px 0px;
	border-bottom: 2px solid transparent;
}

.sem-borda-verde {
	border-radius: 5px 0px 0px 5px;
	border: 2px solid #00a651;
}

.area-total {
	border-top: 1px solid #d0d0d0;
	padding: 30px 0px 45px 0px;
}

.btn-resgatar-carrinho {
	background: url(../../img/seta-btn-resgatar.png) no-repeat bottom right;
	background-color: #669933;
	border: none;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 45px;
	border-radius: 3px;
	background-size: 15%;
}

.valor-total {
	font-weight: bold;
	color: red;
	margin-top: 0;
	text-transform: uppercase;
}

.btns {
	margin-top: 5px;
	color: #666666;
}

.btns span {
	margin-right: 10px;
}

.resumo-carrinho .foto-produto-carrinho {
	float: left;
	width: 105px;
	margin-right: 10px;
}

.resumo-carrinho .produto-carrinho {
	overflow: hidden;
	border-top: 1px solid #d0d0d0;
	padding: 15px 0px;
}
.resumo-carrinho .produto-carrinho:first-child {
	border-top: none;
}

.resumo-carrinho .texto-carrinho {
	text-transform: uppercase;
	font-family: "Roboto";
	font-weight: bold;
	padding-top: 7px;
}

.resumo-carrinho .valor {
	margin-top: -37px;
	color: red;
	font-weight: bold;
	text-transform: uppercase;
}

.resumo-carrinho .texto-carrinho p {
	margin: 0;
	color: #666666;
	font-size: 11px;
}

.todas-categorias {
	height: 63px;
	background: #801836;
}

.btn-categorias {
	background: transparent;
	border: none;
	color: #f7a81e;
	text-transform: uppercase;
	font-weight: bold;
	float: left;
	text-align: left;
	padding: 14px 0px 15px 0px;
	line-height: 17px;
	margin-right: 25px;
}

.girar {
	-moz-transform: rotate(180deg) !important;
	-webkit-transform: rotate(180deg) !important;
	-o-transform: rotate(180deg) !important;
	-ms-transform: rotate(180deg) !important;
	transform: rotate(180deg) !important;
	transition: all .3s;
}

.normal {
	-moz-transform: rotate(0deg) !important;
	-webkit-transform: rotate(0deg) !important;
	-o-transform: rotate(0deg) !important;
	-ms-transform: rotate(0deg) !important;
	transform: rotate(0deg) !important;
	transition: all .3s;
}

.btn-categorias img {
	width: 10px;
	float: right;
	margin-left: 42px;
}

.menu-categorias {
	overflow: hidden;
	float: left;
	width: 885px;
	height: 100%;
}

.menu-categorias .swiper-slide span,
.slide-todas-categorias .swiper-slide span {
	width: 65%;
	height: 65%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position-y: 0px;
	opacity: 1;
	transition: all .3s;
	position: absolute;
}

.menu-categorias .swiper-slide span[class*="-amarelo"] {
	opacity: 0;
	background-position-y: 40px;
	transition: all .3s;
}

.menu-categorias .swiper-slide a:hover span{
	opacity: 0;
	background-position-y: -40px;
}

.menu-categorias .swiper-slide a:hover span[class*="-amarelo"]{
	opacity: 1;
	background-position-y: 0px;
}

.menu-categorias .swiper-slide {
	border-left: 1px solid rgba(222, 148, 152, 0.29);
	height: 63px;
	width: 63px !important;
	cursor: pointer;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
	-ms-transition: background .2s ease-in;
	-o-transition: background .2s ease-in;
	transition: background .2s ease-in;
	padding: 6px 0px;
	position: relative;
}

.menu-categorias .active-categoria a i:before {
	color: #eb9d1e;
}

.menu-categorias .swiper-slide:hover {
	background: #541124;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
	-ms-transition: background .2s ease-in;
	-o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}

.menu-categorias .swiper-slide:hover a i:before {
	color: #eb9d1e;
	-webkit-transition: all .2s ease-in;
	-moz-transition:  all .2s ease-in;
	-ms-transition:  all .2s ease-in;
	-o-transition:  all .2s ease-in;
	transition:  all .2s ease-in;
}

.menu-categorias .swiper-slide:first-child {
	border-left: none;
}

.dropdown-todas-categorias {
	background: #fff;
	padding: 36px 0px;
	position: absolute;
	width: 100%;
	z-index: 999;
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
}

.sumir {
	display: none;
}

.aparecer {
	display: block;
}

.btn-categorias {
	outline: none !important;
}

.dropdown-todas-categorias ul li {
	margin-top: 22px;
	margin-bottom: 40px;
}

.dropdown-todas-categorias ul li img {
	margin-right: 15px;
	width: 40px;
	height: 40px;
}

.dropdown-todas-categorias .categorias-divido:first-child {
	padding-left: 0px;
}

.dropdown-todas-categorias .categorias-divido:last-child {
	border-right: none;
}

.dropdown-todas-categorias .categorias-divido {
	float: left;
	border-right: 1px solid #dedede;
	padding-right: 35px;
	padding-left: 40px;
}

.categorias-divido ul li a {
	color: #a93859;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	top: 10px;
}

.topo-produto {
	overflow: hidden;
}

.topo-produto .etapas {
	display: table;
	margin: 0 auto;
	margin-bottom: 42px;
}

.topo-produto .etapas .etap {
	float: left;
	padding: 19px 50px;
	margin-right: 30px;
	position: relative;
	background-color: #6f142f;
	display: flex;
	align-items: center;
}

.topo-produto .etapas .etap:last-child {
	margin-right: 0px;
}

.topo-produto .etapas .etap p {
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	float: right;
	margin-top: 21px;
}

.texto-simples{
	margin-top: 34px!important;
}

.topo-produto .etapas .etap img {
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}

.topo-produto .etapas .etap:last-child img {
	margin-top: 17px;
}

.topo-produto .etapas .etap .seta-etapas {
	position: absolute;
	right: -42px;
	top: 50px;
}

.filtro .input-group-pesquisa {
	width: 30%;
	height: 36px;
	background: white;
	border: solid 1px #c2c2c2;
	border-radius: 4px;
	padding: 2px;
}

.input-group-pesquisa .input-pesquisa {
	border: none;
	box-shadow: none;
	height: 32px;
}

.input-group-pesquisa .input-group-addon {
	border: none;
	background-color: white;
}

.btn-detalhes .glyphicon-shopping-cart {
	padding: 10px;
}

.icone-carrinho {
	padding: 0px 6px !important;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.icone-carrinho:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.alerta-caps {
	display: none;
	margin-top: 5px;
	font-size: 12px;
	font-weight: 600;
	color: #d4003a;
}

.alerta-caps.active {
	display: block;
}

#btnTrocarSenha{
	/* display: none; */
}

#modalTrocaSenha .modal-dialog {
	width: 377px;
	margin-top: 60px;
}

#modalTrocaSenha .modal-content {
	border-radius: 0;
}

#modalTrocaSenha .modal-header {
	background: #801836;
	padding: 42px 40px 42px 40px;
	border-bottom: 2px solid #f7a81e;
}

.logo-header-modal {
	width: 150px;
}

#modalTrocaSenha .modal-header .close {
	opacity: 1;
	margin-top: 5px;
	outline: none;
}

#modalTrocaSenha .modal-body {
	overflow: hidden;
	padding: 15px 25px 0px 25px;
}

#modalTrocaSenha .modal-body h1 {
	margin: 0;
	font-size: 26px;
	color: #223c77;
	margin-top: 5px;
	text-align: center;
	margin-bottom: 15px;
}

#modalTrocaSenha .modal-body p {
	text-align: center;
	font-size: 13px;
	margin-bottom: 15px;
}

#modalTrocaSenha .input-group-addon {
	border: 1px solid #d3d3d3;
	border-right: none;
	background: #f8f8f8;
	color: #dddddd;
}

#modalTrocaSenha form input[type="password"] {
	border: 1px solid #d3d3d3;
	box-shadow: none;
	border-left: none;
	font-family: "Roboto";
}

#modalTrocaSenha .modal-footer {
	border: none;
	padding: 0px 25px 40px 25px;
}

.botaoConfirmarTrocaModal {
	width: 100%;
	background: #fdb813;
	border: none;
	font-size: 19px;
	color: #ffffff;
	font-weight: bold;
	padding: 15px 0px;
	border-radius: 6px;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
	-ms-transition: background .2s ease-in;
	-o-transition: background .2s ease-in;
	transition: background .2s ease-in;
	outline: none;
	margin-bottom: 15px;
}

.botaoConfirmarTrocaModal:hover {
	background: #ff7b33;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
	-ms-transition: background .2s ease-in;
	-o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}

.botaoCancelaTrocaModal {
	width: 100%;
	background: #fd1313;
	border: none;
	font-size: 19px;
	margin-left: 0 !important;
	color: #ffffff;
	font-weight: bold;
	padding: 15px 0px;
	border-radius: 6px;
	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
	-ms-transition: background .2s ease-in;
	-o-transition: background .2s ease-in;
	transition: background .2s ease-in;
	outline: none;
	margin-bottom: 15px;
}

.descricao-breve-conheca .breve img {
	float: left;
	margin-right: 13px;
	margin-top: 6px;
}

.descricao-breve-conheca .breve p {
	font-size: 18px;
	color: #666666;
	border-left: 1px solid #cccccc;
	padding-left: 13px;
	overflow: hidden;
}

.descricao-breve-conheca .breve {
	margin-top: 35px;
}

.parag-cartoes-yetz {
	margin-top: 160px;
}

.descricao-breve-conheca .breve .icone-presente {
	margin-top: 25px;
}
.prod-destaques .produto-desejado {
	margin-bottom: 30px;
}

.swiper-categorias-produtos .swiper-wrapper .swiper-slide {
	height: 63px;
}

.swiper-categorias-produtos .swiper-wrapper .swiper-slide a {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.menu-responsivo {
	display: none !important;
}

.informacoes-usuario-responsivo {
	display: none !important;
}

.cabecalho-termo-politica{
	padding: 20px 0px;
}

.cabecalho-termo-politica img{
	display: table;
	margin: 0 auto;
}

.conteudo-passos-yetz-cards {
	padding: 17px 0px 100px 0px;
}

.conteudo-passos-yetz-cards ul {
	display: table;
	margin: 0 auto;
}

.conteudo-passos-yetz-cards ul li {
	float: left;
	margin-right: 4px;
	margin-top: -60px;
	position: relative;
	z-index: 10;
	transition: all .3s;
}

.conteudo-passos-yetz-cards ul li:last-child {
	margin-right: 0px;
}

.conteudo-passos-yetz-cards ul li a {
	padding: 0;
	background: transparent;
	border: none;
	outline: none;
	display: block;
}

.conteudo-passos-yetz-cards ul li:hover {
	margin-top: -65px;
	transition: all .3s;
}

.todos-passos .passo {
	float: left;
	width: 100%;
	border-top: 1px solid #d3d3d3;
	padding: 30px 0px;
	padding-right: 30px;
	outline: none;
}

.todos-passos {
	float: left;
	width: 100%;
	margin-top: 50px;
}

.todos-passos .texto {
	float: left;
	width: 552px;
	margin-top: 30px;
}

.todos-passos .passo img {
	float: right;
}

.todos-passos .passo h1 {
	margin: 0px;
	font-size: 33px;
	margin-bottom: 30px;
	position: relative;
}

.todos-passos .passo p {
	font-size: 16px;
	color: #666666;
	text-align: justify;
	padding-left: 30px;
}

.todos-passos .passo a {
	display: block;
	cursor: pointer;
	font-size: 18px;
	color: black;
	padding-left: 30px;
	margin-top: 50px;
}

.todos-passos .passo a img{
	float: none;
	margin-right: 15px;
}

.todos-passos .primeiro-passo h1 {
	color: #ffae00;
	border-left: 2px solid #ffae00;
	padding-left: 30px;
}

.todos-passos .segundo-passo h1 {
	color: #df5adf;
	border-left: 2px solid #df5adf;
	padding-left: 30px;
}

.todos-passos .terceiro-passo h1 {
	color: #21b759;
	border-left: 2px solid #21b759;
	padding-left: 30px;
}

.todos-passos .quarto-passo h1 {
	color: #41b3fd;
	border-left: 2px solid #41b3fd;
	padding-left: 30px;
}

.todos-passos .quinto-passo h1 {
	color: #d94d4d;
	border-left: 2px solid #d94d4d;
	padding-left: 30px;
}

.todos-passos .passo .img-btn-resgatar {
	float: initial !important;
}

#modal-popup .modal-dialog .modal-content .close img,
#modal-popup-ilha .modal-dialog .modal-content .close img {
	width: 25px;
}

#modal-popup .modal-dialog .modal-content .close,
#modal-popup-ilha .modal-dialog .modal-content .close {
	margin-top: -35px;
	opacity: 1;
	position: absolute;
	right: 0;
	outline: none !important;
}

#modal-popup .modal-dialog .modal-content .modal-body,
#modal-popup-ilha .modal-dialog .modal-content .modal-body {
	padding: 0px;
}

#modal-popup .modal-dialog,
#modal-popup-ilha .modal-dialog {
	width: 800px;
	margin-top: 50px;
}

#modal-popup .modal-body,
#modal-popup-ilha .modal-body img{
	max-height: 600px;
	width: 800px;
}

.todos-direitos-reservados {
	font-size: 13px;
	color: #fff;
	text-align: center;
	margin-top: 50px;
}

.todos-direitos-reservados p{
	margin: 0px;
}

#modal-regras-utilizacao .modal-header h4{
	font-size: 18px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

.menu-lateral-notificacoes.active {
	pointer-events: all;
	opacity: 1;
}

.menu-lateral-notificacoes {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	transition: opacity .5s;
}

.menu-lateral-notificacoes .background {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 1000;
	background-color: rgba(0, 0, 0, .75);
}

.menu-lateral-notificacoes .content {
	width: 45%;
	height: 100vh;
	top: 0;
	left: 0;
	background: #fff;
	position: fixed;
	z-index: 1100;
	overflow-y: auto;
	transform: translateX(-100%);
	transition: transform .5s;
}

.menu-lateral-notificacoes.active .content{
	transform: translateX(0);
}

.menu-lateral-notificacoes .content .area-notificacoes {
	height: auto;
	width: 60%;
	float: right;
	padding-right: 30px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
}

.menu-lateral-notificacoes .content .area-notificacoes .topo {
	width: 100%;
	height: 121px;
	background-color: #971134;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-lateral-notificacoes .content .area-notificacoes .topo::before {
	content: "";
	position: absolute;
	width: 40%;
	height: 121px;
	left: 0;
	background-color: #971134;
}

.menu-lateral-notificacoes .content .area-notificacoes .topo::after {
	content: "";
	position: absolute;
	width: 30px;
	height: 121px;
	right: 0;
	background-color: #971134;
}

.menu-lateral-notificacoes .content .area-notificacoes .topo h1 {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
}

.menu-lateral-notificacoes .content .area-notificacoes .topo .btn-close {
	width: 20px;
	position: relative;
	cursor: pointer;
}

.menu-lateral-notificacoes .notificacao-vazio {
	float: left;
	width: 100%;
	padding: 50px 0px;
	display: none;
}

.menu-lateral-notificacoes .notificacao-vazio h2 {
	margin: 0;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 26px;
	color: #353535;
}

.menu-lateral-notificacoes .content .todas-notificacoes {
	float: left;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 50px;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao {
	float: left;
	width: 100%;
	height: 99px;
	margin-bottom: 30px;
	position: relative;
	transition: all .3s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao:hover {
	background: #eae9e9;
	transition: all .3s;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .img-notificacao {
	flex: 0 0 80px;
	height: 80px;
	border: 2px solid #dcdcdc;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .img-notificacao .imagem {
	width: 90%;
	height: 90%;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .texto {
	flex: 1 1 auto;
	margin: 0 15px;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .texto .titulo {
	font-family: Roboto;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .texto .mensagem {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
	margin: 0;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .btn-visualizar-mensagem{
	display: flex;
	flex: 0 0 15px;
	height: 100%;
	margin-right: 15px;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .btn-visualizar-mensagem img{
	width: 100%;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao.pontos_creditados .img-notificacao .imagem {
	background-image: url(../../img/icones-notificacoes/novo_cartao.svg);
	background-color: #00a651;
	background-size: 50% 50%;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao.pontos-creditados .img-notificacao .imagem {
	background-image: url(../../img/icones-notificacoes/novo_cartao.svg);
	background-color: #00a651;
	background-size: 50% 50%;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao.pontos-creditados .texto .titulo {
	color: #00a651;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao.novo-cartao .img-notificacao .imagem {
	background-image: url(../../img/icones-notificacoes/novo_cartao.svg);
	background-color: #ff6f00;
	background-size: 50% 50%;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao.novo-cartao .texto .titulo {
	color: #ff6f00;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao.fique-atento .img-notificacao .imagem {
	background-image: url(../../img/icones-notificacoes/fique_atento.svg);
	background-color: #971134;
	background-size: 60% 60%;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao.fique-atento .texto .titulo {
	color: #971134;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao.dicas .img-notificacao .imagem {
	background-image: url(../../img/icones-notificacoes/dicas.svg);
	background-color: #ecb730;
	background-size: 50% 50%;
}

.menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao.dicas .texto .titulo {
	color: #ecb730;
}

.btn-ver-alertas {
	margin-top: 20px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 57px;
	color: #676767;
	background-color: #e9e9e9;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s;
}

.btn-ver-alertas:hover {
	background-color: #9d9b9b;
	color: #e9e9e9;
	transition: all .3s;
}

.btn-ver-alertas:hover::after {
	background-image: url(../../img/seta-direita-branca.svg)!important;
}

.btn-ver-alertas::after {
	content: "";
	display: block;
	width: 7px;
	height: 12px;
	margin-left: 15px;
	background-image: url(../../img/seta-direita-preta.svg);
	background-repeat: no-repeat;
}

.todas-notificacoes-all .box-notificacao {
	background: #fff;
	float: left;
	width: 100%;
	margin-bottom: 30px;
	max-height: 220px;
}

.titulo-notificacoes h1 {
	margin-top: 7px;
}

.todas-notificacoes-all {
	background: #f4f4f4;
	padding: 20px 0px 150px 0px;
}

.todas-notificacoes-all .box-notificacao {
	background: #fff;
	padding: 25px 27px;
	border: 1px solid transparent;
	border-radius: 3px;
	transition: all .3s;
	margin-bottom: 15px;
	display: flex;
}

.todas-notificacoes-all .box-notificacao:hover {
	background: #eae9e9;
	border: 1px solid #fff;
	transition: all .3s;
}

.todas-notificacoes-all .box-notificacao .lado-esq {
	flex: 0 0 25%;
	margin-right: 15px;
}

.todas-notificacoes-all .box-notificacao .lado-esq span {
	display: block;
	text-align: center;
	font-size: 10px;
	color: #666666;
	margin-left: -8px;
}

.todas-notificacoes-all .box-notificacao .lado-esq .box-imagem {
	height: 70px;
	width: 70px;
	margin-bottom: 10px;
	border-radius: 50%;
	background-color: currentColor;
	box-shadow: 0 0 0 4px white, 0 0 0 6px #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todas-notificacoes-all .box-notificacao .lado-esq .box-imagem img {
	height: 50%;
}

.todas-notificacoes-all .box-notificacao.novo-cartao  .lado-esq .box-imagem,
.todas-notificacoes-all .box-notificacao.novo-cartao  .lado-dir .texto .tipo-notificacao {
	color: #ff6f00;
	background-image: url(../../img/icones-notificacoes/novo_cartao.svg);
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 50%;
}

.todas-notificacoes-all .box-notificacao.fique-atento  .lado-esq .box-imagem,
.todas-notificacoes-all .box-notificacao.fique-atento  .lado-dir .texto .tipo-notificacao {
	color: #971134;
	background-image: url(../../img/icones-notificacoes/fique_atento.svg);
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 50%;
}

.todas-notificacoes-all .box-notificacao.dicas  .lado-esq .box-imagem,
.todas-notificacoes-all .box-notificacao.dicas  .lado-dir .texto .tipo-notificacao {
	color: #ecb730;
	background-image: url(../../img/icones-notificacoes/dicas.svg);
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 50%;
}

.todas-notificacoes-all .box-notificacao.pontos_creditados  .lado-esq .box-imagem,
.todas-notificacoes-all .box-notificacao.pontos_creditados  .lado-dir .texto .tipo-notificacao {
	background-image: url(../../img/icones-notificacoes/novo_cartao.svg);
	color: #00a651;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 50%;
}

.todas-notificacoes-all .box-notificacao.fique-atento .lado-esq .box-imagem img {
	height: 70%;
}

.todas-notificacoes-all .box-notificacao .lado-dir {
	flex: 1 1 auto;
}

.todas-notificacoes-all .box-notificacao .lado-dir .texto {
	float: left;
	color: #000000;
}

.todas-notificacoes-all .box-notificacao .lado-dir .texto p {
	margin: 0;
}

.todas-notificacoes-all .box-notificacao .lado-dir .texto strong {
	text-transform: uppercase;
	display: block;
	font-size: 13px;
	margin: 0;
}

.todas-notificacoes-all .box-notificacao .lado-dir .texto .mensagem {
	font-size: 11px;
	color: #666666;
	margin-bottom: 0;
	margin-top: 10px;
}

#modalNotificacao .modal-dialog {
	width: 429px;
	margin-top: 60px;
}

#modalNotificacao .modal-dialog .modal-content {
	border-radius: 0px;
}

#modalNotificacao .modal-header {
	background: #801836;
	padding: 35px;
	border-bottom: 2px solid #f7a81e;
	border-radius: 0px 0px 0px 0px;
}

#modalNotificacao .modal-header .close {
	opacity: 1;
	margin-top: 11px;
	outline: none;
}

#modalNotificacao .modal-body h1 {
	text-transform: uppercase;
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

#modalNotificacao .modal-body span {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 10px;
	display: block;
}

#modalNotificacao .modal-body p {
	margin-bottom: 0px;
	font-size: 13px;
	color: #999999;
}

#modalNotificacao .modal-body {
	position: relative;
	padding: 30px 45px;
}

.menu-responsivo .btn-alerta {
	padding: 0;
	border: none;
	background: transparent;
	color: #cc6600;
	outline: none;
	position: relative;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	font-size: 17px;
}

.topico-termos > p{
	margin-left: 20px;
}

.subtopico-termos > p{
	margin-left: 40px!important;
}

.sublinhado{
	text-decoration: underline;
}

.icone {
	float: right;
	margin-right: 7px;
}

.btn-streaming {
	float: left;
	border: 2px solid white;
	padding: 1px 4px 5px 4px;
	border-radius: 30px;
	background-color: #801836;
	color: #f7a81e;
	margin-top: 7px;
	position: relative;
	width: 30px;
	height: 30px;
}

.area-video:hover .balao-streaming {
	opacity: 1;
	bottom: 40px;
	transition: all .3s;
}

.area-notificacao:hover .balao-notificacao {
	opacity: 1;
	right: -22px;
	bottom: 45px;
	transition: all .3s;
}

.balao-streaming {
	position: absolute;
	background: #801836;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	width: 110px;
	text-align: center;
	border-radius: 5px;
	line-height: 25px;
	right: 13px;
	bottom: 38px;
	z-index: 99;
	opacity: 0;
	transition: all .3s;
}

.btn-streaming img{
	max-width: 16px;
	display: table;
	margin: 0 auto;
}

.balao-notificacao {
	position: absolute;
	background: #801836;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	width: 110px;
	text-align: center;
	border-radius: 5px;
	line-height: 25px;
	right: -22px;
	bottom: 40px;
	z-index: 99;
	opacity: 0;
	transition: all .3s;
}

.area-video > a > img{
	height: 13px;
	width: 20px;
}

.area-notificacao {
	float: right;
}

.balao-streaming:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #801836;
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -8.5px;
}

.balao-notificacao:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #801836;
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -8.5px;
}

footer {
	background: #333333;
	padding-top: 60px;
	padding-bottom: 120px;
	float: left;
	width: 100%;
}

footer nav {
	border-bottom: 1px solid #5c5c5c;
	padding-bottom: 100px;
}

footer nav .conteudo {
	display: flex;
	margin: 0 auto;
	width: 100%;
	padding-left: 35px;
	position: relative;
}

footer nav .conteudo .item {
	margin-left: 60px;
}

footer nav .conteudo .item:nth-child(3) li:last-child{
	position: absolute;
	top: 0px;
	left: 620px;
}

footer nav .conteudo .item:nth-child(3) li:last-child a{
	color: #f3a81e;
	font-weight: bold;
	position: relative;
}

footer nav .conteudo .item:nth-child(3) li:last-child a:before{
	content: url('../../img/contato.svg');
	display: block;
	height: 15px;
	background-repeat: no-repeat;
	width: 15px;
	position: absolute;
	top: 50%;
	left: -25px;
	transform: translateY(-50%);

}

footer nav .conteudo .item:first-child {
	margin-left: 0px;
}

footer nav .conteudo .item li {
	margin-bottom: 8px;
}

footer nav .conteudo .item li a {
	color: #fff;
	font-size: 12px;
	color: #999999;
}

.apps {
	float: left;
	margin-left: auto;
}

.apps span {
	color: #999999;
	font-size: 12px;
	display: block;
	margin-bottom: 10px;
}

.apps ul li {
	float: left;
	margin-right: 10px;
}

.apps ul li:last-child {
	margin-right: 0px;
}

.logo-rodape {
	display: table;
	margin: 0 auto;
	margin-top: 65px;
}

footer p {
	text-align: center;
	color: #666666;
	margin-top: 28px;
	font-size: 12px;
}

#slider-range-min .ui-slider-handle{
	background-color: #801836!important;
}

.site-seguro{
	/* float: left; */
	/* margin-left: 90px; */
	position: absolute;
	right: 139px;
	bottom: -56px;
}

#area-campanhas{
	padding: 50px 0px;
	background-color: #f4f4f4;
}

#tabela-movimentacao{
	height: 500px;
	overflow-y: auto;
}

#dropdown-precos{
	height: 36px;
	width: 21%;
}

#dropdown-precos button {
	width: 100%;
	height: 100%;
	color: #ababab;
	display: flex;
	background-image: url(../../img/seta-baixo-preta.svg);
	background-repeat: no-repeat;
	-webkit-background-size: 12px;
	background-size: 12px;
	background-position: center;
	background-position-x: 95%;
}

#dropdown-precos .dropdown-menu{
	width: 518px;
	padding: 25px 20px;
}

#dropdown-precos .dropdown-menu input{
	text-align: center;
	border-left: none;
}

#dropdown-precos .input-group-addon{
	background-color: white;
	border-right: none;
	color:#999;
}

#dropdown-precos .dropdown-menu > li > a{
	padding: 0px;
	color:#999;
	cursor: pointer;
}

#input-menor-preco{
	width: 45%;
	float: left;
}

#input-maior-preco{
	width: 45%;
	float: right;
}

#dropdown-precos .dropdown-menu li input{
	width: 100%;
}

#separador-lista-preco{
	float: left;
	text-align: center;
	width: 10%;
}

#separador-lista-preco span{
	display: block;
	margin: 0px auto;
	margin-top: 7px;
}

#lista-menores-valores{
	float: left;
	width:45%;
	margin-top: 10px;
}

#lista-maiores-valores{
	margin-top: 10px;
	float: right;
	width: 45%;
	display: none;
}

#lista-menores-valores > a,
#lista-maiores-valores > a{
	text-align: right;
	width:100%;
}

.seta-esq-slide-categoria {
	float: left;
	width: 44px;
	height: 63px;
	cursor: pointer;
	border-left: 1px solid rgba(222, 148, 152, 0.29);
	border-right: 1px solid rgba(222, 148, 152, 0.29);
}

.seta-esq-slide-categoria img {
	width: 10px;
	height: 20px;
	display: block;
	margin: 22px auto 21px auto;
	transition: all .3s;
	transform: scale(1);
}

.seta-dir-slide-categoria {
	float: right;
	width: 44px;
	height: 63px;
	cursor: pointer;
	border-right: 1px solid rgba(222, 148, 152, 0.29);
	position: relative;
}

.menu-categorias .swiper-slide:last-child {
	border-right: 1px solid rgba(222, 148, 152, 0.29);
}


.seta-dir-slide-categoria img {
	width: 10px;
	height: 20px;
	display: block;
	margin: 22px auto 21px auto;
	transition: all .3s;
	transform: scale(1);
}

.seta-esq-slide-categoria:hover img {
	transition: all .3s;
	transform: scale(1.1);
}

.seta-dir-slide-categoria:hover img {
	transition: all .3s;
	transform: scale(1.1);
}

.texto-alternativo {
	border: 1px solid #00A651;
	border-radius: 10px;
	padding: 34px 16px 15px 16px;
	width: 100%;
	margin-top: 0;
}

.texto-alternativo .msg {
	float: left;
	margin-left: 24px;
}

.texto-alternativo .msg img {
	float: left;
	margin-right: 22px;
}

.texto-alternativo .msg .texto {
	float: left;
}

.texto-alternativo .msg .texto h3 {
	margin: 0;
	font-size: 18px;
	color: #00A651;
	font-weight: bold;
	margin-bottom: 10px;
}

.texto-alternativo .msg .texto p {
	margin-left: 0px;
	font-size: 14px;
	color: #4D4D4D;
	width: 256px;
	margin-bottom: 0;
}

.texto-alternativo .btn-verde {
	margin-top: 22px;
	margin-bottom: 0;
	border-radius: 10px;
	background: #00A651;
	font-style: initial;
	font-size: 22px;
	text-align: center;
	padding: 17px 0px;
	width: 426px;
	border: 2px solid #00A651;
	transition: all .3s;
}

.descricao-produto {
	padding-left: 8%;
	margin-top: 0;
}

.texto-alternativo .btn-verde:hover {
	background: transparent;
	color: #00A651;
	transition: all .3s;
}

.descricao-produto h2 {
	width:92%;
	font-size: 18px;
	color: #8A8A8A;
	margin-left: 0px;
	font-weight: bold;
	font-style: initial;
	margin-bottom: 24px;
}

.descricao-produto h2 strong {
	font-weight: bold;
}

.descricao-produto h1 span {
	font-weight: bold;
}

.descricao-produto .valor-produto {
	width: 92%;
	margin-left: 0px;
}
.produto-destaque-grande {
	float: left;
	width: 468px;
	position: relative;
}

.produto-destaque-grande {
	float: left;
	width: 468px;
	position: relative;
	margin-bottom: 60px;
}

.item-desc-produto {
	width: 45%;
	margin-bottom: 60px;
}

.item-desc-produto:last-child {
	margin-bottom: 0px;
}

.item-desc-produto h3 {
	margin-left: 0px;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
	color: #4D4D4D;
	position: relative;
	display: flex;
	align-items: center;
}

.item-desc-produto h3:before {
	content: "";
	width: 12px;
	height: 12px;
	margin-right: 15px;
	background: #00A651;
	border-radius: 50%;
	top: 1px;
	display: block;
}

.item-desc-produto p {
	margin-left: 27px;
	margin-bottom: 0;
	font-size: 14px;
	color: #4D4D4D;
}

.descricao-produto .progress-verde .progress-bar {
	background-color: #00A651;
}

.info-importantes h3 {
	margin: 0;
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: bold;
}

.info-importantes p {
	margin-bottom: 0;
	font-size: 14px;
	color: #4D4D4D;
}

.texto-vermelho {
	border: 1px solid #FF5858;
}

.texto-vermelho .msg .texto h3 {
	color: #FF5858;
}

.texto-vermelho .btn-verde {
	background: #CECECE;
	border: 2px solid #CECECE;
}

.texto-vermelho .btn-verde:hover {
	color: #ffffff;
	background: #CECECE;
}

.texto-amarelo {
	border: 1px solid #fdb813;
}

.texto-amarelo .msg .texto h3 {
	color: #fdb813;
}

.texto-amarelo .btn-verde {
	background: #CECECE;
	border: 2px solid #CECECE;
}

.texto-amarelo .btn-verde:hover {
	color: #ffffff;
	background: #CECECE;
}

.endereco-entrega .campos-endereco {
	text-transform: uppercase;
}

.endereco-entrega .campos-endereco #texto-endereco label{
	margin-bottom: 0px;
}

#menu {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .75);
	z-index: 1000;
	pointer-events: none;
	opacity: 0;
	transition: opacity .5s;

}

#menu.active {
	pointer-events: all;
	opacity: 1;
}

#menu.active .content {
	transform: translateX(0px);
}

#menu .content {
	height: 100vh;
	width: 40%;
	background-color: #fff;
	position: relative;
	transform: translateX(-100%);
	transition: all .5s;
}

#menu .btn-close {
	position: absolute;
	top: 20px;
	right: -30px;
	height: 20px;
	width: 20px;
	cursor: pointer;
	background-image: url(../../img/icone-fechar.svg);
}

#menu .btn-close img{
	height: 100%;
}

#menu .box-itens {
	height: 100%;
	width: 70%;
	float: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#menu .box-itens .bloco-imagem {
	width: 165px;
	height: 165px;
	border: solid 2px #ecb730;
	border-radius: 50%;
}

#menu .box-itens .bloco-imagem a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

#menu .box-itens .bloco-imagem a img {
	width: 100%;
	height: 100%;
	padding: 5px;
	border-radius: 50%;
}

#menu .box-itens .bloco-nome {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#menu .box-itens .bloco-nome span {
	margin-top: 10px;
	color: #292929;
	font-size: 14px;
	font-weight: bold;
}

#menu .box-itens .bloco-nome img {
	width: 17px;
	margin-top: 30px;
}

#menu .box-itens .bloco-icones{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
	margin: 50px 0;
	padding: 0px 25%;
}

#menu .box-itens  .btn-mobile-voucher{
	display: none;
}

#menu .box-itens .bloco-icones a {
	position: relative;
	cursor: pointer;
}

#menu .box-itens .bloco-icones a .num {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #00a651;
	color: white;
	font-size: 16px;
	font-weight: 900;
	display: flex;
	align-items: center;
	position: absolute;
	top: -20px;
	right: -15px;
}

#menu .box-itens .bloco-icones a span {
	text-align: center;
	width: 90%;
}

#menu .box-itens .bloco-icones a img {
	height: 32px;
}

#menu .box-itens .bloco-icones a:first-child img {
	height: 40px;
}

#menu .box-itens .bloco-links {
	width: 60%;
}

#menu .box-itens .bloco-links a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
}

#menu .box-itens .bloco-links a span {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	height: 100%;
	font-size: 14px;
	font-weight: 900;
	color: #6a6a6a;
	text-transform: uppercase;
	transition: all .3s;
}

#menu .box-itens .bloco-links a:hover span {
	color: #801836;
	transition: all .3s;
}

#menu .box-itens .bloco-links a span::after {
	content: "";
	width: 9px;
	height: 17px;
	background: url(../../img/icones-menu/seta-direita-cinza.svg) no-repeat;
	display: flex;
}

#menu .box-itens .bloco-links a:hover span::after {
	background: url(../../img/icones-menu/seta-direita-laranja.svg) no-repeat;
}

#menu .box-itens .bloco-links .icone-link {
	height: 100%;
	width: 15%;
	background-position: center!important;
}

#menu .box-itens .bloco-links .link-yetz .icone-link {
	background: url(../../img/icones-menu/icone-yetz.svg) no-repeat;
	background-size: 30px;
}

#menu .box-itens .bloco-links .link-yetz a:hover .icone-link {
	background: url(../../img/icones-menu/icone-yetz-vinho.svg) no-repeat;
	background-size: 30px;
}

#menu .box-itens .bloco-links .link-perfil .icone-link {
	background: url(../../img/icones-menu/icone-usuario.svg) no-repeat;
	background-size: 20px;
}

#menu .box-itens .bloco-links .link-perfil a:hover .icone-link {
	background: url(../../img/icones-menu/icone-usuario-vinho.svg) no-repeat;
	background-size: 20px;
}

#menu .box-itens .bloco-links .link-desejos .icone-link {
	background: url(../../img/icones-menu/icone-lampada.svg) no-repeat;
	background-size: 48px;
}

#menu .box-itens .bloco-links .link-desejos a:hover .icone-link {
	background: url(../../img/icones-menu/icone-lampada-vinho.svg) no-repeat;
	background-size: 48px;
}

#menu .box-itens .bloco-links .link-campanhas .icone-link {
	background: url(../../img/icones-menu/icone-campanhas.svg) no-repeat;
	background-size: 30px;
}

#menu .box-itens .bloco-links .link-campanhas a:hover .icone-link {
	background: url(../../img/icones-menu/icone-campanhas-vinho.svg) no-repeat;
	background-size: 30px;
}

#menu .box-itens .bloco-links .link-pontos .icone-link {
	background: url(../../img/icones-menu/icone-pontos.svg) no-repeat;
	background-size: 34px;
}

#menu .box-itens .bloco-links .link-pontos a:hover .icone-link {
	background: url(../../img/icones-menu/icone-pontos-vinho.svg) no-repeat;
	background-size: 34px;
}

#menu .box-itens .bloco-links .link-resgates .icone-link {
	background: url(../../img/icones-menu/icone-resgates.svg) no-repeat;
	background-size: 34px;
}

#menu .box-itens .bloco-links .link-voucher .icone-link {
	background: url(../../img/icones-menu/voucher-digital.svg) no-repeat;
	background-size: 34px;
}

#menu .box-itens .bloco-links .link-voucher a:hover .icone-link {
	background: url(../../img/icones-menu/voucher-digital-vinho.svg) no-repeat;
	background-size: 34px;
}

#menu .box-itens .bloco-links .link-resgates a:hover .icone-link {
	background: url(../../img/icones-menu/icone-resgates-vinho.svg) no-repeat;
	background-size: 34px;
}

#menu .box-itens .bloco-links .link-sair .icone-link {
	background: url(../../img/icones-menu/icone-sair.svg) no-repeat;
	background-size: 24px;
}

#menu .box-itens .bloco-links .link-sair a:hover .icone-link {
	background: url(../../img/icones-menu/icone-sair-vinho.svg) no-repeat;
	background-size: 24px;
}

#menu .box-itens .bloco-links .link-fale-conosco .icone-contato {
	background: url(../../img/icones-menu/icon-fale-conosco.svg) no-repeat;
	background-size: contain;
	height: 24px;
	width: 30px;
	margin-left: 10px;
	margin-top: 7px;
	background-position: center;
}

@media(max-width: 768px){
	#menu .box-itens .bloco-links .link-fale-conosco .icone-contato{
		width: 73px;
	}
}

#menu .box-itens .bloco-links .link-fale-conosco a:hover .icone-contato {
	background: url(../../img/icones-menu/icon-fale-conosco-vinho.svg) no-repeat;
	background-size: 24px;
	height: 24px;
	width: 27px;
	margin-left: 10px;
	margin-top: 7px;
}

#menu .box-itens .bloco-links .link-adm .icone-link {
	background: url(../../img/icones-menu/icone-adm.svg) no-repeat;
	background-size: 24px;
}

#menu .box-itens .bloco-links .link-adm a:hover .icone-link {
	background: url(../../img/icones-menu/icone-adm-vinho.svg) no-repeat;
	background-size: 24px;
}

#menu .box-itens .bloco-links .icone-menu-usuario {
	height: 26px;
}

#menu .box-itens .bloco-links .icone-menu-desejos {
	height: 25px;
}

#menu .box-itens .bloco-links .icone-menu-resgates {
	height: 44px;
}

.saldo-carrinho-responsivo {
	display: none;
	height: 90px;
	width: 100vw;
	background: #00a651;
	position: fixed;
	bottom: 0;
	z-index: 1000;
}

.saldo-carrinho-responsivo .container,
.saldo-carrinho-responsivo .row,
.saldo-carrinho-responsivo .pontos,
.saldo-carrinho-responsivo .bloco-carrinho {
	height: 100%;
}

.saldo-carrinho-responsivo .pontos {
	display: flex;
	align-items: center;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
}

.saldo-carrinho-responsivo .saldo {
	margin: 0 10px;
}

.saldo-carrinho-responsivo .titulo {
	margin-top: 4px;
	font-size: 22px;
	color: rgba(255, 255, 255, .7);
}

.saldo-carrinho-responsivo .bloco-carrinho {
	width: 40%;
	border-top: 5px solid #00a651;
	border-bottom: 5px solid #00a651;
	position: absolute;
	right: 0;
	background-color: #f7a81e;
}

.saldo-carrinho-responsivo .bloco-carrinho .btn-carrinho {
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.saldo-carrinho-responsivo .bloco-carrinho .btn-carrinho .qtd-itens {
	display: flex;
	align-items: center;
	color: white;
	width: 70%;
	font-weight: 700;
	font-size: 20px;
}

.saldo-carrinho-responsivo .bloco-carrinho .btn-carrinho .qtd-itens::after {
	content: "";
	background-image: url('../../img/mobile/seta-dir.png');
	background-repeat: no-repeat;

	background-position-x: right;
	width: 8px;
	height: 13px;
	margin-left: 10px;
}

.saldo-carrinho-responsivo .bloco-carrinho .btn-carrinho .qtd-itens::before {
	content: "";
	background-image: url('../../img/mobile/carrinho.png');
	background-repeat: no-repeat;
	background-size: auto;
	min-width: 55px;
	height: 35px;
}

#modalCategoriasGerais .modal-dialog{
	margin-top: 113px;
}

#modalCategoriasGerais .modal-dialog .modal-content {
	border-radius: 0px;
	border: none;
}

#modalCategoriasGerais .modal-dialog .modal-content .modal-body {
	background: #801836;
}

#modalCategoriasGerais .modal-dialog .modal-content .close {
	opacity: 1;
	margin-top: -45px;
}

#modalCategoriasGerais .modal-dialog .modal-content .close img {
	width: 35px;
}

#modalCategoriasGerais .modal-body h1 {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	margin-top: 40px;
}

#modalCategoriasGerais .modal-body ul {
	display: inline-block;
	width: 100%;
	margin: 40px 0;
}

#modalCategoriasGerais .modal-body ul li {
	width: 33%;
	margin-top: 30px;
	float: left;
	height: 50px;
}

#modalCategoriasGerais .modal-body ul li a {
	display: table;
	margin: 0 auto;
}

#modalCategoriasGerais .modal-body ul li img {
	width: 45px;
	height: 45px;
}

.resumo-carrinho-mobile {
	width: 100%;
	height: 100%;
	display: none;
	background: white;
	position: fixed;
	top: 0;
	z-index: 999;
	overflow-y: auto;
	padding-bottom: 90px;
}

.resumo-carrinho-mobile.active {
	display: block;
}

.resumo-carrinho-mobile .produto-carrinho {
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #d0d0d0;
}

.resumo-carrinho-mobile .produto-carrinho .valor-produto {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.resumo-carrinho-mobile .produto-carrinho .valor-produto .foto-produto-carrinho {
	width: 35%;
}

.resumo-carrinho-mobile .produto-carrinho .valor-produto .bloco-informacoes {
	width: 60%;
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.resumo-carrinho-mobile .area-total {
	border-top: none;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.resumo-carrinho-mobile .area-total a{
	display: block;
}

@media(max-width: 480px){
	.resumo-carrinho-mobile{
		height: 0px;
		display: block;
		top: unset;
		bottom: -100px;
		z-index: -1;
		transition: all .5s;
	}
	.resumo-carrinho-mobile.active{
		height: 100%;
		bottom: 0px;
		z-index: 999;
		transition: all .5s;
	}
}

#modal-media .modal-dialog {
	width: 80%;
	margin-top: 50px;
}

#modal-media .modal-content{
	width: 100%;
	background: transparent;
	border: none;
}

#modal-media .modal-body{
	max-height: 1px;
	padding: 0px;
}

video {
	width:100%;
	margin: auto;
}

.btn-close {
	position: absolute;
	height: 20px;
	float: right;
	margin-top: -26px;
	right: 0px;
}

.modal-voucher {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 30;
	display: none;
}

.modal-voucher .overlay{
	background-color: #000000;
	opacity: 0.7;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.modal-voucher .box-white {
	width: 770px;
	height: 373px;
	border: 1px solid #707070;
	background-color: #ffffff;
	position: absolute;
	z-index: 1;
	top: 71px;
	left: 50%;
	margin-left: -385px;
	padding: 66px 80px;
	display: flex;
	align-items: center;
}

.modal-voucher .box-white .btn-close-modal {
	position: absolute;
	top: -30px;
	right: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	border: none;
}

.modal-voucher .box-white .box-voucher {
	width: 154px;
	height: 216px;
	border-radius: 6px;
	border: 1px solid #b9b9b9;
	background-color: #ffffff;
	padding-top: 27px;
	margin-right: 73px;
}

.modal-voucher .box-white .box-voucher .icon {
	display: block;
	margin: 0 auto;
}

.modal-voucher .box-white .box-voucher .text {
	border-top: 1px solid rgba(150, 150, 150, 0.33);
	margin-top: 17px;
	padding-top: 17px;
}

.modal-voucher .box-white .box-voucher .text p {
	text-align: center;
	color: #a8a8a8;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	max-width: 69px;
	margin: 0 auto;
	margin-bottom: 13px;
}

.modal-voucher .box-white .box-voucher .text .icon-voucher {
	width: 62px;
	height: 45px;
	background-color: #971134;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	border-radius: 5px;
}

.modal-voucher .box-white .texto {
	width: 360px;
}

.modal-voucher .box-white .texto .traco {
	width: 44px;
	height: 2px;
	background-color: #ff7600;
	margin-bottom: 22px;
}

.modal-voucher .box-white .texto h2 {
	margin: 0;
	color: #b5003f;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.modal-voucher .box-white .texto p {
	color: #707070;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.17px;
	line-height: 20px;
	margin-bottom: 22px;
}

.modal-voucher .box-white .texto .formulario {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-voucher .box-white .texto .formulario input[type=text] {
	flex: 1 1 auto;
	margin-right: 7px;
	width: 288px;
	height: 59px;
	border: 1px solid #d0d0d0;
	background-color: #f4f4f4;
	border-radius: 5px;
	padding: 0px 22px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
}

.modal-voucher .box-white .texto .formulario button {
	width: 62px;
	height: 59px;
	background-color: #00a651;
	border: none;
	border-radius: 5px;
}

.modal-voucher .box-white .texto .formulario button:hover {
	background-color: #25db7e;
	transition: all .3s;
}

.modal-voucher .box-sucesso {
	width: 530px;
	height: 331px;
	border: 1px solid #707070;
	background-color: #ffffff;
	position: absolute;
	z-index: 5;
	top: 71px;
	left: 50%;
	margin-left: -265px;
	padding-top: 48px;
	display: none;
}

.modal-voucher .box-erro {
	width: 530px;
	height: 331px;
	border: 1px solid #707070;
	background-color: #ffffff;
	position: absolute;
	z-index: 5;
	top: 71px;
	left: 50%;
	margin-left: -265px;
	padding-top: 48px;
	display: none;
}

.modal-voucher .box-erro img {
	display: block;
	margin: 0 auto;
	margin-bottom: 27px;
}

.modal-voucher .box-sucesso img {
	display: block;
	margin: 0 auto;
	margin-bottom: 27px;
}

.modal-voucher .box-sucesso h2 {
	margin: 0;
	text-align: center;
	color: #000000;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 18px;
}

.modal-voucher .box-erro h2 {
	margin: 0;
	text-align: center;
	color: #ff0000;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 18px;
}

.modal-voucher .box-sucesso p {
	text-align: center;
	max-width: 310px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.17px;
	line-height: 20px;
	color: #707070;
	margin-bottom: 40px;
}

.modal-voucher .box-erro p {
	text-align: center;
	max-width: 330px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.17px;
	line-height: 20px;
	color: #707070;
	margin-bottom: 40px;
}

.modal-voucher .box-sucesso button {
	width: 192px;
	height: 39px;
	background-color: #00a651;
	border: 2px solid #00a651;
	border-radius: 5px;
	margin: 0 auto;
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	transition: all .3s;
}

.modal-voucher .box-erro button {
	width: 192px;
	height: 39px;
	background-color: #ff0000;
	border: 2px solid #ff0000;
	border-radius: 5px;
	margin: 0 auto;
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	transition: all .3s;
}

.modal-voucher .box-sucesso button:hover {
	background: transparent;
	color: #00a651;
	transition: all .3s;
}

.modal-voucher .box-erro button:hover {
	background: transparent;
	color: #ff0000;
	transition: all .3s;
}

@media(max-width: 768px){
	.modal-open .modal{
		display: flex;
		flex-direction: column;
	}

	#modalConfirmaResgate{
		height: 100vh;
		z-index: 99999;
	}

	#modalConfirmaResgate .modal-dialog{
		height: 80%;
		overflow: scroll;
		z-index: 99999;
	}

	#modal-popup-ilha .modal-dialog{
		width: 100%;
		margin: 0px;
		margin-top: auto;
		margin-bottom: auto;
	}
	#modal-popup-ilha .modal-dialog .modal-content{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	#modal-popup-ilha .modal-dialog .modal-content .modal-body{
		padding: 0px !important;
	}

	#modal-popup-ilha .modal-dialog .modal-content .modal-body img {
		width: 100%;
	}
}

@media(max-width: 480px){
	#menu .box-itens .bloco-links .link-fale-conosco .icone-contato{
		width: 10%;
	}

	.topo-produto{
		padding-bottom: 70px;
	}

	.todos-passos .passo a{
		padding-left: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.todos-passos .passo a img{
		display: block;
		margin-right: 0px;
		width: auto;
		margin-right: auto;
	}

	#modal-media .modal-dialog{
		width: 80%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0px;
	}

	#modal-media .modal-dialog .modal-content{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#modal-media .modal-body{
		max-height: unset;
	}

	#modal-media .modal-dialog .modal-content .modal-content .modal-body{
		max-height: unset;
	}
}

@media(max-width: 375px){
	#menu .box-itens .bloco-links .link-fale-conosco .icone-contato{
		width: 24px;
	}
}

.saldo-carrinho:hover .container-hover{height:191px;padding-top:28px;padding-bottom:25px;top:46px;border:2px solid #00a651;-webkit-transition:all .5s;transition:all .5s}.container-hover{width:calc(100% - 70px);overflow:hidden;padding-right:76px;padding-left:60px;background-color:#ffffff;height:0px;position:absolute;top:46px;z-index:20;border:0px solid #00a651;border-radius:5px;-webkit-transition:all .5s;transition:all .5s}.container-hover .pts-bloqueado{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.container-hover .pts-bloqueado img{display:block;margin-right:10px}.container-hover .pts-bloqueado .container-text h3{color:#971134;font-size:14px;font-weight:900;line-height:unset;margin:0px}.container-hover .pts-bloqueado .container-text p{margin-top:10px;color:#6a6a6a;font-size:13px;font-weight:400}.container-hover .pts-bloqueado .container-text span{color:#00a651;font-family:Roboto;font-size:12px;font-weight:900;text-transform:uppercase}
