/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/11/2015, 09:46:07
    Author     : Cryptos TI
*/

.status-pedido {
    width: 100%;
}

#status-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-top: 5px;
}

#status-list li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 20%;
    float: left;
    position: relative;
    border: none;
}

#status-list li.active .circulo-status {
    background: #86a136;
    color: white;
}

#tabela tbody tr td ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: circle;
}

.circulo-status {
    width: 128px;
    height: 128px;
    border-radius: 70px;
    background-color: #d2d2d2;
    position: relative;
    margin: 0 auto;
    padding-top: 55px;
    font-size: 14px;
    text-align: center;
    z-index: 9;
    font-weight: normal;
    margin-bottom: 10px;
}

#status-list li:after {
    content: '';
    width: 43%;
    height: 2px;
    border-top: 2px dashed #f7b41d;
    position: absolute;
    left: 50%;
    top: 75px;
    z-index: 1;
    margin-left: 75px;
}

#status-list li:last-child:after {
    content: none; 
}

#status-list li.active .circulo-status{
    background: #EBD580;
    background: #EBD580;
    background: -moz-linear-gradient(left,  #5dd036 0%, #17e0e7 100%);
    background: -webkit-linear-gradient(left,  #C3BFAC 0%,#F3CA2D  100%);
    background: linear-gradient(to right,  #C3BFAC 0%,#F3CA2D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dd036', endColorstr='#17e0e7',GradientType=1 );
    color: white;
}

.table{
    margin: 0px;
}

.table>thead>tr>th{
    text-align: center;
    border-right: 1px solid #EBD580;
    border-bottom: 1px solid #EBD580;
    padding: 13px 0px;
}

.table thead tr{
    background: #EBD580;
    color: #fff;
    font-size: 22px;
    font-weight: 600px;
    vertical-align: middle !important;
}

.table tbody td{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle !important;
    border-top: none !important;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #ddd;
    padding: 30px 60px !important;
}

.table tbody{
    border-right: 1px solid #cccccc;
}

.caret-table {
    color: #019ba0;
    font-size: 15px;
    margin-right: 5px;
}

.table tbody tr td:nth-child(4) {
    cursor: pointer;
}


.conteudo-acompanhar {
    padding: 0px 0px 60px 0px;
    background-color: #f4f4f4;
}

.conteudo-acompanhar p {
    font-size: 16px;
    color: #95abb7;
    margin-top: 40px;
}

.conteudo-acompanhar .table thead tr {
    background: #7c7982;
    color: #fff;
    font-size: 14px;
    font-weight: normal !important;
    vertical-align: middle !important;
}

.conteudo-acompanhar .table>thead>tr>th {
    text-align: center;
    border: 1px solid #952743;
    border-bottom: none;
    padding: 14px 0px;
    background: #801836;
    font-size: 20px;
    color: #f7a81e;
}

.conteudo-acompanhar .table tbody td {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle !important;
    border-top: none !important;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #ddd;
    padding: 20px 50px !important;
    color: #6d7f89;
}

.conteudo-acompanhar .table tbody tr td:nth-child(4) {
    cursor: pointer;
    font-size: 14px;
    color: #801836;
    font-weight: bold;
}

.conteudo-acompanhar .caret-table {
    color: #801836;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 10px;
}

.conteudo-acompanhar #status-list li.active .circulo-status {
    background: #EBD580;
    background: #EBD580;
    background: -moz-linear-gradient(left, #375cae 0%, #223c77 100%);
    background: -webkit-linear-gradient(left, #375cae 0%,#223c77 100%);
    background: linear-gradient(to right, #375cae 0%,#223c77 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#801836', endColorstr='#cc1c4f',GradientType=1 );
    color: white;
}

.conteudo-acompanhar #status-list li {
    list-style-type: none;
    color: white;
    text-transform: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    border: none;
}

.conteudo-acompanhar .num-etapa {
    color: #d2d2d2;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    padding: 5px 11px;
    position: absolute;
    background-color: #fff;
    top: 0;
    z-index: 10;
    right: 40px;    
}

.circulo-status.status-aguardando {
    background: linear-gradient(to right, #46b9ff 0%,#0c7eff 100%) !important;
}

.circulo-status.status-aprovado {
    background: linear-gradient(to right, #f8c21b 0%,#f7ad1e 100%) !important;
}

.circulo-status.status-caminho {
    background: linear-gradient(to right, #d1577a 0%,#922645 100%) !important;
}

.circulo-status.status-entregue {
    background: linear-gradient(to right, #3cd084 0%,#0bad5a 100%) !important;
}

.num-etapa.num-aguardando {
    border: 1px solid#3b9aff;
    color: #3b9aff;
}

.num-etapa.num-aprovado {
    border: 1px solid #f7ac1e;
    color: #f7ac1e;
}

.num-etapa.num-caminho {
    border: 1px solid #c85073;
    color: #c85073;
}

.num-etapa.num-entregue {
    border: 1px solid #0bae5b;
    color: #0bae5b;
}

#status-cancelado{
    margin: 0px;
    color: #801836;
    font-size: 22px;
    padding: 40px 0px;
}

.previsao-entrega{
    color: #797979;
    font-weight: bold;
}
