/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/11/2015, 12:40:40
    Author     : Desenvolvimento 3
*/

#fundoConhecaOPrograma{
    background: #ffffff url('../imagens/bg-resgate.png') no-repeat top left;
}

#fundoConhecaOPrograma hr{
    margin-top: 25px;
    margin-bottom: 65px;
}
.titulo-principal {
    font-size: 32px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 30px;
}

.titulo-principal span{
    font-weight: 600;
}

.sub-titulo-principal {
    font-size: 18px;
    font-weight: bold;
    color: #1b1b1b;
    margin-bottom: 35px;
}

.lista-opcoes-produto{
    list-style-image: url('../imagens/arrow-list.png');
    margin: 35px 0px 65px 0px;
}

.lista-opcoes-produto li{
    margin-bottom: 20px;
}

#exemploConhecaOPrograma{}

.semestre{
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.semestre header{}

.semestre header .sub-titulo-principal{
    padding: 19px 0px;
    text-align: center;
    font-size: 28px;
}

.semestre section{
    padding: 0px 35px 35px;
}

.semestre section p{
    font-size: 15px;
}

.aviso-importante{
    padding: 25px 90px;
    color: #fff;
}

.aviso-importante h1{
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.aviso-importante p{
    font-size: 19px;
    text-align: center;
}

.table{
    margin: 0px;
}

.table>thead>tr>th{
    text-align: center;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 13px 0px;
    font-weight: normal;
}

.table thead tr{
    font-size: 15px;
    background-color: #e8cf96;
    color: #fff;
    vertical-align: middle !important;
    border-top: 1px solid #d0b77f;
    border-left: 1px solid #d0b77f;
}

.table tbody td{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle !important;
    border-top: none !important;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
}

.table tbody{
    border-right: 1px solid #cccccc;
    color: #a9a9a9;
}

.estrela-categoria{
    float: left;
    width: 60px;
    text-align: right;
    margin-right: 15px;
}

.fundo-aba{
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #fdfdfd;
    border-top-left-radius: 0;
}

.nav-tabs{
    border-bottom: none !important;
}

.nav-tabs>li>a {
    font-weight: normal;
    font-size: 16px;
    padding: 15px 90px;
    color: #aaaaaa;
    border: 1px solid #e8e8e8;
    margin-right: 0;
    border-radius: 0px 4px 0 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    font-weight: bold;
    background-color: #fdfdfd;
    color: #717171;
    border-radius: 4px 0px 0 0;
}

.titulo-verde {
    padding-top: 40px;
}

#fundoConhecaOPrograma .conteudo span {
    font-size: 17px;
    color: #333333;
}

#fundoConhecaOPrograma .conteudo p:first-child {
    margin-top: 17px;
}

#fundoConhecaOPrograma .conteudo p {
    font-size: 14px;
    color: #666666;
}

#fundoConhecaOPrograma .conteudo .parag-titulo {
    margin-top: 17px;
}

.nav-tabs>li {
    float: left !important;
    margin-bottom: -1px !important;
    width: 50% !important;
    text-align: center !important;
}
