#dados-relatorio img {
    margin-top: 10px;
}
#dados-relatorio .btn-success {
    margin-top: 40px;
    background-color: #3cb528;
    border-radius: 0px;
    border-bottom: 3px solid #319721;
    font-weight: bold;
}

#dados-relatorio .btn-success:hover {
    color: #fff;
    background-color: #319721;
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

table thead tr th {
    text-align: center;
}

table tbody td {
    text-align: center;
}

#dados-relatorio h1 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 800;
    color: #000;
}