#accordion .dados{
    float: left;
    width: 80%;
}
#accordion .opcoes{
    float: right;
    width: 20%;
}
#accordion .opcoes button{
    margin-bottom: 10px;
    float: right;
    width: 60%;    
}
#accordion .dados label{
    float: left;
    width: 50%;
}
.btn-filtrar {
    background: #ffffff;
    border: 1px solid #e1600c;
    font-size: 14px;
    color: #e1600c;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
    outline: none;
}

.btn-filtrar:hover{
    background: #e1600c;
    color: #ffffff;
}

.btn-imprimir{
    background: #fdb813;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
    outline: none;
}

.btn-imprimir:hover, #btnConfirmaProtocolo:hover{
    background: #FF7B2E; 
}

#confirmaProtocolo .modal-header h1{
    margin: 0;
    padding: 0;
    font-size: 26px;
    display: inline-block;
    font-weight: bold;
}
#confirmaProtocolo .modal-body h1{
    font-size: 22px;
    margin: 0;
}
#confirmaProtocolo .modal-body p{
    margin: 15px 0px;
}
#confirmaProtocolo .modal-dialog{
    width: 400px;
}
#confirmaProtocolo input{
    float: none !important;
}
#protocolos p{
    margin-bottom: 20px;
}
.panel-group {
    float: left;
    width: 100%;
}

#btnConfirmaProtocolo{
    background: #fdb813;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 6px;
    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
    outline: none;
}

#btnConfirmaProtocolo:hover{
    background: #FF7B2E; 
}

#btnCancelarProtocolo {
    background: #ffffff;
    border: 1px solid #e1600c;
    font-size: 14px;
    color: #e1600c;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 6px;
    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
    outline: none;
}

#btnCancelarProtocolo:hover{
    background: #e1600c;
    color: #ffffff;
}