@keyframes e-commerce-hover {
  0% {
    content: "E";
  }
  10% {
    content: "E-";
  }
  20% {
    content: "E-C";
  }
  30% {
    content: "E-CO";
  }
  40% {
    content: "E-COM";
  }
  50% {
    content: "E-COMM";
  }
  60% {
    content: "E-COMME";
  }
  70% {
    content: "E-COMMER";
  }
  80% {
    content: "E-COMMERC";
  }
  100% {
    content: "E-COMMERCE";
  }
}

@keyframes loja-fisica-hover {
  0% {
    content: "L";
  }
  10% {
    content: "LO";
  }
  20% {
    content: "LOJ";
  }
  30% {
    content: "LOJA";
  }
  40% {
    content: "LOJA ";
  }
  50% {
    content: "LOJA F";
  }
  60% {
    content: "LOJA FÍ";
  }
  70% {
    content: "LOJA FÍS";
  }
  80% {
    content: "LOJA FÍSI";
  }
  90% {
      content: "LOJA FÍSIC"
  }
  100% {
    content: "LOJA FÍSICA";
  }
}

#vale .form-group {
    margin-left: 30px;
}

#vale .form-control {
    margin-left: 13px;
}

#vale label {
    font-size: 13px;
    color: #999999;
    font-weight: normal;
}

.nome-categoria-novo {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #535353;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome-categoria-novo .voltar-mobile{
    display: none;
}

@media(max-width: 480px){
    .nome-categoria-novo{
        position: relative;
    }
    .nome-categoria-novo .voltar-mobile{
        display: block;
    }

    .nome-categoria-novo .voltar-mobile i:before{
        color: #fff;
        font-size: 7vw;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%) rotate(180deg);
    }
}

.nome-categoria-novo img {
    margin-right: 15px;
    width: 35px;
    height: 35px;
}

.margem-direita {
    margin-left: -14px;
}

#topo-pagina .form-group {
    margin-left: 24px;
    margin-top: 24px;
}

.cabecalho {
    overflow: hidden;
}

.slide-produtos .swiper-button-disabled {
    opacity: 0.5;
}

.categorias-produtos {
    padding-top: 45px;
    padding-bottom: 90px;
    background-color: #f4f4f4;
}

.categorias-produtos .categoria {
    position: relative;
    margin-top: 70px;
}

.categorias-produtos .categoria:first-child {
    margin-top: 0px;
}

.categorias-produtos .categoria h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 35px;
    color: #95abb7;
}

.categorias-produtos .categoria .produto .prod {
    background-color: #fff;
    max-height: 455px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    cursor: pointer;
}

.categorias-produtos .categoria .produto .prod img {
    max-width: 100%;
    margin-top: 15px;
}

.categorias-produtos .categoria .produto .prod h2 {
    text-align: center;
    font-size: 18px;
    color: #849eac;
    height: 50px;
    margin: 0;
}

.categorias-produtos .categoria .produto .prod h1 {
    font-weight: normal;
    text-align: center;
    font-size: 23px;
    margin: 0;
}

.swiper-container {
    margin-top: 30px;
}

.categorias-produtos .categoria .setas span {
    padding: 10px 15px;
    background-color: #992d4c;
    color: #fff;
    cursor: pointer;
}

.categorias-produtos .categoria .setas span i {
    display: initial !important;
}

.categorias-produtos .categoria .setas {
    position: absolute;
    right: 0px;
    top: 15px;
}

.nome-categoria{
    display: block;
}

#bloco-categoria{
    padding-left: 0px;
}

.todos-prods-categorias {
    margin-top: 100px;
}

.bloco-busca {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
}

.bloco-busca select {
    width: 21%;
    height: 36px;
    border: solid 1px #c2c2c2;
    box-shadow: none;
    color: #ababab;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../../img/seta-baixo-preta.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    background-position-x: 95%;
}

.prod-destaques {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.prod-destaques .valor-produto-mobile{
    display: none;
}

.prod-destaques {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 346px));
    grid-gap: 45px;
    justify-content: center;
}

.box-produto {
    width: 100%;
    margin-bottom: 100px;
}

/* .box-produto.second-child {
    margin: 0 5%;
} */

.box-produto .informacoes-produto img{
    cursor: pointer;
    border-radius: 15px;
    max-height: 230px;
    width: 100%;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
}

.box-produto .informacoes {
    height: 75px;
    width: 100%;
    margin-top: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.box-produto .informacoes .area-selos .selo {
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.box-produto .informacoes .area-selos .selo:last-child {
    bottom:0;
}

.box-produto .informacoes .area-selos .selo:hover {
    width: auto;
}

.box-produto .informacoes .area-selos .selo img {
    height: 17px;
}

.box-produto .informacoes .area-selos .selo span {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.box-produto .informacoes .area-selos .selo-e-commerce {
    background-color: #ff6f00;
}

.box-produto .informacoes .area-selos .selo-loja-fisica {
    background-color: #801836;
    bottom: 0;
}

.box-produto .informacoes .area-selos .selo-e-commerce:hover span::after {
    content: "";
    color: #fff;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;
    animation: e-commerce-hover .2s forwards ease;
}

.box-produto .informacoes .area-selos .selo-loja-fisica:hover span::after {
    content: "";
    color: #fff;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;
    animation: loja-fisica-hover .2s forwards ease;
}

.box-produto .informacoes .area-valores {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-produto .informacoes .area-valores.verde .progress-bar {
    background: #00a651;
}

.box-produto .informacoes .area-valores.amarelo .progress-bar {
    background: #fdb813;
}

.box-produto .informacoes .area-valores.vermelho .progress-bar {
    background: #f61a39;
}

.box-produto .informacoes .area-valores.verde .saldo {
    color: #00a651;
}

.box-produto .informacoes .area-valores.amarelo .saldo {
    color: #fdb813;
}

.box-produto .informacoes .area-valores.vermelho .saldo {
    color: #f61a39;
}

.box-produto .informacoes .area-valores.verde a {
    background-color: #00a651;
}

.box-produto .informacoes .area-valores.amarelo a,
.box-produto .informacoes .area-valores.vermelho a {
    background-color: #bcbcbc;
}

.box-produto .informacoes .area-valores .valores {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-produto .informacoes .area-valores .valores .progress {
    width: 60%;
}

.box-produto .informacoes .area-valores .valores .saldo {
    margin: 0px;
    width: 35%;
    text-align: end;
    font-size: 16px;
    font-weight: bold;
}

.box-produto .informacoes .area-valores .btn-adiciona-produto {
    width: 100%;
    height: 60%;
    background-color: #00a651;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box-produto .informacoes .area-valores .btn-adiciona-produto span {
    font-family: "Roboto";
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: flex;
}

.box-produto .informacoes .area-valores .btn-adiciona-produto span::before {
    content: "";
    width: 27px;
    margin-right: 10px;
    background-image: url(../../img/icone-carrinho.png);
    background-repeat: no-repeat;
    background-size: contain;
}