.container-videos{
    margin-top: 20px;
    margin-bottom: 200px;
}

.icon-videos + span {
    font-size: 18px;
    font-weight: bold;
    color: #ff9999;
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
}

.filtro .bloco-filtros {
    display: flex;
    justify-content: space-between;
}

.filtro .bloco-filtros select{
    width: 68%;
    height: 36px;
}

.card-video {
    width: 265px;
    border-radius: 10px;
    padding: 0px;
    margin-bottom: 28px;
    -webkit-box-shadow: 5px 3px 21px -1px #d8d8d8;
    box-shadow: 5px 3px 21px -1px #d8d8d8;
}

.content-card {
    margin: auto;
    padding: 24px 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-video{
    width: 100%;
    height: 158px;
}

.img-video img{
    height: 100%;
    width: 100%;
}

.title-video {
    font-size: 15px;
    color: #20c488;
    margin-top: 20px;
    height: 42px;
}

.description-video{
    font-size: 13px;
    height: 72px;
}

.btn-assistir{
    width: 100%x;
    height: 44px;
    border-radius: 10px;
    color: white;
    text-align: center;
    background-color: #00a651;
    display: block;
}

.btn-assistir:hover{
    cursor:pointer;
}

.btn-assistir span{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    color: white;
    margin-left: 10px;
    margin-top: 0;
}

.btn-close{
    position: absolute;
    height: 20px;
    float: right;
    margin-top: -26px;
    right: 0px;
}

.content-btn-assistir{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal-media .modal-dialog {
    width: 80%;
    margin-top: 50px;
}

#modal-media .modal-content{
    width: 100%;
    background: transparent;
    border: none;
}

#modal-media .modal-body{
    max-height: 1px;
    padding: 0px;
    position: relative;
    top: -168px;
}

video{
    width:100%;
    margin: auto;
}

#audioplayer {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
}

.play {
    background: url(../../img/icone-play.png);
}

.pause {
    background: url(../../img/icone-pause.png);
}

.timeline {
    width: 70%;
    height: 4px;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
    background: #cccccc ;
}

.playhead {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: -4px;
    background: #00a651 ;
}

.playhead span {
    color: #00a651 ;
    position: absolute;
    margin-top: -20px;
    margin-left: -7px;
    font-size: 11px;
}

.pButton {
    height: 38px;
    width: 25%;
    border: none;
    background-repeat: no-repeat !important;
    background-position: center !important;
    outline: none;
    background-color: #00a651 !important;
    border-radius: 22px;
    float: right;
}


@media(max-width: 480px){
    #modal-media .modal-dialog{
        width: 100%;
        height: 194px;
        position: relative;
        margin: 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);     
    }

    #modal-media .modal-dialog .modal-content .modal-content{
        width: 90%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);     
    }

    #modal-media .modal-dialog .modal-content .modal-content .modal-body #conteudo-midia video{
        
    }

    video{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-close{
        right: 34px;   
    }
}