@keyframes e-commerce-hover {
  0% {
    content: "E";
  }
  10% {
    content: "E-";
  }
  20% {
    content: "E-C";
  }
  30% {
    content: "E-CO";
  }
  40% {
    content: "E-COM";
  }
  50% {
    content: "E-COMM";
  }
  60% {
    content: "E-COMME";
  }
  70% {
    content: "E-COMMER";
  }
  80% {
    content: "E-COMMERC";
  }
  100% {
    content: "E-COMMERCE";
  }
}

@keyframes loja-fisica-hover {
  0% {
    content: "L";
  }
  10% {
    content: "LO";
  }
  20% {
    content: "LOJ";
  }
  30% {
    content: "LOJA";
  }
  40% {
    content: "LOJA ";
  }
  50% {
    content: "LOJA F";
  }
  60% {
    content: "LOJA FÍ";
  }
  70% {
    content: "LOJA FÍS";
  }
  80% {
    content: "LOJA FÍSI";
  }
  90% {
      content: "LOJA FÍSIC"
  }
  100% {
    content: "LOJA FÍSICA";
  }
}

.conteudo-imagem{
    border-radius: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
}
.conteudo-imagem img {
    width: 100%;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
}
.obs-img {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;    
    float: left;    
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.descricao-produto {
    margin-top: 45px;
    margin-bottom: 70px;
}

.descricao-produto.verde .valor-produto .progress-bar {
    background-color: #339933;
}

.descricao-produto.verde .valor-produto h1,
.descricao-produto.verde .texto-alternativo .texto h3 {
    color: #339933;
}

.descricao-produto.verde .texto-alternativo {
    border: 1px solid #339933;
}

.descricao-produto.verde .texto-alternativo .icone {
    width: 73px;
    height: 73px;
    float: left;
    margin-right: 22px;
    background-image: url(../../img/icone-sucesso.png)
}

.descricao-produto.verde .texto-alternativo button {
    background-color: #339933;
}

.descricao-produto.amarelo .texto-alternativo button,
.descricao-produto.vermelho .texto-alternativo button {
    background-color: #bcbcbc;
}

.descricao-produto.amarelo .valor-produto .progress-bar {
    background-color: #fdb813;
}

.descricao-produto.amarelo .valor-produto h1,
.descricao-produto.amarelo .texto-alternativo .texto h3 {
    color: #fdb813;
}

.descricao-produto.amarelo .texto-alternativo {
    border: 1px solid #fdb813;
}

.descricao-produto.amarelo .texto-alternativo .icone {
    width: 73px;
    height: 73px;
    float: left;
    margin-right: 22px;
    background-image: url(../../img/icone-erro-laranja.png)
}

.descricao-produto.vermelho .valor-produto .progress-bar {
    background-color: #f61a39;
}

.descricao-produto.vermelho .valor-produto h1,
.descricao-produto.vermelho .texto-alternativo .texto h3 {
    color: #f61a39;
}

.descricao-produto.vermelho .texto-alternativo {
    border: 1px solid #f61a39;
}

.descricao-produto.vermelho .texto-alternativo .icone {
    width: 73px;
    height: 73px;
    float: left;
    margin-right: 22px;
    background-image: url(/css/usuario_antigo/icone-erro.png)
}

.descricao-produto h1 {
    font-size: 22px;
    font-weight: normal;
    color: #339933;    
}
.informacoes-importantes{
    margin-bottom: 0px;
}
.informacoes-importantes p{
    margin-left: 0px!important;
    margin-right: 0px!important;   
}

.conteudo-detalhes-produto {
    width: 90%;
    margin: 0 auto;
    margin-top: 90px;    
}

.sem-overflow {
    overflow: initial !important;
}

.titulo-similares {
    text-align: center;
    color: #676767;
    text-transform: uppercase;
    font-style: italic;
    font-size: 25px;
    margin: 70px 0;
}

.titulo-similares span{
    font-weight: 700;
}

.btn-imprimir {
    color: #fff;
    background-color: #449d44;
    -webkit-border-radius: 2px 2px 2px;
    border: none;
    border-radius: 2px 2px 2px;
    border-bottom: 3px solid #3c763d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 50px;
    padding: 0 30px;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.descricao-produto .texto-insuficiente {
    color: #74858f;
    font-size: 24px;
    margin-top: 15px;
}

.descricao-produto .btn-desabilitado {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
    border: none;
    color: #fff;
}

.descricao-produto .valor-produto .barra-progresso {
    width: 150px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.descricao-produto .valor-produto {
    margin-left: 20px;
}

.descricao-produto h1 span {
    font-size: 22px;
    font-weight: normal;
}

.descricao-produto h2 {
    font-size: 20px;
    font-weight: normal;
    color: #74868f;
    margin-left: 20px;
    font-style: italic;
}

.descricao-produto h2 strong {
    font-weight: normal;
}

.descricao-produto h3 {
    font-size: 24px;
    font-weight: 800;
    color: #74858f;
    margin-top: 15px;
    margin-left: 20px;
}

.descricao-produto p {
    font-size: 15px;
    color: #74858f;
    margin-left: 20px;
}

.descricao-produto .btn-verde {
    margin-top: 20px;
    padding: 10px 85px 10px 85px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.produtos-similares .descricao {
    font-size: 16px;
    font-weight: 800;
}

.produtos-similares .breve-texto-descricao {
    font-size: 16px;
    font-weight: normal;
}


.produtos-similares .produto {
    background-color: #fff;
    border: solid 1px #eee;
    -webkit-border-radius: 6px 6px 6px;
    border-radius: 6px 6px 6px;
    overflow: hidden;
    margin-bottom: 30px;
}

.produtos-similares .produto:hover {
    box-shadow: 0 0 23px 10px #ededed;
    cursor: pointer;
    -webkit-transition: box-shadow 0.3s ease-in;
    -moz-transition: box-shadow 0.3s ease-in;
    -ms-transition: box-shadow 0.3s ease-in;
    -o-transition: box-shadow 0.3s ease-in;
    transition: box-shadow 0.3s ease-in;
}



.produtos-similares .foto-produto{
    width: 100%;
    display: block;
    height: 205px;
}

.produtos-similares .foto-produto img{
    width: 100%;
}

.produtos-similares .desc-produto {
    padding-bottom: 40px;
}

.produtos-similares .desc-produto h2{
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}

.produtos-similares .desc-produto p {
    font-size: 12px;
    text-align: center;
}

.produtos-similares .status-produto {
    border-top: 1px solid #eeeeee;
    padding-bottom: 57px;
    padding-top: 7px;

}

.produtos-similares .status-produto .pull-left{
    font-size: 20px;
    margin-left: 9px;
    margin-top: 11px;
}

.produtos-similares .status-produto .pull-right{
    margin-right: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.produtos-similares .subtitulo-pagina {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 26px;
    color: #6d7f89;
}

.produtos-similares .separador-titulo {
    margin-bottom: 26px;
}

.conteudo-imagem-modal .listaProdutos {
    list-style: none;
    padding: 0;
    width: 75%;
    display: table;
    margin: 0 auto;
    margin-top: 35px
}

.listaProdutos table tbody tr td {
    padding: 19px 17px;
}

.listaProdutos table {
    border: 1px solid #dfdfdf;
}

.fundo-tr-cinza {
    background: #6d7f89;
    color: #fff;
}

.conteudo-imagem-modal .listaProdutos .dadoModal {
    float: right;
    margin-top: -26px;
    margin-right: 70px;
} 

.conteudo-imagem-modal .listaProdutos .campoModal {
    float: none;
}

.modal-backdrop.in {
    position: fixed;
}

.btn-danger {
    color: #fff;
    background-color: #cc6666;
    border-color: #cc6666;
    border-radius: 40px;
    padding: 12px 19px;
    margin-right: 30px;
    font-style: italic;
    font-size: 15px;
}

.modal-header {
    min-height: 0;
    padding: 0px;
    border-bottom: none;
}

.fundo-endereco {
    float: left;
    width: 100%;
    background-color: #eeeeee;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.centraliza-btn-endereco {
    position: relative;
    margin: 0 auto;
    width: 295px;
    margin-bottom: 30px;
}

.btn-collapsed {
    border-radius: 5px;
    border: 1px solid #9f9f9f;
    background-color: transparent;
    font-size: 14px;
    padding: 10px 15px;
    color: #999999;
    text-transform: uppercase;
}

#collapseExample {
    margin: 0 auto;
    width: 500px;
}

#collapseExample input.esq {
    margin-left: 0px;
}

#collapseExample input {
    width: 235px;
    float: left;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 5px;
}

.collapse.in {
    display: block;
}

.botoesDoModal {
    float: none;
    display: table;
    margin: 0 auto;
    margin-top: 0;
}

.btn-success {
    color: #fff;
    background-color: #339933;
    border-color: #339933;
    border-radius: 35px;
    padding: 12px 19px;
    font-size: 15px;
}
.modal-header .close {
    margin-top: -63px;
    margin-right: 0;
    background: #ff9900;
    opacity: 1;
    padding: 14px 22px;
    margin-top: -55px;
}

.modal-body {
    padding: 0px;
}

.modal-body .foto-produto {
    background: #e2dfdf;
    padding: 32px 0px;
}

.conteudo-imagem-modal h2 {
    text-align: center;
    font-size: 24px;
    color: #666666;
    font-weight: bold;
    margin-top: 0;
}

.modal-dialog {
    width: 434px;
}

.modal-body .foto-produto img {
    max-width: 316px;
    display: table;
    margin: 0 auto;
}

.modal-header .close img {
    width: 20px;
}

.conteudo-imagem-modal {
    margin-top: 0px;
    padding-top: 34px;
}

.modal-footer {
    padding: 15px 15px 34px 15px;
    text-align: initial;
    border-top: none;
}

.modal-content {
    border-radius: 0;
    margin-top: 125px;
    border-top: 5px solid #339933;
    border-bottom: 5px solid #339933;
}

#carregando{
    position: absolute;
    top: 8px;
    right: 5px;
}

.botao-bivolt{
    width: 25%;
    display: inline-block;
    margin-left: 20px;
}

#topo-pagina {
    background-color: #fff;
    padding-bottom: 50px;
}

#topo-pagina .titulo-pagina {
    font-size: 26px;
    font-weight: lighter;
    color: #6d7f89;
    margin-top: 150px;
}

.descricao-produto .descricao {
    font-size: 16px;
    margin-top: 20px;
    color: #74858f;
}

.obter-produto {
    text-transform: uppercase;
    font-size: 26px;
    font-style: italic;
    background-color: #339933;
    color: #fff;
    border: none;
    padding: 17px 40px;
    border-radius: 54px;
}

.regra-uso {
    font-size: 18px;
    background: transparent;
    color: #4D4D4D;
    font-style: italic;
    font-weight: bold;
    float: left;
    width: 100%;
    text-align: left;
    padding: 0;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: initial;
    outline: none;
}

.produtos-similares {
    background-color: #f4f4f4;
    border-top: 1px solid #dbdbdb;    
}

.espaco-icones{
    display: inline-block;
    margin-right: 35px;
}
.espaco-icones img{
    margin-right: 10px;
    width: 40px;
}
.espaco-icones span{
    color: #6d7f89;
}

.favorito-detalhe-produto{
    background: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 55px !important;
    color: #cad5db;
    margin-right: 5px;
    margin-top: -65px;
    border-radius: 50%;
    padding: 2px 8px;
    position: absolute;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.31);
    right: -30px;
    top: 52px;
    width: 70px;
    height: 70px;
    z-index: 10;
}

.box-informacoes-produto {   
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.produto-destaque-grande .area-selos {
    float: left;
    width: 100%;    
    display: flex;
    
}

.produto-destaque-grande .area-selos .selo {
    width: auto;    
    height: 32px;        
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.produto-destaque-grande .area-selos .selo img {    
    height: 17px;    
}

.produto-destaque-grande .area-selos .selo span {    
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.produto-destaque-grande .area-selos .selo-e-commerce {    
    background-color: #ff6f00;
    margin-right: 15px;
}

.produto-destaque-grande .area-selos .selo-e-commerce span::after{
    content: "E-COMMERCE";    
    color: #fff;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;    
}

.produto-destaque-grande .area-selos .selo-loja-fisica {    
    background-color: #ecb730;    
}

.produto-destaque-grande .area-selos .selo-loja-fisica span::after{
    content: "LOJA FÍSICA";    
    color: #fff;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;    
}


.prod-destaques {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    float: left;
}

.box-produto {
    width: 30%;
    margin-bottom: 100px;
}

.box-produto:nth-child(3n -1) {
    margin: 0 5%;
}

.box-produto .informacoes-produto img{
    cursor: pointer;
    border-radius: 15px;
    max-height: 230px;
    width: 100%;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
}

.box-produto .informacoes {
    height: 75px;
    width: 100%;
    margin-top: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.box-produto .informacoes .area-selos .selo {    
    height: 32px;        
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;    
}

.box-produto .informacoes .area-selos .selo:last-child {    
    bottom:0;    
}

.box-produto .informacoes .area-selos .selo:hover {    
    width: auto;    
}

.box-produto .informacoes .area-selos .selo img {    
    height: 17px;    
}

.box-produto .informacoes .area-selos .selo span {    
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.box-produto .informacoes .area-selos .selo-e-commerce {
    background-color: #ff6f00;    
}

.box-produto .informacoes .area-selos .selo-loja-fisica {
    background-color: #ecb730;
    bottom: 0;    
}

.box-produto .informacoes .area-selos .selo-e-commerce:hover span::after {    
    content: "";
    color: #fff;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;
    animation: e-commerce-hover .2s forwards ease;
}

.box-produto .informacoes .area-selos .selo-loja-fisica:hover span::after {    
    content: "";
    color: #fff;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;
    animation: loja-fisica-hover .2s forwards ease;
}
.box-produto .informacoes .area-valores {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-produto .informacoes .area-valores.verde .progress-bar {
    background: #00a651;
}

.box-produto .informacoes .area-valores.amarelo .progress-bar {
    background: #fdb813;
}

.box-produto .informacoes .area-valores.vermelho .progress-bar {
    background: #f61a39;
}

.box-produto .informacoes .area-valores.verde .saldo {
    color: #00a651;
}

.box-produto .informacoes .area-valores.amarelo .saldo {
    color: #fdb813;
}

.box-produto .informacoes .area-valores.vermelho .saldo {
    color: #f61a39;
}

.box-produto .informacoes .area-valores.verde a {
    background-color: #00a651;
}

.box-produto .informacoes .area-valores.amarelo a,
.box-produto .informacoes .area-valores.vermelho a {
    background-color: #bcbcbc;
}

.box-produto .informacoes .area-valores .valores {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-produto .informacoes .area-valores .valores .progress {
    width: 60%;
}

.box-produto .informacoes .area-valores .valores .saldo {
    margin: 0px;
    width: 35%;
    text-align: end;
    font-size: 16px;
    font-weight: bold;
}

.box-produto .informacoes .area-valores .btn-adiciona-produto {
    width: 100%;
    height: 60%;
    background-color: #00a651;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box-produto .informacoes .area-valores .btn-adiciona-produto span {
    font-family: "Roboto";
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: flex;
}

.box-produto .informacoes .area-valores .btn-adiciona-produto span::before {
    content: "";
    width: 27px;
    margin-right: 10px;
    background-image: url(../../img/icone-carrinho.png);
    background-repeat: no-repeat;
    background-size: contain;
}