/* =============================================
-------------------  1.General ---------------
==============================================*/

ul,ol {
    list-style-type:none;
    padding:0;
    margin:0;
}

a {
    -webkit-transition:color .24s ease-in-out;
    -moz-transition:color .24s ease-in-out;
    -o-transition:color .24s ease-in-out;
    -ms-transition:color .24s ease-in-out;
    transition:color .24s ease-in-out;
    color:#7bae23;
}

a:active,
a:hover,
a:focus {
    text-decoration:none;
}

a:active,
a:focus,
input,
select,
textarea {
    outline:none;
}

iframe {
    border:none;
}

img.pull-right {
    margin-left:15px;
    margin-bottom:15px;
}

img.pull-left {
    margin-right:15px;
    margin-bottom:15px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ebebeb;
}
/* =============================================
----------------- 13.Cart.html ------------------
==============================================*/

.table {
    border:1px solid #e0e0e0;
    margin-bottom:0;
}

.table img {
    display:inline-block;
    max-width:100%;
    height:auto;
    border-radius: 10px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 19px 20px 19px 37px;
    line-height: 1.5;
    border-top: none;
    text-align: left;
    background-color: #fff;
}


.table-responsive>.table>thead>tr>th,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tfoot>tr>td {
    white-space:normal;
}

.table thead tr th {
    padding: 19px 0px 19px 37px;
    border-color:transparent;
    border-right: 1px solid #e0e0e0;
    background: #fafafa;
    border-bottom:1px solid #e0e0e0;
}

.table .table-title {
    font-family: Roboto;
    font-size: 14px;
    color: #333333;
    text-align: left;
    text-transform: uppercase;
    display: inline-grid !important;
}

.cart-table  > thead > tr > th:last-child {
    border-right:transparent;
}

.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #e0e0e0 !important;
    border-right:1px solid #e0e0e0 !important;
}

.table figure a {
    display:inline-block;
}

.cart-table .item-name-col  {
    width:410px;
}

.cart-table .item-name-col figure {
    width:180px;
    float:left;
    margin-right:20px;
}

.table .item-name {
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    color: #666666;
}

.table .item-name {
    margin-bottom: 7px;
    margin-top: 20px;
    text-align:left;
    text-transform: uppercase;
}

.table .item-price-special {
    font-family: roboto;
    font-size: 18px;
    display: inline-block;
    color: #801836;
    padding-top: 10px;
    text-transform: uppercase;
}

.table .item-price-col .item-price-special {
    color: #666666;
}

.cart-table .item-name-col ul {
    text-align:left;
}

.cart-table .item-name-col ul li{
    display:block;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    color: #666666;
    text-transform: uppercase;
}


.table .custom-quantity-input {
    width:108px;
    height:44px;
    padding-right:22px;
    margin:0 auto;
    float: left;
}

.table .custom-quantity-input input {
    height:100%;
    width:100%;
    font-size:20px;
}
.table .custom-quantity-input .quantity-btn {
    width:22px;
    height:22px;
    line-height:22px;
}

.compare-item-table .close-button {
    margin-left:0;
}

.close-button {
    display:inline-block;
    float: right;
    width:28px;
    height:28px;
    margin-left: 0px;
    margin-top: 10px;
    border: 1px solid #828886;
    background-color: #fafafa;
    background-image: url('../images/sprites/sprite.png');
    background-repeat: no-repeat;
    background-position: 0 -290px;
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -webkit-transition:background-color 0.3s ease-in-out;
    -moz-transition:background-color 0.3s ease-in-out;
    -o-transition:background-color 0.3s ease-in-out;
    -ms-transition:background-color 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
    border-radius:2px;
    vertical-align: top;
    color: #828886;
    padding-top: 4px;
    cursor: pointer;
    text-align: center;
}

.close-button:hover {
    background-color: transparent !important;
    border-color: #c32d58;
    color: #c32d58;
}


.total-table {
    font-family: roboto;
    color:#777777;
    text-transform:uppercase;
    margin-bottom: 2px;
    width: 100%;
}

.total-table .total-table-title {
    font-size: 14px;
    font-weight: bold;
    background-color: #a7a7b2 !important;
    color: #fff;
    width: 50%;
    padding: 14px 37px;
    border: 0;
}
.total-table .saldo-table-title {
    font-size: 14px;
    font-weight: bold;
    background-color: #6d7f89;
    color: #fff;
    width: 50%;
    padding: 15px 37px;
    /* border: 2px solid #6d7f89; */
    border-bottom: 2px solid #fff;
}
.texto-saldo{
    color: #666666;
    font-weight: bold;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 13px 37px;
    text-transform: capitalize;
    text-align: right;
    text-transform: uppercase;
}
.texto-total{
    color: #666666;
    border: 1px solid #e1e1e1;
    width: 50%;
    padding: 13px 37px 13px 0px;
    background-color: #fff;
    text-transform: capitalize;
    text-align: right;
}

#shipping-form .shipping-desc {
    font-size:17px;
    line-height:20px;
    color:#777;
    font-family:'PT Sans', sans-serif;
    margin-bottom:28px;
}

#shipping-form .control-label {
    width:110px;
    display:inline-block;
    margin-right:10px;
    line-height:34px;
    font-weight:400;
    font-size:16px;
}

#shipping-form .input-container {
    display:block;
    width:100px;
    float:right;
}

/* =============================================
----------------- 12.Product.html -------------
==============================================*/

#product-image-carousel-container {
    float:left;
    width:84px;
    margin-right:15px;
}

/* Elastislide plugin styles */
.elastislide-list {
    list-style-type: none;
    display: none;
}

.no-js .elastislide-list {
    display: block;
}

.elastislide-carousel ul li {
    min-width: 12px;
    /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
    position: relative;
    min-height: 60px;
}


.elastislide-vertical {
    padding: 0;
}

.elastislide-carousel {
    overflow: hidden;
    position: relative;
}

.elastislide-carousel ul {
    position: relative;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    transition-property: -webkit-transform;
    transition-property: -moz-transform;
    transition-property: -o-transform;
    transition-property: -ms-transform;
    transition-property: transform;
    transition-duration: 200ms;
}

.elastislide-carousel ul li {
    margin:0;
}

.elastislide-vertical ul li {
    display: block;
}

.elastislide-carousel ul li a {
    display: inline-block;
    width: 100%;
}

.elastislide-carousel ul li a img {
    display: block;
    max-width: 100%;
    height:auto;
    padding-bottom:11px;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
    position: absolute;
    width: 30px;
    height: 25px;
    border-radius:3px;
    cursor: pointer;
    border:1px solid #e0e0e0;
    background-color: #fafafa;
    text-indent: -9999px;
    box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.5);
    background-image: url(../images/sprites/product-nav.png);
    background-position: -1px 0;
}

.elastislide-wrapper nav span:hover {
    background-color: #84bb26;
    border-color:#84bb26;
}


.elastislide-vertical nav span {
    top: -12.5px;
    left: 50%;
    margin-left: -11px;
}

.elastislide-vertical nav span.elastislide-next {
    bottom: -12.5px;
    top: auto;
    background-position: -1px -25px;
}

.elastislide-vertical nav span.elastislide-next:hover {
    background-position: -31px -25px;
}

.elastislide-vertical nav span.elastislide-prev:hover {
    background-position: -31px 0;
}

/* End slider styles */
#product-image-container {
    width:350px;
    float:left;
    text-align:center;
    position: relative;
}

#product-image-container img {
    display:inline-block;
    width:100%;
    height:auto;
}

#product-image-container .item-price-container {
    width:108px;
    height:108px;
    font-size:25px;
    line-height:30px;
}

#product-image-container .item-price-container .old-price {
    margin-top:24px;
}

#product-image-container .item-price-container .item-price{
    margin-top:39px;
}

.product hr {
    margin:25px 0;
}
.product .product-name {
    font: 700 25px/1 'PT Sans', sans-serif;
    color:#646464;
    color:#646464;
}

.product .ratings-container {
    padding:4px 0;
    height:30px;
    color:#b6b6b6;
}

.product .ratings-amount {
    display:inline-block;
    color:#b6b6b6;
}

.rate-this {
    color:#b6b6b6;
    font-size:14px;
    line-height:16px;
}

.rate-this:hover {
    color:#7bae23 !important;
}

.product-extra .icon-button:hover {
    color:#fff;
    background-color:#84bb26;
}

.product-list {
    margin-top:5px;
}

.product-list li {
    color:#777;
    line-height:23px;
}

.product-list  li span {
    font-weight:700;
    margin-right:5px;
}

.product-color-filter-container,
.product-size-filter-container {
    margin-bottom:20px;
}

.product-color-filter-container > span,
.product-size-filter-container > span  {
    font-weight:bold;
    font-family:'Gudea', Arial, sans-serif;
    color:#9b9b9b;
}

.product-extra-box-container {
    float:left;
}

.product-extra-box,
.product-extra-box{
    float:left;
    margin-right:6px;
    color:#575a59;
}

.product-extra-box span ,
.product-extra-box span{
    display:none;
    margin-left:10px;
    font-weight:700;
    font-size:13px;
    line-height:35px;
    font-family:inherit;
    text-transform:uppercase;
}

.icon-button {
    display:inline-block;
    width:35px;
    height:35px;
    text-indent:-9999px;
    background:#7bae23;
    border:1px solid #7bae23;
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.45);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.45);
    font-size:16px;
    border-radius:2px;
    background-image: url(../images/sprites/item-icons.png);
    background-repeat:no-repeat;
    transition:all 0.4s;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
}

.icon-button.icon-like {
    background-position: 0 0;
}

.icon-button.icon-compare {
    background-position: -35px 0;
    margin-left:5px;
}

.icon-button:hover,
.icon-button:focus,
.icon-button:active,
.icon-button.active {
    background-color:#84bb26;
    border-color:#84bb26;
}

.product-extra  .icon-button {
    margin-right:5px;
}
.product .share-button-group {
    margin-left:30px;
    width:320px;
    margin-top:1.5px;
    float:left;
}

.product-detail-tab .tab-content{
    font-size:16px;
    line-height:1.5;
    color:#737373;
}

.product-details-list {
    list-style-type:disc;
    margin-left:20px;
}

.product-details-list li {
    margin-bottom:5px;
    padding-left:5px;
}

.custom-quantity-input {
    display:block;
    position: relative;
    width:140px;
    height:52px;
    border:1px solid #e0e0e0;
    border-radius:3px;
    padding-right:26px;

}
.custom-quantity-input input {
    height:100%;
    width:100%;
    border:none;
    text-align:center;
    font-weight:bold;
    font-size:25px;
    line-height:21px;
    color:#757575;
}
.custom-quantity-input .quantity-btn {
    background: #fafafa;
    display:block;
    width:26px;
    height:26px;
    position: absolute;
    right:-1px;
    color:#777;
    line-height:26px;
    text-align:center;
    border:1px solid #e0e0e0;
    font-size:17px;
    box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.75);
}

.custom-quantity-input .quantity-btn.quantity-input-up {
    top:-1px;
    border-radius:3px 3px 0 0;
}

.custom-quantity-input .quantity-btn.quantity-input-down {
    bottom:-1px;
    border-radius:0 0 3px 3px;
}

.custom-quantity-input .quantity-btn:hover {
    border-color: #992d4c;
    background: #992d4c;
    color:#fff;
}

.custom-quantity-input .quantity-btn:active {
    border-color:#e0e0e0;
    background: #fafafa;
    color:#777;
}

.product-add .custom-quantity-input {
    float:left;
    margin-right: 30px;
}

.product-add .btn {
    padding:11.5px 19px;
    font-weight:bold;
    font-size:19px;
}

.product-add .btn-custom-2 {
    color:#e8e8e8 !important;
}
/* ---------------------------------
------------- 13 Tabs */

/* Custom tab * Styles */
.tab-container .nav-tabs {
    border-bottom:none;
}

.tab-container.left,
.tab-container.right {
    border:1px solid #dcdcdc;
}

.tab-container.left .nav-tabs {
    background:#fafafa;
    border-right:1px solid #dcdcdc;
}

.tab-container.right .nav-tabs {
    background:#fafafa;
    border-left:1px solid #dcdcdc;
}

.tab-container.left .nav-tabs {
    float:left;
    border-bottom:none;
}

.tab-container.right .nav-tabs {
    float:right;
    border-bottom:none;
}


.tab-container .nav-tabs > li {
    font:700 16px/20px "Gudea", Arial , sans-serif;
    color:#666;
    text-transform:uppercase;
    border-right:1px solid #dcdcdc;
    border-top:1px solid #dcdcdc;
}

.tab-container.reverse .nav-tabs > li {
    border-top:none;
}

.tab-container .nav-tabs > li:first-child {
    border-left:1px solid #dcdcdc;
}

.tab-container.left .nav-tabs > li,
.tab-container.right .nav-tabs > li {
    float: none;
    border-top-color:transparent;
    border-right-color: transparent;
}

.tab-container.left .nav-tabs > li:first-child,
.tab-container.right .nav-tabs > li:first-child{
    border-left-color:transparent;
}

.tab-container .nav-tabs > li > a {
    display:block;
    padding:20px 20px 20px 30px;
    margin-right:0;
    line-height:inherit;
    border: 1px solid transparent;
    border-bottom-color:#dcdcdc;
    border-radius:0;
    color:#666;
    background:#fafafa;
    -webkit-transition:background 0.2s ease-in;
    -moz-transition:background 0.2s ease-in;
    -o-transition:background 0.2s ease-in;
    -ms-transition:background 0.2s ease-in;
    transition:background 0.2s ease-in;
}

.tab-container .nav-tabs.nav-justified > li >a {
    border-bottom:none;
}

.tab-container .nav-tabs.nav-justified > li.active,
.tab-container .nav-tabs.nav-justified > li.active > a {
    border-bottom-color:transparent;
    margin-bottom:-1px;
}

.tab-container.left .nav-tabs > li > a,
.tab-container.right .nav-tabs > li > a {
    min-width:280px;
}

.tab-container .nav-tabs > li > a:hover {
    background: #f3f3f3;
}

.tab-container .nav-tabs > li.active > a,
.tab-container .nav-tabs > li.active > a:hover,
.tab-container .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background: #ffffff;
    border: 1px solid transparent;
    border-right-color:#dcdcdc;
}

.tab-container .nav-tabs > li.active {
    border-right:none;
}

.tab-container.reverse .nav-tabs > li.active {
    border-bottom:1px solid #dcdcdc;
    margin-bottom:0;
    margin-top:-1px;
}

.tab-container.left .nav-tabs > li.active > a,
.tab-container.right .nav-tabs > li.active > a{
    border-bottom-color:#dcdcdc;
}

.tab-container.left .nav-tabs > li.active,
.tab-container.left .nav-tabs > li.active > a {
    border-right:none;
    margin-right:-1px;
}

.tab-container.right .nav-tabs > li.active,
.tab-container.right .nav-tabs > li.active > a {
    border-left:none;
    border-right-color:transparent;
    margin-left:-1px;
}

.tab-container.left .nav-tabs li:last-child,
.tab-container.right .nav-tabs li:last-child {
    margin-bottom:0;
}

.tab-container .tab-content {
    padding:0 50px 0;
    width:100%;
    color:#777;
    border:1px solid #dcdcdc;
}

.tab-container.left .tab-content {
    padding:0 50px 0 330px;
    border:none;
}

.tab-container.right .tab-content {
    padding:0 330px 0 50px;
    border:none;
}

.tab-container .tab-content .tab-pane {
    padding:20px 0;
}


/* Home page tab styles*/
#products-tabs-list {
    margin-bottom:30px;
}

.tab-style-1 li {
    float:left;
    margin:0 3px 3px 0;

}

.tab-style-1 li a {
    background:#575a59;
    border:1px solid #575a59;
    color:#fff;
    text-transform:Uppercase;
    padding:4px 20px;
    display:inline-block;
    font:400 14px/20px 'PT Sans', sans-serif;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.tab-style-1 li a:hover,
.tab-style-1 li.active a {
    background:#7bae23;
    border-color: #7bae23;
}

.tab-style-1 li.active a {
    cursor:default;
}

#products-tabs-content {
    margin-bottom:25px;
}

#products-tabs-list.tab-style-2 {
    margin-bottom:30px;
    border-bottom:1px solid #e0e0e0;
}

.tab-style-2 li {
    float:left;
    margin:0 1px 0 0;
    position: relative;

}

.tab-style-2 li a {
    background:#fafafa;
    border:1px solid #dcdcdc;
    color:#8f9592;
    text-transform:Uppercase;
    padding:9.5px 44px;
    border-radius: 4px 4px 0 0;
    display:inline-block;
    font:700 17px/20px 'PT Sans', sans-serif;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    margin-bottom: -1px;
}

.tab-style-2 li a:hover,
.tab-style-2 li.active a {
    color:#7bae23;
}

.tab-style-2 li.active:after {
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    display: block;
    width:100%;
    height:2px;
    background: #7bae23;
}

.tab-style-2 li.active a {
    cursor:default;
}

#products-tabs-content {
    margin-bottom:25px;
}
/* =============================================
----------------- 2.Helper Classes -------------
==============================================*/

.sm-separator {
    margin-right:5px;
}

.separator {
    margin-right:10px;
}

.lg-separator {
    margin-right:20px;
}

.top-10px {
    margin-top:-10px;
}


.xss-margin,
.xs-margin,
.sm-margin,
.md-margin,
.lg-margin,
.xlg-margin,
.md-margin2x,
.lg-margin2x,
.xlg-margin2x,
.md-margin3x,
.lg-margin3x,
.xlg-margin3x {
    min-height:1px;
}

.xss-margin {
    margin-bottom:5px;
}

.xs-margin {
    margin-bottom:10px;
}

.sm-margin {
    margin-bottom:20px;
}

.md-margin {
    margin-bottom:30px;
}

.lg-margin {
    margin-bottom:40px;
}

.xlg-margin {
    margin-bottom:50px;
}

.md-margin2x {
    margin-bottom:60px;
}

.lg-margin2x {
    margin-bottom:80px;
}

.xlg-margin2x {
    margin-bottom:100px;
}

.md-margin3x {
    margin-bottom:90px;
}

.lg-margin3x {
    margin-bottom:120px;
}

.xlg-margin3x {
    margin-bottom:150px;
}

.clear-margin {
    margin-bottom:0 !important;
}

.link-underline {
    text-decoration:underline !important;
}

.col-2 {
    width:50%;
    padding-right:20px;
    float:left;
}

.col-3 {
    width:33.333333%;
    padding-right:20px;
    float:left;
}

.col-4 {
    width:25%;
    padding-right:20px;
    float:left;
}

.col-5 {
    width:20%;
    padding-right:20px;
    float:left;
}

.col-2.last
.col-3.last,
.col-4.last,
.col-5.last {
    padding-right:0;
}

/* addition for bootstrap img-responsive class */
/*.img-responsive {
        width:100%;
}*/

/* for small devices show/hide classes */
.show-for-lg {
    display:inline;
}

.hide-for-lg {
    display:none;
}

.header-carrinho {
    background-color: #801836;
    border-bottom: 3px solid #f7a81e;
    padding: 35px 0px;
}
.header-carrinho i{
    float: left;
    display: inline-block;
    font-size: 26px;
    color: #fdb813;
    margin-right: 5px;
    padding: 20px 0px;
}
.header-carrinho h1{
    float: left;
    display: inline-block;
    margin: 0;
    font-size: 26px;
    color: #fdb813;
    padding: 20px 0px;
}

footer .rodape{
    float: left;
    width: 100%;
}

.rodape-carrinho{
    background-color: #6d7f89;
    border-bottom: 6px solid #f7a81e;
    padding: 40px 0px;
}
.produtos-destaques{
    margin: 0px;
}
.maior{
    width: 50% !important;
}
.menor{
    width: 16.55% !important;
}
.endereco-entrega .titulo{
    font-family: roboto;
    font-weight: bold;
    font-size: 14px;
    display: block;
    background-color: #fafafa;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    padding: 20px 34px;
}
.endereco-entrega .body{
    display: block;
    background: #fff;
    border: 1px solid #e0e0e0;
    padding: 51px 38px;
    float: left;
    width: 100%;
}
.endereco-entrega .campos-endereco{
    float: left;
    width: 70%;
}
.endereco-entrega .campos-endereco .cep{
    width: 23%;
    margin-right: 2%;
}
.endereco-entrega .campos-endereco .estado{
    width: 15%;
    margin-right: 2%;
    float: left;
    padding: 6px 0px 6px 16px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}
.endereco-entrega .campos-endereco .pdv{
    width: 100%;
    margin-right: 0%;
    background: transparent;
    
}

.endereco-entrega .campos-endereco .cidade{
    width: 58%;
}
.endereco-entrega .campos-endereco .logradouro{
    width: 100%;
}
.endereco-entrega .campos-endereco .destinatario{
    width: 100%;
}
.endereco-entrega .campos-endereco .cpf{
    width: 49%;
}
.endereco-entrega .campos-endereco .mask-telefone{
    width: 49%;
    margin-right: 2%;
}
.endereco-entrega .campos-endereco .email{
    width: 100%;
}
.endereco-entrega .campos-endereco .bairro{
    width: 78%;
    margin-right: 2%;
}
.endereco-entrega .campos-endereco .numero{
    width: 20%;
}

.endereco-entrega .campos-endereco .endereco-super{
    
    display: none;
    
}


.endereco-entrega .campos-endereco input{
    float: left;
    padding: 6px 16px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}
.endereco-entrega .btn-add-endereco{
    float: right;
    border: 1px solid #7cc576;
    width: 25%;
    padding: 51px 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.endereco-entrega .btn-add-endereco i{
    color: #ccc;
    font-size: 52px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.endereco-entrega .btn-add-endereco span{
    font-family: roboto;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}
.btn-resgatar{
    background: url('../img/seta-btn-resgatar.png') no-repeat bottom right;
    position: relative;
    font-family: roboto;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 25px 0px;
    background-color: #669933;
    border: none;
}
.btn-resgatar:hover{
    background-color: #186b18 !important;
    color: #ffa900 !important;
    border: none !important;
}

.btn-resgatar-super{
    display: none;
}

#modalConfirmaResgate{
    font-family: roboto;
}
#modalConfirmaResgate .modal-header {
    background-color: #801836;
    border-bottom: 3px solid #f7a81e;
    text-align: center;
    padding: 30px 0px;
}

#modalConfirmaResgate .modal-dialog{
    width: 700px;
}
#modalConfirmaResgate .modal-body{
    padding: 32px 61px;
}
#modalConfirmaResgate .modal-body .texto-superior {
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px;
    border-bottom-style: dashed;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#modalConfirmaResgate .modal-body .saldo-modal{
    width: 195px;
    display: table;
    margin: 0 auto;
    margin-bottom: 30px;
}
#modalConfirmaResgate .modal-body .saldo-modal .valores{
    margin: 0;
    font-size: 33px;
    color: #666666;
}
#modalConfirmaResgate .modal-body .saldo-modal .txt{
    font-size: 14px;
    text-transform: uppercase;
    color: #999999;
    margin: 0;
}
.vermelho-saldo{
    color: #cc3333 !important;
}
.verde-saldo{
    color: #669933 !important;
}
#modalConfirmaResgate .btn-resgatar{
    padding: 16px 0px !important;
    font-size: 15px !important;
    border-radius: 2px;
}
#modalConfirmaResgate hr{
    margin: 10px 0px;
    border-top: 2px solid #dedede;
}
.fa-shopping-basket{
    margin-right: 5px;
}
.clique-lista-categorias {
    background: #801836;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    border: 2px solid #801836;
}

.clique-lista-categorias:hover {
    background: transparent;
    color: #801836;
}

.btn-detalhes-extrato {
    cursor: pointer;
    font-size: 14px!important;
    color: #801836!important;
    font-weight: bold!important;
    vertical-align: middle!important;
}

.btn-detalhes-extrato.active {
    background: white!important;
}

.btn-detalhes-extrato span {
    margin-right: 8px;
}

.detalhes-resgate {
    display: none;
}

.detalhes-resgate.opened {
    display: contents!important;
}

.detalhes-resgate ul li {
    font-size: 16px;
    color: #95abb7;
}

.btn-regulamento {
    background: #801836;
    color: #ffffff;
    font-weight: 600;
    border: 2px solid #801836;
    border-radius: 4px;
    height: 30px;
    padding: 0px 10px;
    font-size: 13px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: all .3s;
}

.btn-regulamento:hover {
    background: transparent;
    color: #801836;
    transition: all .3s;
}

#modalRegulamentoProduto .modal-header {
    background-color: #801836;
    border-bottom: 3px solid #f7a81e;
    text-align: center;
    padding: 30px 0px;
}

#modalRegulamentoProduto .area-selos {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#modalRegulamentoProduto .area-selos .selo {
    width: auto;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalRegulamentoProduto .area-selos .selo-loja-fisica {
    background-color: #ecb730;
}

#modalRegulamentoProduto .area-selos .selo-e-commerce {
    background-color: #ff6f00;
    margin-right: 15px;
}

#modalRegulamentoProduto .area-selos .selo span {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

#modalRegulamentoProduto .area-selos .selo img {
    height: 17px;
}

#modalRegulamentoProduto .area-selos .selo-e-commerce span::after {
    content: "E-COMMERCE";
    color: #fff;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;
}
#modalRegulamentoProduto .area-selos .selo-loja-fisica span::after {
    content: "LOJA FÍSICA";
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;
}

#modalRegulamentoProduto .descricao .item {
    margin-bottom: 30px;
}

#modalRegulamentoProduto .descricao .item:last-child {
    margin-bottom: 0px;
}

#modalRegulamentoProduto .descricao .item .title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#modalRegulamentoProduto .descricao .item .title .circle {
    width: 12px;
    height: 12px;
    margin-right: 15px;
    background: #00A651;
    border-radius: 50%;
    top: 1px;
    display: block;
}

#modalRegulamentoProduto .descricao .item .title h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #4D4D4D;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

#modalRegulamentoProduto .descricao .item p {
    margin-bottom: 0;
    margin-left: 28px;
    max-width: 90%;
    font-size: 14px;
    line-height: 1.57;
    font-weight: 500;
    color: #4D4D4D;
}

#modalRegulamentoProduto .modal-content {
    border-radius: 0;
}

#modalRegulamentoProduto .modal-body {
    padding: 40px;
}

#modalConfirmaResgate .modal-body .confirmacao {
    margin-bottom: 30px;
}

#modalConfirmaResgate .modal-body .confirmacao .opcao {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

#modalConfirmaResgate .modal-body .confirmacao .opcao .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.5);
    margin-right: 10px;
    position: relative;
}

#modalConfirmaResgate .modal-body .confirmacao .opcao span {
    font-size: 12px;
    flex: 1 1 auto;
}

#modalConfirmaResgate .modal-body .confirmacao ul {
    margin-bottom: 20px;
}

#modalConfirmaResgate .modal-body .confirmacao ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#modalConfirmaResgate .modal-body .confirmacao ul li:last-child {
    margin-bottom: 0px;
}

#modalConfirmaResgate .modal-body .confirmacao ul li .circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #669933;
    display: block;
    margin-right: 10px;
    position: relative;
}

#modalConfirmaResgate .modal-body .confirmacao ul li p {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}

#modalConfirmaResgate .modal-body .confirmacao .text-danger {
    font-weight: 600;
    text-transform: uppercase;
}

#modalConfirmaResgate .btn-resgatar.btn-disabled {
    opacity: 0.5;
    cursor: default;
}

#modalConfirmaResgate .modal-body .confirmacao .opcao.checked .circle {
    border: 2px solid #669933;
}

#modalConfirmaResgate .modal-body .confirmacao .opcao.checked .circle:before {
    content: "";
    width: 9px;
    height: 9px;
    background: #669933;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4.5px;
    margin-left: -4.5px;
}

#modalConfirmaResgate .modal-body .confirmacao .opcao.checked span {
    font-weight: 600;
}

#modalRegulamentoProduto .area-selos .selo.hidden {
    display: none;
}

@media(max-width: 768px){
    #modalConfirmaResgate .modal-body .confirmacao .opcao .circle{
        
    }
    #modalConfirmaResgate .modal-body .confirmacao .opcao span{
        flex: unset;
        width: 100%;
    }
}