@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
body {
    font-family: "Roboto";
}

.topo-produto {
    display: none;
}

.area-contato .topo-contato {
    background-color: #f4f4f4;
    padding: 30px 0px;
}

.area-contato .topo-contato h1 {
    font-family: 'Roboto';
    font-size: 18px;
    color: #535353;
    margin: 0;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.area-contato .topo-contato img {
    float: left;
    margin-right: 10px;
    margin-top: 12px;
}

.area-contato .content {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 60px;
    margin-bottom: 200px;
}

.area-contato .content .box-conteudo {   
    min-height: 200px;
    padding: 45px 30px;
    background-color: #fff;;
    border-radius: 2px;    
    transition: box-shadow 1s, height 1s;       
}

.area-contato .content .box-conteudo .conteudo {       
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    opacity: 0;
    animation: fade-out .5s both;
}

.area-contato .content .box-conteudo.duvidas-frequentes .conteudo .bloco-busca {       
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0077ff;
    padding-bottom: 15px;
    margin-bottom: 40px;
}

.area-contato .content .box-conteudo.duvidas-frequentes .conteudo .bloco-busca input {          
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: 500;    
    color: #585858;
    border: none;    
}

.area-contato .content .box-conteudo.duvidas-frequentes .conteudo .bloco-busca:after {       
    content: "";
    height: 23px;
    width: 23px;
    background-image: url(../../img/icone-busca.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.area-contato .content .box-conteudo.duvidas-frequentes .conteudo .bloco-duvida {       
    border-top: solid 1px #dcdcdc;
    padding: 30px 0;    
}

.area-contato .content .box-conteudo.duvidas-frequentes .conteudo .bloco-duvida span {
    font-size: 12px;
    font-weight: 500;    
    color: #000000;
}

.area-contato .content .box-conteudo.duvidas-frequentes .conteudo .bloco-duvida .duvida {          
    display: flex;
    justify-content: space-between;
}

.area-contato .content .box-conteudo.duvidas-frequentes .conteudo .bloco-duvida .resposta {
    display: none;
    margin-top: 20px;
    opacity: 0;
}

.area-contato .content .box-conteudo.duvidas-frequentes .conteudo .bloco-duvida.active .resposta {
    display: block;
    animation: fade-in 1s forwards;
}

.area-contato .content .box-conteudo.duvidas-frequentes .conteudo .bloco-duvida .duvida:after {       
    content: "";
    min-width: 10px;
    height: 14px;
    margin-top: 3px;
    margin-left: 10px;
    background-image: url(../../img/seta-direita.svg#seta-cinza);
    background-repeat: no-repeat;
    display: block;
    transition: all .5s;
}

.area-contato .content .box-conteudo.duvidas-frequentes .conteudo .bloco-duvida.active .duvida:after {       
    background-image: url(../../img/seta-direita.svg#seta-azul);
    transform: rotate(90deg);
}

.area-contato .content .box-conteudo.envio-mensagem .conteudo form {       
    width: 100%;
}

.area-contato .content .box-conteudo.envio-mensagem .conteudo form input {       
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 20px;
    border: solid 1px #949494;   
    border-radius: 3px;    
    font-family: Roboto;
    font-size: 12px;  
    color: #6a6a6a;
}

.area-contato .content .box-conteudo.envio-mensagem .conteudo form textarea {       
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    padding: 20px;
    border: solid 1px #949494;   
    border-radius: 3px;    
    font-family: Roboto;
    font-size: 12px;  
    color: #6a6a6a;
    resize: none;
}

.area-contato .content .box-conteudo.envio-mensagem .conteudo form button {       
    float: right;
    border: none;
    border-radius: 5px;
    padding: 15px 60px;
    background-color: #ff6f00;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.area-contato .content .box-conteudo.active .conteudo {
    display: flex;    
    animation: fade-in 1s forwards;    
}

.area-contato .content .box-conteudo.active .topo .texto .titulo::after {
    transform: rotate(90deg);
}

.area-contato .content .box-conteudo.envio-mensagem .topo .texto .titulo::after {
    background-image: url(../../img/seta-direita.svg#seta-laranja);
}

.area-contato .content .box-conteudo:hover {          
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.35);    
}

.area-contato .content .box-conteudo .topo {
    display: flex;
    flex-wrap: wrap;
}    

.area-contato .content .box-conteudo .topo .icone {    
    width: 16%;
    margin: 0;
}

.area-contato .content .box-conteudo .topo .icone img {    
    width: 65%;
    margin-top: -10px;
}   
    
.area-contato .content .box-conteudo .topo .texto {    
    width: 84%;
}

.area-contato .content .box-conteudo .topo .texto .titulo {    
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    color: #535353;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.area-contato .content .box-conteudo .topo .texto .titulo::after {
    content: "";
    width: 10px;
    height: 14px;
    margin-bottom: 2px;
    background-repeat: no-repeat;
}

.area-contato .content .box-conteudo .mensagem {    
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    color: #707070;
}

.area-contato .content .box-conteudo.envio-mensagem {
    border: solid 1px #ff6f00;
}

.area-contato .content .box-conteudo.envio-mensagem .topo .texto .titulo::after {
    background-image: url(../../img/seta-direita.svg#seta-laranja);
    transition: all .5s;
}

.area-contato .content .box-conteudo.duvidas-frequentes {
    border: solid 1px #0077ff;
}

.area-contato .content .box-conteudo.duvidas-frequentes .topo .texto .titulo::after {
    background-image: url(../../img/seta-direita.svg#seta-azul);
    transition: all .5s;
}

.area-contato .content .box-conteudo.chat-online{
    border: solid 1px #00a651;
}

.area-contato .content .box-conteudo.chat-online .topo .texto .titulo {
    color: #00a651;
}

.area-contato .content .box-conteudo.chat-online .topo .texto .titulo::after {
    background-image: url(../../img/seta-direita.svg#seta-verde);
    transition: all .5s;
}

@keyframes fade-in {
    0% { display: block; }
    100% { opacity: 1; }
}