.tabela-movimentacao table thead tr th {
    font-size: 20px;
    font-weight: normal;
}

.tabela-movimentacao table tbody tr td {
    font-size: 14px;
    font-weight: normal;
    color: #757575;
    padding: 13px !Important;
}
