/* Modal */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';

footer {
    text-align: left !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.modal-header{
    padding: 15px 15px 25px 15px;
}

#modalTrocaSenha{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    display: block;
    pointer-events: none;
    transition: all .5s;
}

#modalTrocaSenha.active{
    transition: all .5s;
    pointer-events: all;
    background-color: rgba(0,0,0, .5);
}

#modalTrocaSenha.active .container-modal{
    top: 50%;
    pointer-events: all;
    transition: all .5s;
}

#modalTrocaSenha .container-modal{
    width: 480px;
    position: absolute;
    top: -2000px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    transition: all .5s;
}

#modalTrocaSenha .modal-body {
    padding: 33px 20px 18px 20px;
    overflow: hidden;
}
#modalTrocaSenha .modal-body h1 {
    margin: 0;
    font-size: 23px;
    color: #811837;
    margin-top: 5px;
    text-align: left;
    margin-bottom: 10px;
}
#modalTrocaSenha .modal-body p {
    text-align: left;
    margin-bottom: 10px;
}
#modalTrocaSenha .modal-body label{
    margin-right: 10px;
}
#modalTrocaSenha .modal-body input {
    display: table;
    
    width: 100%;
    border: 1px solid #d3d3d3;
    box-shadow: none;
    font-family: "Roboto";
}
#modalTrocaSenha .modal-footer {
    padding: 15px 20px;
}
#modalTrocaSenha .modal-footer .btn-danger{
    float: left;
}

#tela-opacao{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999;
    opacity: 0.8;
    display: none;
}

#tela-opacao div{
    position: relative;
    margin: 0 auto;
    width: 75px;
    margin-top: 21%;
}

#tela-opacao div img{
    width: 100%;
}
/*
00 - Photo input
------------------------------------------------------------*/
#modalPerfil input[type="range"] {
    width: auto !important;
}
.cropit-image-preview {
    float: left;
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 75px;
    margin: 7px 25px 0px 0px;
    width: 140px;
    height: 140px;
    cursor: move;
}

.cropit-image-zoom-input{
    display: none !important;
}
.rotate-ccw-btn{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 20px;
    display: none;
}

.cropit-image-zoom-input.active{
    display: block !important;
}
.rotate-ccw-btn.active{
    display: block;
}


.cropit-image-preview .cropit-preview-image-container{
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    border: 0.5px solid #ccc;
    border-radius: 50%;
}

.image-editor {
    float: left;
    width: 55%;
    margin-bottom: 30px;
}
.cropit-image-background {
    opacity: .2;
    cursor: auto;
}
.image-size-label {
    float: left;
}
.export,
#trocaImagemPadrao {
    display: none;
}
#nomeFotoCropit {
    font-size: 12px;
    color: #999999;
    float: left;
    margin: 2px;
    min-width: 155px;
}

.prioridade-baixa {
    border-left: 5px solid #38ddbe;
}

.prioridade-media {
    border-left: 5px solid #ffa862;
}

.prioridade-alta {
    border-left: 5px solid #dd2521;
}
.nome-usuario-cadastro{
    margin-top: 100px;
    font-size: 16px;
    font-weight: bold;
}
.cpf-usuario-cadastro{
    font-size: 16px;
    font-weight: bold;
}
p span{
    font-weight: normal;
}
.align-botoes-acao{
    float: left;
    width: 100%;
    margin-top: 35px;
}

.rodape {
    background: url(../../img/fundo-rodape.jpg) no-repeat;
    padding: 104px 0px;
}

.rodape ul {
    float: left;
    margin-top: 7px;
    margin-right: 25px;
}

.rodape ul li {
    list-style: none;
    margin-bottom: 14px;
    font-size: 13px;
}

.rodape ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 14px;
}

.modal.in .modal-dialog {
    width: 377px;
    margin-top: 60px;
}

#modalTrocaSenha .modal-header {
    background: #811837;
    padding: 20px 20px 20px 20px;
    border-bottom: 2px solid #f7a81e;
    border-radius: 0;
}

#modalTrocaSenha .modal-content {
    border-radius: 0;
}

.logo-header-modal {
    width: 150px;
}

#modalTrocaSenha .modal-header .close {
    opacity: 1;
    margin-top: 12px;
    outline: none;
}

.botoesDoModal button {
    width: 100%;
    height: 54px;
    text-transform: uppercase;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
}

.botoesDoModal .btn-success {
    background: #669933;
    border: 1px solid #669933;
}

.botoesDoModal .btn-danger {
    background-color: #db332e;
    border-color: #db332e;
}

.btn-padrao {
    color: #992D4C;
    background-color: white !important;
    border: 1px solid #F7A81E !important;
    float: right;
}
.btn-padrao:hover {
    background-color: #F7A81E!important;
    border: 1px solid #F7A81E;
    color: white;
    text-decoration: none
}

.btn-cancelar{
    font-size: 15px;
    font-weight: normal;
    float: left;
}

footer {
    background: #333333;
    padding-top: 60px;
    padding-bottom: 120px;
}

footer nav {
    border-bottom: 1px solid #5c5c5c;
    padding-bottom: 100px;
}

footer nav .conteudo {
    /* display: table;
    margin: 0 auto; */
    /* width: 875px; */
}

footer nav .conteudo .item {
    /* float: left;
    margin-left: 60px; */
}

footer nav .conteudo .item:first-child {
    margin-left: 0px;
}

footer nav .conteudo .item li {
    margin-bottom: 8px;
}

footer nav .conteudo .item li a {
    color: #fff;
    font-size: 12px;
    color: #999999;
    font-weight: normal;
    cursor: initial;
    font-family: "Roboto";
}

footer img {
    margin-left: 0;
    margin-top: 0;
}

.apps {
    /* float: left;
    margin-left: 90px; 
    remover comentario deixa o footer quebrado :)
    */
}

.apps span {
    color: #999999;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}

.apps ul li {
    float: left;
    margin-right: 10px;
}

.apps ul li:last-child {
    margin-right: 0px;
}

.logo-rodape {
    display: table;
    margin: 0 auto;
    margin-top: 65px;
}

footer p {
    text-align: center;
    color: #666666;
    margin-top: 28px;
    font-size: 12px;
}

#formCadastro select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../../img/chevron-arrow-down.png) no-repeat right !important;
    background-position-x: 97% !important;
    background-position-y: 10px !important;
    background-size: 15px 14px !important;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #d3d3d3;
    box-shadow: none;
    font-family: "Roboto";
    padding:0px 13px;
}

@media(max-width: 480px){
    #modalTrocaSenha .container-modal{
        width: 90%;
    }

    #modalTrocaSenha .modal-body{
        padding: 0px;
    }

    #modalTrocaSenha .modal-footer{
        padding: 0px;
    }

    #modalTrocaSenha .modal-body #formModalTrocaSenha{
        padding: 20px;
    }
    
    #modalTrocaSenha .modal-body input{
        font-size: 5vw;     
    }

    .align-botoes-acao{
        margin-top: 19px;
    }
}

@media(max-width: 768px){
    .nome-usuario-cadastro{
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .cropit-image-preview{
        margin: 0px;
    }

    .container-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .container-btns #trocaFoto{
        margin: 0px;
    }
}