@keyframes e-commerce-hover {
  0% {
    content: "E";
  }
  10% {
    content: "E-";
  }
  20% {
    content: "E-C";
  }
  30% {
    content: "E-CO";
  }
  40% {
    content: "E-COM";
  }
  50% {
    content: "E-COMM";
  }
  60% {
    content: "E-COMME";
  }
  70% {
    content: "E-COMMER";
  }
  80% {
    content: "E-COMMERC";
  }
  100% {
    content: "E-COMMERCE";
  }
}

@keyframes loja-fisica-hover {
  0% {
    content: "L";
  }
  10% {
    content: "LO";
  }
  20% {
    content: "LOJ";
  }
  30% {
    content: "LOJA";
  }
  40% {
    content: "LOJA ";
  }
  50% {
    content: "LOJA F";
  }
  60% {
    content: "LOJA FÍ";
  }
  70% {
    content: "LOJA FÍS";
  }
  80% {
    content: "LOJA FÍSI";
  }
  90% {
      content: "LOJA FÍSIC"
  }
  100% {
    content: "LOJA FÍSICA";
  }
}

.prod-destaques {
    float: left;
    width: 100%;
    padding-top: 100px;
}

.produtos-visitados {
    border-top: 1px solid #dbdbdb;
    background: #f1f3f4;
    padding: 50px 0px;
    float: left;
    width: 100%;
}

.produtos-visitados h1 {
    color: #6d7f89;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: normal;
}

.msg-aviso-visitado {
    font-size: 22px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #95abb7;
}

.prod-destaques {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box-produto {
    width: 30%;
    margin-bottom: 100px;
}

.box-produto:nth-child(3n -1) {
    margin: 0 5%;
}

.box-produto .informacoes-produto img{
    cursor: pointer;
    border-radius: 15px;
    max-height: 230px;
    width: 100%;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
}

.box-produto .informacoes {
    height: 75px;
    width: 100%;
    margin-top: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.box-produto .informacoes .area-selos .selo {
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.box-produto .informacoes .area-selos .selo:last-child {
    bottom:0;
}

.box-produto .informacoes .area-selos .selo:hover {
    width: auto;
}

.box-produto .informacoes .area-selos .selo img {
    height: 17px;
}

.box-produto .informacoes .area-selos .selo span {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.box-produto .informacoes .area-selos .selo-e-commerce {
    background-color: #ff6f00;
}

.box-produto .informacoes .area-selos .selo-loja-fisica {
    background-color: #ecb730;
    bottom: 0;
}

.box-produto .informacoes .area-selos .selo-e-commerce:hover span::after {
    content: "";
    color: #fff;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;
    animation: e-commerce-hover .2s forwards ease;
}

.box-produto .informacoes .area-selos .selo-loja-fisica:hover span::after {
    content: "";
    color: #fff;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;
    animation: loja-fisica-hover .2s forwards ease;
}

.box-produto .informacoes .area-valores {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-produto .informacoes .area-valores .valores {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-produto .informacoes .area-valores .valores .progress {
    width: 60%;
}

.box-produto .informacoes .area-valores .valores .saldo {
    margin: 0px;
    width: 35%;
    text-align: end;
    font-size: 16px;
    font-weight: bold;
}

.box-produto .informacoes .area-valores .btn-adiciona-produto {
    width: 100%;
    height: 60%;
    background-color: #00a651;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carrinho-vermelho,
.carrinho-amarelo {
    background-color: #bcbcbc!important;
}

.box-produto .informacoes .area-valores .btn-adiciona-produto span {
    font-family: "Roboto";
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: flex;
}

.box-produto .informacoes .area-valores .btn-adiciona-produto span::before {
    content: "";
    width: 27px;
    margin-right: 10px;
    background-image: url(../../img/icone-carrinho.png);
    background-repeat: no-repeat;
    background-size: contain;
}


@media(max-width: 480px){
  .prod-destaques{
    float: unset;
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-column-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  .prod-destaques .box-produto{
    width: 100%;
  }
  
  .prod-destaques .box-produto .informacoes{
    justify-content: start;
    flex-direction: column; 
  }
  
  .prod-destaques .box-produto .informacoes .area-valores{
    margin-top: 20px;
    width: 100%;
  }

  .prod-destaques .box-produto .informacoes .area-valores .btn-adiciona-produto{
    margin-top: 20px;
    height: 45px;
  }

  .prod-destaques .box-produto .informacoes .area-valores{
    margin-top: 20px;
  }

  .prod-destaques .box-produto .informacoes .area-selos .selo{
    width: 40px;
    overflow: hidden;
    transition: all .5s;
  }
  .prod-destaques .box-produto .informacoes .area-selos .selo:hover{
    transition: all .5s;
    width: 100%;
  }

  .prod-destaques .box-produto .informacoes .area-selos .selo:last-child{
    position: static;
  }

  .prod-destaques .box-produto .informacoes .area-selos .selo-e-commerce:hover span::after{
    /* width: 72px; */
  }

  .box-produto .informacoes .area-valores{
    height: auto;
  }
  .box-produto .informacoes .area-valores .valores .saldo{
    margin-bottom: 0px !important;
  }

  .prod-destaques .informacoes-produto .preco-produto{
    display: none; 
  }

  .prod-destaques .box-produto:nth-child(3n -1){
    margin: 0px;;
  }
}

@media(max-width: 320px){
  .box-produto .informacoes .area-valores .valores .saldo{
    /* font-size: 22px !important; */
  }

  .prod-destaques{
    padding-bottom: 50px;
  }
}