@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

.header-top li{
    display: inline;
}

.fullbanner-home {
    margin-top: -21px;
}

.fullbanner-home .bg-2 {
    background: url(../imagens/banner_home_02.jpg);
    height: 615px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fullbanner-home .btn-verde {
    display: table;
    position: absolute;
    margin: -92px auto 0px -77px;
    left: 50%;
    margin-left: -77px;
}

.swiper-slide {
    position: relative;
}
.slide-home {
    width: 1130px;
    height: 540px;
    margin: 20px auto;
    overflow: hidden;
    padding-top: 15px;
}

.banner-responsivo {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    height: 90px;    
    margin-top: 70px;
}
.banner-responsivo img {
    margin-top: -27px;
    margin-left: 38px;
    position: relative;
    z-index: 200;
}

.banner-responsivo h3 {
    font-size: 20px;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    margin-top: 16px;
}

.chegou-agora {
    font-family: 'Open Sans', sans-serif;
    margin-top: 65px;
}

.chegou-agora h4 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 100px;
    color: #055228;
    font-style: italic;
}
.chegou-agora p { 
    color: #666666;
    font-size: 21px;
}
.chegou-agora p b {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
    font-size: 27px;
}
.chegou-agora a {
    margin-top: 20px;
}

.chegou-agora img {
    margin-top: -60px;
}

.chegou-agora .estrelas {
    margin-top: 0px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-troca-pontos {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;

}

#seta-direita-banner {
    margin-right: 10%;
    font-size: 39px;
    color: #ffec00;
    background-image: none;
}

#seta-esquerda-banner {
    margin-left: 10%;
    font-size: 39px;
    color: #ffec00;
    background-image: none;
}

.caret {
    color: #3cb528;
}

.dropdown button {
    color: #999999;
    font-size: 13px;
    padding: 0px;
}

.dropdown button strong {
    color: #666666;
}

/* Modal */

#btnTrocarSenha{
    display: none;
}

.modal-header{
    padding: 15px 15px 25px 15px;
}
#modalTrocaSenha .modal-body{
    text-align: center;
    padding: 15px 60px;
}
#modalTrocaSenha .modal-body h1{
    font-size: 31px;
    text-align: center;
    margin-bottom: 22px;
}
#modalTrocaSenha .modal-body p{
    text-align: center;
    margin-bottom: 20px;
}
#modalTrocaSenha .modal-body label{
    margin-right: 10px;
}
#modalTrocaSenha .modal-body input{
    display: table;
    margin: 5px auto;
    width: 45%;
}
#modalTrocaSenha .modal-footer{
    margin-top: 25px;    
    padding: 15px 60px;
}
#modalTrocaSenha .modal-footer .btn-danger{
    float: left;
}

.banner-responsivo h3 {
    color: #575656;
    font-size: 14px;
    font-weight: normal;
    margin-top: 75px;
}

.banner-responsivo h3 span {
    font-weight: bold;
}