#titulo-duvidas-frequentes {
    font-family: "Open Sans";
    background-color: #ff9c00;
    color: #fff;
    padding: 32px;
    margin-top: 60px;
}

#conteudo-duvidas {
    margin-top: 50px;
    padding-bottom: 60px;
}

.tabs-left>li {
    margin-right: -1px;
    text-align: center;
}

.tab-pane>h1 {
    font-weight: bold;
    font-size: 30px;
}

.divisorio-titulo {
    border: 2px solid #801836;
    width: 37px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab-pane>p {
    font-family: "Open Sans";
    color: #757575;
    font-size: 16px;
    text-align: justify;
}

.tabs-left>li>a {
    color: #801836;
    padding: 20px;
}

#titulo-duvidas-frequentes a{
    color: #fff;
}
