.table{
    margin: 0px;
}

.table>thead>tr>th{
    text-align: center;
    border: 1px solid #952743;
    border-bottom: none;
    padding: 14px 0px;
    background: #801836;
    font-size: 20px;
    color: #f7a81e;
}


.table tbody td{
    font-size: 15px;
    font-weight: normal;
    text-align: center!important;
    vertical-align: middle !important;
    border-top: none !important;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #ddd;
}

.table tbody td a{
    color:#337ab7;
    cursor: pointer;
}

