.menu-secundario .info-usuario {
    margin-top: 20px;
}

.menu-secundario .info-usuario .saldo-usuario p {
    font-size: 13px;
    color: #fff;
}

.menu-secundario .info-usuario .saldo-usuario p span {
    font-size: 20px;
    text-transform: uppercase;
    color: #e8cf96;
    font-weight: bold;
}

.menu-secundario .info-usuario .saldo-usuario p span #pt {
    font-size: 12px;
}

.menu-secundario #menu-usuario {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0;
    margin-top: -5px;
}

.menu-secundario #menu-usuario:focus {
    outline:none;
    box-shadow: none;
}

.menu-secundario #foto-usuario {
    border-radius: 50%;
    width: 39px;
}

.menu-secundario #menu-usuario > span.caret {
    color: #e8cf96;
    margin-left: 5px;
}


.menu-secundario .menu-principal {
    font-family: 'Lato', sans-serif;
    margin-top: 25px;
}

.menu-secundario .menu-principal ul li{
    float: left;
    font-size: 13px;
    margin-left: 35px;
    list-style: none;
}

.menu-secundario .menu-principal ul li:last-child{
    margin-right: 35px;
}

.menu-secundario .menu-principal ul li a{
    color: #fff;
    text-decoration: none;
}

.menu-secundario .btn-resgatar {
    font-size: 13px;
    text-transform: uppercase;
    color: #ebd5a4;
    text-decoration: none;
    border: 2px solid;
    padding: 10px 27px;
    border-radius: 5px;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -ms-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}

.menu-secundario .btn-resgatar:hover {
    background-color: #ebd5a4;
    color: #fff;
    border-color: #ebd5a4;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;

}
.titulo1 {
    font-size: 20px;
    color: #333333;
    margin-top: 20px;
}

.tituloh3 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
}

.paragrafo1 {
    font-size: 15px;
    color: #666666;
    margin-top: 26px;
}

.formatacao1 {
    font-size: 15px;
    color: #666666;
}

.formatacao2 {
    font-size: 15px;
    color: #666666;   
    margin-top: 26px;
}

.margem-titulos {
    margin-top: 60px;
}

.titulo-tabela {
    background-color: #f9f9f9;
    text-align: center;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    color: #6a6a6a;
}

.tabela-info {
    padding: 25px;
    border: 1px solid #e0e0e0;
    border-top: none;
    margin-top: -10px;
}

.tabela-seguro thead tr {
    font-size: 15px !important;
    background-color: #f9f9f9 !important;
    color: #000 !important;
    vertical-align: middle !important ;
    border-top: 1px solid #e0e0e0 !important;
    border-left: 1px solid #e0e0e0 !important;
}

.tabela-seguro thead tr th {
    font-weight: bold !important;
    text-transform: uppercase;
    color: #6a6a6a;
}

#logo-home {
    margin-top: -38px;
}