@media only screen and (max-width: 1366px) {
    #menu .box-itens {
        width: 80%;
    }

    #menu .box-itens .bloco-imagem{
        width: 135px;
        height: 135px;
    }

    #menu .box-itens .bloco-icones{
        margin: 30px 0;
        padding: 0px 20%;
    }

    #menu .box-itens .bloco-links {
        width: 80%;
    }

    #menu .box-itens .bloco-links a {
        height: 45px;
    }

    #menu .box-itens .bloco-icones a span {
        width: 100%;
    }

    #modalCategoriasGerais .modal-body h1 {
        margin-top: 25px!important;
    }

    #modalCategoriasGerais .modal-body ul {
        margin: 20px 0!important;
    }

    #modalCategoriasGerais .modal-body ul li {
        margin-top: 20px!important;
    }

    #modalCategoriasGerais .modal-body ul li img {
        width: 40px!important;
        height: 40px!important;
    }

    .menu-lateral-notificacoes .content .area-notificacoes {
        width: 70%;
    }

    .menu-lateral-notificacoes .content .area-notificacoes .topo::before {
        width: 30%;
    }

    .menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao {
        height: 80px;
    }

    .menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .img-notificacao {
        width: 80px;
    }

    .menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .texto .titulo {
        font-size: 13px;
    }

    .menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .texto .mensagem {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1280px) {
    .banner-produtos-yetz {
        padding-bottom: 84px;
    }
    .espaco-titulo {
        margin-top: -16px !important;
    }
    .lista-produtos .produtos .prod h2 {
        font-size: 18px;
        margin-top: -8px !important;
    }
    .lista-produtos .produtos .prod .card {
        margin-top: 25px;
    }
    .fonte-personalizada {
        font-size: 18px;
    }
    .perso {
        margin-left: 100px !important;
        font-size: 22px !important;
    }

    .menu-lateral-notificacoes .content {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {
    .todas-categorias {
        height: 127px;
        float: left;
        width: 100%;
    }
    .produtos-destaques {
        margin: 0px;
        float: left;
        width: 100%;
    }
    .todas-notificacoes-all .box-notificacao .lado-dir {
        float: left;
        width: 162px;
        margin-top: 5px;
    }
    .todas-notificacoes-all .box-notificacao {
        padding: 25px 15px;
    }
    .header-novo .menu-novo li a {
        font-size: 11px;
        color: #663300;
    }
    .conteudo-passos-yetz-cards ul li a {
        width: 183px;
        display: table;
        margin: 0 auto;
    }
    .todos-passos .texto {
        width: 430px;
    }
    .todos-passos .passo h1 {
        font-size: 26px;
        border-left: none;
        padding-left: 0;
    }
    .todos-passos .passo p {
        font-size: 14px;
        padding-left: 0;
        text-align: center;
    }
    .todos-passos .passo img {
        display: table;
        margin: 0 auto;
        float: initial;
        padding: 15px 0px;
    }
    .menu-categorias {
        float: left;
        width: 100%;
    }
    .btn-categorias {
        outline: none !important;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #952743;
    }
    .menu-categorias .swiper-slide:last-child {
        border-right: 1px solid #952743;
    }
    .desc-prog h1 {
        font-size: 40px;
        margin-top: 70px;
    }
    .desc-prog h2 {
        font-size: 30px;
    }
    .descricao-breve-conheca .breve p {
        font-size: 17px;
    }
    .obter-produto {
        font-size: 22px !important;
    }
    .gradient-laranja {
        background-image: linear-gradient(to right, #FFAB00, #FFBA00);
    }
    .btn-resgatar-carrinho {
        padding: 15px 20px;
    }
    .resumo-carrinho .foto-produto-carrinho {
        margin-right: 15px;
    }
    .banner-produtos {
        display: table;
        width: 300px;
        margin: 0 auto;
    }
    .rodape .info-pontos {
        padding-left: 80px;
    }
    .acesso-site .marcas {
        margin-top: 0px;
        display: table;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .banner .menu {
        margin-left: 0px;
    }
    .banner .menu ul {
        display: table;
        margin: 0 auto;
        margin-left: 29px;
    }
    .banner {
        height: 346px;
    }
    .banner .setas {
        top: 280px;
    }
    .lista-produtos {
        margin-left: 0;
    }
    .menu-secundario .info-usuario .menu {
        display: table;
        margin: 0 auto;
        margin-top: 35px;
    }
    .desc-prog img {
        margin-top: 157px;
    }
    .breadcrumbs {
        margin-left: 166px;
    }
    .breadcrumbs h1 {
        margin-left: 88px;
    }
    .quadro-branco {
        width: 550px;
        position: relative;
        display: table;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .parag-branco {
        right: 70px;
    }
    .btn-cartao-yetz {
        right: 70px;
    }
    .logo-login {
        display: table;
        margin: 0 auto;
        float: initial !important;
    }
    .quadro-laranja {
        width: 550px;
        position: relative;
        display: table;
        margin: 0 auto;
    }
    .login {
        height: initial !important;
        background: #811837;
        padding-bottom: 30px;
    }
    .quadro-laranja .parg-laranja {
        left: 50px;
    }
    .btn-minha-area {
        left: 50px;
    }
    .todas-informacoes {
        padding: 10px 0px 10px 30px;
    }
    .resumo-carrinho {
        left: 201px;
        width: 430px;
    }
    .topo-produto .etapas .etap {
        padding: 19px 25px;
    }
    .topo-produto .etapas .etap .seta-etapas {
        display: none;
    }
    #slider-range-min {
        margin-top: 20px;
    }

    .prod-destaques .progress-amarelo,
    .prod-destaques .progress-verde,
    .prod-destaques .progress-vermelho {
        width: 100px;
    }
    .geral-produto {
        margin-bottom: 60px;
    }
    .categorias-produtos {
        padding-bottom: 20px !important;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    #menu {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
    }

    #menu .content{
        height: auto;
    }

    #menu .btn-close {
        top: 50px;
        right: 50px;
        background-image: url(../../img/icone-fechar-cinza.svg);
    }

    #menu .box-itens {
        width: 50%;
        margin: 0 auto;
        padding: 50px 0;
        float: none;
    }

    footer nav .conteudo {
        width: 100%;
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    footer nav .conteudo .item {
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    footer nav .conteudo .item:nth-child(3) li:last-child{
        position: static;
    }

    footer .site-seguro {
        width: 100%;
        grid-column: span 3;
        margin-top: 68px;
        margin: 0;
        position: static;
    }

    footer .site-seguro a {
        display: block;
    }

    footer .site-seguro a img {
        margin: 0 auto;
    }

    .apps {
        grid-column: span 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        margin-bottom: 30px;
    }
    footer {
        padding-top: 50px;
        padding-bottom: 150px;
    }
    footer p {
        font-size: 11px;
    }
    #modal-video .modal-dialog {
        width: 90% !important;
    }
    .container-videos {
        width: 100%;
    }
    .container-videos {
        margin-bottom: 0px !important;
    }
    .videos {
        padding-bottom: 30px;
    }
    .card-video {
        width: 100% !important;
        max-height: auto !important;
    }
    .icon-videos + span {
        text-align: center !important;
        margin-left: 0px !important;
        position: initial !important;
    }
    .s-videos .icon-videos {
        display: table;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .description-video {
        font-size: 11px !important;
    }
    .img-video img {
        max-height: initial;
        display: table;
        margin: 0 auto;
        max-height: 158px;
    }
    .img-video {
        width: 100%;
        height: auto !important;
    }
    .todas-notificacoes-all {
        background: #f4f4f4;
        padding: 20px 0px 50px 0px;
    }
    .todas-notificacoes-all .box-notificacao {
        /* padding: 25px 19px;
        height: 90px;
        width: 100%;
        background: grey;
        position: fixed;
        bottom: 0; */
    }
    .conteudo-passos-yetz-cards ul li {
        margin-right: 0px;
        width: 33%;
        height: 155px;
        margin-top: 15px;
    }
    .todos-passos .passo {
        padding-right: 0;
    }
    .todos-passos .texto {
        width: 100%;
        text-align: center;
    }
    .swiper-categorias-produtos .swiper-pagination-bullet-active {
        opacity: 1;
        background: #faa61a;
    }
    .swiper-categorias-produtos .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
    #topo-pagina {
        margin-top: 20px;
    }
    .slide-todas-categorias {
        display: block;
        margin-top: -5px;
    }
    .swiper-categorias-produtos {
        overflow: hidden;
        position: relative;
        height: 100px;
    }
    .todos-prods-categorias {
        padding: 30px 0px;
    }
    .todos-prods-categorias .prod-destaques {
        /* justify-content: space-between; */
        justify-content: center;
        padding: 0 25px;

    }
    .todos-prods-categorias .box-produto{
        /* width: 45%; */
        width: 100%;
    }
    .menu-responsivo .area-logo {
        float: left;
    }
    .conteudo-duvidas-responsivo .panel-default .panel-heading {
        background-color: #801836;
        border-color: #801836;
        color: #ffbd00;
    }
    #titulo-duvidas-frequentes h1, #titulo-duvidas-frequentes h2  {
        font-size: 20px;
    }
    .fundo-cadastro {
        width: 100%;
        padding: 0px 35px 20px 35px;
    }
    .fundo-cadastro form h2 {
        text-align: center;
    }
    /* #btnTrocarSenha {
        float: initial !important;
        display: table;
        margin: 0 auto;
    } */
    .fundo-cadastro form .btn-vermelho {
        display: table;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .image-editor {
        float: initial;
        width: 200px;
        display: table;
        margin: 0 auto;
    }
    .cropit-image-preview {
        display: table;
        margin: 0 auto;
        float: initial;
        margin-bottom: 20px;
    }
    .nome-usuario-cadastro {
        margin-top: 20px;
        text-align: center;
    }
    .cpf-usuario-cadastro {
        text-align: center;
    }
    .fundo-cadastro form .btn-verde {
        display: table;
        margin: 0 auto;
        float: initial !important;
        margin-bottom: 30px;
    }
    .fundo-cadastro form .checkbox {
        display: table;
        margin: 0 auto;
    }
    .conteudo-agradecimento img {
        padding-top: 40px;
    }
    .conteudo-agradecimento p {
        color: #fff;
        font-size: 20px;
        margin: 0px;
        text-align: center;
        margin-top: 30px;
    }
    .conteudo-agradecimento {
        background: url(../../img/fundo-login.jpg) no-repeat;
        height: auto;
        padding-bottom: 50px;
    }

    .topo-contato {
        padding: 20px 0px;
        background: #801836;
        margin-bottom: 0px;
    }
    .topo-contato img {
        margin-right: 0;
        display: table;
        margin: 0 auto;
        float: initial;
        margin-bottom: 20px;
    }
    .topo-contato h1 {
        margin-bottom: 0px;
        margin-top: 10px;
        text-align: center;
    }
    .formulario-contato {
        padding: 30px 0px;
        background: #f4f4f4;
    }
    .formulario-contato h2 {
        border-bottom: 3px solid #669933;
        padding-bottom: 10px;
        padding-left: 0px;
        border-left: none;
        margin-bottom: 0px;
        text-align: center;
    }
    .formulario-contato p {
        padding-right: 0;
        text-align: center;
    }
    .form-horizontal {
        padding-right: 0;
    }
    .chat-online {
        border-bottom: 3px solid #ff9933 !important;
        border-left: none !important;
    }
    .mensagem-offline {
        padding-left: 0px;
        text-align: center;
    }
    .status-chat {
        display: table;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        background: #fff;
    }
    .servicos-auxiliares {
        border-bottom: 3px solid #6699cc;
        padding-bottom: 20px;
        color: #666666;
        padding-right: 0px;
        border-left: none;
    }
    .conteudo-acompanhar {
        padding: 0px;
        margin-top: 0px;
    }
    .conteudo-contato {
        margin-top: 0px;
    }
    #titulo-duvidas-frequentes {
        margin-top: 106px;
    }
    .conteudo-acompanhe-seu-resgate {
        padding: 30px 0px;
    }
    .circulo-status {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-weight: normal;
        line-height: 100px;
        padding: 0px;
    }
    .conteudo-acompanhar .num-etapa {
        font-size: 13px;
        right: 10px;
    }
    #status-list li:after {
        top: 60px;
    }
    .conteudo-acompanhar #status-list li:first-child .circulo-status {
        line-height: 100px;
        padding: 0px;
    }
    .titulo-da-pagina img {
        margin-right: 0;
        display: table;
        margin: 0 auto;
        float: initial;
        margin-bottom: 20px;
    }
    .conteudo-mov select {
        width: 100%;
    }
    .conteudo-mov p {
        text-align: center;
    }
    .conteudo-movimentacao {
        padding: 30px 0px 0px 0px;
    }
    #slider-range-min {
        margin-top: 25px;
    }
    .titulo-da-pagina {
        padding: 20px 0px;
        background: #801836;
        margin-bottom: 0px;
    }
    .produtos-destaques {
        padding-bottom: 50px;
        margin-top: 76px !important;
    }
    .lista-produtos {
        margin-left: 0;
        padding: 40px 0px;
    }
    .titulo-da-pagina i {
        text-align: center;
        float: initial;
        display: table;
        margin: 0 auto;
    }
    .fundo-cinza {
        margin-top: 0px !important;
    }
    .titulo-da-pagina h1 {
        margin-bottom: 0px;
        margin-top: 10px;
        text-align: center;
    }
    .descricao-breve-conheca .breve {
        margin-top: 35px;
        text-align: center;
    }
    .descricao-breve-conheca .breve img {
        float: inherit;
        margin-right: 0px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .descricao-breve-conheca .breve p {
        font-size: 17px;
        padding-left: 0px;
        border: none;
        margin-bottom: 0px;
    }
    .desc-prog h1 {
        font-size: 40px;991
        margin-top: 0;
        text-align: center;
    }
    .desc-prog {
        background-color: #f4f4f4;
        padding: 50px 0px;
        margin-top: 7px;
    }
    .cards-mulher {
        padding-top: 0;
    }
    .cards-mulher img {
        padding-bottom: 0px;
        display: table;
        margin: 0 auto;
    }
    .conteudo-prog p {
        text-align: center;
        font-size: 17px;
        padding: 0px;
    }
    .tela-extrato {
        display: table;
        margin: 0 auto;
        padding-bottom: 20px;
        margin-top: 20px;
    }
    .icone-lampada-circulo {
        display: table;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .cartao-simulacao {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .icone-carrinho-circulo {
        display: table;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .titulo-campanha-incentivo {
        font-size: 40px;
        margin-top: 0;
        text-align: center;
    }
    .card-favorito {
        padding-bottom: 0;
        float: initial;
        display: table;
        margin: 0 auto;
        margin-top: 50px;
    }
    .barra-colorida {
        display: table;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .parag-cartoes-yetz {
        margin-top: 30px;
    }
    .conteudo-prog {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .divisoria-conteudo {
        float: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .titulo-cartao-yetz-sobre {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
    }
    .desc-prog h2 {
        font-size: 26px;
        text-align: center;
    }
    .descricao-produto h2 {
        margin-left: 0;
    }
    .descricao-produto .valor-produto {
        margin: 0 auto 60px auto;
    }
    .descricao-produto p {
        margin-left: 0;
    }
    .descricao-produto .texto-insuficiente {
        margin-top: 15px;
    }

    .descricao-produto .valor-produto .barra-progresso {
        display: table;
        margin: 0 auto !important;
        float: initial !important;
    }
    .descricao-produto h1 {
        margin-left: 0px;
    }
    .descricao-produto h1 span {
        font-size: 25px;
    }
    .prod-destaques .informacoes {
        margin-bottom: 50px;
    }
    .lampada-grande {
        font-size: 53px !important;
    }
    .descricao-produto {
        text-align: center;
        padding-left: 0;
        padding: 0 4%;
    }
    .descricao-produto h2{
        display: none;
    }
    .resumo-carrinho {
        width: 430px;
        right: 0px;
        left: initial;
        top: 150px;
        border-top: 2px solid #00a651;
    }
    .filtro {
        padding: 25px 0;
        margin-top: -5px;
        background: #801836;
        text-align: center;
    }
    .nome-categoria-novo {
        font-size: 20px;
        font-weight: bold;
        color: #fff !important;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        box-shadow: none;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: #ff9900 !important;
    }
    .topo-produto .etapas .etap {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .topo-produto .etapas .etap img {
        display: table;
        margin: 0 auto;
        float: initial;
    }
    .topo-produto .etapas .etap p {
        text-align: center;
        float: initial;
        margin-bottom: 0px;
    }
    .topo-produto .etapas .etap .seta-etapas {
        display: none;
    }
    .todas-categorias {
        display: none;
    }
    .banner {
        display: none;
    }
    .informacoes-usuario-responsivo .nome-usuario {
        color: #fff;
        text-align: center;
        margin-top: 40px;
    }
    .informacoes-usuario-responsivo .nome-usuario h2 {
        font-size: 40px;
        font-weight: 900;
        color: #f7b21e;
    }
    .informacoes-usuario-responsivo .nome-usuario .seta-baixo-responsivo {
        width: 30px;
        display: table;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .btn-resgatar-pts {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 10px;
        padding: 15px 30px;
        background-image: linear-gradient(to bottom, #c1f57c, #5ea304);
        border-bottom: none;
        outline: none;
        color: #fff;
    }
    .btn-resgatar-pts:focus, .btn-resgatar-pts:hover {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 10px;
        padding: 15px 30px;
        background-image: linear-gradient(to bottom, #c1f57c, #5ea304);
        border-bottom: none;
        outline: none;
        color: #fff;
    }
    .informacoes-usuario-responsivo {
        display: block !important;
        background: #8b1a3b;
        width: 100%;
        padding: 40px 0px;
        margin-top: 0px;
    }
    .informacoes-usuario-responsivo .foto-usuario {
        display: table;
        margin: 0 auto;
        width: 305px;
        height: 306px;
        border-radius: 50%;
        overflow: hidden;
        -webkit-box-shadow: -10px 10px 0px 0 #faa61a;
        box-shadow: -10px 10px 0px 0 #faa61a;
    }
    .informacoes-usuario-responsivo .foto-usuario img {
        border: 7px solid #fff;
        border-radius: 50%;
        width: 305px;
        height: 306px;
    }
    .menu-responsivo .btn-menu-usuario {
        background: transparent;
        border: none;
        padding: 0px;
        color: #fff;
        font-size: 30px;
        outline: none;
        margin-top: 5px;
        position: absolute;
        right: 80px;
        top: 10px;
    }
    .menu-responsivo .menu-usuario {
        position: absolute;
        background: #faa61a;
        top: 76px;
        z-index: 9999;
        right: 60px;
        padding: 15px 40px;
        border: 2px solid #801836;
        display: none;
    }
    .menu-responsivo .menu-usuario li {
        padding: 10px 0px;
    }
    .menu-responsivo .menu-usuario li a {
        color: #801836;
        font-size: 17px;
    }
    .menu-responsivo {
        display: block !important;
        float: left;
        width: 100%;
        background: #faa61a;
        padding: 15px 20px;
        position: fixed;
        z-index: 999;
        top: 0;
    }
    .menu-responsivo a img {
        width: 117px;
    }
    .espaco-laranja-menu, .espaco-laranja-informacoes {
        display: none;
    }
    .btn-menu-responsivo {
        background: transparent;
        border: none;
        padding: 0px;
        float: right;
        color: #fff;
        font-size: 40px;
        line-height: 40px;
        margin-top: 0px;
        outline: none;
    }
    .banner .swiper-container {
        margin-top: 50px;
    }
    .banner .menu .btn-resgatar {
        position: relative;
        top: 20px;
        left: 26%;
    }
    .acesso-site .marcas {
        margin: 75px auto;
    }
    .banner .setas {
        top: 275px;
    }
    .banner {
        height: 430px;
    }
    .lista-produtos .produtos .prod h1 {
        font-size: 25px;
    }
    .rodape ul {
        margin-bottom: 20px;
    }
    .rodape .info-pontos {
        padding-left: 19px;
    }
    .margen-ul {
        padding-left: 25px !important;
    }
    .lista-desejos .conteudo-botao .btn-proximo {
        bottom: 145px;
        left: 122px;
    }
    .lista-desejos .conteudo-botao .btn-proximo i {
        position: absolute;
        top: 33px;
        left: 7px;
    }
    .extrato-pontos .conteudo-botao .btn-proximo {
        bottom: 0px;
        left: -8px;
    }
    .acesso-site .extrato-pontos .conteudo-botao .btn-proximo i {
        top: 38px;
        left: 5px;
    }
    .rodape {
        padding: 20px 0px 20px 0px;
        border-bottom: 6px solid #ffa901;
        background: #65808b;
        float: left;
        width: 100%;
    }
    h1.aviso-vazio {
        font-size: 16px;
    }
    .rodape .logo-rodape {
        display: table;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .rodape ul {
        width: 33%;
        margin-right: 0px;
        text-align: center;
        padding-left: 0px;
    }
    .margen-ul {
        padding-left: 0px !important;
    }
    .acesso-site {
        padding-bottom: 49px;
    }

    .lista-produtos .table thead tr th {
        padding: 10px 0px;
        text-align: center !important;
    }
    .lista-produtos .table tbody tr td {
        padding: 10px 10px;
        text-align: center !important;
    }
    .close-button {
        float: initial !important;
    }
    .rodape-carrinho a img {
        display: table;
        margin: 0 auto;
    }
    .menu-lateral-notificacoes .conteudo-alertas .todas-notificacoes .item .new {
        left: -20px;
    }

    .todas-informacoes .usuario-novo {
        display: none;
    }

    .todas-informacoes .icone-menu {
        order: 2;
    }

    .saldo-carrinho {
        display: none;
    }

    .todas-informacoes {
        justify-content: flex-end;
    }

    .saldo-carrinho-responsivo {
        display: block;
    }

    #menu .content {
        min-height: 100vh;
        width: 100%;
    }

    .informacoes-produto .preco-produto {
        width: 65px;
        height: 65px;
        right: -15px;
    }

    .informacoes-produto .preco-produto h3 {
        font-size: 16px;
    }

    .box-produto .informacoes .area-valores .valores .progress {
        width: 45%!important;
    }

    .box-produto .informacoes .area-valores .valores .saldo {
        width: 50%!important;
        font-size: 14px!important;
    }

    .prod-destaques .btn-favoritar {
        width: 40px;
        height: 40px;
        padding-top: 0;
    }

    .prod-destaques .btn-favoritar i::before{
        font-size: 20px;
    }

    .container-produto {
        display: flex;
        justify-content: center;
    }

    .produto-destaque-grande .area-selos {
        display: flex;
        justify-content: center;
    }

    .texto-alternativo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .produtos-similares {
        display: none;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor {
        margin-top: 30px;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor span {
        color: red;
        font-size: 20px;
        font-weight: bold;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor-produto .bloco-informacoes {
        width: 60%;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor-produto .bloco-informacoes .texto-carrinho {
        font-size: 20px;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor-produto .bloco-informacoes .texto-carrinho p{
        margin: 0;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor-produto .bloco-informacoes .btns span {
        font-size: 25px;
    }
    .resumo-carrinho-mobile .area-total .valor-total span {
        font-size: 20px;
    }
    .resumo-carrinho-mobile .area-total .btn-resgatar-carrinho {
        font-size: 20px;
        padding: 15px 35px;
    }
}

@media(max-width: 768px){
    .img-video img{
        object-fit: cover;
        object-position: top;    
    }    
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    #menu .box-itens {
        width: 60%;
    }

    .produtos-visitados h1 {
        text-align: center;
    }
    .produtos-visitados {
        padding: 30px 0px;
    }

    #modal-video .modal-dialog {
        width: initial !important;
    }
    .todas-notificacoes-all .box-notificacao {
        padding: 25px 19px;
        max-height: initial;
    }
    #modalNotificacao .modal-dialog {
        width: initial;
        margin-top: 60px;
        text-align: center;
    }
    #modalNotificacao .modal-header {
        text-align: left;
    }
    .todas-notificacoes-all .box-notificacao .lado-esq {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        margin-right: 0px;
    }
    .todas-notificacoes-all .box-notificacao .lado-dir {
        float: left;
        width: 100%;
        margin-top: 5px;
        text-align: center;
    }
    .todas-notificacoes-all .box-notificacao .lado-dir .texto {
        float: unset;
        text-align: left;
        padding-left: 20px;
    }
    .conteudo-passos-yetz-cards ul li a {
        width: 90%;
    }
    .todos-passos .passo p {
        padding: 0px 15px;
    }
    .btn-modal-cards {
        display: none !important;
    }
    .fundo-cadastro {
        width: 90%;
        padding: 0px 35px 20px 35px;
    }
    .table .item-name {
        text-align: center !important;
    }
    .cart-table .item-name-col figure {
        margin-right: 0px !important;
        display: table;
        margin: 0 auto;
    }
    .table img {
        margin-bottom: 20px;
    }
    .endereco-entrega .titulo {
        padding: 20px 0px;
        text-align: center;
    }
    .endereco-entrega .campos-endereco {
        width: 100% !important;
    }
    .endereco-entrega .body {
        text-align: center;
    }
    .header-carrinho {
        padding: 20px 0px !important;
    }
    .lista-produtos {
        margin-top: 0;
    }
    .header-carrinho a img {
        display: table;
        margin: 0 auto;
    }
    .header-carrinho .titulo-carrinho {
        float: initial !important;
        display: table;
        margin: 0 auto;
        margin-top: 20px;
    }
    .formulario-contato .formulario form {
        margin: 30px 0px;
        display: inline-block;
        width: 100%;
    }
    h1.aviso-vazio {
        font-size: 18px;
        font-weight: lighter;
        text-transform: uppercase;
        color: #95abb7;
        margin-bottom: 0;
        text-align: center;
        padding: 0px 15px;
        line-height: 42px;
    }
    .prod-lista-desejo {
        display: table;
        margin: 0 auto;
    }
    .produto-em-destque {
        display: table;
        margin: 0 auto;
    }
    .btn-lista-desejo {
        display: table;
        margin: 0 auto;
        margin-top: 15px;
    }
    .produto-destaque-grande {
        width: 90%;
        margin: 0 auto 60px auto;
        position: relative;
    }
    .prod-destaques .informacoes {
        width: 100%;
        margin-bottom: 20px;
    }
    .prod-destaques .informacoes .btn-destaques {
        float: left;
        width: 20%;
    }
    .prod-destaques .progress-amarelo, .prod-destaques .progress-verde, .prod-destaques .progress-vermelho {
        width: 100%;
        margin-left: 0px;
    }
    .descricao-produto h2 {
        margin-left: 0;
    }
    .descricao-produto h3 {
        margin-left: 0;
    }
    .descricao-produto p {
        margin-left: 0;
    }
    .produtos-similares h1{
        text-align: center;
        float: initial !important;
    }
    .geral-produto {
        display: table;
        margin: 0 auto;
    }
    .geral-produto .informacoes {
        float: left;
        width: 100%;
        padding: 10px 0px;
    }
    .geral-produto .informacoes .btn-desejo {
        float: left;
        width: 20%;
    }
    .geral-produto .informacoes .valores {
        float: left;
        width: 80%;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .geral-produto .informacoes .valores .progress-vermelho,
    .geral-produto .informacoes .valores .progress-verde,
    .geral-produto .informacoes .valores .progress-amarelo{
        width: 65%;
    }
    .geral-produto .informacoes .valores .saldo-vermelho,
    .geral-produto .informacoes .valores .saldo-verde,
    .geral-produto .informacoes .valores .saldo-amarelo {
        width: 30%;
    }
    .rodape ul {
        width: 100%;
        margin-left: 0px;
    }
    .acesso-site .extrato-pontos .conteudo-botao .btn-proximo, .acesso-site .lista-desejos .conteudo-botao .btn-proximo {
        display: none;
    }
    .acesso-site .extrato-pontos, .acesso-site .lista-desejos {
        border-radius: 3px;
        margin-top: 30px;
        width: 100%;
        padding: 25px 0px;
    }
    .btn-resp {
        background: transparent;
        border: none;
        padding: 0px;
        display: table;
        margin: 0 auto;
        display: block !important;
        margin-bottom: 25px;
    }

    .conteudo-login-novo {
        padding: 0px 50px;
    }

    #btn-acessar-visitante {
        width: 100%;
    }

    #modalArea .modal-dialog,
    #modalCartao .modal-dialog,
    #modalCompletarCadastro .modal-dialog,
    #modalFinalizarCadastro .modal-dialog,
    #modalEsqueciSenha .modal-dialog,
    #modalAndroid .modal-dialog,
    #modalApple .modal-dialog{
        width: auto;
        margin-top: 60px;
    }
    #modalArea .modal-body,
    #modalCartao .modal-body,
    #modalCompletarCadastro .modal-body,
    #modalFinalizarCadastro .modal-body,
    #modalEsqueciSenha .modal-body,
    #modalAndroid .modal-body,
    #modalApple .modal-body {
        padding: 30px 20px;
        overflow: hidden;
    }
    .acesso-site {
        padding-bottom: 30px;
    }
    .acesso-site .extrato-pontos p, .acesso-site .lista-desejos p {
        display: none;
    }
    .acesso-site .extrato-pontos img, .acesso-site .lista-desejos img {
        padding-top: 0;
    }
    .topo-produto .etapas {
        margin-bottom: 0;
        padding: 0px 20px 30px 20px;
    }
    .topo-produto h1 {
        padding: 30px 0px 30px 0;
        margin: 0px;
    }
    #slider-range-min {
        display: table;
        margin: 0 auto;
        margin-top: 25px;
        width: 100%;
    }
    .nome-categoria-novo i:before {
        display: table;
        margin: 0 auto;
    }
    #modalConfirmaResgate .modal-dialog {
        margin: 0 auto;
        margin-top: 30px;
    }
    .btn-voltar-home {
        padding: 10px 0px;
        width: 100%;
        text-align: center;
    }
    .conteudo-passos-yetz-cards {
        padding: 20px 0px 30px 0px;
    }
    .todos-passos .passo .img-btn-resgatar {
        float: initial !important;
        width: initial;
    }
    .informacoes-produto .preco-produto h3 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 650px) {
    #menu .box-itens {
        width: 65%;
    }
    .saldo-novo h1 .unidade {
        display: none;
    }

    .topo-menu .area-logo.personalizado,
    .topo-menu .area-informacoes.personalizado {
        width: 50%;
    }

    .todos-prods-categorias .prod-destaques {
        justify-content: center;
    }

    .todos-prods-categorias .box-produto {
        width: 70%;
    }

    .todos-prods-categorias .box-produto .informacoes-produto img{
        max-height: none;
    }

    .prod-destaques .btn-favoritar {
        width: 52px;
        height: 50px;
    }

    .prod-destaques .btn-favoritar i::before {
        font-size: 32px;
        margin-top: 10px;
    }
    .informacoes-produto .preco-produto {
        width: 85px;
        height: 85px;
    }
    .informacoes-produto .preco-produto h3{
        font-size: 16px;
    }

    .box-produto .informacoes .area-valores .valores .saldo {
        width: 45%!important;
        font-size: 16px!important;
    }

    .box-informacoes-produto {
        padding: 0 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item-desc-produto {
        width: 90%;
        margin: 0 auto 60px auto;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor-produto .foto-produto-carrinho {
        width: 40%;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor span,
    .resumo-carrinho-mobile .produto-carrinho .valor-produto .bloco-informacoes .texto-carrinho,
    .resumo-carrinho-mobile .area-total .valor-total span {
        font-size: 16px;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor-produto .bloco-informacoes {
        width: 55%;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor-produto .bloco-informacoes .btns span {
        font-size: 20px;
    }
    .resumo-carrinho-mobile .area-total .btn-resgatar-carrinho {
        font-size: 16px;
        padding: 15px 25px;
    }
}

@media only screen and (max-width: 560px) {
    #menu .box-itens {
        width: 70%;
    }
    .saldo-carrinho-responsivo .pontos {
        font-size: 22px;
    }

    .saldo-carrinho-responsivo .titulo {
        font-size: 18px;
        margin-top: 5px;
    }

    .topo-menu .area-logo.personalizado {
        width: 60%;
    }

    .topo-menu .area-informacoes.personalizado {
        width: 40%;
    }
    .todos-prods-categorias .box-produto {
        width: 80%;
    }
    .texto-alternativo .msg {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-alternativo .msg img{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor-produto .foto-produto-carrinho {
        width: 50%;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor-produto {
        flex-direction: column;
    }
    .resumo-carrinho-mobile .produto-carrinho .valor-produto .bloco-informacoes {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-top: 25px;
    }

}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 768px) {
    .menu-lateral-notificacoes .content{
        width: 100%;
    }
    
    .menu-lateral-notificacoes .content .area-notificacoes{
        width: 100%;
    }

    .menu-lateral-notificacoes .content .todas-notificacoes{
        padding-left: 30px;
        margin-bottom: 0px;
    }

    .menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao:last-child{
        margin-bottom: 0px;
    }

    .menu-lateral-notificacoes .content .area-notificacoes .topo{
        padding-left: 30px;
        
    }

    .menu-lateral-notificacoes .content .area-notificacoes .topo::before{
        height: 0px;
    }

    .menu-lateral-notificacoes .content .area-notificacoes .btn-ver-alertas{
        width: calc(100% - 30px);
        margin-left: 30px;
        margin-top: 30px;
    }
    
    .menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .img-notificacao{
        
    }

    #menu .box-itens .bloco-icones .btn-mobile-voucher{
        display: block;
    }

    #menu .box-itens .bloco-icones .btn-mobile-voucher .btn-voucher:hover{
        background-color: #971134;
        outline: none;
    }

    #menu .box-itens {
        width: 90%;
    }
    #menu .box-itens .bloco-links{
        width: 90%;
    }
    #menu .box-itens .bloco-links .link-desejos .icone-link,
    #menu .box-itens .bloco-links .link-desejos a:hover .icone-link {
        background-size: 40px;
    }
    #menu .btn-close {
        top: 30px;
        right: 30px;
    }
    footer nav .conteudo .item {
        width: 100%;
        margin-bottom: 20px;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 150px;
        display: none;
    }
    .prod-destaques img {
        /* min-width: 100%; */
    }
    .btn-padrao {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .btn-cancelar {
        width: 100%;
    }
    .produtos-visitados h1 {
        font-size: 19px !important;
        margin-bottom: 30px !important;
        margin-top: 0px;
    }
    .menu-lateral-notificacoes .conteudo-alertas {
        width: 95%;
    }
    .menu-lateral-notificacoes .conteudo-alertas .todas-notificacoes .item .img-notificacao {
        margin-right: 15px;
        width: 40px;
        margin-top: 5px;
    }
    .menu-lateral-notificacoes .conteudo-alertas .topo h1 {
        font-size: 20px;
        margin-top: 19px;
    }
    .menu-lateral-notificacoes .conteudo-alertas .todas-notificacoes .item .texto p {
        font-size: 10px;
    }
    .menu-lateral-notificacoes .conteudo-alertas .todas-notificacoes .item .btn-excluir-item {
        right: 0;
    }
    .menu-lateral-notificacoes .notificacao-vazio h2 {
        font-size: 18px;
    }
    .menu-lateral-notificacoes .conteudo-alertas .todas-notificacoes .item .texto {
        float: left;
        width: 140px;
    }
    .conteudo-passos-yetz-cards ul li {
        margin-right: 0px;
        width: 100%;
        height: auto;
        margin-top: 15px;
    }
    .conteudo-passos-yetz-cards ul li a {
        width: 100%;
    }
    .conteudo-passos-yetz-cards ul li a img {
        display: table;
        margin: 0 auto;
    }
    .todos-passos .passo img {
        display: table;
        margin: 0 auto;
        float: initial;
        padding: 15px 0px;
        width: 80%;
    }
    .todos-passos .passo h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .conteudo-regulamento {
        width: 90%;
        display: table;
        margin: 0 auto;
    }
    .titulo-da-pagina p {
        margin-top: 10px;
        margin-bottom: 0px;
        color: #ff9999;
        text-align: center;
    }
    #modalTrocaSenha .modal-dialog {
        width: 300px;
    }
    #modalTrocaSenha .modal-body {
        padding: 20px;
        overflow: hidden;
    }
    #modalTrocaSenha .modal-footer {
        padding: 20px;
    }
    .cadastro-email-markting .conteudo-login-novo {
        padding: 0px;
    }
    .form-primeiro-acesso,
    .form-finalizar-cadastro {
        width: 100%;
        padding: 33px 20px;
    }
    .lampada-grande i {
        font-size: 32px !important;
        margin-top: 7px;
    }
    #titulo-duvidas-frequentes h1, #titulo-duvidas-frequentes h2 {
        font-size: 20px;
        float: initial !important;
        text-align: center;
    }
    #titulo-duvidas-frequentes {
        padding: 10px 0px;
        margin-top: 40px;
    }
    #btnTrocarSenha {
        width: 100%;
        padding: 12px 25px;
        margin-bottom: 0px;
    }
    .align-botoes-acao {
        margin-top: 15px;
    }
    .fundo-cadastro form .btn-vermelho {
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
    }
    #btnAtualizarCadastro {
        width: 100%;
        margin-bottom: 0px;
    }
    .s-cadastro {
        padding: 45px 0px 40px 0px;
    }
    .fundo-cadastro {
        padding: 0px 15px 20px 15px;
    }
    .conteudo-agradecimento p {
        font-size: 16px;
    }
    #modalConfirmaResgate .modal-dialog {
        width: 95% !important;
    }
    #modalConfirmaResgate .modal-body {
        padding: 32px 23px !important;
    }
    .lista-produtos .table thead tr th {
        font-size: 12px;
    }
    .rodape-carrinho a img {
        width: 210px;
    }
    .formulario-contato .formulario form button {
        width: 100%;
    }
    .desc-prog h1 {
        font-size: 30px;
    }
    .desc-prog h2 {
        font-size: 18px;
    }
    .descricao-breve-conheca .breve p {
        font-size: 15px;
    }
    .conteudo-prog p {
        font-size: 14px;
    }
    .titulo-cartao-yetz-sobre {
        font-size: 30px;
    }
    .espaco-pontos {
        margin-bottom: 35px;
    }
    .titulo-campanha-incentivo {
        font-size: 30px;
    }

    .todos-prods-categorias .prod-destaques{
        /* grid-template-columns: 80% !important;      */
        padding: 0px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        grid-column-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
    
    .todos-prods-categorias .prod-destaques .box-produto{
        margin-bottom: 0px;  
    }

    .todos-prods-categorias .prod-destaques .box-produto .valor-produto-mobile{
        display: block;
    }

    .todos-prods-categorias .prod-destaques .box-produto .valor-produto-mobile h3{
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 12px;
        font-weight: bold;
        color: #535353;
    }

    .todos-prods-categorias .prod-destaques .box-produto .valor-produto-mobile h3 span{
        font-size: 12px;
        font-weight: bold;
        color: #535353;
    }

    .todos-prods-categorias .prod-destaques .informacoes-produto .preco-produto{
        display: none;
    }
    .todos-prods-categorias .prod-destaques .box-produto .informacoes{
        flex-direction: column;
        margin-top: 20px;
        height: auto;
    }

    .todos-prods-categorias .prod-destaques .box-produto .informacoes .selo{
        position: static;
    }

    .todos-prods-categorias .prod-destaques .box-produto .informacoes .area-selos{
        display: flex;
        position: relative;   
        margin-bottom: 20px; 
    }

    .todos-prods-categorias .prod-destaques .box-produto .informacoes .area-selos span{
        margin: 0 8px;    
    }

    .todos-prods-categorias .prod-destaques .box-produto .informacoes .selo-loja-fisica:hover {
        position: relative;    
        top: 0px;
        z-index: 30;
    }

    .todos-prods-categorias .prod-destaques .box-produto .informacoes .area-selos .selo:first-child{
        margin-right: 10px;
    }

    .todos-prods-categorias .prod-destaques .box-produto .informacoes .area-selos .selo-e-commerce:hover span::after{
        font-size: 10px;
    }

    .todos-prods-categorias .prod-destaques .box-produto .informacoes .area-selos .selo:last-child{
        bottom: unset;
    }

    .todos-prods-categorias .prod-destaques .box-produto .informacoes .area-selos .selo{
        width: auto;
    }

    .todos-prods-categorias .prod-destaques .box-produto .informacoes .area-valores .btn-adiciona-produto{
        margin-top: 20px;
        height: 45px;
    }

    .todos-prods-categorias .prod-destaques .box-produto .informacoes .area-valores{
        width: 100%;    
    }

    .prod-destaques .informacoes {
        margin-bottom: 20px;
    }
    .descricao-produto .btn-desabilitado {
        padding: 10px 0px;
        margin-bottom: 0;
        width: 100%;
        font-size: 20px;
    }

    .produto-destaque-grande .conteudo-imagem .preco-produto h3 {
        line-height: 70px;
        font-size: 25px;
    }
    .lampada-grande {
        font-size: 40px !important;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .conteudo-detalhes-produto {
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .conteudo-imagem {
        padding-bottom: 0px;
    }
    .obs-img {
        text-align: center;
        margin-left: 0px;
        float: initial;
    }
    .descricao-produto {
        margin-top: 25px;
        margin-bottom: 40px;
    }
    .obter-produto {
        font-size: 17px !important;
        padding: 10px 0px !important;
        margin-bottom: 15px;
        width: 100%;
    }
    .descricao-produto p {
        font-size: 14px;
    }
    .descricao-produto .descricao {
        font-size: 14px;
    }
    .resumo-carrinho .foto-produto-carrinho {
        margin-right: 0;
        display: table;
        margin: 0 auto;
        float: initial;
    }
    .prod-destaques .informacoes .btn-destaques {
        float: initial;
        width: 90px;
        display: table;
        margin: 0 auto;
        margin-top: 10px;
    }
    .prod-destaques .informacoes .valores {
        width: 100%;
    }
    .prod-destaques .valores h1 {
        padding-left: 0;
        font-size: 20px;
        font-weight: bold;
        margin-top: 0px;
    }
    .produtos-similares {
        padding-bottom: 0px;
    }
    .resumo-carrinho .texto-carrinho {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 7px;
    }
    .btn-resgatar-carrinho {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .valor-total {
        float: initial !important;
        text-align: center;
        margin-top: 30px;
    }
    .resumo-carrinho .btns {
        display: table;
        margin: 0 auto;
    }
    .resumo-carrinho .valor {
        float: initial !important;
        display: table;
        margin: 0 auto;
        margin-top: 15px;
    }
    .resumo-carrinho {
        width: 100%;
    }
    .informacoes-pts .area-pts h1 {
        font-size: 30px;
        margin-top: 5px;
    }
    .geral-produto .informacoes .btn-desejo {
        width: 90px;
        display: table;
        margin: 0 auto;
        float: initial;
    }
    .geral-produto .informacoes .valores .progress-vermelho, .geral-produto .informacoes .valores .progress-verde, .geral-produto .informacoes .valores .progress-amarelo {
        width: 100%;
        margin-left: 0px;
    }
    .geral-produto .informacoes .valores .saldo-vermelho, .geral-produto .informacoes .valores .saldo-verde, .geral-produto .informacoes .valores .saldo-amarelo {
        width: 100%;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        padding-left: 0px;
    }
    .geral-produto .informacoes .valores {
        width: 100%;
    }

    .informacoes-usuario-responsivo .foto-usuario img {
        border: 7px solid #fff;
        border-radius: 50%;
        width: 180px;
        height: 180px;
    }
    .informacoes-usuario-responsivo .foto-usuario {
        width: 180px;
        height: 180px;
    }
    .acesso-site .extrato-pontos {
        padding: 20px 0px;
    }
    .acesso-site .extrato-pontos img, .acesso-site .lista-desejos img {
        padding-top: 0;
        width: 30px;
    }
    .acesso-site .extrato-pontos, .acesso-site .lista-desejos {
        height: 70px;
    }
    .acesso-site .lista-desejos {
        padding: 22px 0px;
    }
    .acesso-site .lista-desejos img {
        width: 50px;
    }
    .acesso-site .movimentacao {
        padding: 21px 0px;
    }
    .acesso-site .movimentacao img {
        width: 40px;
    }
    .topo-produto h1 {
        font-size: 20px;
    }
    .rodape .logo-rodape {
        width: 210px;
    }
    .informacoes-usuario-responsivo .nome-usuario h1 {
        font-size: 25px;
    }
    .informacoes-usuario-responsivo .nome-usuario p {
        font-size: 13px;
    }
    .informacoes-usuario-responsivo .nome-usuario h2 {
        font-size: 31px;
    }
    .btn-resgatar-pts {
        width: 100%;
        font-size: 22px;
    }
    .logo-login {
        width: 200px;
    }
    .conteudo-login-novo {
        padding: 0px 15px;
    }
    #btn-acessar-visitante {
        padding: 15px 20px;
        margin-top: 10px;
    }
    .login {
        padding-top: 40px;
    }
    #form-apelido {
        width: 100%;
        margin-right: 0;
    }
    #form-data {
        float: left;
        width: 100%;
    }
    #form-celular {
        float: left;
        width: 100%;
        margin-right: 0;
    }
    #form-telefone {
        float: left;
        width: 100%;
    }
    #form-senha {
        float: left;
        width: 100%;
        margin-right: 0;
    }
    #form-senha-confirmar {
        float: left;
        width: 100%;
    }
    #checkboxDiv {
        width: 100%;
    }
    #checkboxDiv2 {
        width: 100%;
    }
    #checkboxDiv2 span {
        width: 215px;
    }

    .saldo-carrinho-responsivo {
        height: 80px;
    }

    .saldo-carrinho-responsivo .pontos {
        font-size: 18px;
    }

    .saldo-carrinho-responsivo .titulo {
        font-size: 16px;
        margin-top: 5px;
    }

    .saldo-carrinho-responsivo .bloco-carrinho .btn-carrinho .qtd-itens {
        font-size: 18px;
    }

    .saldo-carrinho-responsivo .bloco-carrinho .btn-carrinho .qtd-itens::after {
        /* background-size: 12px 100%;
        height: 20px; */
    }

    .saldo-carrinho-responsivo .bloco-carrinho .btn-carrinho .qtd-itens::before {
        min-width: 45px;
        height: 30px;
    }

    .area-logo.personalizado .logo-menu-novo a img {
        height: 30px;
    }

    .area-logo.personalizado .logo-menu-novo img {
        height: 24px;
    }
    .todos-prods-categorias .box-produto {
        width: 100%;
    }
    .conteudo-imagem .preco-produto {
        width: 80px;
        height: 80px;
    }
    .conteudo-imagem .preco-produto h3{
        font-size: 18px!important;
    }
    .produto-destaque-grande .area-selos {
        flex-direction: column;
        align-items: center;
    }
    .produto-destaque-grande .area-selos .selo-e-commerce {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .resumo-carrinho-mobile .area-total {
        flex-direction: column;
        align-items: center;
    }
    .resumo-carrinho-mobile .area-total .valor-total {
        order: -1;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .resumo-carrinho-mobile .area-total .btn-resgatar-carrinho {
        width: auto;
    }
}



@media(max-width: 480px){
    .menu-lateral-notificacoes .content .todas-notificacoes .item_notificacao .img-notificacao{
        flex: 0 0 25.5%;
        height: 21.5vw;
    }

    .todos-prods-categorias .prod-destaques{
        /* grid-template-columns: 80% !important;      */
        padding: 0px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        grid-column-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}

@media only screen and (max-width: 375px) {
    #menu .box-itens .bloco-icones {
        padding: 0px 13%;
    }
    .saldo-carrinho-responsivo .pontos {
        font-size: 16px;
    }

    .saldo-carrinho-responsivo .titulo {
        font-size: 14px;
        margin-top: 4px;
    }

    .saldo-carrinho-responsivo .saldo {
        margin: 0 5px;
    }

    .saldo-carrinho-responsivo .bloco-carrinho .btn-carrinho {
        justify-content: flex-start;
    }

    .saldo-carrinho-responsivo .bloco-carrinho .btn-carrinho .qtd-itens {
        margin-left: 10%;
        width: 75%;
    }

    .area-logo.personalizado .logo-menu-novo a img {
        height: 23px;
    }

    .area-logo.personalizado .logo-menu-novo img {
        height: 21px;
    }
    .box-produto .informacoes .area-valores .valores .saldo {
        font-size: 12px!important;
    }
    .informacoes-produto .preco-produto {
        width: 60px;
        height: 60px;
    }
    .informacoes-produto .preco-produto h3 {
        font-size: 14px;
    }
    .prod-destaques .btn-favoritar {
        width: 40px;
        height: 40px;
    }
    .prod-destaques .btn-favoritar i::before {
        font-size: 22px;
    }

    .conteudo-imagem .preco-produto {
        width: 65px;
        height: 65px;
        margin-top: -25px;
        right: -30px;
    }
    .conteudo-imagem .preco-produto h3 {
        font-size: 16px!important;
    }
    .lampada-grande {
        width: 45px;
        height: 45px;
    }
    .favorito-detalhe-produto {
        margin-top: -55px;
        right: -25px;
    }
    .texto-alternativo .obter-produto {
        font-size: 14px!important;
    }
    .descricao-produto p {
        width: auto!important;
    }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {

}
