@font-face {
    font-family: 'open_sans';
    src: url('../../fonts/opensans-regular.eot');
    src: url('../../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/opensans-regular.woff2') format('woff2'),
         url('../../fonts/opensans-regular.woff') format('woff'),
         url('../../fonts/opensans-regular.ttf') format('truetype'),
         url('../../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}