#area-campanha-mobile{
      display: none;
}

@media(max-width: 768px){
      #home{
            #area-campanhas{
                  display: none;
            }

            #area-campanha-mobile{
                  display: block;

                  .container-cards{
                        background-color: #dcdcdc;
                        .container-card-mobile{
                              width: 95%;
                              margin-left: auto;
                              margin-right: auto;
                              padding-top: 26px;
                              padding-bottom: 26px;
                              position: relative;
                              .card-mobile{
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    background-color: #ffffff;
                                    padding: 35px 45px;
                                    .card-text{
                                          margin-bottom: 20px;
                                          &:last-child{
                                                margin-bottom: 0px;
                                          }
                                          h3{
                                                color: #6d7f89;
                                                font-size: 15px;
                                                font-weight: 700;
                                                margin: 0px;
                                                margin-bottom: 10px;
                                          }

                                          p{
                                                color: #6d7f89;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 18.65px;
                                                margin: 0px;
                                          }

                                    }

                                    .modal-iframe{
							position: fixed;
							top: 0px;
							left: 0px;
							width: 100vw;
							height: 100vh;
							pointer-events: none;
							z-index: -2;
							transition: all .5s;
							.container-modal{
								width: 90%;
								height: 60%;
								position: absolute;
								top: -5000px;
								left: 50%;
								transform: translate(-50%, -50%);
								transition: all .5s;
								.container-close-modal{
									position: absolute;
									top: -20px;
									right: 0px;
									img{
										width: 25%;
										display: block;
										margin-left: auto;
									}
								}
								iframe{
									width: 100%;
									background-color: #fff;
								}
							}

							&.active{
								background-color: rgba(0,0,0, 0.5);
								pointer-events: all;
								z-index: 99;
								transition: all .5s;
								.container-modal{
									top: 50%;
									transition: all .5s;
								}
							}


							&.android{
								display: none !important;
							}

							&.ios{

							}
                                    }

                                    .img-resgate-mobile{
                                          background-color: #f0f3f5;
                                          height: 45px;
                                          width: 45px;
                                          border-radius: 5px;
                                          display: flex;
                                          align-items: center;
                                          justify-content: center;
                                          img{
                                                transform: rotate(180deg);
                                                transition: all .3s;
                                                &.active{
                                                      transform: rotate(0deg);
                                                      transition: all .3s;
                                                }
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}
