.produtos-destaques{
      .container{
            .row{
                  .lista-produtos-mobile{
                        display: none;     
                  }      
            }       
      }
}
@media(max-width: 480px){
      .produtos-destaques{
            .container{
                  .row{
                        .lista-produtos{
                              display: none;     
                        }     
                        .lista-produtos-mobile{
                              display: block;
                              margin-top: 6px;
                              position: relative;
                              background-color: #ffffff;
                              
                              .card-produto{
                                    width: 100%;
                                    padding: 15px;
                                    border-bottom: 1px solid #a7a7b2;
                                    &:last-child{
                                          border-bottom: none;
                                    }
                                    .container-card-produto{
                                          display: flex;
                                          position: relative;
                                          .container-img{
                                                width: 35vw;
                                                height: 115px;
                                                img{
                                                      object-fit: cover;
                                                      height: 100%;
                                                      width: 100%;
                                                      border-radius: 5px;
                                                }
                                          }  
      
                                          .text-lista-produto{
                                                width: 44.5%;
                                                margin-left: 36px;
                                                p{
                                                      color: #666666;
                                                      font-size: 3.5vw;
                                                      font-weight: 700;
                                                      text-transform: uppercase;
                                                      letter-spacing: 0.01px;      
                                                      margin-top: 10px;
                                                      
                                                }
      
                                                h3{
                                                      color: #669933;
                                                      font-size: 3vw;
                                                      font-weight: 700;
                                                      text-transform: uppercase;
                                                      letter-spacing: -0.23px;      
                                                }
                                          }     
      
                                          .btn-close-mobile{
                                                position: absolute;
                                                top: 25px;
                                                right: 15px;
                                                img{
                                                      width: 65%;
                                                      display: block;
                                                      margin-left: auto;
                                                }
                                          }
                                    }

                                    .container-card-qtd{
                                          margin-top: 21px;
                                          display: flex;
                                          align-items: center;
                                          .produto-qtd{
                                                display: flex;
                                                span{
                                                      &:nth-child(1){
                                                            width: 45px;
                                                            height: 45px;
                                                            background-color: #669933;
                                                            display: block;
                                                            border-radius: 50%;
                                                            position: relative;
                                                            right: -8px;
                                                            top: 5px;
                                                            &:before{
                                                                  content: '';
                                                                  display: block;
                                                                  position: absolute;
                                                                  width: 20px;
                                                                  height: 3px;
                                                                  top: 53%;
                                                                  left: 48%;
                                                                  transform: translate(-50%, -50%);
                                                                  background-color: #fff;
                                                            }
                                                      }

                                                      &:nth-child(2){
                                                            width: 50px;
                                                            height: 50px;
                                                            display: block;
                                                            background-color: #f2f1f1;
                                                            border-radius: 50%;       
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: center;
                                                            color: #666666;
                                                            font-size: 19px;
                                                            font-weight: 700;
                                                            text-transform: uppercase;
                                                            letter-spacing: -0.23px;
                                                            z-index: 10;
                                                      }   
                                                      
                                                      &:nth-child(3){
                                                            width: 45px;
                                                            height: 45px;
                                                            background-color: #669933;
                                                            display: block;
                                                            border-radius: 50%;
                                                            position: relative;
                                                            left: -8px;
                                                            top: 5px;                                                        
                                                            &:before{
                                                                  content: '+';
                                                                  display: block;
                                                                  position: absolute;
                                                                  font-size: 50px;
                                                                  top: 50%;
                                                                  left: 50%;
                                                                  transform: translate(-50%, -50%);
                                                                  color: #fff;
                                                            }
                                                      }
                                                }
                                          }   
                                          
                                          .produto-sub-total{
                                                margin-left: auto;
                                                p{
                                                      color: #cc3333;
                                                      font-size: 15px;
                                                      font-weight: 700;
                                                      line-height: 20.83px;
                                                      text-transform: uppercase;
                                                      letter-spacing: -0.23px;       
                                                }
                                          }
                                    }
                              }
                        }
                  }       
            }
      }
}