#home-mobile{
      .cards-mobile{
            display: none;
      }
}

#home{
      .cards-mobile{
            display: none;
      }      
}

body{
      .loader{
            display: none;
      }
}

@media(max-width: 768px){
      #home-mobile{
            footer{
                  display: none;
            } 
            .topo-produto{
                  margin-bottom: 90px;       
            }     
      }
}

@media(max-width: 768px){
      #home{
            .informacoes-usuario-responsivo{
                  display: none !important;
            }      

            .todos-prods-categorias{
                  margin-top: 20px;      
            }
      }

      body{
            .loader{
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  opacity: 0;
                  z-index: 20;
                  overflow: visible;
                  -webkit-transition: 0.5s;
                  visibility: visible;
                  display: block;
                  transition: all .5s;
                  i{
                        font-size: 50px;
                        color: #F7A81D;
                  }
            }
      
            &.loader-toggle{
                  .cards-mobile{
                        .container-cards{
                              transition: all .5s;
                              opacity: 0;
                              overflow: visible;
                              -webkit-transition: 0.5s;
                              visibility: visible;
                        }
                  }
      
                  .loader{
                        opacity: 1;   
                        overflow: visible;
                        -webkit-transition: 0.5s;
                        visibility: visible;
                        z-index: 20;   
                  }
            }
      }

      #home-mobile{
            position: relative;
            
            
            .cards-mobile{
                  background-image: linear-gradient(180deg, #5d1027 0%, #921a3f 100%);  
                  min-height: 100vh;    
                  padding-bottom: 120px;
                  display: block;
                  h2{
                        color: #ffffff;
                        font-size: 30px;
                        font-weight: 700;
                        letter-spacing: 0.01px;
                        line-height: 41px;
                        text-align: center;   
                        margin: 0px; 
                        padding-top: 21px;
                        padding-bottom: 31px;        
                  }
                  .container-cards{
                        width: 95%;
                        margin-left: auto;
                        margin-right: auto;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
                        grid-gap: 15px;
                        transition: all .5s;
                        .card-mobile{
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                              padding: 20px 5px;
                              flex-direction: column;
                              width: 100%;
                              height: 140px;
                              border-radius: 10px;
                              background-image: linear-gradient(bottom, #ff9900 0%, #ff9900 50%, #ffad33 51%, #ffad33 100%);
                              // background-color: #;
                              span{
                                    font-size: 1.8vw ;
                                    color: white;                                    
                                    text-transform: uppercase;
                                    text-align: center;
                              }
                        }       
                  }
            }

            .informacoes-usuario-responsivo{
                  display: none !important;      
            }

            .acesso-site{
                  display: none;
            }

            .topo-produto{
                  display: none;
            }

            
      }
}

@media(max-width: 480px){
      #home-mobile{
            .cards-mobile{
                  min-height: 80vh;
                  .container-cards{
                        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
                        .card-mobile{
                              height: 70px;
                              padding: 10px 5px;
                              span{
                                    font-size: 6px;
                              }
                        }
                  }
            }
      }     
}

@media(max-width: 360px){
      #home-mobile{
            .cards-mobile{
                  .container-cards{
                        grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));       
                        .card-mobile{
                              height: 84px;
                        }
                  }
            }
      }      
}