@media(max-width: 480px){
      .modal-voucher{
            .box-white{
                  flex-direction: column;
                  align-items: unset;     
                  width: 90%; 
                  transform: translateX(-50%);
                  margin-left: 0px;
                  height: auto;
                  padding: 10vw;
                  .box-voucher{
                        width: 100%;
                        margin-right: 0px;
                        top: 40px;
                        display: flex;
                        justify-content: space-between;
                        padding-top: 0px;
                        height: 130px;
                        .icon{
                              
                        }
                        .text{
                              border-top: none;
                              border-left: 1px solid rgba(150, 150, 150, 0.33);
                              padding-bottom: 17px;
                              margin-top: 0px;
                              padding: 0px;
                              width: 50%;

                              display: flex;
                              align-items: center;
                              justify-content: center;
                              flex-direction: column;
                        }
                  }

                  .texto{
                        width: 100%;
                        margin-top: 20px;
                        .traco{
                              margin-bottom: 10px;
                        }
                        h2{
                              font-size: 15px;      
                              margin-bottom: 10px;
                        }

                        p{
                              margin-bottom: 10px;
                        }
                        .formulario{
                              input[type=text]{
                                    width: 50%;
                              }
                        }
                  }

                  .btn-close-modal{
                  //       position: absolute;
                  //       top: 0px;
                  //       right: 10px;      
                        
                  //      &:before{
                  //            content: '';
                  //            -webkit-mask: url('https://www.yetzcards.com.br/img/xis.svg');
                  //            background-color: #000;
                  //            width: 18px;
                  //            height: 18px;
                  //            background-repeat: no-repeat;
                  //             position: absolute;
                  //             top: 4px;
                  //             right: 0px;
                  //             z-index: 50;
                  //      }
                  }
            }
      }
}

@media(max-width: 320px){
      .modal-voucher{
            .box-white{
                  top: 35px;
                  padding: 15px 9vw;
                  .texto{
                        p{
                              font-size: 11px;
                        }
                        .formulario{
                              height: 50px;
                              input[type=text]{
                                    height: 100%;
                              }     

                              button{
                                    height: 100%;
                              }
                        }
                  }
            }
      }      
}