.conteudo-acompanhar{
      .conteudo-acompanhe-seu-resgate{

      }

      .conteudo-acompanhe-seu-resgate-mobile{
            display: none;
      }
}

@media(max-width: 480px){
      .conteudo-acompanhar{
            background-color: #fff;
            padding: 0px 0px 0px 0px;
            .conteudo-acompanhe-seu-resgate{
                  display: none;
            }

            .conteudo-acompanhe-seu-resgate-mobile{
                  display: block;
                  .container-mobile{
                        width: 90%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 30px;
                        .filtro-mobile-resgates{
                              display: flex;
                              justify-content: space-between;
                              padding-bottom: 30px;
                              .container-select{
                                    position: relative;
                                    width: 45%;
                                    .text-select-resgate{
                                          background-color: #f0f3f5;
                                          height: 60px;
                                          border-radius: 5px;
                                          display: flex;
                                          justify-content: space-between;
                                          align-items: center;
                                          padding: 0px 20px;
                                          p{
                                                color: #829097;
                                                font-family: Roboto;
                                                font-size: 17px;
                                                font-weight: 400;
                                                margin: 0px;
                                          }

                                    }

                                    .list-select-resgate{
                                          background-color: #f0f3f5;
                                          overflow: hidden;
                                          height: 0px;
                                          padding-left: 20px;
                                          padding-right: 20px;
                                          transition: all .5s;
                                          ul{
                                                transition: all .5s;
                                                li{
                                                      margin-bottom: 20px;
                                                      p{
                                                            color: #829097;
                                                            font-family: Roboto;
                                                            font-size: 17px;
                                                            font-weight: 400;
                                                            margin: 0px;
                                                      }
                                                }
                                          }

                                          &.active{
                                                height: 260px;

                                                overflow-y: scroll;
                                                transition: all .5s;
                                                ul{
                                                      padding: 20px 0px;
                                                      transition: all .5s;
                                                }
                                          }
                                    }
                              }
                        }
                  }

                  .container-cards{
                        background-color: #dcdcdc;
                        .container-card-mobile{
                              width: 95%;
                              margin-left: auto;
                              margin-right: auto;
                              padding-top: 26px;
                              padding-bottom: 26px;
                              position: relative;
                              .card-mobile{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    background-color: #ffffff;
                                    padding: 35px 45px;
                                    .card-text{
                                          h3{
                                                color: #6d7f89;
                                                font-size: 15px;
                                                font-weight: 700;
                                                margin: 0px;
                                                margin-bottom: 10px;
                                          }

                                          p{
                                                color: #6d7f89;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 18.65px;
                                                margin: 0px;
                                          }

							.btn-link-voucher{
								background-color: #f0f3f5;
								margin-top: 20px;
								height: 45px;
								width: auto;
								border-radius: 5px;
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								-webkit-box-pack: center;
								-ms-flex-pack: center;
								justify-content: center;
								a{
									color: #6d7f89;
									font-size: 14px;
									font-weight: 400;
									line-height: 18.65px;
									margin: 0px;
								}
							}
                                    }

                                    .img-resgate-mobile{
                                          background-color: #f0f3f5;
                                          height: 45px;
                                          width: 45px;
                                          border-radius: 5px;
                                          display: flex;
                                          align-items: center;
                                          justify-content: center;
                                          img{
                                                transform: rotate(180deg);
                                                transition: all .3s;
                                                &.active{
                                                      transform: rotate(0deg);
                                                      transition: all .3s;
                                                }
                                          }

                                    }
                              }

                              .container-detalhe-card{
                                    height: 0px;
                                    overflow: hidden;
                                    transition: all .5s;
                                    .datelhe-card{
                                          display: flex;
                                          align-items: center;
                                          background-color: #ffffff;
                                          margin-top: 2px;
                                          &:last-child{
                                                .detalhe-card-img{
                                                      position: relative;
                                                      width: 50%;
                                                      &:after{
                                                            content: '';
                                                            display: block;
                                                            width: 0;
                                                            height: 0;
                                                            border-left: 7px solid transparent;
                                                            border-right: 7px solid transparent;
                                                            border-bottom: 10px solid #95abb7;
                                                            position: absolute;
                                                            bottom: 0px;
                                                            left: 50%;
                                                            transform: translateX(-50%);
                                                      }
                                                }
                                          }
                                          .detalhe-card-img{
                                                width: 50%;
                                                height: 129px;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                background-color: #f0f3f5;
                                                img{
                                                      width: 27vw;
                                                      height: 81px;
                                                      border-radius: 5px;
                                                      object-fit: contain;
                                                }
                                          }

                                          .detalhe-card-text{
                                                padding-left: 24px;
                                                padding-right: 15px;
                                                width: 50%;
                                                p{
                                                      color: #6d7f89;
                                                      font-size: 14px;
                                                      font-weight: 400;
                                                      line-height: normal;
                                                      margin: 0px;
                                                }

                                                span{
                                                      color: #339900;
                                                      font-size: 12px;
                                                      font-weight: 700;
                                                      line-height: 29.65px;
                                                }
                                          }
                                    }

                                    &.active{
                                          overflow: auto;
                                          transition: all .5s;
                                    }
                              }

                              .container-status{
                                    background-color: #95abb7;
                                    padding-top: 26px;
                                    padding-bottom: 21px;
                                    padding-left: 33px;
                                    padding-right: 33px;
                                    display: flex;
                                    position: absolute;
                                    width: 100%;
                                    bottom: 26px;
                                    z-index: -1;
                                    &.active{
                                          position: static;
                                          z-index: 10;
                                          transition-delay: all 1s;
                                    }

                                    .detalhe-status{
                                          flex: 1;
                                          text-align: center;
                                          &:last-child{
                                                span{
                                                      &:after{
                                                            height: 0px;
                                                      }
                                                }
                                          }

                                          &.active{
                                                span{
                                                      &.active{
                                                            &:after{
                                                                  background-color: #7c919c !important;
                                                            }
                                                      }
                                                }

                                                &:nth-child(1n) {
                                                      span{
                                                            &:after{
                                                                  background-color: #fff;
                                                            }
                                                      }
                                                }

                                                &:nth-child(1){
                                                      span{
                                                            &:before{
                                                                  background-color: #46b9ff;
                                                            }
                                                      }
                                                }

                                                &:nth-child(2){
                                                      span{
                                                            &:before{
                                                                  background-color: #f8c21b;
                                                            }

                                                      }
                                                }

                                                &:nth-child(3){
                                                      span{
                                                            &:before{
                                                                  background-color: #d1577a;
                                                            }

                                                      }
                                                }

                                                &:nth-child(4){
                                                      span{
                                                            &:before{
                                                                  background-color: #3cd084;
                                                            }

                                                      }
                                                }

                                                // &:nth-last-child(1){
                                                //       span{
                                                //             &:before{
                                                //                   background-color: red;
                                                //             }
                                                //       }
                                                // }
                                          }

                                          span{
                                                position: relative;
                                                width: 100%;
                                                display: block;
                                                &:before{
                                                      content: '';
                                                      display: block;
                                                      width: 10px;
                                                      height: 10px;
                                                      background-color: #7c919c;
                                                      border-radius: 50%;
                                                      position: absolute;
                                                      top: -15px;
                                                      left: 50%;
                                                      transform: translateX(-50%);
                                                }

                                                &:after{
                                                      content: '';
                                                      display: block;
                                                      width: 13.5vw;
                                                      height: 3px;
                                                      background-color: #7c919c;
                                                      position: absolute;
                                                      top: -11.6px;
                                                      left: 58%;
                                                }
                                          }

                                          p{
                                                color: #ffffff;
                                                font-size: 8px;
                                                font-weight: 700;
                                                text-transform: uppercase;
                                                margin: 0px;
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}
