.modal-quantidade{
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      pointer-events: none;
      transition:  all .5s;
      .container-modal{
            width:  90%;
    		height: auto;
            background-color: #fff;
            position: absolute;
            top: -5000px;
            left: 50%;
            transform: translate(-50%,-50%);
		transition:  all .5s;
		padding: 1vw;
            .container-descricao{
                  width: 100%;
			// height: 100%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
			display: flex;
			align-items: center;
			justify-content: center;
                  flex-direction: column;
			text-align: center;
			video{
				// height: 100%;
				width: 100%;
			}
                  img{
                        margin-bottom: 18px;
                  }

                  p{
                        color: #000;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                  }

                  .btn-estoque{
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                        height: 38px;
                        margin-top: 7px;
                  }

                  .btn{
                        margin-top: 32px;
                  }
            }

            .close-modal-quantidade{
                  position: absolute;
                  top: 21px;
                  right: 17px;
            }
      }

      &.active{
            background-color: rgba(0,0,0, 0.5);
            z-index: 999999;
            pointer-events: all;
            transition:  all .5s;
            .container-modal{
                  top: 50%;
                  transition:  all .5s;
            }
      }
}


@media(max-width: 480px){
	.modal-quantidade{
		.container-modal{
			width: 90%;
			height: auto;
		}
	}
}
